
<html>

<head>
    <title>Purchase Bill Component</title>
</head>

<body>
    <div class="wrapper">
        <button class="button1" style="background-color: rgb(21, 140, 156);" (click)="click()"><i class='bx bx-printer'></i>Print</button>
	<button class="button1" style="background-color: brown; margin-left: 5px;" (click)="close()"><i class='bx bx-window-close'></i>Close</button>
        <div class="invoice_wrapper">
            <div class="header">
                <div class="logo_invoice_wrap">
                    <div class="logo_sec">
                        <img src="/assets/unnamed.png" alt="code logo">
                        <div class="title_wrap">
                                                     
                        </div>
                    </div>
                    <div class="invoice_sec">
                        <p class="invoice bold"> PURCHASE INVOICE</p>
                        <p class="invoice_no">
                            <span class="bold">Purchase Voucher</span>
                            <span>{{purchaseHdr.voucherNumber}}</span></p>
                            <p class="invoice_no">
                            <span class="bold">Voucher Date</span>
                            <span>{{purchaseHdr.voucherDate}}</span></p>
                            <p class="invoice_no">
                            <span class="bold">Supplier Invoice:</span>
                            <span>{{purchaseHdr.supplierInvNo}}</span></p>
                            <p class="invoice_no">
                            <span class="bold">Supplier Invoice Date:</span>
                            <span>{{purchaseHdr.supplierInvDate}}</span>
                        </p>
                       
                    </div>
                </div>
                <div class="bill_total_wrap">
                    <div class="bill_sec">
                        <p>Bill To</p>
                        <p class="bold name">{{purchaseReportArr[0].supplierName}}</p>
                        <span>Address: {{purchaseReportArr[0].supplierAddress}}</span> <br/>
                        <span>State: {{purchaseReportArr[0].supplierState}}</span><br/>
                        <span>Email: {{purchaseReportArr[0].supplierEmail}}</span><br/>
                        <span>Supplier GST: {{purchaseReportArr[0].supplierGst}}</span>

                    </div>
                  
                </div>
            </div>
            <div class="body">
                <div class="main_table">
                    <div class="table_header">
                        <div class="row">
                            <div class="col col_no">Sl.No</div>
                            <div class="col col_des">Item Code</div>
                            <div class="col col_des">Description</div>
                            <div class="col col_price">Batch</div>
                            <div class="col col_price">Expiry</div>                           
                            <div class="col col_qty">Qty</div>
                            <div class="col col_qty">Unit</div>
                            <div class="col col_qty">Unit Price</div>
                            <div class="col col_qty">Price</div>
                            <div class="col col_total">GST</div>
                        </div>
                    </div>
                    <div class="table_body">
                        <div class="row" *ngFor="let purchaseDtl of purchaseReportArr ;index as i " >
                            <div class="col col_no"><p>{{i+1}}</p></div>
                            <div class="col col_no"><p>{{purchaseDtl.itemCode}}</p></div>
                            <div class="col col_des">
                                <p class="bold">{{purchaseDtl.itemName}}</p>
                            </div>
                            <div class="col col_no"><p>{{purchaseDtl.batch}}</p></div>
                            <div class="col col_price"><p>{{purchaseDtl.expiry}}</p></div>
                            <div class="col col_qty"><p>{{purchaseDtl.qty}}</p></div>
                            <div class="col col_qty"><p>{{purchaseDtl.unit}}</p></div>
                            <div class="col col_qty"><p>{{purchaseDtl.unitPrice}}</p></div>
                            <div class="col col_total">{{purchaseDtl.amount}}</div>
                            <div class="col col_qty"><p>{{purchaseDtl.unit}}</p></div>
                        </div>
                    </div>
                </div>
                <div class="payment_grandtotal_wrap">
                   
                    <div class="grandtotal_sec">
                        
                        <p>
                            <span>Tax Rate</span>
                            <span>{{purchaseReportArr[0].taxRate}}</span>
                        </p>
                        <p>
                            <span>Discount</span>
                            <span> {{purchaseReportArr[0].discount}}</span>
                        </p>
                        <p class="bold">
                            <span>Grand Total</span>
                            <span>Rs: {{purchaseReportArr[0].amountTotal}}</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer">
                <p>Thank you and Best wishes</p>
               
            </div>
        </div>
    </div>
</body>

</html>
