@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root{
    --primary:#27ae60;
    --secondary:#3d3d3d;
    --white:#fff;

}

body{
    background: #3d3d3d;
    padding: 50px;
    color: #3d3d3d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.bold{
    font-weight: 900;
}

.light{
    font-weight: 100;
}

.wrapper{
    background: #fff;
    padding: 30px;
}

.invoice_wrapper{
    width: 700px;
    max-width: 100%;
    border:3px solid #27ae60;
}

.invoice_wrapper .header .logo_invoice_wrap,
.invoice_wrapper .header .bill_total_wrap{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.invoice_wrapper .header .logo_sec{
    display: flex;
    align-items: center;

}

.invoice_wrapper .header .logo_sec .title_wrap{
    margin-left: 5px;
}

.invoice_wrapper .header .logo_sec .title_wrap .title{
    text-transform: uppercase;
    font-size: 14px;
    color: #27ae60;
}

.invoice_wrapper .header .logo_sec .title_wrap .sub_title{
    font-size: 12px;
}

.invoice_wrapper .header .invoice_sec,
.invoice_wrapper .header .total_wrap{
    text-align: right;

}

.invoice_wrapper .header .invoice_sec .invoice{
    font-size: 16px;
    color: #27ae60;
}

.invoice_wrapper .header .invoice_sec .invoice_no,
.invoice_wrapper .header .invoice_sec .date{
    display: flex;
    width: 100%;
}

.invoice_wrapper .header .invoice_sec .invoice_no span:first-child,
.invoice_wrapper .header .invoice_sec .date span:first-child{
    width: 120px;
    text-align: left;
}

.invoice_wrapper .header .invoice_sec .invoice_no span:last-child,
.invoice_wrapper .header .invoice_sec .date span:last-child{
    width: calc(100%-70px);
}

.invoice_wrapper .header .bill_total_wrap .name,
.invoice_wrapper .header .bill_total_wrap .price{
    font-size: 14px;
    color: #27ae60;
}

.invoice_wrapper .body .main_table .table_header{
    background: #27ae60;

}

.invoice_wrapper .body .main_table .table_header .row{
    color: #fff;
    font-size: 13px;
    border-bottom: 0px;
}

.invoice_wrapper .body .main_table .row{
    display: flex;
    border-bottom: 1px solid #3d3d3d;
}

.invoice_wrapper .body .main_table .row .col{
    padding: 10px;

}

.invoice_wrapper .body .main_table .row .col.col_no {  width: 5%; }
.invoice_wrapper .body .main_table .row .col.col_des {  width: 45%; }
.invoice_wrapper .body .main_table .row .col.col_price {  width: 20%; text-align: center;}
.invoice_wrapper .body .main_table .row .col.col_qty {  width: 10%; text-align: center;}
.invoice_wrapper .body .main_table .row .col.col_total {  width: 20%; text-align: right;}

.invoice_wrapper .body .payment_grandtotal_wrap{
    display: flex;
    justify-content: space-between;
    padding: 5px 0px 30px;
    align-items: flex-end;
    margin-left: 50%;
}

.invoice_wrapper .body .payment_grandtotal_wrap .payment_sec{
    padding-left: 30px;
}

.invoice_wrapper .body .payment_grandtotal_wrap .grandtotal_sec{
    width: 30%;
}

.invoice_wrapper .body .payment_grandtotal_wrap .grandtotal_sec p{
    display: flex;
    width: 100%;
    padding-bottom: 5px;
}

.invoice_wrapper .body .payment_grandtotal_wrap .grandtotal_sec p span{
    padding: 0px 10px;
}

.invoice_wrapper .body .payment_grandtotal_wrap .grandtotal_sec p span:first-child{
    width: 60%;
}

.invoice_wrapper .body .payment_grandtotal_wrap .grandtotal_sec p span:last-child{
    width: 40%;
    text-align: right;
}

.invoice_wrapper .body .payment_grandtotal_wrap .grandtotal_sec p:last-child span{
   background: #27ae60;
   padding: 10px;
   color: #fff;
}

.invoice_wrapper .footer{
    padding: 30px;
}

.invoice_wrapper .footer >p{
    color: #27ae60;
    text-decoration: underline;
    font-size: 13px;
    padding-bottom: 5px;
}

.invoice_wrapper .footer .terms .tc{
    font-size: 10px;
}
.button1{
    cursor: pointer;background-color: #4CAF50;
    text-align: center;border: none;
    color: white;
    padding:6px 21px;
    margin-bottom: 5px;
    }
  
    @media (max-width: 1920px) {
      .invoice_wrapper{
          width: 100%;
      }
      #customers{
          font-size:100%;
      }
  }
  
  @media (max-width: 1000px) {
      .invoice_wrapper{
          width: 100%;
      }
      #customers{
          font-size:75%;
      }
  }
  @media (max-width: 900px) {
      .invoice_wrapper{
          width: 100%;
      }
      #customers{
          font-size:75%;
      }
  }
  @media (max-width: 800px) {
      .invoice_wrapper{
          width: 100%;
      }
      #customers{
          font-size:75%;
      }
  }
  @media (max-width: 700px) {
      #customers{
          font-size:75%;
      }
  }
  @media (max-width: 600px) {
      #customers{
          font-size:75%;
      }
  }
  @media (max-width: 500px) {
      #customers{
          font-size:75%;
      }
  }
  @media (max-width: 450px) {
      #customers{
          font-size:3%;
      }
  }
  @media (max-width: 400px) {
  
      #customers{
          font-size:3%;
      }
  }


