<br>
<br>
<br>

<h2>Login Page</h2><br>    
<div class="login">    
<form >    
    <label><b>User Name     
    </b>    
    </label>    
    <input type="text" name="Uname" id="Uname" placeholder="Username">    
    <br><br>    
    <label><b>Password     
    </b>    
    </label>    
    <input type="Password" name="Pass" id="Pass" placeholder="Password">    
    <br><br>    
    <input type="button" name="log" id="log" value="Log In Here">       
    <br><br>    
   
</form>     
</div>    