
<html>
     <head>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">   



</head> 
    <body>
    <!-- header -->
<header>
    <div class="nav contrainer">
        <!-- logo -->
      <a href="" class="logo"><i class="fab fa-canadian-maple-leaf"> MapleERP</i></a>
           <!-- menu icon   -->
           <input type="checkbox" name="" id="menu">
           <label for="menu"><i class='bx bx-menu' id="menu-icon"></i></label>
    
    <ul class="navbar">
         <li><a href="#home" >Home</a></li>
         <li><a href="#about">About</a></li>
         <li><a href="#service">Services</a></li>
         <li><a href="#feature">Features</a></li>
         
    </ul>
     <!-- login button -->
     <a href="" class="btn" [routerLink]="'Login'" > Log In</a>
     <!-- <a href=""  [routerLink]="'Login'"> <i class="fas fa-phone"></i> </a> -->
    </div>
</header>

<!-- Home -->
<section   class="home container" id="home"  >
    <div class="home-text" [ngStyle]="hometext" >
        <h1 [ngStyle]="hometexth1">{{websiteMainMst.searchbannertexth1}} <br>{{websiteMainMst.searchbannertext2h1}}</h1>
        <p>ERP Systems Designed For Small And Mid-Sized Businesses.<br>
            High-End ,Scalable Technology with 
            Groundbreaking Operational Efficiency.<br>
            Game-changing Stability to your business Processes.
        </p>
        <!-- <a [routerLink]="'SignUp'"    class="btn">Sign Up</a> -->
    </div> 
</section>
<!-- about -->
<section class="about container" id="about">
    <div class="about-img" [ngStyle]="" >
        <img src="{{websiteMainMst.aboutimageurl}}" alt="" >
    </div>
    <div class="about-text">
        <span [ngStyle]="abouttextspan">About Us</span>
        <!-- <h2 [ngStyle]="abouttexth2">We Are Provide</h2> -->
        <p [ngStyle]="abouttextp">{{websiteMainMst.aboutp}}</p>
    </div>
</section>


<!-- service -->
<section class="service container" id="service">
    <!-- box1 -->
    <div class="box" *ngFor="let tempgetwebsiteServiceMst of websiteServiceMst ;index as i ">
        <i class='{{tempgetwebsiteServiceMst.iconclass}}' ></i>
        <h3 [ngStyle]="serviceboxh3">{{tempgetwebsiteServiceMst.profiletextstrong1}}</h3>
        <p [ngStyle]="serviceboxp">{{tempgetwebsiteServiceMst.servicesp1}}</p>
    </div>
   

</section>


<!-- feature -->

<section class="feature container" id="feature">

    <div class="heading"  [ngStyle]="featureheading">
        
        <h2>Our Features</h2>
       
    </div>
<div class="feature-container" [ngStyle]="featurecontainer">
    <!-- box-1 -->
    <div class="box" *ngFor="let tempgetFeature of websiteFeatureMst ;index as i ">
        <img src="{{tempgetFeature.featureboximgurl1}}" alt="" [ngStyle]="featurecontainerboximg">
        
        <div class="content" [ngStyle]="featurecontainerboxcontent">
            <div class="text">
                <h3 [ngStyle]="featurecontainerboxcontenttexth3">{{tempgetFeature.featuresstrong1}}</h3>
                <p [ngStyle]="featurecontainerboxcontenttextp">{{tempgetFeature.featuresspan1}}</p>
            </div>
        </div>
    </div>
    
  

</div>

</section>

<!-- newsletter -->
<section class="newsletter container">
    <h2  [ngStyle]="newsletterh2">{{websiteMainMst.newsletterrh2}} <br> {{websiteMainMst.newsletterh2br}}</h2>
    <form action=""  [ngStyle]= "newsletterform">
        <input [ngStyle]="newsletterforminput" type="email" name="" id="email-box" placeholder="yourmail@gmail.com" required>
    <input type="submit" value="Send" class="btn">
    </form>
</section>

<!-- footer -->
<section class="footer"    [ngStyle]="footer">
    <div class="footer-container container">
           <h2 [ngStyle]="footercontainerh2"><i class="fab fa-canadian-maple-leaf">MapleERP</i></h2>

            <div class="footer-box"  [ngStyle]="footerbox">
              <h3 [ngStyle]="footerboxh3">Quick Links</h3>
              <a href="#home" >Home</a>
              <a href="#about">About</a>
              <a href="#service">Services</a>
              <a href="#feature">Features</a>
            </div>
            <div class="footer-box">
                <h3 [ngStyle]="footerboxh3">Location</h3>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> 
                    {{websiteMainMst.location}} </a>
              </div>
              <div class="footer-box">
                <h3 [ngStyle]="footerboxh3">Contact</h3>
                <a href="#"> <i class="fas fa-phone"></i> {{websiteMainMst.websitephone1}} </a>
                <a href="#"> <i class="fas fa-phone"></i>    {{websiteMainMst.websitephone2}} </a>
                <a href="#"> <i class="fas fa-envelope"></i>  {{websiteMainMst.email}} </a>
                <div class="social">
                    <a href="https://www.facebook.com/people/Maple-Erp/100075799833192/" class="fab fa-facebook-f" ></a>
                    <a href="https://twitter.com/maple_erp" class="fab fa-twitter"></a>
                    <a href="https://www.instagram.com/mapleerp/" class="fab fa-instagram"></a>
                </div>
              </div>

           </div>
</section>



<div class="copyright" [ngStyle]="copyright">
    <p>{{websiteMainMst.copyrightp}}</p>
</div>


   </body>

    
    </html>
    <router-outlet></router-outlet>