@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*{
font-family: poppins;
margin: 0px;
padding: 0px;
box-sizing: border-box;
scroll-behavior: smooth;
scroll-padding-top: 3rem;
list-style: none;
text-decoration: none;
}


section{
    padding: 4.5rem 0 3rem;
}
img{
    width: 100%;
}
body{
    color: #314862;
    
}
.container{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;

}
header{
    display: block;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100 ;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}
.logo{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    color: #27ae60;
    text-transform: uppercase;
}
.logo .bx{
    font-size: 24px;
    color: green;

}
.navbar{
    display: flex;

}
.navbar a{
    padding: 8px 17px;
    color: #27ae60;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar a:hover{
    color: rgb(6, 15, 6);

}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    display: none;

}
#menu{
    display: none;

}
.btn{
        /* padding: 8px 22px;
        background: green;
        color: #fff;
        border-radius: 5rem; */
        /* margin-top: 1rem; */
        display: inline-block;
        border: 0.2rem solid #27ae60;
        color: #27ae60;
        cursor: pointer;
        background: none;
        padding:  8px 22px;

}
.btn:hover{
    background:#27ae60;
    color: #10221b;
}
.home{
    margin-top: 5rem;
    background: url(/../assets/images/image/frontpage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 440px;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    /* background-size: 100% 100%;
    width: 55%;
    height: 400px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    animation: slider 10s infinite linear;
    margin-top: 30px;
    box-shadow: 1px 2px 10px 5px  white;
    }
    @keyframes slider{
    0%{background: url(/../assets/images/image/33.jpg);}
    25%{background: url(/../assets/images/image/banner.jpg);}
    50%{background: url(/../assets/images/image/newsletter.png);}
    75%{background: url(/../assets/images/image/service5.jpg);}
    
    } */

}

.home-text{
  
 padding-left:  512px;
    
}
.home-text h1{
    color: rgb(0, 0, 0);
    font-size: 2rem;
    /* margin-bottom: 1rem; */
    display: flex;
    left: 250px;

  
}
.about{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18rem,auto));
    gap: 2rem;
}
.about-img img{
    border-radius: 3rem 0 3rem 3rem;

}
.about-text span{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #27ae60;
}
.about-text h2{
    font-size: 1.7rem;

}
.about-text p{
    font-size: 0.938rem;
    margin: 1rem 0 1rem;
}
.service{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,auto));
    gap: 2.4rem;
}
.service .box{
    padding: 20px;
    background: #fff;
    box-shadow: 2px 2px 18px rgb(14 52 54 / 15% );
    text-align: center;
    border-radius: 2rem;
}
.service .box:hover{
    background-color: #27ae60;
    color: #fff;
    transition: 0.4s all linear;
}
.service .box i{
    padding: 10px;
    border-radius: 50%;
    background: #f6f6f6;
    color: #27ae60;
    font-size: 20px;
}
.service .box h3{
    
    font-size: 1.1rem;
    margin: 1rem 0 0.4rem;

}
.service .box p{
    font-size: 00.938rem;
}
.heading{
    text-align: center;
    margin-bottom: 2rem;
}
.heading span{
    font-weight: 500;
    color: #27ae60;
}
.heading p{
    font-size: 0.938rem;
}
.feature{
    background: #fbfbfb;
    border-radius: 2rem;
}
.feature-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,auto));
    gap: 3rem;
    padding: 0 50px;
}
.feature-container .box{
    background: #fff;
    padding: 10px;
    border-radius: 1rem;
    box-shadow:2px 2px 18px rgb(14 52 54 / 15% );
}
.feature-container .box:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
.feature-container .box img{
    border-radius: 1rem;
    height: 220px;
    object-fit: cover;
    object-position: center;

}
.feature-container .box .content{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

}
.feature-container .box .content .text h3{
    font-weight: 500;

}
.feature-container .box .content .text p{
    font-size: 0.8rem;

}
.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    justify-content: center;
    text-align: center;
    background: url(/../assets/images/image/newsletter2.png);
}
.newsletter h2{
    font-size: 1.7rem;
    color: #fff;
}
.newsletter form{
    background: #fff;
    box-shadow:2px 2px 18px rgb(14 52 54 / 15% );
    padding: 6px 10px;
    border-radius: 5rem;

}
.newsletter form input{
    border: none;
    outline: none;
    font-size: 1rem;

}
.newsletter #email-box{
    width: 280px;
}
.newsletter .btn{
    padding: 12px 34px;
    font-weight: 500;
    text-transform: uppercase;

}
.footer{
    background: #415164;
    color: #fff;
    border-radius: 5rem 0 0 0;

}
.footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,auto));
    gap: 2rem;
}
.footer-container h2{
    font-size: 1.7rem;
    font-weight: 500;
    color: #27ae60;
}
.footer-box{
    display: flex;
    flex-direction: column;

}
.footer-box h3{
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}
.footer-box a{
    font-size: 0.8rem;
    color: #fff;
    font-weight: 400;
    margin-bottom: 0.5rem;

}
.footer-box a:hover{
    color: #27ae60;

}
.social a{
    font-size: 20px;
    margin-right: 1rem;

}
.social a:hover{
    color:#27ae60;

}
.copyright{
    padding: 20px;
    text-align: center;
    color: #fff;
    background: #27ae60;
}


@media(max-width:1080px){
    .container{
        margin-left: 1rem;
        margin-right: 1rem;

    }
}
@media(max-width:880px){
    section{
        padding: 4rem 0 3rem;

    }
    .feature-container{
        grid-template-columns: repeat(auto-fit,minmax(200px,auto));
        gap: 1rem;
        padding: 0 10px;

    }
    .footer-container{
        grid-template-columns: repeat(auto-fit,minmax(200px,auto));
        gap: 1rem;

    }
}
@media(max-width:768px){
    .nav{
        padding: 10px 0;

    }
    #menu-icon{
        display: initial;

    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: #415164;
        text-align: center;
        clip-path: circle(0% at 100% 1%);
        transition: 0.6s;

    }
    .navbar a{
        display: block;
        margin: 1rem;
        padding: 20px;
        color: #fff;

    }
    .navbar a:hover{
        background: #27ae60;
        color: #fff;
        transition: 0.2s;

    }
    #menu:checked ~ .navbar{
        clip-path: circle(144% at 100% 1%);
    }
    .home-text {
        padding-left: 288px;
    }
    .about-text span{
        font-size: 0.9rem;

    }
    .about-text h2,.heading h2, .newsletter h2{
        font-size: 1.4rem;

    }
}

@media(max-width:638px){
    .about-text{
        text-align: center;
    }
    .about-img{
        order: 2;
    }
}
@media(max-width:442px){
    .home-text{
        padding-left: 101px;

    }
    .home-text h1{
        font-size: 1.7rem;
    }
    .about-text h2,.heading h2, .newsletter h2{
        font-size: 1.2rem;

    }
    .feature-container{
       padding: 0;
    }
    .newsletter #email-box{
        width: 140px;

    }
    .footer{
        border-radius: 3rem 0 0 0;
    }
}