<!-- pos window for common user -->

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
  <section class="home-section">
    <!-- <nav>
      <div class="sidebar-button">
        <i class="bx bx-menu sidebarBtn"></i>
        <span class="dashboard">POS Window</span>
      </div>
    </nav> -->

    <div class="home-content">
      <h1 >POS WINDOW</h1>
      <div class="overview-boxes">
        <div class="box">
        
            <div class="product-container">
              <div *ngFor="let tempitemStockDtl of itemStockDtl; index as i; " class="product-box">
                  <img alt="pack" src="../assets/{{tempitemStockDtl.imageUrl}}" (click)="addItem(tempitemStockDtl)">
                  <strong>{{tempitemStockDtl.itemName}}</strong>
                  <span class="quantity">{{tempitemStockDtl.itemName}}</span>
                  <span class="quantity">Quantity: {{tempitemStockDtl.qty}}</span>
                  <span class="quantity">Price: {{tempitemStockDtl.standardPrice}}</span>
                
          </div>
          
          </div>

        </div>


        
         <div class="box" >
          <div class="right-side">
           
            <div class="box-topic">Billing Details</div>

            <div class="indicator">
              <div class="fixTableHead">
                <table class="item-table">
                  <thead
                    style="
                      background-color: rgb(226, 228, 234);
                      border: 2px solid #1f0456;
                      font-size: 10px;
                      border-radius: 6px;
                    "
                  >
                    <tr>
                      <th>No</th>
                      <th>ITEM NAME</th>
                      
                      <th>QTY</th>
                      
                      <th>AMOUNT</th>
                      
                      <th colspan="2">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let names of salesDtlAddTables; index as i">
                      <td>{{ i + 1 }}</td>
                      <td>{{ names.itemName }}</td>
                     
                      <td>
                        <i class="fa fa-minus" (click)="counterFunction('sub',names)"></i>
                        &nbsp;&nbsp; {{ names.qty }}  &nbsp;&nbsp;     
                        <!-- <input type="number" [(ngModel)]="productQty" (change)="counter(names)">                 -->
                        <i class="fa fa-plus" (click)="counterFunction('add',names)"></i>
                      </td>
                      
                      <td>
                        {{ names.amount }}
                        <!-- <input type="text" [(ngModel)]="itemAmount"> -->
                      </td>
                      
                      <td>
                        <i
                          class="far fa-trash-alt"
                          (click)="deleteItem(names)"
                          style="
                            color: crimson;
                            margin-right: 30%;
                            margin-left: 10%;
                            font-size: 12px;
                            font-weight: bold;
                          "
                        ></i>
                        <!-- <i
                          class="far fa-edit"
                          (click)="itemQtyedit(names)"
                          style="
                            color: rgb(65, 123, 6);
                            font-size: 12px;
                            font-weight: bold;
                          "
                        ></i> -->
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            
          </div>
        </div> 
        
      </div>

      <!-- =============================new==================== -->
      <!-- <div class="sales-boxes second-row">
        <div class="recent-sales box">
          <div class="title">Billing Details</div>
          <br />
          <div class="sales-details">
            <div class="fixTableHead">
              <table class="item-table">
                <thead
                  style="
                    background-color: rgb(226, 228, 234);
                    border: 2px solid #1f0456;
                    font-size: 10px;
                    border-radius: 6px;
                  "
                >
                  <tr>
                    <th>No</th>
                    <th>ITEM NAME</th>
                    <th>BAR CODE</th>
                    <th>QTY</th>
                    <th>TAX RATE</th>
                    <th>MRP</th>
                    <th>AMOUNT</th>
                    <th>BATCH</th>
                    <th>UNIT</th>
                    <th>EXPIRY</th>
                    <th>CESS RATE</th>
                    <th colspan="2">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let names of salesDtlAddTables; index as i">
                    <td>{{ i + 1 }}</td>
                    <td>{{ names.itemName }}</td>
                    <td>{{ names.barcode }}</td>
                    <td>
                      {{ names.qty }}
                    </td>
                    <td>{{ names.taxRate }}</td>
                    <td>{{ names.mrp }}</td>
                    <td>{{ names.amount }}</td>
                    <td>{{ names.batch }}</td>
                    <td>{{ names.unitName }}</td>
                    <td>{{ names.expiryDate }}</td>
                    <td>{{ names.cessRate }}</td>
                    <td>
                      <i
                        class="far fa-trash-alt"
                        (click)="itemDeletion(names)"
                        style="
                          color: crimson;
                          margin-right: 30%;
                          margin-left: 10%;
                          font-size: 12px;
                          font-weight: bold;
                        "
                      ></i>
                      <i
                        class="far fa-edit"
                        (click)="itemQtyedit(names)"
                        style="
                          color: rgb(65, 123, 6);
                          font-size: 12px;
                          font-weight: bold;
                        "
                      ></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <br /> -->
          <!-- <div class="button">
            <a (click)="holdedPosDtls()">Holded Bills </a>&nbsp; &nbsp;&nbsp; -->
            <!-- <a href="#">UnHold</a> -->
          <!-- </div> -->
        <!-- </div>
      </div> -->

      <!-- -------------------------------------------- -->
      <div class="sales-boxes" style="margin-top: 2%; margin-left: 50%;">
        <!-- <div class="recent-sales box">
          <div class="title">Holded Sales Details</div>
          <br />
          <div class="sales-details">
            <div class="fixTableHead">
              <table class="item-table">
                <thead
                  style="
                    background-color: rgb(226, 228, 234);
                    border: 2px solid #1f0456;
                    font-size: 10px;
                    border-radius: 6px;
                  "
                >
                  <tr>
                    <th>Sl No.</th>
                    <th>User Name</th>
                    <th>Invoice Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let names of holdedPos; index as i"
                    (click)="unholdbill(names)"
                  >
                    <td>{{ i + 1 }}</td>
                    <td>{{ names.userId }}</td>
                    <td>{{ names.invoiceAmount }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div> -->
        <div class="top-sales box">
          <!-- <div class="title">Card Details</div> -->
          <ul class="top-sales-details">
            <!-- <li>
             
                <span class="product">Card Name</span>             
              <span class="price">
                <select
                  [(ngModel)]="receiptMode"
                  name="receiptMode"
                  style="width: 114px"
                >
                  <option
                    *ngFor="let name of receiptMOdeMst; let i = index"
                    [value]="name.receiptMode"
                  >
                    {{ name.receiptMode }}
                  </option>
                </select></span
              >
            </li> -->

            <!-- <li>
              
                <span class="product">Amount</span>
            

              <input
                class="price"
                type="number"
                placeholder="Amount"
                [(ngModel)]="cardamount"
                name="cardamount"
                style="width: 114px"
              />
            </li> -->

            <!-- <li>
              <div class="button">
                <a (click)="addCardAmountEvent()">Add </a>&nbsp; &nbsp;&nbsp;
                <a (click)="deleteCardAmountEvent()">Delete</a>
              </div>
            </li> -->

            <!-- <li>
              <div
                class="
                  table-container table-wrapper-scroll-y
                  my-custom-scrollbar
                "
              >
                <table class="table table-bordered table-striped mb-0">
                  <thead
                    style="
                      background-color: rgb(226, 228, 234);
                      border: 2px solid #1f0456;
                      font-size: 10px;
                      border-radius: 6px;
                    "
                  >
                    <tr>
                      <th>Card</th>
                      <th>Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let names of cardSalesList;
                        index as i;
                        let even = even
                      "
                      (click)="cardAmountDel(i)"
                      [style.background-color]="
                        rowClicked == i
                          ? 'powderblue'
                          : even
                          ? 'white'
                          : 'white'
                      "
                      (click)="changeTableRowColor(i)"
                    >
                      <td>{{ names.card }}</td>
                      <td>{{ names.cardamount }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </li> -->
            <!-- <li>
              
                <span class="product">Total</span>
              
              <span class="price">{{ cardTotalAmount | number: "1.0-2" }}/-</span>
            </li> -->

            <!-- <hr style="width: 105%; text-align: left; margin-left: 0px" /> -->
            <li>
              
                <span class="product">Cash to pay in RS</span>
              
              <span class="price">{{ totalAmount }}/-</span>
              <!-- <span class="price"><input type="text" [(ngModel)]="totalAmount">/-</span> -->
            </li>
            <!-- <li>
              
                <span class="product">Balance Amount</span>
              

              <span *ngIf="showBal==0"
                class="price"
                style="color: crimson"
                [(ngModel)]="paidAmount"
                name="paidAmount"
                
              >{{ changeAmont }}/-</span> -->
              <!-- (keyup.enter)="finalBalance(paidAmount)" -->
            <!-- </li> -->
            
            <div class="button">
              <!-- <a (click)="clearAll()">Clear All</a>&nbsp; &nbsp;&nbsp; -->
              <a (click)="finalSubmit(addingToTable)">CHECKOUT</a>
            </div> 
            <li></li>
          </ul>
        </div>
      </div>
      <!-- ----------------------------------------- -->

      <!-- ================================================ -->
    </div>
  </section>
</body>


<!-- 

<link
  href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
  rel="stylesheet"
/>
<link
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet"
  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
  crossorigin="anonymous"
/>

<section class="home-section">
  <nav>
 
    <div class="sidebar-button">
     
     
      <span class="poswindow">POS WINDOW </span> <sup> <div [ngClass]="'online'" *ngIf="networkStatus$ | async; else offline">
        Online
      </div>
      <ng-template #offline>
          <div [ngClass]="'offline'">
            Offline
          </div>
        </ng-template></sup>
    </div>

    
    <div class="search-box">
      <input
        class="form-control selectProduct"
        id="selectProduct"
        placeholder="Search Products"
        (keyup)="onKeypressEventForProductSearch($event)"
        (click)="onKeypressEventForProductSearch($event)"
        name="branchname"
      />
      <i class="bx bx-search"></i>
    </div>

  </nav>

  

  <div class="home-content">
   
    <div class="sales-boxes">
      <div class="recent-sales box">
        <input type="number" class="form-control" placeholder="Loyality Customer" [(ngModel)]="mobileNumber" id="loyalityCust" (blur)="onBlurMethod()" minlength="5" maxlength="10" style="width:30%">
        <div class="title">BILLING DETAILS</div>
        <div class="sales-details">
          
          <div class="fixTableHead">
            <table class="item-table">
              <thead>
                <tr>
                  <th>No</th>
                  <th>ITEM NAME</th>
                  <th>BAR CODE</th>
                  <th>QTY</th>
                  <th>TAX RATE</th>
                  <th>MRP</th>
                  <th>AMOUNT</th>
                  <th>BATCH</th>
                  <th>UNIT</th>
                  <th>EXPIRY</th>
                  <th>CESS RATE</th>
                  <th colspan="2">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let names of salesDtlAddTables; index as i">
                  <td>{{ i + 1 }}</td>
                  <td>{{ names.itemName }}</td>
                  <td>{{ names.barcode }}</td>
                  <td>
                    {{ names.qty }}
                  </td>
                  <td>{{ names.taxRate }}</td>
                  <td>{{ names.mrp }}</td>
                   <td>{{ names.amount }}</td>
                  <td>{{ names.batch }}</td>
                  <td>{{ names.unitName }}</td>
                  <td>{{ names.expiryDate }}</td>
                  <td>{{ names.cessRate }}</td>
                  <button
                    mat-icon-button
                    matTooltip="Click to Delete"
                    class="iconbutton"
                    (click)="deleteTabledata(names,i)"
                    color="warn"
                  >
                    <mat-icon>delete</mat-icon></button
                  ><button
                    mat-icon-button
                    matTooltip="Click to edit"
                    class="iconbutton"
                    (click)="editQty(i)"
                    color="warn"
                  >
                    <mat-icon>edit</mat-icon>
                  </button>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="button"></div>
      </div>
    </div>

    <div class="home-card">
     
      <div class="card-boxes">
        <div class="recent-card box">
          <div class="card-details">
            <div class="fixTableHead">
              <table class="item-table">
                <thead>
                  <tr>
                    <th>Sl No.</th>
                    <th>User Name</th>
                    <th>Invoice Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let names of holdedPos; index as i" (click)="unholdbill(names)">
                    <td>{{ i + 1 }}</td>
                    <td>{{ names.userId }}</td>
                    <td>{{ names.invoiceAmount }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="buttons">
          <div class="button">
            <a  (click)="holdedPosDtls()">HOLD</a>
          </div>
          
        </div>
      </div>
        <div class="recent-card box">
          <div class="title">Card Payment</div>
          <div class="card-details">
            <div class="input-row">
              <select  [(ngModel)]="receiptMode" name="receiptMode">
                <option *ngFor="let name of receiptMOdeMst; let i = index" [value]="name.receiptMode">
                  {{name.receiptMode}}
                </option>
              </select>
            <input type="number" placeholder="Amount"  [(ngModel)]="cardamount" name="cardamount">
            <div class="buttons button">
              <a (click)="addCardAmountEvent()">Add</a>
              <a  (click)="deleteCardAmountEvent()">Delete</a>
            </div>
          </div>
          </div>
            <div class="fixTableHead">
              <table class="item-table">
                <thead>
                  <tr >
                    <th>Card</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                <tr  *ngFor="let names of cardSalesList; index as i;  let even=even" (click)="cardAmountDel(i)
                "  [style.background-color]="rowClicked == i ? 'powderblue' : (even ? 'white' : 'white')"
                (click)="changeTableRowColor(i)">
                  <td>{{names.card}}</td>
                  <td>{{names.cardamount}}</td>
                </tr>
              
                </tbody>
              </table>
         
            </div>
            <h4 style="text-align: left; font-weight: bold;">Total:-{{cardTotalAmount | number: '1.0-2'}}</h4>
          
        </div>

        
        <div class="top-payment box">
          <div class="title">Payment Details</div>
          <ul class="top-payment-details">
            <li>
              <span class="product">Cash To Pay In RS</span>

              <span class="totalAmount">{{ totalAmount }}/-</span>
            </li>
            <li>
              <span class="product">Paid</span>

              <input
                type="text"
                [(ngModel)]="paidAmount"
                name="paidAmount"
                (keyup.enter)="finalBalance(paidAmount)"
              />
            </li>

            <div class="button">
              <a (click)="finalSubmit(addingToTable)">Generate Bill</a>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
</section>

{{SalesBillDetails |json}}


 -->
