/* Googlefont Poppins CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  
}
/* .sidebar{
  position: fixed;
  height: 100%;
  width: 240px;
  background: #0A2558;
  transition: all 0.5s ease;
}
.sidebar.active{
  width: 60px;
}
.sidebar .logo-details{
  height: 80px;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  min-width: 60px;
  text-align: center
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}
.sidebar .nav-links{
  margin-top: 10px;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  height: 50px;
}
.sidebar .nav-links li a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li a.active{
  background: #081D45;
}
.sidebar .nav-links li a:hover{
  background: #081D45;
}
.sidebar .nav-links li i{
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.sidebar .nav-links li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}
.sidebar .nav-links .log_out{
  position: absolute;
  bottom: 0;
  width: 100%;
} */
.home-section {
  position: relative;
  background: #f5f5f5;
  /* min-height: 100vh; */
  /* width: calc(100% - 190px); */
  margin-top: 10px;
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section {
  width: calc(100% - 60px);
  left: 60px;
}
.home-section nav {
  display: flex;
  justify-content: space-between;
  height: 41px;

  background: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  /* width: calc(100% -190px); */
  width: 100%;
  left: 190px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
  margin-top: 47px;
}
.sidebar.active ~ .home-section nav {
  left: 60px;
  width: calc(100% - 60px);
}
.home-section nav .sidebar-button {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}
nav .sidebar-button i {
  font-size: 35px;
  margin-right: 10px;
}
.home-section nav .search-box {
  position: relative;
  height: 50px;
  max-width: 550px;
  width: 100%;
  margin: 0 20px;
}
h1 {
  height: 90px;
  /* background: #16a085; */
  border-radius: 5px 5px 0 0;
  color: #000;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  
  }
nav .search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  background: #f5f6fa;
  border: 2px solid #efeef1;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
}
nav .search-box .bx-search {
  position: absolute;
  height: 40px;
  width: 40px;
  background: #2697ff;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  transition: all 0.4 ease;
}
.home-section nav .profile-details {
  display: flex;
  align-items: center;
  background: #f5f6fa;
  border: 2px solid #efeef1;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
}
nav .profile-details img {
  height: 40px;
  width: 40px;
  border-radius: 6px;
  object-fit: cover;
}
nav .profile-details .admin_name {
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  white-space: nowrap;
}
nav .profile-details i {
  font-size: 25px;
  color: #333;
}
.home-section .home-content {
  position: relative;
  padding-top: 30px;
}
.home-content .overview-boxes {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 26px;
}
.overview-boxes .box {
  /* display: flex; */
  align-items: center;
  /* justify-content: center; */
  width: calc(100% / 2 - 30px);
  background: #fff;
  padding: 15px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin-left: 2%;
  height: 400px;
  overflow: scroll;
  /* max-height: 450px; */
}
.overview-boxes .box-topic {
  font-size: 14px;
  font-weight: 500;
}
.home-content .box .number {
  display: inline-block;
  font-size: 35px;
  margin-top: -6px;
  font-weight: 500;
}
.home-content .box .indicator {
  display: flex;
  align-items: center;
  padding: 20px, 11px;
}
.home-content .box .indicator input {
  height: 36px;
  width: 100px;
  outline: none;
  /* background: #f5f6fa; */
  border:none;
  /* border: 2px solid #1f0456; */
  /* border-radius: 6px; */
  line-height: 20px;
  text-align: center;
  color: #000000;
  font-size: 14px;
  /* margin-right: 5px; */
}

.custom-select {
  height: 36px;
  width: 180px;
  outline: none;
  background: #f5f6fa;
  position: relative;
  border: 2px solid #1f0456;
  border-radius: 6px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  font-size: 20px;
  /* margin-right: 5px; */
}

.home-content .box .indicator .text {
  font-size: 10px;
}
.home-content .box .cart {
  display: inline-block;
  font-size: 32px;
  height: 50px;
  width: 50px;
  background: #cce5ff;
  line-height: 50px;
  text-align: center;
  color: #66b0ff;
  border-radius: 12px;
  margin: -15px 0 0 6px;
}
.home-content .box .cart.two {
  color: #2bd47d;
  background: #c0f2d8;
}
.home-content .box .cart.three {
  color: #ffc233;
  background: #ffe8b3;
}
.home-content .box .cart.four {
  color: #e05260;
  background: #f7d4d7;
}
.home-content .total-order {
  font-size: 20px;
  font-weight: 500;
}
.home-content .sales-boxes {
  display: flex;
  justify-content: space-between;
  /* padding: 0 20px; */
}

/* left box */
.home-content .sales-boxes .recent-sales {
  width: 100%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.home-content .sales-boxes .sales-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sales-boxes .box .title {
  font-size: 15px;
  font-weight: 500;
  /* margin-bottom: 10px; */
}
.sales-boxes .sales-details li.topic {
  font-size: 20px;
  font-weight: 500;
}
.sales-boxes .sales-details li {
  list-style: none;
  margin: 8px 0;
}
.sales-boxes .sales-details li a {
  font-size: 18px;
  color: #333;
  font-size: 400;
  text-decoration: none;
}
.sales-boxes .box .button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.sales-boxes .box .button a {
  color: #fff;
  background: #0a2558;
  padding: 4px 12px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.sales-boxes .box .button a:hover {
  background: #0d3073;
}

/* Right box */
.home-content .sales-boxes .top-sales {
  width: 75%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px 0 0;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.sales-boxes .top-sales li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.sales-boxes .top-sales li a img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 12px;
  margin-right: 10px;
  background: #333;
}
.sales-boxes .top-sales li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sales-boxes .top-sales li .product {
  font-size: 12px;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.sales-boxes .top-sales li .price {
  font-size: 13px;
  font-weight: 400;
  color: rgb(17, 75, 5);
}

.fixTableHead {
  overflow-y: auto;
  height: 192px;
  width: 151%;
}
.fixTableHead thead th {
  position: sticky;
  top: 0;
  color: white;
}
table {
  border-collapse: collapse;
  width: 100%;
  /* height: 100%; */
}
th,
td {
  padding: 1px 15px;
  border: 2px solid rgb(119, 118, 118);
  font-size: 10px;
}
th {
  background: rgb(16, 70, 105);
}
tbody {
  font-size: 12px;
}

.product-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2%;
  align-items: center;
  /* margin: 40px 0px; */
  }
  .product-box img{
  width: 70%;
  height: 50%;
  object-fit: contain;
  object-position: center;
  margin: auto;
  }
  .product-box{
  width: 100%;
  border: 1px solid #eeeeee;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 500px;
  }
  .product-box strong{
  color: #202020;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-top: 10px;
  }
  .product-box .quantity{
  color: #949494;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  }
  .product-box .price{
  margin-top: 10px;
  font-weight: 600;
  font-size: 14px;
  color: #393939;
  }
  .product-box .cart-btn{
  width:100%;
  height: 40px;
  background-color: #ecf7ee;
  color: #4eb060;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  transition: all ease 0.3s;
  }
  .product-box .cart-btn i{
  margin-right: 10px;
  }
  .product-box .cart-btn:hover{
  background-color: #4eb060;
  color: #ffffff;
  transition: all ease 0.3s;
  }
  .product-box .like-btn{
  position: absolute;
  right: 30px;
  top: 20px;
  color: #c9c9c9;
  font-size: 1.3rem;
  }

/* .product-container,
.product-heading{
max-width: 1000px;
width: 100%;
} */

/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar {
    width: 60px;
  }
  .sidebar.active {
    width: 220px;
  }
  .home-section {
    /* width: calc(100% - 60px); */
    /* left: 60px; */
  }
  .sidebar.active ~ .home-section {
    overflow: hidden;
    left: 220px;
  }
  .home-section nav {
    width: calc(100% - 60px);
    z-index: 1;
    left: 60px;
  }
  .sidebar.active ~ .home-section nav {
    width: calc(100% - 220px);
    left: 220px;
  }
}
@media (max-width: 1150px) {
  .home-content .sales-boxes {
    flex-direction: column;
  }
  .home-content .sales-boxes .box {
    width: 90%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }
  .home-content .sales-boxes .top-sales {
    margin: 20px;
  }
}
@media (max-width: 1000px) {
  .overview-boxes .box {
    width: calc(100% / 2 - 45px);
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i {
    display: block;
  }
  .home-section nav .profile-details {
    height: 50px;
    min-width: 20px;
  }
  .home-content .sales-boxes .sales-details {
    width: 560px;
  }
}
@media (max-width: 550px) {
  .overview-boxes .box {
    width: 100%;
    margin-bottom: 15px;
  }
  .sidebar.active ~ .home-section nav .profile-details {
    display: none;
  }
}
.finalSaveButton {
  background-image: linear-gradient(135deg, #0e0e3a 30%, #6564af 90%);

  width: 90px;
  border: none;
  outline: none;
  color: #fff;
  height: 25px;
  border-radius: 30px;
  /* margin-top: 20px; */
  /* margin-left: 20px; */
  box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}
.btneffects {
  padding: 2px 23px;
  /* font-size: 24px; */
  /* text-align: center; */
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04aa6d;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px #999;
}
.btneffects:active {
  background-color: #3e8e41;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}
.second-row {
  width: 100%;
}
