<div class="details-section">
    <div class="container-fluid">
 <br>
        <img src="{{Produ.imageUrl}}" class="details-img">
        <h3>{{Produ.name}}</h3>
        <div class="price">{{Produ.unitPrice | currency:'USD'}}</div>
        <!-- <a href="#" class="primary-btn">Add to Cart</a> -->
        <button (click)="addToCart()" class="btn btn-primary btn-sm">Add to Cart</button>
        <hr>
        <h4>Description</h4>

        <p>{{Produ.description}}</p>

    </div>

</div>


