<p [ngClass]="'title'">Branch Creation</p>

<div [ngClass]="'formStyle'">
   

<form [formGroup]="branchCreationForm">
    <table>
       
        <tr>
     <td>  <mat-form-field appearance="fill" class="example-full-width">
      <input matInput placeholder="Branch Name" formControlName="branchName" [(ngModel)]="branchName">
     </mat-form-field></td>
     <td> <mat-form-field appearance="fill" class="example-full-width">
        <input matInput placeholder="Branch Code" formControlName="branchCode" [(ngModel)]="branchCode">
      </mat-form-field></td>
      </tr>
      <tr>
        <td> <mat-form-field appearance="fill" class="example-full-width">
        <input matInput placeholder="Branch GST" formControlName="branchGst">
      </mat-form-field></td>
      <td> <mat-form-field appearance="fill" class="example-full-width">
        <input matInput placeholder="Branch Email" formControlName="branchEmail" [(ngModel)]="branchEmail">
      </mat-form-field></td></tr>
      <tr>
        <td> <mat-form-field appearance="fill" class="example-full-width">
          <input matInput placeholder="Phone Number" formControlName="branchTelNo" [(ngModel)]="branchTelNo">
        </mat-form-field></td>
        <td> <mat-form-field appearance="fill" class="example-full-width">
          <input matInput placeholder="Branch Web" formControlName="branchWebsite">
        </mat-form-field></td></tr>
        <tr>
            <td> <mat-form-field appearance="fill" class="example-full-width">
              <input matInput placeholder="Branch Address 1" formControlName="branchAddress1">
            </mat-form-field></td>
            
           
              <td><mat-form-field  appearance="fill"class="example-full-width">
              <input matInput placeholder="Branch Address 2" formControlName="branchAddress2">
            </mat-form-field></td></tr>
            <tr>
                <td> <mat-form-field appearance="fill" class="example-full-width">
                  <input matInput placeholder="Bank Account No" formControlName="accountNumber">
                </mat-form-field></td>
                <td> <mat-form-field appearance="fill" class="example-full-width">
                  <input matInput placeholder="Bank Name" formControlName="bankName">
                </mat-form-field></td></tr>
                <tr>
                    <td> <mat-form-field appearance="fill" class="example-full-width">
                      <input matInput placeholder="Bank Branch" formControlName="bankBranch">
                    </mat-form-field></td>
                    <td> <mat-form-field appearance="fill" class="example-full-width">
                      <input matInput placeholder="Bank IFSC " formControlName="ifsc">
                    </mat-form-field></td></tr>
                  <tr>
                 <td>
                    <mat-form-field appearance="fill">
                        <mat-label>My Branch</mat-label>
                        <select  matNativeControl required  formControlName="myBranch">
                          <option *ngFor="let myBranch of myBranchs" [ngValue]="myBranch">
                            {{myBranch}}
                          </option>
                        </select>
                      </mat-form-field></td>
                      <td>
                      <mat-form-field appearance="fill">
                        <mat-label>State</mat-label>
                        <select  matNativeControl required  formControlName="branchstate">
                          <option *ngFor="let state of states" [ngValue]="state">
                            {{state}}
                          </option>
                        </select>
                      </mat-form-field>
                 </td>

                  </tr>
    </table>
    <div class="button-wrapper" id="buttons">
      <table>
        <tr><td>
        <button (click)="submitForm()" mat-flat-button color="primary">Submit</button></td>
        <td>  <button (click)="rest()"  mat-flat-button color="primary" id="restbutton">Reset</button></td></tr>
      </table>
      </div>
     
     
</form>


</div>
<!-- <html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  </head>
  <body>
    <div class="container">
      <h1>BRANCH CREATION WINDOW</h1>
      <div class="box">
        <div class="contents1">
            <form [formGroup]="branchCreationForm">
              <div class="input-row">
                <div class="input-group">
                  <label>Branch Name</label><br/>
                  <input type="text" placeholder="Branch Name" formControlName="branchName" required>
                </div>
                <div class="input-group">
                  <label>Parent ID</label><br />
                  <select class="option" name="parentid" formControlName="parentId">
                    <option selected="parentid"></option>
                    <option
                        *ngFor="let name of categoryMst; let i = index"
                        [value]="name.id"
                      >
                        {{ name.categoryName }}
                      </option>
                </select>
                </div>
                </div> 
              <div class="input-row">
                <div class="buttons">
                  <button class="submitbtn" type="submit" (click)="saveCategory()">Submit</button>
                  <button class="submitbtn" type="submit" (click)="showAllCategory()">Show All</button>
                  <!-- <button class="submitbtn" type="reset" (click)="clear()">Clear</button>  -->
                <!-- </div>
              </div> 
            </form>
        </div>
        <div class="dashdetails">
          <div class="fixTableHead">
            <table class="item-table" id="contentToConvert">
              <thead>
                <tr><th>Category Name</th><th>Parent category</th></tr>
              </thead>
              <tbody>
                  <tr *ngFor="let tempgetCategoryMst of showCategoryMst ;index as i " >
                    <td data-label="Category Name">{{tempgetCategoryMst.categoryName}}</td>
                    <td data-label="Parent category">{{getParentNameById(tempgetCategoryMst.parentId)}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html> -->