.formStyle
{
    width: 40%;
    height: 80% ;
   
    margin-left: 25%;
    font-weight: bold;
    border-radius: 3%;
    padding-left: 8%;
    padding-top: .5%;
   

}
.button-wrapper
{
    margin-left: 35%;
}
.title
{
    margin-left: 40%;
    font-weight: bold;
    padding-top: 1%;
    font-size: x-large;
}
#buttons{
    margin-left: 20%;
}
#restbutton
{
    margin-left: 21%;
}