@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
margin: 0;
padding: 0;
}
body {
font-size: 14px;
font-family: "Poppins", sans-serif;
}
.container {
width: 75%;
margin: -10px auto;
margin-top: 80px;;
padding-top: 20px;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.box {
background: #fff;
}
.contents1 {
/* flex-basis: 40%; */
padding: 20px 16px;
padding-left: 100px;
/* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); */
}
.dashdetails {
/* flex-basis: 50%; */
padding: 4px 6px;
padding-left: 70px;
padding-right: 70px;
color: black;
/* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); */
}
h1 {
margin-bottom: 10px;
margin-left: 10px;
font-size: 25px;
font-weight: 500;
position: relative;
color: black;
}
.input-row {
display: flex;
justify-content: space-between;
margin-bottom: 10px;
}
.input-row .input-group {
flex-basis: 45%;
}
input {
width: 75%;
border: none;
border-bottom: 1px solid #ccc;
outline: none;
padding-bottom: 5px;
}

.option {
height: 25px;
width: 75%;
/* display: flex; */
margin: 14px 0;
margin-top: 0;
justify-content: space-between;
letter-spacing: 1px;
border: none;
border-bottom: 1px solid #ccc;
}
.submitbtn {
background-image: linear-gradient(135deg, #0e0e3a 30%, #6564af 90%);
width: 100px;
border: none;
outline: none;
color: #fff;
height: 35px;
border-radius: 30px;
box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}

.fixTableHead {
overflow-y: auto;
height: 200px;
}
.fixTableHead thead th {
position: sticky;
top: 0;
color: white;
}
table {
border-collapse: collapse;
width: 100%;
}
th,
td {
padding: 1px 15px;
border: 2px solid rgb(255, 255, 255);
}
th {
background: rgb(16, 70, 105);
}
tbody {
font-size: 12px;
}
.buttons {
width: 60%;
display: flex;
align-items: center;
justify-content: space-between;
margin-left: 100px;
}

@media (max-width: 800px) {
.container {
width: 100%;
}
.submitbtn {
width: 50px;
font-size: 10px;
}
.fixTableHead {
width: 100%;
}
}

table tr:hover {
background-color: lightgreen;
}
tbody tr {
cursor: pointer;
}