<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  </head>
  <body>
    <div class="container">
      <h1>Item Properties</h1>
      <div class="box">
        <div class="contents1">
            <form>
              <div class="input-row">
                <div class="input-group">
                  <label>Item Name</label><br/>
                  <input type="text" placeholder="Enter">
                </div>
                <div class="input-group">
                  <label>Property</label><br />
                  <input type="text">
                </div>
                <div class="input-group">
                  <label>Type</label><br />
                  <select class="option" name="type">
                    <option disabled="disabled" selected="select">--Type--</option>
                    <option>STRING</option> 
                    <option>NUMBER</option>  
                    <option>BOOLEAN</option>    
                  </select> 
                </div>
                </div> 
              <div class="input-row">
                <div class="buttons">
                  <button class="submitbtn" type="submit" >Submit</button>
                  <button class="submitbtn" type="submit" >Show All</button>
                  <button class="submitbtn" type="reset" >Clear</button> 
                </div>
              </div> 
            </form>
        </div>
        <div class="dashdetails">
          <div class="fixTableHead">
            <table class="item-table" id="contentToConvert">
              <thead>
                <tr>
                <th>User Name</th>
                <th>Dashboard</th>
                <th>Report Type</th>
                <th>#</th>
                </tr>
              </thead>
              <tbody>
                <tr class="selectrow" >
                <td data-label="User Name"></td>
                <td data-label="Dashboard"></td>
                <td data-label="Report Type"></td>
                <button mat-icon-button matTooltip="Click to Delete" class="btn" color="warn">
                <mat-icon>delete</mat-icon></button>
                <!-- <td data-label="delete"><input type="button" (click)="highlightandDeleteRowById(temp)" value="Delete" ></td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
