<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<div class="container">
    <div class="title">Dashboard settings</div>
    <div class="content">
        <form [formGroup]="userRegistrationForm">
            <div class="dashboard-settings">

                <div class="input-box">
              
                    <span class="details">User Name</span>
                               <select class="option" name="branch" formControlName="branchCode">
                        <option disabled="disabled" selected="branch">--User Name--</option>
                       <!-- <option *ngFor="let myBranch of branchMst" [ngValue]="myBranch.branchCode">
                                    {{myBranch.branchName}}
                                  </option> -->
                      </select>
                </div>
                <div class="input-box">

                      <span class="details">Dashboard</span>
                               <select class="option" name="dashboard" formControlName="dashboard">
                        <option disabled="disabled" selected="dashboard">--Dashboard--</option>
                       <!-- <option *ngFor="let myBranch of branchMst" [ngValue]="myBranch.branchCode">
                                    {{myBranch.branchName}}
                                  </option> -->
                      </select>
                  </div>

            </div>
        </form>
    </div>

   

</div>