@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
.container{
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    margin: 25px auto 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  .container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }
  .container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    /* background: linear-gradient(135deg, #fff, #73d257); */
  }
  .content form .dashboard-settings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  .content form .dashboard-settings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  form .dashboard-settings .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }

  form .dashboard-settings .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .dashboard-settings .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  .dashboard-settings .input-box input:focus,
  .dashboard-settings .input-box input:valid{
    border-color: #7ed321;
  }

  form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }

  form .option{
    height: 45px;
    width: 100%;
     display: flex;
     margin: 14px 0 ;
     justify-content: space-between;
     letter-spacing: 1px;
     border: 1px solid #ccc;
     border-color: #7ed321;
     
   }