@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  /* background: #f5f5f5; */
}
.container {
  width: 40%;
  margin: 90px auto;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
background: #fff;
border-radius: 6px;
}
.item-box {
  background: #fff;
}
.item-left {
  flex-basis: 40%;
  padding: 14px 16px;
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); */
}
.item-right {
  flex-basis: 50%;
  padding: 4px 6px;

  color: black;
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); */
}
h1 {
  height: 90px;
  /* background: #16a085; */
  border-radius: 5px 5px 0 0;
  color: #000;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  
  }
.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.input-row .input-group {
  flex-basis: 45%;
}
input {
  width: 75%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
}
input:focus {
  border-color: #7ed321;
}
.option {
  height: 25px;
  width: 100%;
  display: flex;
  margin: 14px 0;
  margin-top: 0;
  justify-content: space-between;
  letter-spacing: 1px;
  border: none;
  border-bottom: 1px solid #ccc;
}
.submitbtn {
  color: #fff;
  background: #0a2558;
  padding: 4px 12px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.fixTableHead {
  overflow-y: auto;
  height: 200px;
}
.fixTableHead thead th {
  position: sticky;
  top: 0;
  color: white;
}
table {
  border-collapse: collapse;
  width: 100%;
  /* height: 100%; */
}
th,
td {
  padding: 1px 15px;
  border: 2px solid rgb(255, 255, 255);
}
th {
  background: rgb(16, 70, 105);
}
tbody {
  font-size: 12px;
}
.buttons {
  width: 30%;
  display: flex;
  margin-left:30%;
  align-items: center;
  justify-content: space-between;
  /* padding-left: 100px; */
}
@media (max-width: 800px) {
  .container {
    width: 100%;
    background: #f5f5f5;
  }
  .item-box h1{
    font-size: 18px;
  }
  form .buttons .submitbtn {
   
    color: #fff;
  background: #0a2558;
  padding: 4px 12px;
  margin-right: 20px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
  }
  .fixTableHead {
    width: 100%;
  }
}

table tr:hover {
  background-color: lightgreen;
}
tbody tr {
  cursor: pointer;
}
 .btn_arrange{
margin-top: 2%;
 }
