<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
    
      <div class="item-box">
        <h1>SWITCH BRANCH</h1>
        <div class="item-left">
          <form>
            <div class="input-row">
              <!-- <div class="input-group">
                <label>User</label><br />
                <select
                class="option"
                [(ngModel)]="userId"
                name="userId"
                required>
                <option disabled="disabled" selected="userId">Select User</option>
                <option *ngFor="let name of users" value="{{ name.id }}">
                  {{ name.userName }}
                </option>  
              </select>
              </div> -->
              <div class="input-group">
                <label>Branch</label><br />
                <select
                class="option"
                [(ngModel)]="branchId"
                name="branchId"
                required>
                <option></option>
                <!-- <option disabled="disabled" selected="branchId">Select Branch</option> -->
                <option *ngFor="let br of branchByUser">
                  {{ getBranchNameById(br.branchId) }} 
                 </option>
              </select>
              </div>
              <div class="input-group btn_arrange">
                <!-- <div class="buttons"> -->
                    <button type="submit" (click)="setBranch()" class="submitbtn">Change</button>
                    <!-- <button type="reset" class="submitbtn" >Refresh</button> -->
                    <!-- <button type="button" class="submitbtn" >Show All</button> -->
                  <!-- </div> -->
              </div>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </body>  
</html>



