@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
margin: 0;
padding: 0;

}

body{
/* overflow-x: hidden; */
box-sizing: border-box;
font-family: 'Poppins',sans-serif;
}
.container{
position: relative;
width: 100%;
}

.sidebar{
position: fixed;
width: 300px;
height: 100%;
background:linear-gradient(45deg,#568C41,#31671B);
overflow-x: hidden;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
z-index: 2;
}
.sidebar ul li{
width: 100%;
list-style: none;
}
.sidebar ul li:hover{
background: #1F3516;
}
.sidebar ul li:first-child{
line-height: 60px;
margin-bottom: 20px;
font-weight: 600;
border-bottom: 1px solid #fff;
}
.sidebar ul li:first-child:hover{
background: none;

}
.sidebar ul li a{
width: 100%;
text-decoration: none;
color: #fff;
height: 60px;
display: flex;
align-items: center;
}
.sidebar ul li a i{
min-width: 60px;
font-size: 24px;
text-align: center;
}
.sidebar .title{
padding: 0 10px;
font-size: 20px;
}

/* end .sidebar */

.main{
position: absolute;
/* width: calc(100% -300px); */
/* width: 940px; */
min-height: 100vh;
/* left: 300px; */
background: #f5f5f5;
margin-left: 20%;
}
.top-bar{
position: fixed;
height: 60px;
/* width: calc(100% -300px); */
width: 75%;
background: #fff;
display: grid;
grid-template-columns: 10fr 0.4fr 1fr;
grid-gap: 5px;
align-items: center;
color: #444;
padding: 0 20px;
box-shadow: 0 4px 8px 0 rgba(0, 0,0, 0.2);
z-index: 1;
}
.top-bar .search{
position: relative;
max-width: 400px;
}
.search input{
width: 100%;
min-width: 128px;
height: 40px;
padding: 0 40px;
font-size: 16px;
outline: none;
border: none;
background: #f5f5f5;
}
.search i{
position: absolute;
right: -55px;
top: 10px;
cursor: pointer;
}
.user{
position: relative;
width: 50px;
height: 50px;
}
img{
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
object-fit: cover;
}

.cards{
margin-top: 60px;
/* width: 100%; */
padding: 35px 20px;
/* display:grid; */
/* grid-template-columns: repeat(2, 1fr); */
grid-gap: 20px; 
/* display:grid; */
justify-content: space-between;
margin-bottom: 10px;


}
.cards .card{
background: #fff;
padding: 20px;
/* display:; */
align-items:flex-end;
justify-content: space-between;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
/* flex-basis: 45%; */

}
.tables{
width: 100%;
display: grid;
grid-template-columns: 2fr 1fr;
grid-gap: 20px;

/* self-start */
align-items:flex-start;
padding: 0 20px 20px 20px;
}
.product-details{
min-height: 350px;
background: #fff;
padding: 20px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.product-holding{
min-height: 350px;
background: #fff;
padding: 20px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.heading{
display: flex;
align-items: center;
justify-content: space-between;
color: #444;
}
.btn{
padding: 5px 10px ;
/* background: #1F3516; */
background: #0a2558;
color: #fff;
cursor: pointer;
text-decoration: none;
border-radius: 5px;
text-align: center;
}
table{
margin-top: 10px;
width: 100%;
border-collapse: collapse;

}
thead td{
font-weight: 600;
color: #333;
}
table tr{
border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
table tbody tr:last-child{
border-bottom: none;
}
tbody tr:hover{
background: #568C41;
color: #fff;
}
td{
padding: 9px 5px;
}
td i{
padding: 7px;
color: #fff;
border-radius: 50px;
}
.product-details table tbody td:last-child{
white-space: nowrap;
/* overflow: scroll;
max-height: 200px; */

}
.fa-eye{
background: #32bea6;
cursor: pointer;
}
.fa-edit{
background: #63b4f4;
cursor: pointer;
}
.fa-trash-alt{
background: #ed5564;
cursor: pointer;
}





@media(max-width:1090px){
.sidebar{
width: 60px;
}
.main{
width: calc(100% -60px);
left: 60px;

}
.top-bar{
width: calc(100% -60px);
}
}
@media(max-width:860px){
.cards{
/* grid-template-columns: repeat(1, 1fr); */
grid-template-columns: 1fr;
}
.tables{
grid-template-columns: 1fr;
}

}
@media(max-width:530px){
.cards{
grid-template-columns: 1fr;
} 
.product-details td:nth-child(3){
display: none;

}
}
@media(max-width:420px){
.product-details .product-holding{
font-size: 70%;
padding: 10px;
min-height: 200px;
}
.cards, .tables{
padding: 10px;

}
.search input{
padding: 0 10px;
}
.user{
width: 40px;
height: 40px;
}
}



.input-row {
display: flex;
justify-content: space-between;
margin-bottom: 10px;
}
.input-row .input-group {
flex-basis: 45%;
margin-left:5%; 

}
input,select{
width: 100%;
/* border-radius: 7px;  */
height:30px
/* border-bottom-left-radius: 7px;
border-radius: 7px;  */

}


.input-row1 {
/* flex-basis: 45%; */
width: 44.5%;
margin-left:2.8%; 
}

.holds{
overflow: scroll;
max-height: 200px;
}
.bottom-box{
white-space: nowrap;
width: 100%;
margin-top: 10%;
}
/* .card .label-content{
margin-left: -1px;
border-top-left-radius: 7px;
border-bottom-left-radius: 7px;
border-radius: 7px; 
} */
/* .input-group {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
} */