
<!-- <p>stocktransfer works!</p> -->
<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
<meta charset="UTF-8">
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">

<div class="main">

<!-- end top-bar -->
    

<div class="cards">
<div class="card">
<div class="card-content" style="margin: 10px;">

<div class="label-content">

<div class="input-row">

<div class="input-group">
  
<label>Intent Number</label><br/>
<input type="text" [(ngModel)]="intentNumber" name="intentNumber" >
</div>

<div class="input-group">
<label>Date</label><br/>
<input type="date" name="date" [(ngModel)]="date" name="date" >
</div>
<div class="input-group">
<label>To Branch</label><br/>
<select class="option" [(ngModel)]="toBranch" name="toBranch" required>
<option selected="true" disabled>
--Choose the branch--
</option>
<option *ngFor="
let branch of branches ;
index as i" value="{{branch.branchCode}}">{{branch.branchName}}</option>
<!-- <option value="5">KTYM3</option>
<option value="12">BORMA</option> -->
</select>
</div>
<div class="input-group">
<label>Item Name</label><br/>
<input type="text" [(ngModel)]="itemName" name="itemName" (click)="onKeypressEventItem()" >
</div>
</div>

<div class="input-row">
<div class="input-group">
<label>Barcode</label><br/>
<input type="text" [(ngModel)]="barcode" name="barcode" >
</div>
<!-- </div> -->

<!-- <div class="input-row"> -->
<div class="input-group">
<label>Unit</label><br/>
<input type="text"[(ngModel)]="unit" name="unit" >
</div>
<div class="input-group">
<label>Quantity</label><br/>
<input type="text" [(ngModel)]="qty" name="qty" >
</div>
<div class="input-group">
<label>Batch</label><br/>
<input type="text" [(ngModel)]="batch" name="batch" >
</div>
</div>
<div class="input-row1">
<div class="input-row">
<div class="input-group">
<label>Rate</label><br/>
<input type="text" [(ngModel)]="rate" name="rate" >
</div>
</div>
</div>
</div>
</div>
<div class="card-content" style="margin: 10px;">
<div class="number">
</div>
<div class="card-name" style="margin: 10px;">
<a class="btn" (click)="addStockTransfer()">Add</a>
</div>
</div>
</div>
</div>

<!-- end card -->

<div class="tables">
<div class="product-details">
<div class="heading">
<h2>Product Details</h2>
</div>
<table class="details">
<thead>
<td>Item Name</td>
<td>Barcode</td>
<td>Batch </td>
<td>Rate </td>
<td>Qty</td>
<td>MRP</td>
<td>Amount</td>
<td>Action</td>

</thead>
<tbody>

<tr *ngFor="
let temp of stocktransdetail ;
index as i " >
<!-- <td>{{temp.itemId.itemName}}</td> -->
<td>{{temp.itemId}}</td>
<td>{{temp.barcode}}</td>
<td>{{temp.batch}}</td>
<td>{{temp.rate}}</td>
<td>{{temp.qty}}</td>
<td>{{temp.mrp}}</td>
<td>{{temp.amount}}</td>

<td>
<!-- <i class="far fa-eye"></i> -->
<!-- <i class="far fa-edit"></i> -->
<i class="far fa-trash-alt" (click)="deleteStockTranferDtlRow(temp.id)"></i>
</td>
</tr>
</tbody>
</table>

<div class="cards" style="margin-top: -55px;">
<!-- <div class="card"> -->
<!-- <div class="card-content" style="margin: 10px;"> -->

<div class="bottom-box" >
<div class="input-row">
<div class="input-group" >

<div class="number"> Total Amount
<input type="text" [(ngModel)]="sumAmount" name="totalAmount" >
</div>
</div>
<!-- <div class="card-content" style="margin: 10px;"> -->
<div class="number">
</div>
<!-- <div class="card-name" style="margin: 10px;"> -->
<a class="btn" (click)="finalSaveStockTransfer()">Final Save </a>

</div>
<!-- </div> -->
<!-- </div> -->
<!-- </div> -->
</div>
</div>
</div>

<div class="product-holding">
<div class="heading">
<h2>Holding </h2>
<a class="btn"(click)="holdStockTransfer()">Hold</a>
<a class="btn"(click)="unholdStockTransfer()">Unhold</a>
</div>
<table class="holding">
<div class="holds">
<thead>
<td>To Branch</td>
</thead>
<tbody>
<tr *ngFor="
let name of showAllUnholded ;
index as i " >
<td (click)= "getunholdedDtl(name)"> {{name.toBranch}} </td>
</tr>
<!-- <tr>
<td>KTYM3 </td>
</tr>
<tr>
<td>KTRA1 </td>
</tr>
<tr>
<td>BKRY </td>
</tr> -->
</tbody>
</div>
</table>
</div>
</div>

<!-- <div class="cards" style="margin-top: -29px;">
<div class="card">
<div class="card-content" style="margin: 10px;"> -->
<!-- <div class="bottom-box"></div> -->
<!-- <div class="number"> Total Amount
<input type="text" [(ngModel)]="sumAmount" name="totalAmount" >
</div>
</div>
<div class="card-content" style="margin: 10px;">
<div class="number">
</div>
<div class="card-name" style="margin: 10px;">
<a href="#" class="btn" (click)="finalSaveStockTransfer()">Final Save</a>
</div>
</div>
</div>
</div> -->

<!-- second card end -->

</div>
</div>
</body>
</html>
