
<!doctype html>
<html class="no-js" lang="">


<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
  <link rel="shortcut icon" href="https://i.imgur.com/QRAUqs9.png">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
  <link rel="stylesheet" href="/../assets/css/cs-skin-elastic.css">

  <link rel="stylesheet" href="/../assets/css/style.css">

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>



</head>

<body>
  
  <input type="checkbox" id="menu">
   
  <div id="right-panel" class="right-panel" >
   
    <div class="breadcrumbs">
      <div class="breadcrumbs-inner">
        <div class="row m-0">
          <div class="col-sm-4">
            <div class="page-header float-left">
              <div class="page-title">
                <h1>Dashboard</h1>
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="page-header float-right">
              <div class="page-title">
                <ol class="breadcrumb text-right">
                  <li><a href="#">Dashboard</a></li>
                  <li><a href="#">Master</a></li>
                  <li class="active">Item Creation</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content">
     
      <div class="animated fadeIn">

        <div class="row">
          <div class="col-xs-6 col-sm-6">
            <div class="card">
              <div class="card-header">
                <strong>Detail Entry</strong> 
              </div>
              <div class="card-body card-block">
                <div class="form-group">
                 
                  <label class=" form-control-label">Item Name</label>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                    <input   class="form-control"  [ngClass]="itemName =='' ? 'is-invalid form-control' : 'is-valid form-control-success form-control'"  type="text" [(ngModel)]="itemName" name="itemName" [(ngModel)]="search" required >
                  </div>
                  <small class="form-text text-muted">ex. Cake</small>
                </div>
                <!-- <div class="form-group">
                  <label class=" form-control-label">Item ID</label>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-check-square-o"></i></div>
                    <input class="form-control" [(ngModel)]="itemidaftersave" name="itemidaftersave" 
                      onkeydown="return false">
                  </div>
                  <small class="form-text text-muted">ex. auto generate</small>
                </div> -->
                <div class="form-group">
                  <label class=" form-control-label">Tax Rate</label>
                  <div class="input-group">
                   
                 <select   id="select" [ngClass]="taxRate =='' ? 'is-invalid form-control' : 'is-valid form-control-success form-control'"  data-placeholder="Choose the tax rate..." class="form-control" name="taxRate" [(ngModel)]="taxRate" name="taxRate" required style="background-image:linear-gradient(45deg, transparent 50%, gray 50%),linear-gradient(135deg, gray 50%, transparent 50%),linear-gradient(to right, #ccc, #ccc);background-position:calc(100% - 20px) calc(1em + 2px),calc(100% - 15px) calc(1em + 2px),calc(100% - 2.5em) 0.5em;background-size:5px 5px,5px 5px,1px 1.5em; background-repeat: no-repeat;">
                       <option value="5">5%</option>
                      <option value="12">12%</option>
                      <option value="18">18%</option>
                      <option value="28">28%</option>
                    </select>
                  </div>
                  <small class="form-text text-muted">ex. select tax</small>
                </div>
                <div class="form-group">
                  <label class=" form-control-label">HSN Code</label>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                    <input class="form-control" [ngClass]="hsnCode =='' ? 'is-invalid form-control' : 'is-valid form-control-success form-control'"  [(ngModel)]="hsnCode" name="hsnCode">
                  </div>
                  <small class="form-text text-muted">ex. HSNCODE01</small>
                </div>
                <div class="form-group">
                  <label class=" form-control-label">Best before</label>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                    <input class="form-control" type="number" [ngClass]="bestBefore =='' ? 'is-invalid form-control' : 'is-valid form-control-success form-control'" [(ngModel)]="bestBefore" name="bestBefore">
                  </div>
                  <small class="form-text text-muted">ex. 74</small>
                </div>
                <div class="form-group">
                  <label class=" form-control-label">Category</label>
                  <div class="input-group">
                   
                    <select class="form-control" [ngClass]="categoryId =='' ? 'is-invalid form-control' : 'is-valid form-control-success form-control'" [(ngModel)]="categoryId" name="categoryId" required style="background-image:linear-gradient(45deg, transparent 50%, gray 50%),linear-gradient(135deg, gray 50%, transparent 50%),linear-gradient(to right, #ccc, #ccc);background-position:calc(100% - 20px) calc(1em + 2px),calc(100% - 15px) calc(1em + 2px),calc(100% - 2.5em) 0.5em;background-size:5px 5px,5px 5px,1px 1.5em; background-repeat: no-repeat;">
                      <option disabled="disabled" selected="category">
                        --category Format--
                      </option>
                      <option *ngFor="let name of categoryMst; let i = index" [value]="name.id">
                        {{ name.categoryName }}
                      </option>
                    </select>
                  </div>
                  <small class="form-text text-muted">ex. Select Category</small>
                </div>
                <div class="form-group">
                  <label class=" form-control-label">Barcode Format</label>
                  <div class="input-group">
                   
                    <select class="form-control" [ngClass]="barcodeFormat =='' ? 'is-invalid form-control' : 'is-valid form-control-success form-control'" [(ngModel)]="barcodeFormat" name="barcodeFormat" required style="background-image:linear-gradient(45deg, transparent 50%, gray 50%),linear-gradient(135deg, gray 50%, transparent 50%),linear-gradient(to right, #ccc, #ccc);background-position:calc(100% - 20px) calc(1em + 2px),calc(100% - 15px) calc(1em + 2px),calc(100% - 2.5em) 0.5em;background-size:5px 5px,5px 5px,1px 1.5em; background-repeat: no-repeat;">
                      <option disabled="disabled" selected="barcodeformat">
                        --Barcode Format--
                      </option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                    </select>
                  </div>
                  <small class="form-text text-muted">ex. Select Barcode</small>
                </div>
                <!-- <div class="row form-group">
                  <div class="col col-md-3"><label for="file-input" class=" form-control-label">Image</label></div>
                  <div class="col-12 col-md-9"><input type="file" id="file-input" name="file-input"
                      class="form-control-file"></div>
                </div>
                <small class="form-text text-muted">ex.item image (Optional)</small> -->

              </div>
            
             
              <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm" (click)="submitForm()">
                  <i class="fa fa-dot-circle-o"></i> Submit
                </button>
                <button type="reset" class="btn btn-danger btn-sm" (click)="clear()">
                  <i class="fa fa-ban"></i> Reset
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header">Detail Entry </div>
              <div class="card-body card-block">
                <form action="#" method="post" class="">

                  <div class="form-group">
                    <label class=" form-control-label">Selling Price</label>
                    <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                      <input class="form-control" type="number" [ngClass]="standardPrice =='' ? 'is-invalid form-control' : 'is-valid form-control-success form-control'" [(ngModel)]="standardPrice" name="standardPrice">
                    </div>
                    <small class="form-text text-muted">ex.Rs.200</small>
                  </div>
                  <div class="form-group">
                    <label class=" form-control-label">State Cess</label>
                    <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                      <input class="form-control" type="number" [ngClass]="cess =='' ? 'is-invalid form-control' : 'is-valid form-control-success form-control'" [(ngModel)]="cess" name="cess">
                    </div>
                    <small class="form-text text-muted">ex. 20</small>
                  </div>
                  <div class="form-group">
                    <label class=" form-control-label">Re order waiting period</label>
                    <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                      <input class="form-control" type="number" [ngClass]="reorderWaitingPeriod =='' ? 'is-invalid form-control' : 'is-valid form-control-success form-control'" [(ngModel)]="reorderWaitingPeriod" name="reorderWaitingPeriod">
                    </div>
                    <small class="form-text text-muted">ex. 4</small>
                  </div>
                
                  <div class="form-group">
                    <label class=" form-control-label">Barcode</label>
                    <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-check-square-o" (click)="barcodeForm()"></i></div>
                      <input class="form-control"  [ngClass]="barcd =='' ? 'is-invalid form-control' : 'is-valid form-control-success form-control'"
                      [(ngModel)]="barcd" name="barcd" id="txtbarcode"  required>
                    </div>
                    <small class="form-text text-muted">ex. Auto generate</small>
                  </div>
                  <div class="form-group">
                    <label class=" form-control-label">Units selection</label>
                    <div class="input-group">
                      
                      <select class="form-control" [ngClass]="unitId =='' ? 'is-invalid form-control' : 'is-valid form-control-success form-control'" name="unitId" [(ngModel)]="unitId" required style="background-image:linear-gradient(45deg, transparent 50%, gray 50%),linear-gradient(135deg, gray 50%, transparent 50%),linear-gradient(to right, #ccc, #ccc);background-position:calc(100% - 20px) calc(1em + 2px),calc(100% - 15px) calc(1em + 2px),calc(100% - 2.5em) 0.5em;background-size:5px 5px,5px 5px,1px 1.5em; background-repeat: no-repeat;">
                        <option disabled="disabled" selected="unit">
                          --Unit Format--
                        </option>
                        <option *ngFor="let unit of unitMst; let i = index" [value]="unit.id">{{unit.unitName}}</option>
                      </select>
                    </div>
                    <small class="form-text text-muted">ex. Select unit</small>
                  </div>
                  <div class="form-group">
                    <label class=" form-control-label">ItemCode</label>
                    <div class="input-group">
                      <div class="input-group-addon" ><i class="fa fa-check-square-o"(click)="itemCodeForm()"></i></div>
                      <input  class="form-control"  [ngClass]="itemcd =='' ? 'is-invalid form-control' : 'is-valid form-control-success form-control'" [(ngModel)]="itemcd"
                      name="itemcd" required>
                    </div>
                    <small class="form-text text-muted">ex.Auto generate just click</small>
                  </div>
                  <div class="form-actions form-group"><button type="submit"
                      class="btn btn-success btn-sm" (click)="submitForm()">Submit</button>
                    </div>
                    
                      <div class="row"  *ngIf="showMsg">
                        <div class="alert alert-success">
                        <button type="button" aria-hidden="true" class="close" onclick="this.parentElement.style.display='none';">×</button>
                        <span><b> Success - </b> Details Saved Successfully!!!</span>
                       </div>
                  </div>

                  <div class="row" *ngIf="notSaveMsg">
                    <div class="alert alert-warning">
                    <button type="button" aria-hidden="true" class="close" onclick="this.parentElement.style.display='none';">×</button>
                    <span><b> Warning - </b> Details cannot be saved!!!</span>
                    </div>
                  </div>

                  <!-- <div class="row" *ngIf="">
                    <div class="alert alert-info">
                    <button type="button" aria-hidden="true" class="close" onclick="this.parentElement.style.display='none';">×</button>
                    <span><b> Info - </b> Autogenerate barcode or item code in a click!!!</span>
                    </div>
                  </div> -->

                </form>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <strong class="card-title">Data Table</strong>
              </div>
 
            <div class="row">
             <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="bootstrap-data-table_length" style="margin-top: 20px;">
                <label style="margin-left: 26px;">Search : <input type="search" class="form-control form-control-sm" id="myInput"
                  onkeyup="myFunction()"
                  [(ngModel)]="search"
                  placeholder="Search for items.." aria-controls="bootstrap-data-table" style="width: 289px;
                  display: inline-block;margin-top: 2px;"></label>
              </div>
            </div>

          </div>
              <div class="card-body">
                <table id="table.dataTable" class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th> Item Name <i class="fa fa-long-arrow-up" aria-hidden="true" (click)="sortasc()"
                          style="bottom: 0.9em;opacity: 0.3;cursor: pointer;"></i>
                        <i class="fa fa-long-arrow-down" aria-hidden="true" (click)="sortdesc()"
                          style="cursor: pointer; bottom: 0.9em; "></i>

                      </th>
                      <th>Category</th>
                      <th>Unit</th>
                      <th>Price</th>
                      <th>Tax</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="
                            let tempItemMstDtl of itemMstDtl | filter: search;
                       
                                 " (click)="highlightRow(tempItemMstDtl)">
                    
                      <td>{{ tempItemMstDtl.itemName }}</td>
                      <td>{{ getParentNameById(tempItemMstDtl.categoryId) }}</td>
                      <td>{{ getUnitNameById(tempItemMstDtl.unitId) }}</td>
                      <td>{{ tempItemMstDtl.standardPrice }}</td>
                      <td>{{ tempItemMstDtl.taxRate }}</td>
                   
                  </tbody>
                </table>
              </div>
             
            </div>
          </div>


        </div>
      </div>
   
      <!-- .animated -->
    </div><!-- .content -->


    <div class="clearfix"></div>

    <footer class="site-footer">
      <div class="footer-inner bg-white">
        <div class="row">
          <div class="col-sm-6">
            Copyright &copy; 2019 MapleERP
          </div>

        </div>
      </div>
    </footer>

  </div>
  
  
  <!-- /#right-panel -->

  <!-- Right Panel -->

</body>

</html>