table{
    border-collapse: collapse;
    width:100%;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 tbody tr:hover {
    background-color:lightgreen;
}
thead{
    color:white;
    background: #246c03;
    /* background: rgb(16, 70, 105); */
}



button{
    background: rgb(16, 70, 105);
    color: white;
    font-weight: bold;
    margin-left: 5px;
    border-radius: 7px;
    height: 30px;
    width: 70px;
}
input{
    border-radius: 5px;
    margin-top: 5px;
    height: 30px;
}
