

  <div>
    <input matInput placeholder="ProductName" [(ngModel)]="searchfiled"
    (keyup)="onKeypressEvent($event)"  name="itemname" >
   
    <!-- <form [formGroup]="addQtyGroup"> -->
    
        <!-- <input matInput type="number" placeholder="QTY" [(ngModel)]="productQty"  formControlName="productQty" OnlyNumber="true"
      (keyup)="onKeypressEvent($event)"  name="productQty"> -->
        
      <!-- <button class="submitBtn"  (click)="submitBtn(productQty) ">Add</button> -->
      <button class="close"  (click)="close() ">Close</button>

    <!-- </form> -->
  </div>
    
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-bordered table-striped mb-0" id="contentToConvert">
          <thead #txtInput>
            <tr>
              <th [ngClass]="'header'" scope="col">SL NO</th>
              <th [ngClass]="'header'" scope="col">itemName</th>
              <th [ngClass]="'header'" scope="col">itemCode</th>         
              <th [ngClass]="'header'" scope="col">Bar Code</th>               
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let names of tdatas   | filter:searchfiled ;index as i " (click)="highlightRow(names)"
            (keyup)="highlightRow(names)" (keydown)="highlightRow(names)"  >
              <td>{{i+1}}</td>
              <td (keyup.enter)="keytab(names)">{{ names.itemName }}</td>
              <td >{{ names.itemCode}}</td>       
              <td>{{names.barCode}}</td>
              <!-- <td (keyup.enter)="keytab(names)">{{ names.name }}</td> -->
            <!-- <td >{{ names.itemName}}</td>
            <td >{{ names.itemCode}}</td>
            <td>{{names.borma}}</td> -->      
            </tr>
          </tbody>
      </table>    
    </div>
      
   
