<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <!-- <div style="padding: 3%"></div> -->
      <br /><br /><br /><br />

      <h1>PURCHASE CONSOLIDATED REPORT</h1>
      <div class="item-box">
        <div class="item-left">
          <form>
            <div class="input-row">
              <div class="input-group">
                <label>From Date</label><br />
                <input
                  type="date"
                  [(ngModel)]="fromdate"
                  name="fromdate"
                  required
                />
              </div>
              <div class="input-group">
                <label>To Date</label><br />
                <input
                  type="date"
                  [(ngModel)]="todate"
                  name="todate"
                  required
                />
              </div>
            </div>
            <div class="input-row">
              <div class="input-group">
                <label>Branch</label><br />
                <select
                  class="option"
                  name="branch"
                  [(ngModel)]="branchname"
                  required
                >
                  <option disabled="disabled" selected="branch">
                    --branch name--
                  </option>
                  <option
                    *ngFor="let name of branch; let i = index"
                    [value]="name.branchCode"
                  >
                    {{ name.branchName }}
                  </option>
                </select>
              </div>
            </div>

            <div class="input-row">
              <div class="buttons">
                <button
                  class="button submitbtn"
                  type="submit"
                  (click)="submit()"
                >
                  Generate Report
                </button>
                <button
                  class="button showallbtn"
                  (click)="renderPdf()"
                  [ngClass]="'downloadexcel'"
                  style="
                    color: #fff;
                    background: #7ed321;

                    border-radius: 4px;
                    text-decoration: none;
                    transition: all 0.3s ease;
                  "
                >
                  Print Report
                </button>
                <button class="button clearbtn" type="reset">Clear</button>
              </div>
            </div>
          </form>
        </div>
        <div class="item-right">
          <div class="fixTableHead">
            <table class="item-table" id="contentToConvert">
              <thead>
                <tr>
                  <th>Sl No.</th>
                  <th>Invoice Date</th>
                  <th>Item Name</th>
                  <th>Quantity</th>
                  <th>Supplier</th>
                  <th>Total Price</th>
                  <th>Batch</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let name of purchaseReport; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ name.voucherDate }}</td>
                  <td>{{ name.itemName }}</td>
                  <td>{{ name.qty }}</td>
                  <td>{{ name.supplierName }}</td>
                  <td>{{ name.amountTotal | number: "1.2-2" }}</td>
                  <td>{{ name.batch }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
