
<link
  href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
  rel="stylesheet"
/>
<link
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet"
  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
  crossorigin="anonymous"
/>

<section class="home-section">
 

  <!-- inside home page -->
  
  <div class="home-content">


    <div class="overview-boxes">
     

      <div class="box">
        <h3 style="font-size:30px; text-align: center; margin-top: 12px; font-weight: bold;color: green;">WHOLESALE WINDOW</h3><br>
        <div class="right-side" style="display: flex;">
          <div class="box-topic">Sales Type</div>
        
        <div class="indicator">
          <select
          class="option"
          name="salesType"
          formControlName="salesType"
          required
        >
          <option disabled="disabled" selected="salesType">
            --select the sales Type--
          </option>
          <option
            *ngFor="let name of salestypeMst; let i = index"
            [value]="name.salesType"
          >
            {{ name.salesType }}
          </option>
        </select>
        <!-- <input style="width: 236px; margin-right: 61px;"/> -->
        
        </div>
        <div class="box-topic" >Item Name</div>
        
        <div class="indicator">
        
        <input
        class="form-control selectProduct" style="width: 236px; margin-right: 61px;" 
        [(ngModel)]="selectProduct"
        placeholder="Search Item"
        (keyup)="onKeypressEvent($event)"
        (click)="onKeypressEvent($event)"
        name="branchname"
        />
        </div>
        <div class="box-topic" style="margin-bottom: 10px;" >Shipping Details</div>
          
        <div class="indicator">
        
        
        <input  class="form-control customer" style="width: 236px;"  placeholder="Enter Shipping Address"
    (keyup)="onKeypressEventForShippingAdd()" (click)="onKeypressEventForShippingAdd()">
        </div>

        </div>
        <div class="right-side">
          
  
  
          </div>
       
        </div>
        </div>
    
  

<!-- inside table-page -->
<div class="sales-boxes">
  <div class="recent-sales box">
  <div class="title">BILLING DETAILS</div>
  <div class="sales-details">
  <!-- table -->
  <div
  class="table-container table-wrapper-scroll-y my-custom-scrollbar"
  >
  <table class="table table-bordered table-striped mb-0">
  <thead>
  <tr>
  <th>No</th>
  <th>ITEM NAME</th>
  <th>BAR CODE</th>
  <th>HSN Code</th>
  <th>QTY</th>
  <th>TAX RATE</th>
  <th>MRP</th>
  <th>AMOUNT</th>
  <th>BATCH</th>
  <th>EXPIRY</th>
  <th colspan="2">#</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let names of addingToTable; index as i">
  <td>{{ i + 1 }}</td>
  <td>{{ names.itemName }}</td>
  <td>{{ names.barCode }}</td>
  <td>{{ names.hsnCode }}</td>
  <td>
  {{ names.qty }}
  </td>
  <td>{{ names.taxRate }}</td>
  <td>{{ names.standardPrice }}</td>
  <td>{{ names.Amount }}</td>
  <td>{{ names.unitPrice }}</td>
  <td>{{ names.unitsInStock }}</td>
  <td>{{ names.name }}</td>
  
  <button
  mat-icon-button
  matTooltip="Click to Delete"
  class="iconbutton btn"
  (click)="deleteTabledata(i)"
  color="warn"
  >
  <mat-icon>delete</mat-icon></button
  ><button
  mat-icon-button
  matTooltip="Click to edit"
  class="iconbutton btn"
  (click)="editQty(i)"
  color="warn"
  >
  <mat-icon>edit</mat-icon>
  </button>
  </tr>
  </tbody>
  </table>
  </div>
  </div>
  <div class="button"></div>
  </div>
  </div>

    <div class="home-card">
      <!-- first-row -->
      <div class="card-boxes">
        <div class="recent-card box">
          <div class="title">Card Payment</div>
          <div class="card-details">
            <!-- 
-->
            <ul class="top-card-details">
              <li>
                <span class="product">Card Number</span>
                <span class="totalAmount"
                  ><input type="text" placeholder="Card Number" required
                /></span>
              </li>
              <li>
                <span class="product">Card Type</span>
                <span class="totalAmount"
                  ><input type="tel" placeholder="Card CVC" required
                /></span>
              </li>
            </ul>
          </div>
          <div class="button">
            <button class="button button1">PAY NOW</button>
          </div>
        </div>

        <!-- payment -->
        <div class="top-payment box">
          <div class="title">Payment Details</div>
          <ul class="top-payment-details">
            <li>
              <span class="product">Cash To Pay In RS</span>
              <span class="totalAmount">{{ totalAmount }}/-</span>
            </li>
            <li>
              <span class="product">Paid</span>
              <input
                type="text"
                [(ngModel)]="paidAmount"
                name="paidAmount"
                (keyup.enter)="finalBalance(paidAmount)"
              />
            </li>

            <div class="button">
              
              <button class="button button1" (click)="billAndTaxPreview(addingToTable)">
                Bill Preview</button
              >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button  class="button button1" (click)="finalSubmit(addingToTable)">
                Generate Bill
              </button>
            </div>
          </ul>
        </div>

 <!-- shipping address -->
 <div class="top-payment box">
  <div class="title">Shipping Address</div>
  <ul class="top-payment-details">
    <li>
      <span class="product">Name :</span>
      <span class="customerDetails">{{ ShippingAdress.shippingAddressName }}</span>
    </li>
    <li>
      <span class="product">Address :</span>
      <span class="customerDetails">{{ShippingAdress.address}}</span>
    </li>
    <li>
      <span class="product">Address :</span>
      <span class="customerDetails">{{ ShippingAdress.state}}</span>
    </li>
       <li>
      <span class="product">Moblie Number :</span>
      <span class="customerDetails">{{ ShippingAdress.phoneNumber }}</span>
    </li>
    <li>
      <span class="product">Moblie Number :</span>
      <span class="customerDetails">{{ ShippingAdress.phoneNumber }}</span>
    </li>
        </ul>
        <div class="button" >
        
          <button class="button button1" [disabled]="!isCustomerSelected" (click) ="onKeypressEventForShippingDtl($event)">Shipping Address</button>
        </div>
</div>
<!-- customer detailes -->
<div class="top-payment box">
  <div class="title">Customer Details</div>
   <ul class="top-payment-details">
    <li>
      <span class="product">Name :</span>
      <span class="customerDetails">{{ receivecust.customerName }}</span>
    </li>
        <li>
      <span class="product">State :</span>
      <span class="customerDetails">{{ receivecust.customerState }}</span>
    </li>
    <li>
      <span class="product">Gst No :</span>
      <span class="customerDetails">{{ receivecust.customerGst }}</span>
    </li>
    <li>
      <span class="product">Phone:</span>
      <span class="customerDetails">{{ receivecust.customerContact }}</span>
    </li>
        </ul>

        <div class="button">

          <button class="button button1" (click) ="onKeypressEventForSelectCustmer()">Select Customer</button>
         
        
       
          
        </div>
</div>

      </div>
    </div>
  </div>
</section>



