/* 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} */
.home-section {
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
   width: calc(100% - 0px);
   z-index: 2; 
  margin-top: 5%;
  /* left: 210px; */
  transition: all 0.5s ease;
  }
  

  .home-section nav .poswindow {
  margin-left: 100px;
  }
  .button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    font-weight: 400;
    width: 137px;
    height: 10px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  .home-section .home-content {
  position: relative;
  /* padding-top: 1%; */
  }
  .home-section .home-card {
  position: relative;
  padding-top: 10px;
  }
  .home-content .overview-boxes {
    padding: 11px 20px;
    margin-bottom: 26px;
    width: 365%;

  }
  .overview-boxes .box {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 15px);
  background: #fff;
  padding: 15px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .home-content .sales-boxes {
  /* display: flex; */
  justify-content: center;
  }
  .home-card .card-boxes {
  display: flex;
  justify-content: center;
  }
  .home-card .card-boxes .recent-card {
  width: 35%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* left box */
  .home-content .sales-boxes .recent-sales {
  width: 85%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .home-content .sales-boxes .sales-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
  .sales-boxes .box .title {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  /* margin-bottom: 10px; */
  }
  .home-card .card-boxes .card-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
  .card-boxes .box .title {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  }
  
  /* .sales-boxes .box .button{
  width: 100%;
  display: flex;
  justify-content: flex-end;
} */
/* .sales-boxes .box .button a{
  color: #fff;
  background: #0A2558;
  padding: 4px 12px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
} */
/* .sales-boxes .box .button a:hover{
  background:  #0d3073;
} */
  /* .card-boxes .box .button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  }
  .card-boxes .box .button a {
  color: #fff;
  background: #0a2558;
  padding: 4px 10px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
  }
  
  .card-boxes .box .button a:hover {
  background: #0d3073;
  } */
  /* payment box */
  .home-content .card-boxes .top-payment {
  width: 35%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px 0 0;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .card-boxes .top-payment li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  }
  
  .card-boxes .top-payment li .totalAmount {
  font-size: 17px;
  font-weight: 400;
  color: rgb(143, 44, 44);
  }
  
  .card-boxes .top-payment li .product {
  font-size: 17px;
  font-weight: 400;
  color: #333;
  }
  
  .card-boxes .top-card li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  }
  
  .card-boxes .top-card li .totalAmount {
  font-size: 17px;
  font-weight: 400;
  color: rgb(143, 44, 44);
  }
  .card-boxes .top-card li .product {
  font-size: 17px;
  font-weight: 400;
  color: #333;
  }
  .card-boxes .top-card li .customerDetails {
  font-size: 17px;
  font-weight: 400;
  color: rgb(6, 94, 18);
  }
  .card-boxes .card-details input {
  height: 30px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  }
  
  .card-boxes .top-payment input {
  height: 30px;
  width: 50%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  }
  
  .table-container {
  background-color: #fff;
  width: 80%;
  }
  .table {
  width: 125%;
  border-collapse: collapse;
  }
  .table thead {
  background-color: #3b6d05;
  }
  .table thead tr th {
  font-size: 14px;
  
  letter-spacing: 0.35px;
  color: #fff;
  opacity: 1;
  font-weight: 600;
  padding: 12px;
  vertical-align: top;
  border: 1px solid #dee2e685;
  }
  .table tbody tr td {
  font-size: 14px;
  letter-spacing: 0.35px;
  font-weight: normal;
  color: #000;
  background-color: #fff;
  padding: 8px;
  text-align: center;
  border: 1px solid#dee2e685;
  }
  .table tbody tr td .btn {
  width: 20px;
  text-decoration: none;
  line-height: 35px;
  display: inline-block;
  background-color: #df2605;
  font-weight: medium;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 14px;
  opacity: 1;
  }
  .table tbody tr td .btn1 {
  width: 20px;
  text-decoration: none;
  line-height: 35px;
  display: inline-block;
  background-color: #246c03;
  font-weight: medium;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border-radius: 2%;
  border: 1px solid transparent;
  font-size: 14px;
  opacity: 1;
  }
  td {
  white-space: pre-line;
  word-break: break-all;
  }
  
  /* home-card card-boxes */
  
  
  
  
  
  
  
  
  
  
  /* Responsive Media Query */
  @media (max-width: 1240px) {
  .sidebar {
  width: 60px;
  }
  .sidebar.active {
  width: 220px;
  }
  .home-section {
  width: calc(100% - 60px);
  left: 60px;
  }
  .sidebar.active ~ .home-section {
  /* width: calc(100% - 220px); */
  overflow: hidden;
  left: 220px;
  }
  .home-section nav {
  width: calc(100% - 60px);
  left: 60px;
  }
  .sidebar.active ~ .home-section nav {
  width: calc(100% - 220px);
  left: 220px;
  }
  }
  @media (max-width: 1150px) {
  .home-content .sales-boxes {
  flex-direction: column;
  }
  .home-content .sales-boxes .box {
  width: 100%;
  overflow-x: scroll;
  margin-bottom: 30px;
  }
  .home-content .sales-boxes .top-sales {
  margin: 0;
  }
  }
  @media (max-width: 1000px) {
  .overview-boxes .box {
  width: calc(100% / 2 - 15px);
  margin-bottom: 15px;
  }
  }
  @media (max-width: 700px) {
  nav .sidebar-button .poswindow,
  nav .profile-details .admin_name,
  nav .profile-details i {
  display: none;
  }
  .home-section nav .profile-details {
  height: 50px;
  min-width: 40px;
  }
  .home-content .sales-boxes .sales-details {
  width: 560px;
  }
  }
  @media (max-width: 550px) {
  .overview-boxes .box {
  width: 100%;
  margin-bottom: 15px;
  }
  .sidebar.active ~ .home-section nav .profile-details {
  display: none;
  }
  }
  /* .btn {
  line-height: 0;
  height: 0;
  } */
  







































































