.one
{
    padding:1%;
margin-left:1%;
font-size:70%;
}
.two
{
    color: #fff;
background: #0a2558;
padding: 4px 12px;
font-size: 15px;
font-weight: 400;
border-radius: 4px;
text-decoration: none;
transition: all 0.3s ease;
left: 2%;
    top: -5px;
   
   
}

h1 {
    height: 90px;
    /* background: #16a085; */
    border-radius: 5px 5px 0 0;
    color: #000;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    
    }

.dayendsummary
{
    height:35%;
    width:45%;
    font-size:60%;
    margin-left:2%;
}
.dayend
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100%;
    font-weight: bold;
    margin-left: 2%;
}

.salessummary
{
    height:800px;
    width:700px;
    font-size: 12px;
    position:relative; 
    left:800px;
    bottom:845px;
}

.sales
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: bold;
    
    position:relative; 
    left:800px;
    bottom:845px; 
}
.header{
    position:sticky;
    top:0;
    background-color: white;
   
  
}
.reportstatus
{
    font-size: 14px;
   
    position:relative;
    left:475px;
    bottom:50px;
    opacity: .5;
    }
    .grandtotal
    {
        font-weight: bold;
        background-color: white;
    }
    .reportdate
    {
        height: 5px;
        width: 200px;
        font-weight: bold;
    }
    .downloadexcel
{
    color: #fff;
    background-color: #7ed321;
   padding: 4px 12px;
   font-size: 15px;
   font-weight: 400;
    border-radius: 4px;
    text-decoration: none;
     transition: all 0.3s ease;
     left: 2%;
    top: -5px;
   
}
.reportstatus
    {
        font-size: 14px;
       
        position: relative;
        left:40%;
        top:auto;

      
      
        opacity: .8;
        } 

.graph
{
    width: 50%;
    height: 90%;
    margin-left: 50%;
    position:sticky;
    margin-top: -15%;
    
} 
.size
{
    width: 75%;
}       

@media (max-width: 800px) {
    .container {
    width: 100%;
    }
     h1{
        font-size: 18px;
      }
      .two{
          margin-bottom: 32px;
      }
      
    }

    