<!-- 
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">

      <br /><br /><br /><br />
     
      <h1 >DAY END REPORT WINDOW</h1>
      <div class="item-box">
        <div class="item-left">
          <form>
            <div class="input-row">
              <div class="input-group">
                <label>Report Date</label><br />
                <input
                  type="date"
                  [(ngModel)]="reportdate" name="reportdate"
                  required
                />
              </div>

            </div>
           
           

            <div class="input-row">
              <div class="buttons">
                <button
                  class="button submitbtn"
                  type="submit"
                  (click)="getDayEndReports()" [ngClass]="'two'"
                >
                  Generate Report
                </button>
                <button
                  class="button showallbtn"
                  (click)="renderPdf()" [ngClass]="'downloadexcel'"  [disabled]="getexcelReportStatus ===false"
                 style="color: #fff;
                 background: #7ed321;
                 
                 border-radius: 4px;
                 text-decoration: none;
                 transition: all 0.3s ease;">
                  Download Excel
                </button>
               
              </div>
            </div>
          </form>
        </div>
        <div class="item-right">
          <h3 [ngClass]="'dayend'">Day End Summary</h3>

            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table table-bordered table-striped mb-0" id="contentToConvert" >
                    <thead style="background: #0a2558;">
                    <tr>
                        <th [ngClass]="'header'" scope="col" class="'three'" style="background: #0a2558;">No</th>
                        <th [ngClass]="'header'" scope="col"  style="background: #0a2558;">Branch Code</th>
                      <th [ngClass]="'header'" scope="col"  style="background: #0a2558;">Cash Sales</th>
                      <th [ngClass]="'header'" scope="col"  style="background: #0a2558;">Credit Sales</th>
                      <th [ngClass]="'header'" scope="col"  style="background: #0a2558;">Card Sales</th>
                      <th [ngClass]="'header'" scope="col"  style="background: #0a2558;">Total Sales</th>
                      <th [ngClass]="'header'" scope="col"  style="background: #0a2558;">Card 2</th>
                      <th [ngClass]="'header'" scope="col"  style="background: #0a2558;">Physical Cash</th>
                     
                    </tr>
                    </thead>
                    <tbody>
                      
                    <tr *ngFor="let name of dayEndWebReport; index as i">
                      <th scope="row">{{ i + 1 }}</th>
                      <td>{{ name.branchCode}}</td>
                      <td>{{name.cashSales  | number: '1.0-2'}}</td>
                      <td>{{ name.creditSales | number: '1.0-2' }}</td>
                      <td>{{ name.cardSales  | number: '1.0-2'}}</td>
                      <td>{{ name.totalSales  | number: '1.0-2'}}</td>
                      <td>{{ name.card2  | number: '1.0-2'}}</td>
                      <td>{{ name.physicalCash  | number: '1.0-2'}}</td>
                    </tr>
                    <tr [ngClass]="'grandtotal'"  >
                        <th colspan="2"  style="background: #0a2558;">Grand Totals</th>
                        <td>{{totalCashSales | number: '1.0-2'}}</td>
                        <td>{{totalCreditSales  | number: '1.0-2'}}</td>
                        <td>{{totalCardSales  | number: '1.0-2'}}</td>
                        <td>{{totalSales  | number: '1.0-2'}}</td>
                        <td>{{totalCard2  | number: '1.0-2'}}</td>
                        <td>{{totalPhysicalCash  | number: '1.0-2'}}</td>
                     </tr>
                   
               
                    </tbody>
                  </table>
                  </div> -->
                  
                <!-- </div> -->
          <!-- <div class="fixTableHead">
            <table class="item-table" id="contentToConvert">
              <thead>
                <tr>
                  <th>Sl No.</th>
                  <th>Invoice Date</th>
                  <th>Branch Code</th>
                  <th>Item Name</th>
                  <th>Quantity</th>
                  <th>Total Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let name of itemWiseSalesReport; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ name.invoiceDate }}</td>
                  <td>{{ name.branchCode }}</td>
                  <td>{{ name.itemName }}</td>
                  <td>{{ name.qty }}</td>
                  <td>{{ name.unitPrice | number: "1.2-2" }}</td>
                </tr>
              </tbody>
            </table>
          </div> -->


        <!-- </div>
      </div>
    </div>
  </body>
</html> -->



 <h1 >DAY END REPORT WINDOW</h1>
    <br>
    <div [ngClass]="'one'">
      <!-- <label>Report Date</label><br />
      <input  type="date"  [(ngModel)]="reportdate" name="reportdate"  required /> -->
      <mat-form-field appearance="fill" [ngClass]="'reportdate'">
        <mat-label>Report Date</mat-label>
        <input  type="date" matInput [(ngModel)]="reportdate" name="reportdate"  required />
      
      </mat-form-field>
      <button  (click)="getDayEndReports()" [ngClass]="'two'" mat-button >Generate Report</button> 
      <button style="color: aliceblue;" (click)="renderPdf()" [ngClass]="'downloadexcel'"  [disabled]="getexcelReportStatus ===false" mat-button>Download Excel</button>
      <div [ngClass]="'reportstatus'" *ngIf="getReportStatus"> <img  src="/assets/loading-gif.gif" width="80px" height="80px" alt="image"></div>
     
    </div>
    
   <h3 [ngClass]="'dayend'">Day End Summary</h3>
   
   <div  [ngClass]="'dayendsummary'">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-bordered table-striped mb-0" id="contentToConvert" >
                <thead style="background: #0a2558;">
                <tr>
                    <th [ngClass]="'header'" scope="col" class="'three'" style="background: #0a2558;">No</th>
                    <th [ngClass]="'header'" scope="col"  style="background: #0a2558;">Branch Code</th>
                  <th [ngClass]="'header'" scope="col"  style="background: #0a2558;">Cash Sales</th>
                  <th [ngClass]="'header'" scope="col"  style="background: #0a2558;">Credit Sales</th>
                  <th [ngClass]="'header'" scope="col"  style="background: #0a2558;">Card Sales</th>
                  <th [ngClass]="'header'" scope="col"  style="background: #0a2558;">Total Sales</th>
                  <th [ngClass]="'header'" scope="col"  style="background: #0a2558;">Card 2</th>
                  <th [ngClass]="'header'" scope="col"  style="background: #0a2558;">Physical Cash</th>
                 
                </tr>
                </thead>
                <tbody>
                  
                <tr *ngFor="let name of dayEndWebReport; index as i">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ name.branchCode}}</td>
                  <td>{{name.cashSales  | number: '1.0-2'}}</td>
                  <td>{{ name.creditSales | number: '1.0-2' }}</td>
                  <td>{{ name.cardSales  | number: '1.0-2'}}</td>
                  <td>{{ name.totalSales  | number: '1.0-2'}}</td>
                  <td>{{ name.card2  | number: '1.0-2'}}</td>
                  <td>{{ name.physicalCash  | number: '1.0-2'}}</td>
                </tr>
                <tr [ngClass]="'grandtotal'"  >
                    <th colspan="2"  style="background: #0a2558;">Grand Totals</th>
                    <td>{{totalCashSales | number: '1.0-2'}}</td>
                    <td>{{totalCreditSales  | number: '1.0-2'}}</td>
                    <td>{{totalCardSales  | number: '1.0-2'}}</td>
                    <td>{{totalSales  | number: '1.0-2'}}</td>
                    <td>{{totalCard2  | number: '1.0-2'}}</td>
                    <td>{{totalPhysicalCash  | number: '1.0-2'}}</td>
                 </tr>
               
           
                </tbody>
              </table>
              </div>
              
            </div>

    
    
      
            
              <div [ngClass]="'graph'"  *ngIf="getexcelReportStatus">

               <div class="chart-wrapper">
                <canvas baseChart 
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
              </canvas>
            </div>
        

   
             
              
           
 
     



  