<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <!-- <div style="padding: 3%"></div> -->
      <h1 >GROUP WISE SALES DETAIL REPORT WINDOW</h1>
     
      <div class="item-box">
        <div class="item-left">
          <form>
            <div class="input-row">
              <div class="input-group">
                <label>From Date</label><br />
                <input
                  type="date"
                  [(ngModel)]="fromdate"
                  name="fromdate"
                  required
                />
              </div>
              <div class="input-group">
                <label>To Date</label><br />
                <input
                  type="date"
                  [(ngModel)]="todate"
                  name="todate"
                  required
                />
              </div>
            </div>
            <div class="input-row">
              <div class="input-group">
                <label>Branch</label><br />
                <select
                  class="option"
                  name="branch"
                  [(ngModel)]="branchname"
                  required
                >
                  <option disabled="disabled" selected="branch">
                    --branch name--
                  </option>
                  <option
                    *ngFor="let name of branch; let i = index"
                    [value]="name.branchCode"
                  >
                    {{ name.branchName }}
                  </option>
                </select>
              </div>
              <div class="input-group">
                <label>Group</label><br />
                <!-- <input type="text" placeholder="Select Category" required /> -->
                <select
                  class="option"
                  [(ngModel)]="categoryid"
                  name="category"
                  required
                >
                  <option disabled="disabled" selected="category">
                    --category name--
                  </option>
                  <option
                    *ngFor="let name of category; let i = index"
                    [value]="name.id"
                  >
                    {{ name.categoryName }}
                  </option>
                </select>
                <button class="button addbtn" (click)="addCategory()">
                  Add
                </button>
                <table
                  class="categorytable"
                  style="height: 50px; overflow: auto"
                >
                  <tr *ngFor="let name of groupname; let i = index">
                    <td>
                      {{ name }}
                    </td>
                  </tr>
                </table>
              </div>
            </div>

            <div class="input-row">
              <div class="buttons">
                <button class="button clearbtn" type="reset">Clear</button>
                <button
                  class="button submitbtn"
                  type="submit"
                  (click)="submit()"
                >
                  Generate Report
                </button>
                <button class="button showallbtn" (click)="renderPdf()">Print Report</button>
              </div>
            </div>
          </form>
        </div>
        <div class="item-right">
          <div class="fixTableHead">
            <table class="item-table" id="contentToConvert">
              <thead>
                <tr>
                  <th>Sl No.</th>
                  <th>Invoice Date</th>
                  <th>Voucher No</th>
                  <th>Customer Name</th>
                  <th>Item Name</th>
                  <th>Group</th>
                  <th>Amount</th>
                  <th>Batch</th>
                  <th>Quantity</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let name of groupWiseSalesDtl; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ name.invoiceDate }}</td>
                  <td>{{ name.voucherNumber }}</td>
                  <td>{{ name.customerName }}</td>
                  <td>{{ name.itemName }}</td>
                  <td>{{ name.groupName }}</td>
                  <td>{{ name.amount | number: "1.2-2"}}</td>
                  <td>{{ name.batchCode }}</td>
                  <td>{{ name.qty }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
