<div class="input">
    <label>Select VoucherIn :</label> &nbsp;&nbsp;
    <input
      matInput
      placeholder=" Select Voucher Number"
     
    />
  
   
  </div>
  
  <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0" id="contentToConvert">
      <thead #txtInput>
        <tr>
          <th [ngClass]="'header'" scope="col">Voucher Number</th>
          <th [ngClass]="'header'" scope="col">Voucher Date</th>
          <th [ngClass]="'header'" scope="col">From Branch</th>
          
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="
        let temp of voucher ;
        index as i
      "
      (click)="highlightRow(temp)"
          (keyup)="highlightRow(temp)"
          (keydown)="highlightRow(temp)">
      <td>{{temp.voucherNumber}}</td>
      <td>{{temp.voucherDate}}</td>
      <td>{{temp.fromBranchCode}}</td>
    </tr>
        <!-- <tr
          *ngFor="
            let tempcustomerDtls of customerDtls | filter: customersearchfiled;
            index as i
          "
          (click)="highlightRow(tempcustomerDtls)"
          (keyup)="highlightRow(tempcustomerDtls)"
          (keydown)="highlightRow(tempcustomerDtls)"
        >
          <td>{{ i + 1 }}</td>
  
          <!-- <td>{{ tempcustomerDtls.accountName }}</td>
          <td>{{ tempcustomerDtls.customerState }}</td>
          <td>{{ tempcustomerDtls.partyGst }}</td>
          <td>{{ tempcustomerDtls.customerContact }}</td> -->
          <!-- <td>{{ tempcustomerDtls.itemCode }}</td> -->
        <!-- </tr> -->
      </tbody>
    </table>
  </div>
  
