body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  


table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
   
    color: black;
   
    background-color: rgb(226, 228, 234);
    border: 2px solid #1f0456;
     /* font-size: 10px; */
   border-radius: 6px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }

/* 
table tr:hover {
    background-color:rgb(11, 130, 235);
  
} */
tr:nth-child(even){background-color: #f2f2f2}

.input{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

.input label{
    margin-left: -17px;
}
