<div class="container">
    <div class="title">Unit Creation</div>
    <div class="content">
      <form >
        <div class="user-details">
          <div class="input-box">
            <span class="details">Unit Name</span>
            <input type="text" placeholder="Enter unit name" formControlName="unitName" required>
          </div>
          <div class="input-box">
            <span class="details">Unit Description</span>
            <input type="text" placeholder="Enter unit description" formControlName="unitDescription" required>
          </div>
          <div class="input-box">
            <span class="details">Precision</span>
            <input type="text" placeholder="Enter precision" formControlName="unitPrecision"  required>
          </div>
        </div>

        <div class="button">
          <input  type="submit" value="Save" (click)="submitUnit()">
        </div>
        <div class="button">
            <input  type="button" value="Delete" >
          </div>
          <div class="button">
            <input  type="button" value="Show All" >
          </div>
          
      </form>
    </div>
  </div>
