.container {
  /* position: relative; */
  /* align-items: center;
  display: flex;
  justify-content: space-between; */
}

.body-section {
  align-items: center;
  display: flex;
  background-color: aquamarine;
  justify-content: center;
  /* position: absolute; */
  /* align-items: center; */
}
.header-section {
  /* position: absolute; */
  /* align-items: center; */
  background-color: #7f7f7f;
  text-align: center;
}
/* h2 {
  text-align: center;
} */
label {
  margin-left: 10px;
  display: inline-block;
  margin-bottom: 20px;
}
input {
  margin-left: 10px;
  display: inline-block;
  margin-bottom: 20px;
}
select {
  margin-left: 10px;
  display: inline-block;
  margin-bottom: 20px;
}
button {
  margin-left: 10px;
}
.block-1 {
  margin-right: 50px;
}
.block-2 {
  margin-left: 50px;
}
