<div class="container">
  <div class="header-section">
    <h2>Item Master</h2>
  </div>
  <div class="body-section">
    <div class="block-1">
      <label>Item Name</label>
      <input id="item-name" /><br />
      <button>Barcode</button>
      <input id="" /><br />
      <!-- <label>Unit</label> -->
      <!-- <select></select> -->
      <label>Item Name</label>
      <input id="item-name" /><br />
      <button>Barcode</button>
      <input id="" /><br />
      <label>Unit</label>
      <select></select>
    </div>
    <div class="block-2">
      <label>Item Name</label>
      <input id="item-name" /><br />
      <button>Barcode</button>
      <input id="" /><br />
      <!-- <label>Unit</label> -->
      <!-- <select></select> -->
      <label>Item Name</label>
      <input id="item-name" /><br />
      <button>Barcode</button>
      <input id="" /><br />
      <label>Unit</label>
      <select></select>
    </div>
  </div>
</div>
