<div class="cart-area d-n">
    <a routerLink="/cartDetails">
      <div class="total">{{totalPrice |currency:'INR'}}<span>{{totalQty}}</span> </div> <i class="bi bi-cart"
        aria-hidden="true"></i>
    </a>
  </div>
