<div class="main-content">
    <div class="section-content section-content-p30">
   
       <div class="container-fluid">
           <div *ngIf="cartItems.length>0">
           <table class="table table-bordered">
               <tr>
                   <th width="20%">Product Name</th>
                   <th width="50%">Product Detail</th>
                   <th width="30%"></th>
               </tr>
               <tr *ngFor="let tempcartItem of cartItems" >
                   <td> <img src="{{tempcartItem.imageUrl}}" class="img-responsive"></td>
                   <td>
                       <p>{{tempcartItem.name}}</p>
                       <p>{{tempcartItem.unitPrice |currency:'INR'}}</p>
                   </td>
                   <td>
                       <div class="items">
                           <label>Quantity:</label>
                           <!-- {{tempcartItem.quantity}} -->
                           <div class="row no gutters">
                               <div class="col">
                               <button (click)="incQty(tempcartItem)" class="btn btn-primary btn-sm">
                                   <i class="fas fa-plus">+</i>
                               </button>
                               </div>
                               <div class="col ml-4 mr-2">
                                   {{tempcartItem.quantity}}
                               </div>
                               <div class="col">
                                   <button (click)="decQty(tempcartItem)"class="btn btn-primary btn-sm">
                                       <i class="fas fa-minus">-</i>
                                   </button>
                                   </div>
                                   <div class="col-8"></div>
                           </div>
                       </div>
                       <button (click)="remove(tempcartItem)" class="btn btn-primary btn-sm mt-2">Remove</button>
                       <p class="mt-2">Subtotal:{{tempcartItem.quantity*tempcartItem.unitPrice}}</p>
                   </td>
               </tr>
               <tr>
                   <td colspan="2"></td>
                   <td style="font-weight: bold">
                   <p>Total Quantity: {{totalQty}}</p>
                   <p>Shipping:FREE</p>
                   <p>Total Price: {{totalPrice |currency:'INR'}}</p>
                   <button routerLink="/checkout" class="btn btn-primary"> Checkout</button>
                 
                   </td>
               </tr>
           </table>
       </div>
       <div *ngIf="cartItems.length==0" class="alert alert-warning col-md-12" role="alert">
           Your Cart Is Empty.!
       </div>
       </div>
    </div>
   </div>
   