
<html>

  <body>
  
    <form>
      <div class="container">
        <h1>Shipping Register</h1>
        <p>Please fill in this form to create Shipping details.</p>
        <hr>
    
        <label for="firstname"><b>Shipping Address Name</b></label>
        <input type="text" name="shippingAddName"  [(ngModel)]="shippingAddName">
    
        <label for="lastname"><b>Address</b></label>
        <input  type="text" name="addr"  [(ngModel)]="addr">
    
        <label for="address"><b>State</b></label>
        <input type="text" name="state" [(ngModel)]="state">
      
        <label for="address"><b>Pincode</b></label>
        <input  type="text" name="pincode"  [(ngModel)]="pincode">
  
        <label for="zipcode"><b>Mobile Number</b></label>
        <input type="text" name="mobNumber" [(ngModel)]="mobNumber">
  
        <button type="submit" class="registerbtn" (click)="continueWithAddress()">Continue</button>&nbsp;&nbsp;
        <button type="submit"  class="closebutton" (click)="CloseAddress()">Close</button>
      </div>
      
      
    </form>
    
    </body>
    </html>




<!-- 
<html>

<body>

  <form [formGroup]="addShippingDtl" >
    <div class="container">
      <h1>Shipping Register</h1>
      <p>Please fill in this form to create Shipping details.</p>
      <hr>
  
      <label for="firstname"><b>Customer Name</b></label>
      <input type="text" name="customerName" formControlName="customerName" >
  
      <label for="lastname"><b>Address Line1</b></label>
      <input  type="text" name="addressLine1" formControlName="addressLine1">
  
      <label for="address"><b>Address Line2</b></label>
      <input type="text" name="addressLine2" formControlName="addressLine2" >
    
      <label for="address"><b>Land Mark</b></label>
      <input  type="text" name="landMark" formControlName="landMark" >

      <label for="zipcode"><b>Mobile Number</b></label>
      <input type="text" name="mobileNumber" formControlName="mobileNumber" >

      <button type="submit" class="registerbtn" (click)="continueWithAddress()">Continue</button>&nbsp;&nbsp;
      <button type="submit"  class="closebutton" (click)="CloseAddress()">Close</button>
    </div>
    
    
  </form>
  
  </body>
  </html> -->


























<!-- 

<div class="container">
    <h1>Shipping</h1>
    <p>Please enter your shipping details.</p>
    <!-- <hr /> -->
    <!-- <div class="form" >
        <form [formGroup]="addShippingDtl">
      
    <div class="fields fields--2">
      <label class="field">
        <span class="field__label" for="firstname">Customer Name</span>
        <input class="field__input" type="text" id="customerName" formControlName="customerName"/>
      </label>
      <label class="field">
        <span class="field__label" for="lastname">Address Line1</span>
        <input class="field__input" type="text" id="addressLine1" formControlName="addressLine1"/>
      </label>
    </div>
    <label class="field">
      <span class="field__label" for="address">Address Line2</span>
      <input class="field__input" type="text" id="addressLine2" formControlName="addressLine2" />
    </label>
    <label class="field">
      <span class="field__label" for="address">Land Mark</span>
      <input class="field__input" type="text" id="landMark" formControlName="landMark" />
    </label>
    <div class="fields fields--3">
      <label class="field">
        <span class="field__label" for="zipcode">Mobile Number</span>
        <input class="field__input" type="text" id="mobileNumber" formControlName="mobileNumber" />
      </label>
   
    </div>
        </form>
    </div>
    <hr>
    <table style="width: 100%;">
      <th></th>
     
      <tr>
 <td>  <button class="button" (click)="continueWithAddress()">Continue</button> </td>
 <td> <button class="button" (click)="CloseAddress()">Close</button></td> </tr>
 
  
  </table>
  </div> --> 

 
