<h3>Table Name:-{{tableName}}</h3>
<div>
<input type="search" placeholder="Search">

</div>
<div>
    <input type="search" placeholder="Qty">
</div>
<button>ADD</button>
<button>DELETE</button>

<button>CLOSE</button>

<button>COMPLETED</button>