.one
{
    padding:10px;
margin-left: .25cm;
font-size: 18px;
}
.two
{
    background-color: gray;

    left: 38%;
    top: -45px;
   

}
th,td{
    font-size: 14px;
}
.three
{
    position: -webkit-sticky;
    table-layout: fixed;

    top:auto;
}

.header{
    position:sticky;
    top:0;
    z-index: 1;
  
}


