<h2>GST INPUT DETAIL REPORT<h2>

  <br>
  <div [ngClass]="'one'">
    <span> <label>From Date</label></span>
    <span><input type="date"[(ngModel)]="fromdate" name="fromdate"></span>
    
   <span> <label>To Date</label></span>
   <span><input type="date"[(ngModel)]="todate" name="todate"></span>
  </div>
<div>
 
  <button  (click)="getreport()" [ngClass]="'two'" mat-button >Get Report</button>
 
  
</div>
 

<table class="table table-striped" >
  <thead >
  <tr>
    <th class="header" scope="col" class="'three'">No</th>
    <th class="header" scope="col">Country</th>
    <th class="header" scope="col">Area</th>
    <th class="header" scope="col">Population</th>
    <th class="header" scope="col">Invoice Date</th>
    <th class="header" scope="col">Invoice Number</th>
    <th class="header" scope="col">Supplier Name</th>
    <th class="header" scope="col">Supplier Group</th>
    <th class="header" scope="col">Branch</th>
    <th class="header" scope="col">Gst Percentage</th>
    <th class="header" scope="col">Total Purchase Excluding GST</th>
    <th class="header" scope="col">GST Amount</th>
    <th class="header" scope="col">Total Purchase</th>
    <th class="header" scope="col">Excempted Purchase</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let country of countries; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="mr-2" style="width: 20px">
      {{ country.name }}
    </td>
    <td>{{ country.area | number }}</td>
    <td>{{ country.population | number }}</td>
  </tr>
  </tbody>
</table>