
<!doctype html>
<html class="no-js" lang="">


<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
  <link rel="shortcut icon" href="https://i.imgur.com/QRAUqs9.png">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
  <link rel="stylesheet" href="/../assets/css/cs-skin-elastic.css">

  <link rel="stylesheet" href="/../assets/css/style.css">

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>



</head>

<body>
  
  <input type="checkbox" id="menu">
   
  <div id="right-panel" class="right-panel" >
   
    <div class="breadcrumbs">
      <div class="breadcrumbs-inner">
        <div class="row m-0">
          <div class="col-sm-4">
            <div class="page-header float-left">
              <div class="page-title">
                <h1>Dashboard</h1>
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="page-header float-right">
              <div class="page-title">
                <ol class="breadcrumb text-right">
                  <li><a href="#">Dashboard</a></li>
                  <li><a href="#">Master</a></li>
                  <li class="active">Branch Creation</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content">
     
      <div class="animated fadeIn">

        <div class="row">
          <div class="col-xs-6 col-sm-6">
            <div class="card">
              <div class="card-header">
                <strong>Detail Entry</strong> 
              </div>
              <div class="card-body card-block">

                <div class="form-group">                 
                  <label class=" form-control-label">Branch Name</label>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                    <input   class="form-control"  [ngClass]="branchName =='' ? 'is-invalid form-control' : 'is-valid form-control-success form-control'"  
                    type="text" [(ngModel)]="branchName" name="branchName" required >
                  </div>
                  <small class="form-text text-muted">ex. AS FOODS KOLLAM</small>
                </div>

                <div class="form-group">                 
                  <label class=" form-control-label">Branch Code</label>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                    <input   class="form-control"  [ngClass]="branchCode =='' ? 'is-invalid form-control' : 'is-valid form-control-success form-control'"  
                    type="text" [(ngModel)]="branchCode" name="branchCode" required >
                  </div>
                  <small class="form-text text-muted">ex. ASFOODS</small>
                </div>

                <div class="form-group">                 
                    <label class=" form-control-label">Branch GST</label>
                    <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                      <input   class="form-control"  [ngClass]="branchGst =='' ? 'is-invalid form-control' : 'is-valid form-control-success form-control'"  
                      type="text" [(ngModel)]="branchGst" name="branchGst" required >
                    </div>
                    <small class="form-text text-muted">ex. 32ABCD456GH345S33</small>
                  </div>

                  <div class="form-group">                 
                    <label class=" form-control-label">Branch Email</label>
                    <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                      <input   class="form-control"  [ngClass]="branchEmail =='' || !searchfind ? 'is-invalid form-control' : 'is-valid form-control-success form-control'"  
                      type="text" [(ngModel)]="branchEmail" name="branchEmail" 
                      (blur)="emailChecking()" required >
                    </div>
                    <small class="form-text text-muted">ex. sample@gmail.com</small>
                  </div>

                  <div class="form-group">                 
                    <label class=" form-control-label">Phone Number</label>
                    <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                      <input   class="form-control"  [ngClass]="branchTelNo =='' || phoneNumberCheck? 'is-invalid form-control' : 'is-valid form-control-success form-control'"  
                      type="text" (blur)="phoneNumberChecking()" [(ngModel)]="branchTelNo" name="branchTelNo" required >
                    </div>
                    <small class="form-text text-muted">ex. 9898989898</small>
                  </div>

                  <div class="form-group">                 
                    <label class=" form-control-label"> Branch Website</label>
                    <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                      <input   class="form-control"  [ngClass]="branchWebsite =='' ? 'form-control' : 'is-valid form-control-success form-control'"  
                      type="text" [(ngModel)]="branchWebsite" name="branchWebsite" required >
                    </div>
                    <small class="form-text text-muted">ex. www.sample.com </small>
                  </div>

                  <div class="form-group">
                    <label class=" form-control-label">State</label>
                    <div class="input-group">
                     
                   <select   id="select" [ngClass]="branchstate =='' ? ' form-control' : 'is-valid form-control-success form-control'"  
                   data-placeholder="Choose the state..." class="form-control" 
                   name="branchstate" [(ngModel)]="branchstate" required 
                   style="background-image:linear-gradient(45deg, transparent 50%, gray 50%),linear-gradient(135deg, gray 50%, transparent 50%),linear-gradient(to right, #ccc, #ccc);background-position:calc(100% - 20px) calc(1em + 2px),calc(100% - 15px) calc(1em + 2px),calc(100% - 2.5em) 0.5em;background-size:5px 5px,5px 5px,1px 1.5em; background-repeat: no-repeat;">
                   <option *ngFor="let state of states" [ngValue]="state">
                    {{state}}
                    </option>
                      </select>
                    </div>
                    <small class="form-text text-muted">ex. select state</small>
                  </div> 

              </div>
            
             
              <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm" (click)="submitForm()">
                  <i class="fa fa-dot-circle-o"></i> Submit
                </button>
                <button type="reset" class="btn btn-danger btn-sm" (click)="clear()">
                  <i class="fa fa-ban"></i> Reset
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header">Detail Entry </div>
              <div class="card-body card-block">
                <form action="#" method="post" class="">

                  <div class="form-group">
                    <label class=" form-control-label">Branch Address 1</label>
                    <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                      <input class="form-control" type="text"
                       [ngClass]="branchAddress1 =='' ? ' form-control' : 'is-valid form-control-success form-control'" 
                       [(ngModel)]="branchAddress1" name="branchAddress1">
                    </div>
                    <small class="form-text text-muted">ex.Street</small>
                  </div>

                  <div class="form-group">
                    <label class=" form-control-label">Branch Address 2</label>
                    <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                      <input class="form-control" type="text"
                       [ngClass]="branchAddress2 =='' ? ' form-control' : 'is-valid form-control-success form-control'" 
                       [(ngModel)]="branchAddress2" name="branchAddress2">
                    </div>
                    <small class="form-text text-muted">ex.City</small>
                  </div>

                  <div class="form-group">
                    <label class=" form-control-label">Bank Account Number</label>
                    <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                      <input class="form-control" type="text"
                       [ngClass]="accountNumber =='' ? ' form-control' : 'is-valid form-control-success form-control'" 
                       [(ngModel)]="accountNumber" name="accountNumber">
                    </div>
                    <small class="form-text text-muted">ex.1200767536365</small>
                  </div>

                  <div class="form-group">
                    <label class=" form-control-label">Bank Name</label>
                    <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                      <input class="form-control" type="text"
                       [ngClass]="bankName =='' ? ' form-control' : 'is-valid form-control-success form-control'" 
                       [(ngModel)]="bankName" name="bankName">
                    </div>
                    <small class="form-text text-muted">ex.SBI</small>
                  </div>

                  <div class="form-group">
                    <label class=" form-control-label">Bank Branch</label>
                    <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                      <input class="form-control" type="text"
                       [ngClass]="bankBranch =='' ? ' form-control' : 'is-valid form-control-success form-control'" 
                       [(ngModel)]="bankBranch" name="bankBranch">
                    </div>
                    <small class="form-text text-muted">ex.Kollam</small>
                  </div>

                  <div class="form-group">
                    <label class=" form-control-label">IFSC</label>
                    <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                      <input class="form-control" type="text"
                       [ngClass]="ifsc =='' ? ' form-control' : 'is-valid form-control-success form-control'" 
                       [(ngModel)]="ifsc" name="ifsc">
                    </div>
                    <small class="form-text text-muted">ex. IFSC987654</small>
                  </div>

                  <div class="form-group">
                    <label class=" form-control-label">My Branch</label>
                    <div class="input-group">
                     
                   <select   id="select" [ngClass]="myBranch =='' ? ' form-control' : 'is-valid form-control-success form-control'"  
                   data-placeholder="Select..." class="form-control" 
                   name="myBranch" [(ngModel)]="myBranch" required 
                   style="background-image:linear-gradient(45deg, transparent 50%, gray 50%),linear-gradient(135deg, gray 50%, transparent 50%),linear-gradient(to right, #ccc, #ccc);background-position:calc(100% - 20px) calc(1em + 2px),calc(100% - 15px) calc(1em + 2px),calc(100% - 2.5em) 0.5em;background-size:5px 5px,5px 5px,1px 1.5em; background-repeat: no-repeat;">
                   <option *ngFor="let myBranch of myBranchs" [ngValue]="myBranch">
                    {{myBranch}}
                  </option>
                      </select>
                    </div>
                    <small class="form-text text-muted">ex. select</small>
                  </div> 

                  <div class="form-actions form-group"><button type="submit"
                      class="btn btn-success btn-sm" (click)="submitForm()">Submit</button>
                    </div>
                    
                      <div class="row"  *ngIf="showMsg">
                        <div class="alert alert-success">
                        <button type="button" aria-hidden="true" class="close" onclick="this.parentElement.style.display='none';">×</button>
                        <span><b> Success - </b> Details Saved Successfully!!!</span>
                       </div>
                  </div>

                  <div class="row" *ngIf="!searchfind">
                    <div class="alert alert-info">
                    <button type="button" aria-hidden="true" class="close" onclick="this.parentElement.style.display='none';">×</button>
                    <span><b> Info - </b> Invalid Email!!!</span>
                    </div>
                 </div>
                 <div class="row" *ngIf="phoneNumberCheck">
                    <div class="alert alert-info">
                    <button type="button" aria-hidden="true" class="close" onclick="this.parentElement.style.display='none';">×</button>
                    <span><b> Info - </b> Invalid phone number!!!</span>
                    </div>
                </div>
                    
                </form>
              </div>
            </div>
          </div>

          <!-- <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <strong class="card-title">Data Table</strong>
              </div> -->
 
            <!-- <div class="row">
             <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="bootstrap-data-table_length" style="margin-top: 20px;">
                <label style="margin-left: 26px;">Search : <input type="search" class="form-control form-control-sm" id="myInput"
                  onkeyup="myFunction()"
                  [(ngModel)]="search"
                  placeholder="Search for items.." aria-controls="bootstrap-data-table" style="width: 289px;
                  display: inline-block;margin-top: 2px;"></label>
              </div>
            </div>

          </div> -->
              <!-- <div class="card-body">
                <table id="table.dataTable" class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th> Item Name <i class="fa fa-long-arrow-up" aria-hidden="true" (click)="sortasc()"
                          style="bottom: 0.9em;opacity: 0.3;cursor: pointer;"></i>
                        <i class="fa fa-long-arrow-down" aria-hidden="true" (click)="sortdesc()"
                          style="cursor: pointer; bottom: 0.9em; "></i>

                      </th>
                      <th>Category</th>
                      <th>Unit</th>
                      <th>Price</th>
                      <th>Tax</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="
                            let tempItemMstDtl of itemMstDtl | filter: search;
                       
                                 " (click)="highlightRow(tempItemMstDtl)">
                    
                      <td>{{ tempItemMstDtl.itemName }}</td>
                      <td>{{ getParentNameById(tempItemMstDtl.categoryId) }}</td>
                      <td>{{ getUnitNameById(tempItemMstDtl.unitId) }}</td>
                      <td>{{ tempItemMstDtl.standardPrice }}</td>
                      <td>{{ tempItemMstDtl.taxRate }}</td>
                   
                  </tbody>
                </table>
              </div> -->
             
            <!-- </div>
          </div> -->


        </div>
      </div>
   
      <!-- .animated -->
    </div><!-- .content -->


    <div class="clearfix"></div>

    <footer class="site-footer">
      <div class="footer-inner bg-white">
        <div class="row">
          <div class="col-sm-6">
            Copyright &copy; 2019 MapleERP
          </div>

        </div>
      </div>
    </footer>

  </div>
  
  
  <!-- /#right-panel -->

  <!-- Right Panel -->

</body>

</html>
