<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
   
  
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>

     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
 <div class="container">
   
 <div class="main">
  <div class="cards">
   
    <div class="card">
      <h1 >STOCK REQUEST WINDOW</h1>
       <div class="fields">
        <div class="input-field">
          <label>Intent Number</label>
          <input type="text"  [(ngModel)]="IntentNo" name="IntentNo" >
        </div>
        <div class="input-field">
          <label>Stock Transfer Date</label>
          <input type="date"  [(ngModel)]="dpStkTrasferDate" name="dpStkTrasferDate" >
        </div>
        <div class="input-field">
          <label>Date</label>
          <input type="date"  [(ngModel)]="dpVoucherDate" name="dpVoucherDate" >
        </div>
        <div class="input-field">
            <label>To Branch </label>
            <select class="option" [(ngModel)]="toBranch" name="toBranch"  required>
                <option selected="true" disabled>
                  --Choose the branch--
                </option>
                <option *ngFor="
                let branch of branches ;
                index as i" value="{{branch.branchCode}}">{{branch.branchName}}</option>
                
         </select>
          </div>
          
     </div>

      <div class="fields">
        <div class="input-field">
          <label>Item Name</label>
          <input type="text"  [(ngModel)]="itemName" name="itemName" (click)="onKeypressEventItem()">
        </div>
        <div class="input-field">
          <label>Barcode</label>
          <input type="text"  [(ngModel)]="barcode" name="barcode" >
        </div>
      <div class="input-field">
        <label>Unit</label>
        <input type="text" [(ngModel)]="unit" name="unit" >
      </div>
      <div class="input-field">
        <label>Qty</label>
        <input type="text"  [(ngModel)]="qty" name="qty" (change)="calculateAmount()"
        (keypress)="calculateAmount()"
        (keydown)="calculateAmount()"
        (keyup)="calculateAmount()">
      </div>
      <div class="input-field">
        <label>Batch</label>
        <input type="text" [(ngModel)]="batch" name="batch" >
      </div>
      <div class="input-field">
        <label>Rate</label>
        <input type="text" [(ngModel)]="rate" name="rate">
      </div>
     </div>

      <a  class="btn" style="margin-left: 10px;" (click)="addStockRequest()">Add</a>
      <a  class="btn" style="margin-left: 241px;margin-top: -32px;" (click)="clearAll()">Clear</a>
     
    </div>
   
  </div>

<!-- end card -->

<div class="tables">
  <div class="product-details" style=" overflow: scroll;max-height: 200px;">
    <div class="heading">
      <h2>Product Details</h2>
         </div>
    <table class="details">
      <thead>
        <td>Item Name</td>
        <td>Barcode</td>
        <td>Batch </td>
        <td>Qty</td>
        <td>Rate </td>
        <td>Amount</td>
        
        <td>Action</td>

      </thead>
      <tbody>
        
        <tr *ngFor="
                let temp of showAllStockRequestDtl ;
               index as i " (click)="highlightRowTable(temp)">
          <td>{{temp.itemId.itemName}}</td>
          <td>{{temp.barcode}}</td>
           <td>{{temp.batch}}</td>
          <td>{{temp.qty}}</td>
          <td>{{temp.rate}}</td>
          <td>{{temp.amount}}</td>
          
          <td>
            <!-- <i class="far fa-eye"></i> -->
            <i class="far fa-edit"></i>
            <i (click)="deleteItem(temp)" class="far fa-trash-alt"  ></i>
          </td>

        </tr>
       
      </tbody>
    </table>
   <br>
   <br>

    <div class="number"> Total Amount
        <input type="text" [(ngModel)]="sumAmount" name="sumAmount" >
        <a  class="btn" style="margin-left: 10px;" (click)= "finalSave()">Final Save</a>
      </div>
        </div>
  <div class="product-holding" style=" overflow: scroll;max-height: 200px;">
    <div class="heading">
      <h2>Holding </h2>
      <a  class="btn" (click)= "HoldStock()">Hold</a>
      <a  class="btn" (click)= "UnHoldStock()">Unhold</a>
    </div>
    <table class="holding">
      <thead>
        <td>To Branch</td>
      </thead>
      <tbody>
        <tr *ngFor="
        let name of showAllUnholded ;
       index as i " (click)="highlightRowHolded(name)" >
          <td>{{name.toBranch}} </td>
         </tr>
         
      </tbody>
    </table>
  </div>
</div>

</div>
 </div>
</body>
</html>

