<div>
 
   <span> <input matInput type="number" placeholder="QTY" [(ngModel)]="editedproductQty"  [formControl]="input" 
     name="productQty"></span>
  
    <button class="submitBtn" (click)="editQtytoSaleWindow()">Add</button>
    <!-- (click)="data.callback(input.value)" -->
    <button class="close"  (click)="close() ">Cancel</button>
  </div>
