<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1>PROFIT AND LOSS REPORT</h1>
      <div class="item-box">
        <div class="item-left">
          <form>
            <div class="input-row">
              <div class="input-group">
                <label>Date</label><br />
                <input
                  type="date"
                  [(ngModel)]="selecteddate"
                  name="selecteddate"
                  required
                />
              </div>
              <div class="input-group"></div>
            </div>
            <br />
            <div class="input-row">
              <div class="buttons">
                <button
                  class="button submitbtn"
                  type="submit"
                  (click)="generateReport()"
                >
                  Generate Report
                </button>
                <button
                  class="button showallbtn"
                  (click)="renderPdf()"
                  [ngClass]="'downloadexcel'"
                  style="
                    color: #fff;
                    background: #7ed321;

                    border-radius: 4px;
                    text-decoration: none;
                    transition: all 0.3s ease;
                  "
                >
                  Export to Excel
                </button>
                <button class="button clearbtn" type="reset">Clear</button>
              </div>
            </div>
          </form>
        </div>
        <div class="input-row">
          <div class="item-right">
            <div class="fixTableHead">
              <table class="item-table" id="contentToConvertOne">
                <thead>
                  <tr>
                    <th>Account</th>
                    <th>Expense Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let name of expenseReportList; let i = index">
                    <td>{{ name.accountName }}</td>
                    <td>{{ name.amount | number: "1.2-2" }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <hr />
            <div class="totalAmount">
              <input type="text" value="{{ sumOfExpense | number: '1.2-2' }}" />
            </div>
          </div>
          <div class="item-right">
            <div class="fixTableHead">
              <table class="item-table" id="contentToConvertTwo">
                <thead>
                  <tr>
                    <th>Account</th>
                    <th>Income Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let name of incomeReportList; let i = index">
                    <td>{{ name.accountName }}</td>
                    <td>{{ name.amount | number: "1.2-2" }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <hr />
            <div class="totalAmount">
              <input type="text" value="{{ sumOfIncome | number: '1.2-2' }}" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
