<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1>Customer Creation</h1>
      <div class="item-box">
        <div class="item-left">
          <form [formGroup]="customerRegistrationForm">
            <div class="input-row">
              <div class="input-group">
                <label>Name</label><br />
                <input
                  type="text"
                  placeholder="Enter your name"
                  formControlName="customerName"
                  [(ngModel)]="search"
                  required
                />
              </div>
              <div class="input-group">
                <label>Address</label><br />
                <input
                  type="text"
                  placeholder="Enter your address"
                  formControlName="customerAddress"
                  required
                />
              </div>

              <div class="input-group">
                <label>Email</label><br />
                <input
                  type="email"
                  placeholder="Enter your email"
                  formControlName="customerMail"
                  required
                />
              </div>
            </div>

            <div class="input-row">
              <div class="input-group">
                <label>Phone Number</label>
                <input
                  type="number"
                  placeholder="Enter your number"
                  formControlName="customerContact"
                  required
                />
              </div>
              <div class="input-group">
                <label>GST Number</label>
                <input
                  type="text"
                  placeholder="Enter your GST"
                  formControlName="customerGst"
                  required
                />
              </div>
              <div class="input-group">
                <label>Credit Period</label>
                <input
                  type="number"
                  placeholder="Enter Credit Period"
                  formControlName="creditPeriod"
                  required
                />
              </div>
            </div>

            <div class="input-row">
              <div class="input-group">
                <label>Discount %</label><br />
                <input
                  type="number"
                  placeholder="Enter Discount %"
                  formControlName="customerDiscount"
                  required
                />
              </div>
              <div class="input-group">
                <label>State</label><br />

                <select
                  class="option"
                  name="state"
                  formControlName="customerState"
                  required
                >
                  <option selected="true" disabled>--State--</option>
                  <option>KERALA</option>
                  <option>ANDHRA PRADESH</option>
                  <option>ARUNACHAL PRADESH</option>
                  <option>ASSAM</option>
                  <option>BIHAR</option>
                  <option>CHHATTISGARH</option>
                  <option>GOA</option>
                  <option>GUJARAT</option>
                  <option>HARYANA</option>
                  <option>HIMACHAL PRADESH</option>
                  <option>JHARKHAND</option>
                  <option>KARNATAKA</option>
                  <option>MADHYA PRADESH</option>
                  <option>MAHARASHTRA</option>
                  <option>MANIPUR</option>
                  <option>MEGHALAYA</option>
                  <option>MIZORAM</option>
                  <option>NAGALAND</option>
                  <option>ODISHA</option>
                  <option>PUNJAB</option>
                  <option>RAJASTHAN</option>
                </select>
              </div>
            </div>

            <div class="input-row">
              <div class="input-group">
                <label>PriceType</label><br />
                <select
                  class="option"
                  name="pricetype"
                  formControlName="priceTypeId"
                >
                  <option disabled="disabled" selected="pricetype">
                    --Price Type--
                  </option>
                  <option>MRP</option>
                  <option>COST PRICE</option>
                  <option>STOCK TRANSFER</option>
                </select>
              </div>

              <div class="input-group">
                <label>Group</label><br />
                <select
                  class="option"
                  name="group"
                  formControlName="customerGroup"
                >
                  <option disabled="disabled" selected="group">
                    --Group--
                  </option>
                  <option>CASH IN HAND</option>
                  <option>STOCK IN HAND</option>
                </select>
              </div>
              <div class="input-group">
                <label>Discount Property</label><br />
                <select
                  class="option"
                  name="discountproperty"
                  formControlName="discountProperty"
                >
                  <option disabled="disabled" selected="discountproperty">
                    --Discount Property--
                  </option>
                  <option>ON BASIS OF BASE PRICE</option>
                  <option>ON BASIS OF MRP</option>
                  <option>ON BASIS OF DISCOUNT INCLUDING TAX</option>
                </select>
              </div>
            </div>

            <div class="input-row">
              <div class="buttons">
                <button class="button clearbtn" type="reset" (click)="clear()">
                  Clear
                </button>
                <button
                  class="button submitbtn"
                  type="submit"
                  (click)="submitForm()"
                >
                  Submit
                </button>
                <button
                  class="button showallbtn"
                  type="submit"
                  (click)="showAll()"
                >
                  Show all
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="item-right">
          <div class="fixTableHead">
            <table class="item-table" id="contentToConvert">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>State</th>
                  <th>Address</th>
                  <th>GST Number</th>
                  <th>Phone</th>
                  <th>Email</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let tempCustRegDetails of CustRegDetails; index as i"
                  (click)="highlightRow(tempCustRegDetails)"
                >
                  <td data-label="Name">
                    {{ tempCustRegDetails.customerName }}
                  </td>
                  <td data-label="Name">
                    {{ tempCustRegDetails.customerState }}
                  </td>
                  <td data-label="Name">
                    {{ tempCustRegDetails.customerAddress }}
                  </td>
                  <td data-label="Name">
                    {{ tempCustRegDetails.customerGst }}
                  </td>
                  <td data-label="Name">
                    {{ tempCustRegDetails.customerContact }}
                  </td>
                  <td data-label="Name">
                    {{ tempCustRegDetails.customerMail }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <ng-template #loggedOut> Deleted </ng-template>
        </div>
      </div>
    </div>
  </body>
</html>
