<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
     <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>

     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
 <div class="container">
   
 <div class="main">
  <div class="cards">
    <div class="card">
      <h1 >ACCEPT STOCK WINDOW</h1>
       <div class="fields">
        <div class="input-field">
          <label>Voucher In</label><br />
        <input type="text" name="voucherIn" [(ngModel)]="voucherIn" name="voucherIn" 
        (click)="onkeypressEventvoucherNumber()">
        </div>
        <div class="input-field">
          <label>From Branch</label><br />
          <input type="text" name="fromBranch" [(ngModel)]="fromBranch" name="fromBranch" 
  value={{receiveVoucherNo.fromBranchCode}}>
        </div>
        <div class="input-field">
          <label>Intent No</label><br />
                        <input type="text"name="intentNo" [(ngModel)]="intentNo" name="intentNo">
        </div>
        <div class="input-field">
          <label>Intent Date</label><br />
          <input type="date" name="intentDate" [(ngModel)]="intentdate" name="intentdate">
          </div>
          
     </div>
      <a  class="btn" style="margin-left: -274px;margin-top: 5px;" >FetchData</a>
      <a  class="btn" style="margin-left:106px;margin-top: -32px;">AcceptStock</a>
      <a  class="btn" style="margin-left: 440px;margin-top: -32px;">ReFresh</a>
     
    </div>
   
  </div>

<!-- end card -->

<div class="tables">
  <div class="product-details" style="overflow: scroll;max-height: 200px;">
    <div class="heading">
      <h2>Product Details</h2>
         </div>
    <table class="details">
      <thead>
        <td>Item Name</td>
        <td>Barcode</td>
        <td>Batch </td>
        <td>Qty</td>
        <td>Rate </td>
        <td>Amount</td>
        <td>MRP</td>
        <td>Action</td>

      </thead>
      <tbody>
        
        <tr >
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>          
            <i class="far fa-edit"></i>
            <i class="far fa-trash-alt"  ></i>
          </td>

        </tr>
       
      </tbody>
    </table>
   <br>
   <br>
 
        </div>

</div>

</div>
 </div>
</body>
</html>

