@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  /* background: #f5f5f5; */

}

body{

  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  background: #f5f5f5;
}
.container{
  /* position: relative; */
  /* width: 100%; */

  width: 75%;
  margin: -10px auto;
  border-radius: 6px;
  background: #f5f5f5;

}



/* end .sidebar */

.main{
    position: absolute;
  width: calc(100% -300px);
  /* width: 940px; */
  min-height: 100vh;
  /* left: 10px; */
  background: #f5f5f5;

}


.cards{
  /* margin-top: 60px; */
  width: 78%;
  padding: 35px 20px; 
  display: grid;
   grid-gap: 20px;
   /* display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap; */
}
.cards .card{
  background: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  width: 608px;
 
}


.cards .card .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
 }
 form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
 }
 .input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
 }

.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 30px;
    width: 85%;
    margin: 8px 0;
 }
 .input-field input :focus,
 .input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
 }
 .input-field select,
 .input-field input[type="date"]{
    color: #707070;
 }
 .input-field input[type="date"]:valid{
    color: #333;
 }
.tables{
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;

  /* self-start */
  align-items:flex-start;
  padding: 0 20px 20px 20px;
}
.product-details{
  min-height: 350px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.product-holding{
  min-height: 350px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
h1 {
    height: 70px;
    /* background: #16a085; */
    border-radius: 5px 5px 0 0;
    color: #000;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    
    }
.heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #444;
}
.btn{
    color: #fff;
    background: #0a2558;
    padding: 4px 12px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
     
}
table{
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
}
thead td{
    font-size: 14px; 
  font-weight: 600;
  color: #333;
}
table tr{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
table tbody tr:last-child{
  border-bottom: none;
}
tbody tr:hover{
  background: #568C41;
  color: #fff;
}
td{
  padding: 9px 5px;
}
td i{
  padding: 7px;
  color: #fff;
  border-radius: 50px;
}
.product-details table tbody td:last-child{
  white-space: nowrap;
}
.fa-eye{
  background: #32bea6;
  cursor: pointer;
}
.fa-edit{
  background: #63b4f4;
  cursor: pointer;
}
.fa-trash-alt{
  background: #ed5564;
  cursor: pointer;
}




@media(max-width:1090px){
  .sidebar{
    width: 60px;
  }
  .main{
    width: calc(100% -60px);
    /* left: 60px; */

  }
  .top-bar{
    width: calc(100% -60px);
  }
}
@media(max-width:860px){
  .cards{
    /* grid-template-columns: repeat(1, 1fr); */
    grid-template-columns: 1fr;
  }

  .tables{
    grid-template-columns: 1fr;
  }

}
@media(max-width:530px){
  .cards{
       grid-template-columns: 1fr;
  } 
  .product-details td:nth-child(3){
    display: none;

  }
}
@media(max-width:420px){
  .product-details .product-holding{
    font-size: 70%;
    padding: 10px;
    min-height: 200px;
  }
  .cards, .tables{
    padding: 10px;

  }
  .search input{
    padding: 0 10px;
  }
  .user{
    width: 40px;
    height: 40px;
  }
}