.backImage{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:670px;
}

.title{
    color: white;
    position: absolute;
    left: 40%;
}
.fields{

    border: rgb(255, 255, 255);
    background-color: white;
    margin: auto;
    position: absolute;
    margin-top: 10%;
    margin-left: 15%;
    padding-top: 10%;
    padding-left: 1%;
    height: 50%;
    width: 70%;
    flex-basis: 21%;
    border-radius: 10%;
    opacity: .9;
   
   
}

.formArea
{
    /* background-color: white;
    position: absolute;
    left: 20%; */
}




.labelCompanyName
{

    position: absolute;
    margin-top: 15%;
    margin-left: 27%;
}

.txtCompanyName{
    position: absolute;
    margin-top: 17%;
    margin-left: 26%;
    height: 4%;
}

.labelCompanyGst{
    
    position: absolute;
    margin-top: 15%;
    margin-left: 53%;

}

.txtCompanyGst
{
    position: absolute;
    margin-top: 17%;
    margin-left: 52%;
    height: 4%;
}

.labelCountry{
    position: absolute;
    margin-top: 25%;
    margin-left: 26%;;
}

.cmbCountryName{
    position: absolute;
    margin-top: 27%;
    margin-left: 25%;
    width: 17%;
    height: 5%;
}

.cmbCurrencyName{
    position: absolute;
    margin-top: 27%;
    margin-left: 51%;
    width: 17%;
    height: 5%;
}

.labelCurrency
{
    position: absolute;
    margin-top: 25%;
    margin-left: 52%;
    width: 17%;
}

.labelState{
    position: absolute;
    margin-top: 35%;
    margin-left: 25%;
    width: 17%;
}

.cmbCompanyState{

    position: absolute;
    margin-top: 37%;
    margin-left: 24%;
    width: 17%;
    height: 5%;
}

.btnSave{
    position: absolute;
    margin-top: 37%;
    margin-left: 50%;
    width: 17%;
    height: 5%;
    background-color: rgb(27, 236, 97);
}