<div>
    <body  background="assets/blue.jpeg" class="backImage">
        <section>
            <div>
               
                    <br>
                    <h1 class="title">Company Creation</h1>

              
            </div>

        </section>
        <section class="formArea">
            <div class="fields">
            </div>
                <!-- <form [formGroup]="companyCreationForm"> -->
                    <form>
                    <table>
                        <tr>
                            <td>
                                <label class="labelCompanyName">Company Name</label>
                                
                            </td>
                            <td>
                                <input type="text" name="companyName" class="txtCompanyName" formControlName="companyName">
                            </td>
                            <td>
                                <label class="labelCompanyGst">Company Gst</label>
                                
                            </td>
                            <td>
                                <input type="text" name="companyGsT" class="txtCompanyGst" formControlName="companyGst">
                            </td>
                            <td>
                                <label class="labelCountry">Company Country</label>
                                
                            </td>
                            <td>
                                <!-- <select matNativeControl required [(ngModel)]="countryName" name="countryName" class="cmbCountryName">
                                    <option *ngFor="let name of countryString; let i = index" [value]="name">
                                      {{name}}
                                    </option>
                                  </select> -->

                                  <select matNativeControl name="countryName" class="cmbCountryName" formControlName="country">
                                    <option value="" disabled selected></option>
                                    <option value="INDIA">INDIA</option></select>
                            </td>


                            <td>
                                <label class="labelCurrency">Company Currency</label>
                                
                            </td>

                            <td>
                                <select matNativeControl name="CurrencyName" class="cmbCurrencyName" formControlName="currencyName">
                                    <option value="" disabled selected></option>
                                    <option value="DOLAR">DOLAR</option>
                                    <option value="INR">INR</option>
                                    <option value="MVR">MVR</option>
    
                                  </select>
                            </td>


                            <td>
                                <label class="labelState">Company State</label>
                                
                            </td>

                            <td>
                                <select matNativeControl name="CompanyState" class="cmbCompanyState" formControlName="state">
                                    <option value="" disabled selected></option>
                                    <option value="KERALA">KERALA</option>
                                    <option value="TAMILNADU">TAMILNADU</option>
                                    <option value="KARNATAKA">KARNATAKA</option>
    
                                  </select>
                            </td>

                            <td>
                                <button mat-raised-button class="btnSave" (click)="submitForm()">Save Company</button>
                            </td>
                        </tr>
                    </table>
                    <!-- <label class="labelCompanyName">Company Name</label>
                    <input type="text" name="companyName" class="txtCompanyName"> -->

                    <!-- <input type="text" name="companyName" class="txtCompanyName">
                    <input type="text" name="companyName" class="txtCompanyName">
                    <input type="text" name="companyName" class="txtCompanyName">
                    <input type="text" name="companyName" class="txtCompanyName"> -->
                    <!-- <button class="btnSave"> SAVE </button> -->
                    
                </form>
         

        </section>
       
     
    </body>
</div>
