@import url("https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap");

body {
  font-family: "Maven Pro", sans-serif;
  background-color: #f12369;
}

hr {
  color: #0000004f;
  margin-top: 5px;
  margin-bottom: 5px;
}

.add td {
  color: #0c0c0c;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.content {
  font-size: 14px;
}
table,
th,
td {
  border: 5px;
  border-style: ridge;
}
.borderless {
  border: none;
  padding-left: 70%;
}
