<div class="container mt-2">
  <!-- <button class="btn btn-primary">Export To PDF</button>&nbsp;&nbsp;&nbsp; -->
  <button class="btn btn-primary" onclick="print()">Print</button
  >&nbsp;&nbsp;&nbsp;
  <button
    class="btn btn-primary"
    (click)="back()"
  >
    Back
  </button>
</div>
<div class="container mt-5 mb-3" id="pdfTable" #pdfTable>
  <div class="row d-flex justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="d-flex flex-row p-2">
          <div class="d-flex flex-column">
            <span>
              <img src="/assets/maple-logo.png" style="width: 20%; height: 12%"
            /></span>
            <span class="font-weight-bold" style="padding-left: 60%"
              ><h3><strong>Wholesale Invoice</strong></h3></span
            >
          </div>
        </div>

        <hr />
        <div class="table-responsive p-2">
          <table class="table newstyle">
            <tbody>
              <tr class="add">
                <td>To</td>
                <td>From</td>
                <td>Shipping Address</td>
              </tr>
              <tr class="content">
                <td class="font-weight-bold">
                  {{ customerMst.accountName }}<br />
                  {{ customerMst.partyAddress1 }}<br />
                  {{ customerMst.partyAddress2 }}<br />
                  {{ customerMst.customerContact }}
                </td>
                <td class="font-weight-bold">
                  {{ companyMst.companyName }}<br />
                  {{ companyMst.state }}
                </td>
                <td>
                  {{ shipping.shippingAddressName }}<br />
                  {{ shipping.address }}<br />
                  {{ shipping.state }}<br />
                  {{ shipping.phoneNumber }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr />
        <div class="products p-2">
          <table class="table newstyle">
            <tbody>
              <small>Invoice No:{{ salesTransHdr.voucherNumber }}</small>
              <tr class="add">
                <td>Sl.No.</td>
                <td>Item Name</td>
                <td>Qty</td>
                <td>Price Before Tax</td>
                <td>Tax Rate</td>
                <td>MRP</td>
                <td>Amount</td>
                <!-- <td class="text-center">Total</td> -->
              </tr>
              <tr class="content" *ngFor="let names of salesDtl; index as i">
                <td>{{ i + 1 }}</td>
                <td>{{ names.itemName }}</td>
                <td>{{ names.qty }}</td>
                <td>{{ names.rate }}</td>
                <td>{{ names.taxRate }}</td>
                <td>{{ names.mrp }}</td>
                <td>{{ names.amount }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr />
        <div class="products p-2">
          <table class="table borderless">
            <tbody>
              <tr class="add borderless">
                <td class="text-center borderless">
                  Total : {{ salesBillDetails.totalAmount | number: "1.0-2" }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <hr />
        <div class="address p-2">
          <table class="table table-borderless">
            <thead>
              <tr>
                <b>Tax Details</b>
              </tr>
              <tr class="add">
                <!-- <th>Rate</th> -->
                <th>Tax Rate</th>
                <th>SGST%</th>
                <th>CGST%</th>
                <th>IGST%</th>
                <th>SGST Amount</th>
                <th>CGST Amount</th>
                <th>IGST Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="content"
                *ngFor="let tax of taxSummaryDetails; index as i"
              >
                <!-- <td>{{ tax.rate }}</td> -->
                <td>{{ tax.taxRate }}</td>
                <td>{{ tax.sgstTaxRate }}</td>
                <td>{{ tax.cgstTaxRate }}</td>
                <td>{{ tax.igstTaxRate }}</td>
                <td>{{ tax.sgstAmount | number: "1.0-2" }}</td>
                <td>{{ tax.cgstAmount | number: "1.0-2" }}</td>
                <td>{{ tax.igstAmount | number: "1.0-2" }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
