<div>
  <input
    matInput
    [(ngModel)]="searchfiled"
    placeholder="Search for items.."
    name="searchfiled" style="width: 50%;"
  />
  
  <!-- <button class="close" (click)="closePopUp()" style="color: #fff;
  background: #0a2558;
  padding: 4px 12px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;">Close</button>
 
</div>-->
<button
class="button submitbtn"
type="submit"
(click)="closePopUp()"
>
Close
</button> 
























<div class="table-wrapper-scroll-y my-custom-scrollbar">
  <table class="table table-bordered table-striped mb-0" id="contentToConvert">
    <thead #txtInput>
      <tr>
        <th [ngClass]="'header'" scope="col">SL NO</th>
        <th [ngClass]="'header'" scope="col">ItemName</th>
        <th [ngClass]="'header'" scope="col">Barcode</th>
        <th [ngClass]="'header'" scope="col">StandardPrice</th>
        <th [ngClass]="'header'" scope="col">Cess</th>
        <th [ngClass]="'header'" scope="col">TaxRate</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let names of items | filter: searchfiled; index as i"
        (click)="highlightRow(names)"
        (keyup)="highlightRow(names)"
      >
        <td>{{ i + 1 }}</td>
        <td>{{ names.itemName }}</td>
        <td>{{ names.barCode }}</td>
        <td>{{ names.standardPrice }}</td>
        <td>{{ names.cess }}</td>
        <td>{{ names.taxRate }}</td>
      </tr>
    </tbody>
  </table>
  
</div>

