<div>
    <input matInput placeholder="Search" [(ngModel)]="searchfiled" (keyup)="onKeypressEvent($event)"
        name="searchShippingAdr">

    <button class="submitBtn" (click)="addNewShippingAddrs() ">New Shipping Address</button>
    <button class="close" (click)="close() ">Close</button>
</div>

<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0" id="contentToConvert">
        <thead #txtInput>
            <tr>
                <th [ngClass]="'header'" scope="col">Sl No</th>
                <!-- <th [ngClass]="'header'" scope="col">Customer Name</th> -->
                <th [ngClass]="'header'" scope="col">Shipping Address Name</th>
                <th [ngClass]="'header'" scope="col">Address</th>
                <th [ngClass]="'header'" scope="col">State</th>
                <th [ngClass]="'header'" scope="col">Mobile Number</th>
                <!-- <th [ngClass]="'header'" scope="col">Pincode</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let names of shippingDtls   | filter:searchfiled ;index as i " (click)="highlightRow(names)"
                (keyup)="highlightRow(names)" (keydown)="highlightRow(names)">
                <td>{{i+1}}</td>
                <td >{{ names. shippingAddressName}}</td>
                <td>{{ names.address}}</td>
                <td>{{names.state}}</td>
                <td>{{names.phoneNumber}}</td>
                <!-- <td>{{names.pincode}}</td> -->
            </tr>
        </tbody>
    </table>

</div>