<div class="container-fluid">
<h3 style="text-align: center;">DAILY SALES REPORT</h3>

<br>
<div [ngClass]="'one'">
 
  <mat-form-field appearance="fill" [ngClass]="'reportdate'">
    <mat-label>From Date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="fromdate" name="fromdate" >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker> 
   
  </mat-form-field >
  <mat-form-field appearance="fill" [ngClass]="'reportdate'">
    <mat-label>To Date</mat-label>
    <input matInput [matDatepicker]="picker2" [(ngModel)]="todate" name="todate" >
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill" [ngClass]="'reportdate'" >
    <mat-label>Branch Name</mat-label>
    <select matNativeControl required [(ngModel)]="branchname" name="branchname">
      <option *ngFor="let name of branchMst; let i = index" [value]="name.branchCode">
        {{name.branchName}}
      </option>
    </select>
    </mat-form-field>
    <button  (click)="showDaliysaleshdr()" [ngClass]="'two'" mat-button >Show</button> 
    </div>
    <hr>
    <div  class="tablesize">
         <h5><u>Sales Header</u></h5>
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-bordered table-striped mb-0" id="contentToConvert" >
            <thead >
            <tr>
                <th [ngClass]="'header'" scope="col" class="'three'">No</th>
              <th [ngClass]="'header'" scope="col">Voucher Number</th>
              <th [ngClass]="'header'" scope="col">Voucher Date</th>
              <th [ngClass]="'header'" scope="col">Customer</th>
              <th [ngClass]="'header'" scope="col">Receipt Mode</th>
              <th [ngClass]="'header'" scope="col">Invoice Amount</th>
             
             
              </tr>
            </thead>
            <tbody>
            <tr *ngFor="let name of dailySalestables; index as i" (click)="voucherDetails(name)">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ name.voucherNumber }}</td>
              <td >{{ name.voucherDate}}</td>
              <td>{{ name.customerName }}</td>
              <td>{{ name.receiptMode }}</td>
              <td>{{ name.amount }}</td>
             
            
              
            </tr>
            </tbody>
          </table>
          </div>
       </div>
       <hr>
       <h5><u>Sales Details</u></h5>
       <div class="table-wrapper-scroll-y my-custom-scrollbar">
       <table class="table table-bordered table-striped mb-0" id="contentToConvert" >
           <thead >
           <tr>
               <th [ngClass]="'header'" scope="col" class="'three'">No</th>
             <th [ngClass]="'header'" scope="col">Branch Name</th>
             <th [ngClass]="'header'" scope="col">Item Name</th>
             <th [ngClass]="'header'" scope="col">QTY</th>
             <th [ngClass]="'header'" scope="col">MRP</th>
             <th [ngClass]="'header'" scope="col">Tax Rate</th>
             <th [ngClass]="'header'" scope="col">Cess Rate</th>
             <th [ngClass]="'header'" scope="col">Unit</th>
             <th [ngClass]="'header'" scope="col">Amount</th>
            
            
             </tr>
           </thead>
           <tbody>
           <tr *ngFor="let names of voucherReprintDtl; index as i" >
             <th scope="row">{{ i + 1 }}</th>
             <td>{{ names.branchName }}</td>
             <td >{{ names.itemName}}</td>
             <td>{{ names.qty }}</td>
             <td>{{ names.mrp }}</td>
             <td>{{ names.taxRate }}</td>
             <td>{{ names.cessRate }}</td>
             <td>{{ names.unit }}</td>
             <td>{{ names.amount }}</td>
            
           
             
           </tr>
           </tbody>
         </table>
         </div>
       
      </div>


