<p>dash-board</p>

<div [ngClass]="'graph'" >
    <div class="chart-wrapper">
      <canvas baseChart 
      [datasets]="chartDatasets"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType">
    </canvas>
    </div>
  </div>
<!--   
    <div [ngClass]="'graph1'" >
      <div class="chart-wrapper">
    <canvas baseChart 
    [datasets]="chartDatasets1"
    [labels]="barChartLabels1"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [chartType]="barChartType">
  </canvas> 
</div>
</div>
    
  <div [ngClass]="'graph2'" >
    <div class="chart-wrapper">
  <canvas baseChart 
  [datasets]="chartDatasets2"
  [labels]="barChartLabels2"
  [options]="barChartOptions"
  [plugins]="barChartPlugins"
  [legend]="barChartLegend"
  [chartType]="barChartType">
</canvas>
</div>
</div>

<div [ngClass]="'graph3'" >
  <div class="chart-wrapper">
<canvas baseChart 
[datasets]="chartDatasets3"
[labels]="barChartLabels3"
[options]="barChartOptions"
[plugins]="barChartPlugins"
[legend]="barChartLegend"
[chartType]="barChartType">
</canvas>
</div>
</div>
<div [ngClass]="'graph4'" >
  <div class="chart-wrapper">
<canvas baseChart 
[datasets]="chartDatasets4"
[labels]="barChartLabels4"
[options]="barChartOptions"
[plugins]="barChartPlugins"
[legend]="barChartLegend"
[chartType]="barChartType">
</canvas>
</div>
</div>
<div [ngClass]="'graph5'" >
  <div class="chart-wrapper">
<canvas baseChart 
[datasets]="chartDatasets5"
[labels]="barChartLabels5"
[options]="barChartOptions"
[plugins]="barChartPlugins"
[legend]="barChartLegend"
[chartType]="barChartType">
</canvas>
</div>
</div>
<div [ngClass]="'graph6'" >
  <div class="chart-wrapper">
<canvas baseChart 
[datasets]="chartDatasets6"
[labels]="barChartLabels6"
[options]="barChartOptions"
[plugins]="barChartPlugins"
[legend]="barChartLegend"
[chartType]="barChartType">
</canvas>
</div>
</div>
<div [ngClass]="'graph7'" >
  <div class="chart-wrapper">
<canvas baseChart 
[datasets]="chartDatasets7"
[labels]="barChartLabels7"
[options]="barChartOptions"
[plugins]="barChartPlugins"
[legend]="barChartLegend"
[chartType]="barChartType">
</canvas>
  </div> -->



  

