.graph1
{
   width: 30%;
   height: 30%;
    margin-left:.5cm;
    position:relative;
   
    
}  
.chart {
    height: 150px;
    display: block;
    border: 1px solid black;
  }
  .graph2
{
    width: 30%;
    height: 30%;
    margin-left:1cm;
    position:relative;
    left:29%;
    bottom:30%;
   
    
} 
.graph3
{
    width: 30%;
    height: 30%;
    margin-left:1cm;
    position:relative;
    left:60%;
    bottom:60%;
    
} 
.graph4
{
    width: 30%;
    height: 30%;
    margin-left:1cm;
    position:relative;
    left:60%;
    bottom:60%;
   
    
} 
.graph5
{
    width: 30%;
    height: 30%;
   
    margin-left:1cm;
    position:relative;
    left:30%;
    bottom:90%
   
    
} 
.graph6
{
    width: 30%;
    height: 30%;
    margin-left:1cm;
    position:relative;
    left:-2%;
    bottom:120%
   
    
} 
.graph7
{
    width: 30%;
    height: 30%;
    margin-left:1cm;
    position:relative;
    left:-2%;
    bottom:120%
   
    
} 