<h1 >DAILY SALES REPORT WINDOW</h1>
    <div [ngClass]="'one'">
      <mat-form-field appearance="fill" [ngClass]="'reportdate'">
        <mat-label>From Date</mat-label>
        <input  type="date" matInput [(ngModel)]="fromdate" name="fromdate"  required />
        <!-- <input
          matInput
          [matDatepicker]="picker"
          [(ngModel)]="fromdate"
          name="fromdate"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker> -->
      </mat-form-field>
      <mat-form-field appearance="fill" [ngClass]="'reportdate'">
        <mat-label>To Date</mat-label>
        <input  type="date" matInput [(ngModel)]="todate" name="todate"  required />
        <!-- <input
          matInput
          [matDatepicker]="picker2"
          [(ngModel)]="todate"
          name="todate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker> -->
      </mat-form-field>

      <mat-form-field appearance="fill" [ngClass]="'reportdate'">
        <mat-label>Branch Name</mat-label>
        <select
          matNativeControl
          required
          [(ngModel)]="branchname"
          name="branchname"
        >
          <option
            *ngFor="let name of branchMst; let i = index"
            [value]="name.branchCode"
          >
            {{ name.branchName }}
          </option>
        </select>
      </mat-form-field>
      <button (click)="getDailySalesreport()" [ngClass]="'two'" mat-button>
        Get Report
      </button>
      <button
        (click)="renderPdf()"
        [ngClass]="'downloadexcel'"
        [disabled]="getexcelReportStatus === false"
        mat-button style="color: #fff;"
      >
        Download Excel
      </button>
      <div [ngClass]="'reportstatus'" *ngIf="getReportStatus">
        <img
          src="/assets/loading-gif.gif"
          width="80px"
          height="80px"
          alt="image"
        />
      </div>
    </div>

    <div>
      <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table
          class="table table-bordered table-striped mb-0"
          id="contentToConvert"
        >
          <thead>
            <tr>
              <th [ngClass]="'header'" scope="col" class="'three'" style="background: #0a2558;">No</th>
              <th [ngClass]="'header'" scope="col" style="background: #0a2558;">Voucher Number</th>
              <th [ngClass]="'header'" scope="col" style="background: #0a2558;">Customer Nmae</th>
              <th [ngClass]="'header'" scope="col" style="background: #0a2558;">Amount</th>
              <th [ngClass]="'header'" scope="col" style="background: #0a2558;">Voucher Date</th>
              <th [ngClass]="'header'" scope="col" style="background: #0a2558;">Customer Type</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let name of dailySalesReport; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ name.voucherNumber }}</td>
              <td>{{ name.customerName }}</td>
              <td>{{ name.amount }}</td>
              <td>{{ name.voucherDate | date }}</td>
              <td>{{ name.customerType }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  

