.one
{
    padding:10px;
margin-left: .25cm;
font-size: 14px;

}
.two
{ color: #fff;
    background: #0a2558;
    padding: 4px 12px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;

    left: 2%;
    top: -5px;
   
}

h1 {
    height: 90px;
    /* background: #16a085; */
    border-radius: 5px 5px 0 0;
    color: #000;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    
    }
.downloadexcel
{
    color: #fff;
    background-color: #7ed321;
   padding: 4px 12px;
   font-size: 15px;
   font-weight: 400;
    border-radius: 4px;
    text-decoration: none;
     transition: all 0.3s ease; 
    
    left: 5%;
    top: -5px;

}

.three
{
    position: -webkit-sticky;
    table-layout: fixed;

    top:auto;
}

.header{
    position:sticky;
    top:0;
    background-color: cornflowerblue;
   
    
}


th,td{
    font-size: 14px;
}

.my-custom-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }

  .stockmovement
  {
    height:800px;
    width:1200px;
    margin-left: 7cm;
  }  
  .todate
  {
      margin-left: 9cm;
  }
  .reportdate
    {
        height: 5px;
        width: 200px;
        font-weight: bold;
    }
    .rowdata
    {
        font-size: 10px;
    }
    .reportstatus
    {
        font-size: 14px;
       
        position: relative;
        left:920px;

        bottom:70px;
      
        opacity: .8;
        } 


        @media (max-width: 800px) {
            .container {
            width: 100%;
            }
             h1{
                font-size: 18px;
              }
              .two{
                  margin-bottom: 32px;
              }
              
            }