<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">    
      <div class="item-box">
        <h1>JOURNAL</h1>
        <div class="item-left">
          <form>
            <div class="input-row">
              <div class="input-group">
                <label>Date</label><br />
                <input type="date" [(ngModel)]="date" name="date" />
              </div>
              <div class="input-group">
                <label>Credit Account</label><br />
                <input type="text" placeholder="Enter" [(ngModel)]="crAccount" name="crAccount"
                (click)="onKeypressEvent('CR')" required>
              </div>
              <div class="input-group">
                <label>Debit Account</label><br />
                <input type="text" placeholder="Enter" [(ngModel)]="drAccount" name="drAccount" 
                (click)="onKeypressEvent('DR')" required>
              </div>
            </div>
            <div class="input-row">
              <div class="input-group">
                <label>Amount</label><br />
                <input type="text" placeholder="Enter Amount" [(ngModel)]="amount" name="amount" required>
              </div>
              <div class="input-group">
                <label>Remarks</label><br />
                <input type="text" placeholder="Enter remarks" [(ngModel)]="remarks" name="remarks" required>
              </div>
              <div class="input-group">
              
              </div>
            </div>

            <div class="buttons">
              <button type="submit" class="submitbtn" (click)="saveJournal()">Save</button>
              <button type="reset" class="submitbtn">Clear</button>
              <!-- <button type="button" class="submitbtn">Delete</button> -->
            </div>
          </form>
        </div>
        <div class="item-right">
          <div class="fixTableHead">
            <table>
                <thead>
                    <tr>
                        <th>Account</th>
                        <th>Remarks</th>
                        <th>Debit Amount</th>
                        <th>Credit Amount</th>
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let journal of journalDtlArr ;index as i " >
                    <td data-label="Account">{{getAccountNameById(journal.accountHead)}}</td>
                    <td data-label="Remarks">{{journal.remarks}}</td>
                    <td data-label="Debit Amount">{{journal.debitAmount}}</td>
                    <td data-label="Credit Amount">{{journal.creditAmount}}</td>
                  </tr>
                </tbody>
            </table>
        </div>
        <div class="input-row">
            <div class="input-group">
            <button type="submit" class="submitbtn" (click)="finalSubmit()">Submit</button>
            </div>
            <div class="input-group">
                <label>Debit Total</label><br />
                <input type="text" placeholder="" [(ngModel)]="drTotal" name="drTotal" required>
            </div>
            <div class="input-group">
                <label>Credit Total</label><br />
                <input type="text" placeholder="" [(ngModel)]="crTotal" name="crTotal" required>
            </div>
        </div> 
        </div>
      </div>
    </div>
  </body>  
</html>

