<h2>Sales Bill Details<h2>

    <br>
    <div [ngClass]="'one'">
     
     
      <mat-form-field appearance="fill" [ngClass]="'reportdate'">
        <mat-label>Report Date</mat-label>
        <input matInput [matDatepicker]="picker2" [(ngModel)]="todate" name="todate" >
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

            <button  (click)="getSalesBillDetailsreport()" [ngClass]="'two'" mat-button >Get Report</button> 
            <button (click)="renderPdf()" [ngClass]="'downloadexcel'" [disabled]="getexcelReportStatus ===false" mat-button>Download Excel</button>
            <div [ngClass]="'reportstatus'" *ngIf="getReportStatus"> <img  src="/assets/loading-gif.gif" width="80px" height="80px" alt="image"></div>
    </div>
  

    <div>

     <div [ngClass]="'stockmovement'">
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0" id="contentToConvert" >
        <thead >
        <tr>
            <th [ngClass]="'header'" scope="col" class="'three'">No</th>
          <th [ngClass]="'header'" scope="col">Branch Code</th>
          <th [ngClass]="'header'" scope="col">Min Voucher Numeric No</th>
          <th [ngClass]="'header'" scope="col">Max Voucher Numeric No</th>
          <th [ngClass]="'header'" scope="col">Sales Mode</th>
          <th [ngClass]="'header'" scope="col">Count</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let name of salesBillDetails; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ name.branchCode}}</td>
          <td>{{ name.minVoucherNumericNo}}</td>
          <td>{{ name.maxVoucherNumericNo}}</td>
          <td>{{ name.salesMode}}</td>
         
        </tr>
        </tbody>
      </table>
    </div>
      </div>
    </div>
 

  
  
 
     

     







