<!DOCTYPE html>
<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  />
</head>
<body>
  <section class="home-section">
    <!-- <nav>
      <div class="sidebar-button">
        <span class="dashboard">Generate KOT & Bill </span>
      </div>
    </nav> -->
    <h1>KOT WINDOW</h1>
    <div class="home-content">
      <div class="overview-boxes"></div>
      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="sales-details">
            <div><h3 style="text-align: center">Tables</h3></div>
            <div>
              <h3 style="text-align: center">
                <i
                  class="fa fa-arrow-circle-left"
                  aria-hidden="true"
                  (click)="backToPrevious()"
                ></i
                >&nbsp;&nbsp; Categories &nbsp;&nbsp;
                <!-- <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> -->
              </h3>
            </div>
            <div><h3 style="text-align: center">Items</h3></div>
          </div>
          <div class="sales-details">
            <div class="grid-container">
              <div
                class="item1"
                tabindex="1"
                *ngFor="let name of addKotTable; let i = index"
                (click)="getTableDetails(name.tableName)"
                style="cursor: pointer"
              >
                {{ name.tableName }}
              </div>
            </div>
            <div class="vl"></div>
            <div class="grid-container1">
              <div
                class="item1"
                tabindex="1"
                *ngFor="let name of kotCategory; let i = index"
                (click)="getKotItemByCategory(name.childItem)"
                style="cursor: pointer"
              >
                {{ name.childItem }}
              </div>
            </div>
            <div class="vl"></div>
            <div class="grid-container2">
              <div
                class="item1"
                *ngFor="let name of kotItem; let i = index"
                (click)="setItemNameForSave(name.childItem)"
                style="cursor: pointer"
              >
                {{ name.childItem }}
              </div>
            </div>
          </div>
          <div>
            <label>Customization : </label>&nbsp;
            <input
              [(ngModel)]="customization"
              name="customization"
              style="border: 0.5px solid #000000"
            />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <label>Customization Rate : </label>&nbsp;
            <input
              type="number"
              [(ngModel)]="customizationRate"
              name="customizationRate"
              style="border: 0.5px solid #000000"
              onfocus="this.value=''"
              min="0"
            />
          </div>
        </div>
        <div class="top-sales box">
          <!-- <div class="title">Top Seling Product</div> -->

          <label>Table : {{ tableName }}</label>
          <hr />

          <br />
          <br />
          <label>Quantity:</label> &nbsp;
          <input
            type="number"
            style="width: 159px; border: 0.5px solid #000000"
            #quantity
            [(ngModel)]="productQty"
            name="productQty"
            min="0"
            onfocus="this.value=''"
          />
          &nbsp;
          <button style="background-color: red" (click)="saveKotDetails()">
            Add
          </button>
          <br />
          <br />
          <div class="fixTableHead">
            <table>
              <thead>
                <tr>
                  <th>Items</th>
                  <th>Price</th>
                  <th>Qty</th>
                  <th>Total</th>
                  <th>#</th>
                </tr>
              </thead>
              <tbody class="tbodys">
                <tr *ngFor="let tempItemMstDtl of kotTableDtlList">
                  <td>{{ tempItemMstDtl.itemId }}</td>
                  <td>{{ tempItemMstDtl.rate }}</td>
                  <td>{{ tempItemMstDtl.qty }}</td>
                  <td>{{ tempItemMstDtl.qty * tempItemMstDtl.rate }}</td>
                  <td *ngIf="!isDisable">
                    <i
                      class="fas fa-trash-alt deleteButton"
                      style="color: red"
                      (click)="deleteItem(tempItemMstDtl)"
                    ></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <br /><br />
          <label>Total items : {{ totalItems }}</label>
          <br /><br />
          <button class="button button1" (click)="PrintKOT()">Print KOT</button>
          <button class="button button2" (click)="PrintBill()">
            Print Bill
          </button>
        </div>
      </div>
    </div>
  </section>
</body>
