<!-- <h1 >HSNCODE WISE SALES REPORT WINDOW</h1>
  

        <br>
        <div [ngClass]="'one'">
         
          <mat-form-field appearance="fill" [ngClass]="'reportdate'">
            <mat-label>From Date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="fromdate" name="fromdate" >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker> 
           
          </mat-form-field >
          <mat-form-field appearance="fill" [ngClass]="'reportdate'">
            <mat-label>To Date</mat-label>
            <input matInput [matDatepicker]="picker2" [(ngModel)]="todate" name="todate" >
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
    
          <mat-form-field appearance="fill" [ngClass]="'reportdate'" >
            <mat-label>Branch Name</mat-label>
            <select matNativeControl required [(ngModel)]="branchname" name="branchname">
              <option *ngFor="let name of branchMst; let i = index" [value]="name.branchCode">
                {{name.branchName}}
              </option>
            </select>
          </mat-form-field>
                <button  (click)="getHsnCodeWisereport()" [ngClass]="'two'" mat-button >Get Report</button> 
                <button (click)="renderPdf()" [ngClass]="'downloadexcel'"  [disabled]="getexcelReportStatus ===false" mat-button style="color: #fff;">Download Excel</button>
                <div [ngClass]="'reportstatus'" *ngIf="getReportStatus"> <img  src="/assets/loading-gif.gif" width="80px" height="80px" alt="image"></div>
        </div>
    
       <div >
         
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-bordered table-striped mb-0" id="contentToConvert" >
            <thead >
            <tr>
                <th [ngClass]="'header'" scope="col" class="'three'" style="background: #0a2558;">No</th>
              <th [ngClass]="'header'" scope="col" style="background: #0a2558;">voucherDate</th>
              <th [ngClass]="'header'" scope="col" style="background: #0a2558;">HSN Code</th>
              <th [ngClass]="'header'" scope="col" style="background: #0a2558;">QTY</th>
              <th [ngClass]="'header'" scope="col" style="background: #0a2558;">SGST</th>
              <th [ngClass]="'header'" scope="col" style="background: #0a2558;">CGST</th>
              <th [ngClass]="'header'" scope="col" style="background: #0a2558;">Value</th>
             
              </tr>
            </thead>
            <tbody>
            <tr *ngFor="let name of hsnCodewieseSalesReport; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ name.voucherDate }}</td>
              <td >{{ name.hsnCode}}</td>
              <td>{{ name.qty | number: '1.0-2'}}</td>
              <td>{{ name.sgst | number: '1.0-2'}}</td>
              <td>{{ name.cgst | number: '1.0-2'}}</td>
              <td>{{ name.value | number: '1.0-2' }}</td>
            
              
            </tr>
            </tbody>
          </table>
          </div>
       </div>
    
      
       -->
     
         
       <html lang="en" dir="ltr">
        <head>
          <meta charset="UTF-8" />
          <meta name="viewport" content="width=device-width, initial-scale=1.0" />
          <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          />
        </head>
        <body>
          <div class="container">
            <!-- <div style="padding: 3%"></div> -->
            <br /><br /><br /><br />
           
            <h1 >HSNCODE-WISE SALES REPORT WINDOW</h1>
            <div class="item-box">
              <div class="item-left">
                <form>
                  <div class="input-row">
                    <div class="input-group">
                      <label>From Date</label><br />
                      <input
                        type="date"
                        [(ngModel)]="fromdate"
                        name="fromdate"
                        required
                      />
                    </div>
                    <div class="input-group">
                      <label>To Date</label><br />
                      <input
                        type="date"
                        [(ngModel)]="todate"
                        name="todate"
                        required
                      />
                    </div>
                  </div>
                  <div class="input-row">
                    <div class="input-group">
                      <label>Branch</label><br />
                      <select
                        class="option"
                        name="branch"
                        [(ngModel)]="branchname"
                        required
                      >
                        <option disabled="disabled" selected="branch">
                          --branch name--
                        </option>
                        <option
                          *ngFor="let name of branchMst; let i = index"
                          [value]="name.branchCode"
                        >
                          {{ name.branchName }}
                        </option>
                      </select>
                    </div>
                  </div>
      
                  <div class="input-row">
                    <div class="buttons">
                      <button
                        class="button submitbtn"
                        type="submit"
                        (click)="getHsnCodeWisereport()"
                      >
                        Generate Report
                      </button>
                      <button
                        class="button showallbtn"
                        (click)="renderPdf()"
                        [ngClass]="'downloadexcel'"
                       style="color: #fff;
                       background: #7ed321;
                       
                       border-radius: 4px;
                       text-decoration: none;
                       transition: all 0.3s ease;">
                        Print Report
                      </button>
                      <button class="button clearbtn" type="reset">Clear</button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="item-right">
                <div class="fixTableHead">
                  <table class="item-table" id="contentToConvert">
                    <thead>
                      <tr>
                        <th >No</th>
                        <th>VoucherDate</th>
                        <th >HSN Code</th>
                        <th >QTY</th>
                        <th >SGST</th>
                        <th >CGST</th>
                        <th >Value</th>
                       
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let name of hsnCodewieseSalesReport; index as i">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>{{ name.voucherDate }}</td>
                        <td >{{ name.hsnCode}}</td>
                        <td>{{ name.qty | number: '1.0-2'}}</td>
                        <td>{{ name.sgst | number: '1.0-2'}}</td>
                        <td>{{ name.cgst | number: '1.0-2'}}</td>
                        <td>{{ name.value | number: '1.0-2' }}</td>
                      
                        
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </body>
      </html>
      


         
    
    
    
    
    