
<!doctype html>
<html class="no-js" lang="">


<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
  <link rel="shortcut icon" href="https://i.imgur.com/QRAUqs9.png">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
  <link rel="stylesheet" href="/../assets/css/cs-skin-elastic.css">

  <link rel="stylesheet" href="/../assets/css/style.css">

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>



</head>

<body>
  
  <input type="checkbox" id="menu">
   
  <div id="right-panel" class="right-panel" >
   
    <div class="breadcrumbs">
      <div class="breadcrumbs-inner">
        <div class="row m-0">
          <div class="col-sm-4">
            <div class="page-header float-left">
              <div class="page-title">
                <h1>Dashboard</h1>
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="page-header float-right">
              <div class="page-title">
                <ol class="breadcrumb text-right">
                  <li><a href="#">Dashboard</a></li>
                  <li><a href="#">Master</a></li>
                  <li class="active">User Registration</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content">
     
      <div class="animated fadeIn">

        <div class="row">
          <div class="col-xs-6 col-sm-6">
            <div class="card">
              <div class="card-header">
                <strong>Detail Entry</strong> 
              </div>

              <div class="card-body card-block">
                <div class="form-group"> 
                  <label class=" form-control-label">User Name</label>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                    <input   class="form-control"  [ngClass]="userName =='' ? 'is-invalid form-control' : 'is-valid form-control-success form-control'"  
                    type="text" [(ngModel)]="userName" name="userName" [(ngModel)]="search" required >
                  </div>
                  <small class="form-text text-muted">ex. user1</small>
                </div>

                 <div class="form-group">
                  <label class=" form-control-label">E-mail</label>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                    <input type="email"
                    class="form-control" [ngClass]="fullName ==''||!searchfind ? 'is-invalid form-control' : 'is-valid form-control-success form-control'" 
                    (blur)="checkEmail()"
                     [(ngModel)]="fullName" name="fullName">
                  </div>
                  <small class="form-text text-muted">ex. sample@gmail.com</small>
                </div>
        
                <div class="form-group">
                  <label class=" form-control-label">User Branch</label>
                  <div class="input-group">                  
                 <select   id="select" [ngClass]="branchCode =='' ? 'is-invalid form-control' : 'is-valid form-control-success form-control'"  
                 data-placeholder="Choose the branch.." class="form-control" name="branchCode" [(ngModel)]="branchCode" required 
                 style="background-image:linear-gradient(45deg, transparent 50%, gray 50%),linear-gradient(135deg, gray 50%, transparent 50%),linear-gradient(to right, #ccc, #ccc);background-position:calc(100% - 20px) calc(1em + 2px),calc(100% - 15px) calc(1em + 2px),calc(100% - 2.5em) 0.5em;background-size:5px 5px,5px 5px,1px 1.5em; background-repeat: no-repeat;">
                 <option disabled="disabled" selected="branch">--User Branch--</option>
                 <option *ngFor="let myBranch of branchMst" [ngValue]="myBranch.branchCode">
                 {{myBranch.branchName}}
                 </option>
                    </select>
                  </div>
                  <small class="form-text text-muted">ex. select branch</small>
                </div>
              </div>
            
             
              <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm" (click)="submitForm()">
                  <i class="fa fa-dot-circle-o"></i> Submit
                </button>
                <button type="reset" class="btn btn-danger btn-sm" (click)="clear()">
                  <i class="fa fa-ban"></i> Reset
                </button>
              </div>
            </div>
          </div>


          <div class="col-lg-6">
            <div class="card">
              <div class="card-header">Detail Entry </div>
              <div class="card-body card-block">
                <form action="#" method="post" class="">

                  <div class="form-group">
                    <label class=" form-control-label">Password</label>
                    <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                      <input class="form-control" type="password" [ngClass]="password =='' || passwordMatchCheck? 'is-invalid form-control' : 'is-valid form-control-success form-control'" 
                      [(ngModel)]="password" name="password"
                      (blur)="passwordMatch()">
                    </div>
                    <small class="form-text text-muted">ex.asdf345</small>
                  </div>

                  <div class="form-group">
                    <label class=" form-control-label">Confirm Password</label>
                    <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                      <input class="form-control" type="password" [ngClass]="confirmPassword =='' || passwordMatchCheck? 'is-invalid form-control' : 'is-valid form-control-success form-control'" 
                      [(ngModel)]="confirmPassword" name="confirmPassword"
                      (blur)="passwordMatch()">
                    </div>
                    <small class="form-text text-muted">ex.asdf345</small>
                  </div>

                  <div class="form-group">
                    <label class=" form-control-label"></label>
                    <div class="input-group">                   
                    </div>
                    <small class="form-text text-muted"></small>
                  </div>

                  <div class="form-actions form-group"><button type="submit"
                      class="btn btn-success btn-sm" (click)="submitForm()">Submit</button>
                    </div>
                    
                      <div class="row"  *ngIf="showMsg">
                        <div class="alert alert-success">
                        <button type="button" aria-hidden="true" class="close" onclick="this.parentElement.style.display='none';">×</button>
                        <span><b> Success - </b> Details Saved Successfully!!!</span>
                       </div>
                  </div>
                  <div class="row"  *ngIf="notSaveMsg">
                    <div class="alert alert-warning">
                    <button type="button" aria-hidden="true" class="close" onclick="this.parentElement.style.display='none';">×</button>
                    <span><b> Warning - </b> Details cannot be saved!!!</span>
                   </div>
              </div>
              <div class="row"  *ngIf="passwordMatchCheck">
                <div class="alert alert-info">
                <button type="button" aria-hidden="true" class="close" onclick="this.parentElement.style.display='none';">×</button>
                <span><b> Info - </b> Password Mismatch!!!</span>
               </div>
          </div>
          <div class="row"  *ngIf="!searchfind">
            <div class="alert alert-info">
            <button type="button" aria-hidden="true" class="close" onclick="this.parentElement.style.display='none';">×</button>
            <span><b> Info - </b> Invalid Email!!!</span>
           </div>
      </div>
                </form>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <strong class="card-title">Data Table</strong>
              </div>
 
            <div class="row">
             <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="bootstrap-data-table_length" style="margin-top: 20px;">
                <label style="margin-left: 26px;">Search : <input type="search" class="form-control form-control-sm" id="myInput"
                  onkeyup="myFunction()"
                  [(ngModel)]="userName"
                  placeholder="Search for items.." aria-controls="bootstrap-data-table" style="width: 289px;
                  display: inline-block;margin-top: 2px;"></label>
              </div>
            </div>

          </div>
              <div class="card-body">
                <table id="table.dataTable" class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>Sl. No.</th>
                      <th> User Name <i class="fa fa-long-arrow-up" aria-hidden="true" (click)="sortasc()"
                          style="bottom: 0.9em;opacity: 0.3;cursor: pointer;"></i>
                        <i class="fa fa-long-arrow-down" aria-hidden="true" (click)="sortdesc()"
                          style="cursor: pointer; bottom: 0.9em; "></i>

                      </th>
                      <th>E- mail</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor=" let tempgetUserMst of getUserMst | filter: userName ;index as i ">
                      <td>{{i+1}}</td>
                      <td>{{tempgetUserMst.userName}}</td>
                      <td>{{tempgetUserMst.fullName}}</td>
                  </tbody>
                </table>
              </div>
            </div>
          </div>


        </div>
      </div>
   
      <!-- .animated -->
    </div><!-- .content -->


    <div class="clearfix"></div>

    <footer class="site-footer">
      <div class="footer-inner bg-white">
        <div class="row">
          <div class="col-sm-6">
            Copyright &copy; 2019 MapleERP
          </div>

        </div>
      </div>
    </footer>

  </div>
  
  
  <!-- /#right-panel -->

  <!-- Right Panel -->

</body>

</html>



<!-- <html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
    
      <div class="item-box">
        <h1>USER CREATION WINDOW</h1>
        <div class="item-left">
          <form [formGroup]="userRegistrationForm">
            <div class="input-row">
              <div class="input-group">
                <label>User Name</label><br />
                <input type="text" placeholder="Enter user name" formControlName="userName" required>
              </div>
              <div class="input-group">
                <label>E-mail</label><br />
                <input type="text" placeholder="Enter user's E-mail" formControlName="fullName" [(ngModel)]="fullName" required>
              </div>
            </div>
            <div class="input-row">
              <div class="input-group">
                <label>User Branch</label><br />
                <select class="option" name="branch" formControlName="branchCode">
                  <option disabled="disabled" selected="branch">--User Branch--</option>
                 <option *ngFor="let myBranch of branchMst" [ngValue]="myBranch.branchCode">
                              {{myBranch.branchName}}
                            </option>
                </select>
              </div>
              <div class="input-group">
                <label>Password</label><br />
                <input type="password" placeholder="Enter a password" formControlName="password" required>
              </div>
            </div>
            <div class="input-row">
              <div class="input-group">
                <label>Confirm Password</label><br />
                <input type="password" placeholder="Re-enter password" formControlName="confirmPassword" required>
              </div>
              <div class="input-group">
                
              </div>
            </div>
            <div class="buttons">
              <button type="submit" class="submitbtn" (click)="submitForm()">Submit</button>
              <button type="reset" class="submitbtn" (click)="clear()">Refresh</button>
              <button type="button" class="submitbtn" (click)="showAll()">Show All</button>
            </div>
          </form>
        </div>
        <div class="item-right">
          <div class="fixTableHead">
            <table>
                <thead><tr><th>User Name</th><th>E-mail</th></tr></thead>
                <tbody>
                  <tr *ngFor="let tempgetUserMst of getUserMst ;index as i " >
                    <td data-label="User Name">{{tempgetUserMst.userName}}</td>
                    <td data-label="User Fullname">{{tempgetUserMst.fullName}}</td>
                  </tr>
                </tbody>
            </table>
        </div>
        </div>
      </div>
    </div>
  </body>  
</html> -->
