<div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
      <ul class="list-unstyled navbar-list">
        <li *ngFor="let tempcategories of productcategory">
          <a routerLink="/category/{{tempcategories.id}}" routerLinkActive="active-link">
            {{tempcategories.categoryName}}</a>
        </li>
        
      </ul>
    </nav>
  </div>
