<br>
<br>
<br>
<br>
<br>
<br>
<h3>Your Orders</h3>

<div *ngIf="orderHistoryList.length>0">

    <table class="table table-bordered">

        <tr>
           <td width="20%"> Order Tracking number</td>
           <td width="10%"> Total Price </td>
           <td width="10%"> Total Quantity</td>
           <td width="10%"> Date</td>

        </tr>
<tr  *ngFor="let temOrderHistory of orderHistoryList ">

    <td>{{temOrderHistory.orderTrackingNUmber}}</td>
    <td>{{temOrderHistory.totalPrice | currency:'INR'}}</td>
    <td>{{temOrderHistory.totalQuantity}}</td>
    <td>{{temOrderHistory.dateCreated | date:'medium'}}</td>


</tr>

    </table>
</div>

