<h1 >SALES SUMMARY REPORT WINDOW</h1>

    <br>
    <div [ngClass]="'one'">
     
      <mat-form-field appearance="fill" [ngClass]="'reportdate'">
         <mat-label>From Date</mat-label>
        <!--<input matInput [matDatepicker]="picker" [(ngModel)]="fromdate" name="fromdate" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>  -->
        <!-- <label>From Date</label> -->
        <input  type="date" matInput [(ngModel)]="fromdate" name="fromdate"  required />
      </mat-form-field >
      <mat-form-field appearance="fill" [ngClass]="'reportdate'">
        <mat-label>To Date</mat-label>
        <input  type="date" matInput [(ngModel)]="todate" name="todate"  required />
        <!-- <input matInput [matDatepicker]="picker2" [(ngModel)]="todate" name="todate" >
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker> -->
      </mat-form-field>

      <mat-form-field appearance="fill" [ngClass]="'reportdate'" >
        <mat-label>Branch Name</mat-label>
        <select matNativeControl required [(ngModel)]="branchname" name="branchname">
         
          <option *ngFor="let name of branchMst; let i = index" [value]="name.branchCode">
            {{name.branchName}}
          </option>
        </select>
      </mat-form-field>
            <button  (click)="getSalesSummaryreport()" [ngClass]="'two'" mat-button >Get Report</button> 
          
            <button (click)="renderPdf()" [ngClass]="'downloadexcel'" [disabled]="getexcelReportStatus ===false" style="color: #fff;
            background-color: #7ed321;" mat-button>Download Excel</button>
            <div [ngClass]="'reportstatus'" *ngIf="getReportStatus"> <img  src="/assets/loading-gif.gif" width="80px" height="80px" alt="image"></div>
    </div>

   <div >
     
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0" id="contentToConvert" >
        <thead >
        <tr>
            <th [ngClass]="'header'" scope="col" class="'three'" style="background: #0a2558;">No</th>
          <th [ngClass]="'header'" scope="col" style="background: #0a2558;">customerName</th>
          <th [ngClass]="'header'" scope="col" style="background: #0a2558;">voucherDate</th>
          <th [ngClass]="'header'" scope="col" style="background: #0a2558;">voucherNumber</th>
          <th [ngClass]="'header'" scope="col" style="background: #0a2558;">amount</th>
          <th [ngClass]="'header'" scope="col" style="background: #0a2558;">ebs</th>
          <th [ngClass]="'header'" scope="col" style="background: #0a2558;">cash</th>
          <th [ngClass]="'header'" scope="col" style="background: #0a2558;">paytm</th>
          <th [ngClass]="'header'" scope="col" style="background: #0a2558;">sbi</th>
          <th [ngClass]="'header'" scope="col" style="background: #0a2558;">yesbank</th>
          <th [ngClass]="'header'" scope="col" style="background: #0a2558;">coupon</th>
          <th [ngClass]="'header'" scope="col" style="background: #0a2558;">sodexo</th>
          <th [ngClass]="'header'" scope="col" style="background: #0a2558;">gpay</th>
          <th [ngClass]="'header'" scope="col" style="background: #0a2558;">phonepay</th>
          <th [ngClass]="'header'" scope="col" style="background: #0a2558;">credit</th>
          <th [ngClass]="'header'" scope="col" style="background: #0a2558;">foodPand</th>
          <th [ngClass]="'header'" scope="col" style="background: #0a2558;">uberSale</th>
          <th [ngClass]="'header'" scope="col" style="background: #0a2558;">onlineSale</th>
          <th [ngClass]="'header'" scope="col" style="background: #0a2558;">zomato</th>
          <th [ngClass]="'header'" scope="col" style="background: #0a2558;">swiggy</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let name of salesSummaryReport; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ name.customerName }}</td>
          <td >{{ name.voucherDate | date}}</td>
          <td>{{ name.voucherNumber}}</td>
          <td>{{ name.amount}}</td>
          <td>{{ name.ebs}}</td>
          <td>{{ name.cash}}</td>
          <td>{{ name.paytm}}</td>
          <td>{{ name.sbi}}</td>
          <td>{{ name.yesbank}}</td>
          <td>{{ name.coupon}}</td>
          <td>{{ name.sodexo}}</td>
          <td>{{ name.gpay}}</td>
          <td>{{ name.phonepay}}</td>
          <td>{{ name.credit}}</td>
          <td>{{ name.foodPand}}</td>
          <td>{{ name.uberSale}}</td> 
          <td>{{ name.onlineSale}}</td> 
          <td>{{ name.zomato}}</td> 
          <td>{{ name.swiggy}}</td> 
        </tr>
        </tbody>
      </table>
      </div>
   </div>

  
  
 
     

     




