<html lang="en" dir="ltr">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>
</head>
<body>
<div class="container">
    <h1>PURCHASE WINDOW</h1>
<mat-tab-group animationDuration="0ms">
<mat-tab label="Item- Details">
<div class="item-box">
   
<form>
<div class="item-left">
<!-- <div class="supplier-details"> -->
<div class="input-row">
<div class="input-group">
<label>Supplier Name</label><br />
<input type="text" placeholder="Enter" (click)="onKeypressEventSupplier()" 
[(ngModel)]="supName" value={{receiveSupp.supplierName}} name="supName" required/>
</div>
<div class="input-group">
<label>Supplier GST</label><br />
<input type="text" [(ngModel)]="suppGST" value={{receiveSupp.supGST}} name="suppGST"/>
</div>
<div class="input-group">
<label>Supplier Invoice Date</label><br />
<input type="date" [(ngModel)]="supInvDate" name="supInvDate"/>
</div>
<div class="input-group">
<label>Our Voucher Date</label><br/>
<input type="date" [(ngModel)]="ourVoucherDate" name="ourVoucherDate"/>
</div>
<div class="input-group">
<label>Narration</label><br />
<input type="text" [(ngModel)]="narrate" name="narrate"/>
</div>
</div>
<div class="input-row">
<div class="input-group">
<label>Supplier Invoice No</label><br />
<input type="text" [(ngModel)]="supInvNo" name="supInvNo"/>
</div>
<div class="input-group">
<label>Our Voucher No</label><br />
<input type="text" [(ngModel)]="vouchNo" name="vouchNo" onkeydown="return false"/>
</div>
<div class="input-group">
<label>Invoice Total</label><br />
<input type="text" [(ngModel)]="invTotal" name="invTotal"/>
</div>
<div class="input-group">
<label>PO Number</label><br />
<input type="text" [(ngModel)]="ponumber" name="ponumber"/>
</div>
<div class="input-group">
<label></label><br>
<button class="button allbtn" type="button">
Load from PO</button>
<!-- Load from PO button -->
</div> 
<!-- </div> -->
</div>
<div class="input-row">
<div class="input-group">
<label>Item Name</label><br />
<input type="text" placeholder="Enter" (click)="onKeypressEventItem($event)" 
[(ngModel)]="itmName" value={{receiveItm.itemName}} name="itmName"required/>
</div>
<div class="input-group">
<label>Barcode</label><br />
<input type="text" [(ngModel)]="itmBarCode" value={{receiveItm.barCode}} name="itmBarCode"/>
</div>
<div class="input-group">
<label>Unit</label><br />
<select class="option">
<option>{{receiveItm.unitId}}</option>
</select>
</div>
<div class="input-group">
<label>Tax Rate</label><br>
<input type="text" [(ngModel)]="itmTaxRate" value={{receiveItm.taxRate}} name="itmTaxRate"/>
</div>
<div class="input-group">
<label>Cess rate</label><br />
<input type="text" [(ngModel)]="itmCess" value={{receiveItm.cess}} name="itmCess"/>
</div>
</div>
<div class="input-row"> 
<div class="input-group">
<label>MRP</label><br />
<input type="text" [(ngModel)]="itmMrp" value={{receiveItm.standardPrice}} name="itmMrp"/>
</div>
<div class="input-group">
<label>Discount</label><br />
<input type="text" [(ngModel)]="itmDiscount" value={{receiveItm.itemDiscount}} name="itmDiscount"/>
</div>
<div class="input-group">
<label>Purchase Rate</label><br>
<input type="text" [(ngModel)]="rate" name="rate"
(change)="calculateAmount()"
(keypress)="calculateAmount()"
(keydown)="calculateAmount()"
(keyup)="calculateAmount()"/>
</div>
<div class="input-group">
<label>Quantity</label><br>
<input type="text" [(ngModel)]="qty" name="qty" 
(change)="calculateAmount()"
(keypress)="calculateAmount()"
(keydown)="calculateAmount()"
(keyup)="calculateAmount()"/>
</div>
<div class="input-group">
<label>Tax Amount</label><br>
<!-- <input type="text"/> -->
<h4>{{taxAmt}}</h4>
</div> 
</div>
<div class="input-row"> 
<div class="input-group">
<label>Cess Amount</label><br />
<!-- <input type="text"/> -->
<h4>{{cessAmt}}</h4>
</div>
<div class="input-group">
<label>Batch</label><br />
<input type="text" [(ngModel)]="batch" name="batch"/>
</div>
<div class="input-group">
<label>Amount</label><br>
<!-- <input type="text" /> -->
<h4>{{newAmount}}</h4>
</div>
<div class="input-group">
<label>Manufact. Date</label><br>
<input type="date" [(ngModel)]="manDate" name="manDate"/>
</div>
<div class="input-group">
<label>Expiry Date</label><br>
<input type="date" [(ngModel)]="expDate" name="expDate"/>
</div> 
</div>
<div class="input-row"> 
<div class="input-group">
<label>Store</label><br />
<select class="option" [(ngModel)]="store" name="store">
<!-- <option>SUB</option> -->
<option>MAIN</option>
</select>
</div>
<div class="input-group">
<label>Item Serial</label><br>
<input type="text" [(ngModel)]="itmserial" name="itmserial"/> 
</div>
<div class="input-group">
<button class="allbtn" type="submit" (click)=" addItem()">Add Item</button>
</div>
<div class="input-group">
<button class="allbtn" type="submit" (click)=" deleteItem()">Delete Item</button>
</div>
<div class="input-group">
</div> 
</div>
</div>
<div class="item-right">
<div class="fixTableHead">
<table class="item-table" id="contentToConvert">
<thead>
<tr>
    <th>Sl No</th>
<!-- <th>Item SlNo</th> -->
<th>Item Name</th>
<th>Quantity</th>
<th>MRP</th>
<th>Purchase rate</th>
<th>Amount</th>
<th>Tax</th>
<th>Cess</th>
<th>Net Cost</th>
<th>Actions</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let purchaseDtlList of purchaseDtlArray ;index as i"
 (click)="highlightRow(purchaseDtlList)">
    <td>{{i+1}}</td>
<!-- <td>{{purchaseDtlList.itemSerial}}</td> -->
<td>{{purchaseDtlList.itemName}}</td>
<td>{{purchaseDtlList.qty}}</td>
<td>{{purchaseDtlList.mrp}}</td>
<td>{{purchaseDtlList.purchseRate}}</td>
<td>{{purchaseDtlList.amount}}</td>
<td>{{purchaseDtlList.taxAmt}}</td>
<td>{{purchaseDtlList.cessAmt}}</td>
<td>{{purchaseDtlList.netCost}}</td>
<td> <i
    class="far fa-trash-alt"
    (click)="deleteRowItem(purchaseDtlList)"
    style="
      color: crimson;
      margin-right: 30%;
      margin-left: 10%;
      font-size: 12px;
      font-weight: bold;
    "
  ></i></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="divfloat">
<div class="group">
<label>Quantity Total</label><br>
<input type="text" [(ngModel)]="qtyTotal" name="qtyTotal"/>
</div>
<div class="group">
<label>Amount Total</label><br>
<input type="text" [(ngModel)]="totalAmount" name="totalAmount"/>
</div>
<div class="group">
<label>Discount Total</label><br>
<input type="text" [(ngModel)]="discountAmount" name="discountAmount"/>
</div>
</div>
<div class="divfloat">
<div class="group">
<label>Expense Total</label><br>
<input type="text"/>
</div>
<div class="group">
<label>Tax Total</label><br>
<input type="text" [(ngModel)]="taxTotal" name="taxTotal"/>
</div>
<div class="group">
<label>Total Cess</label><br>
<input type="text" [(ngModel)]="cessTotal" name="cessTotal"/>
</div>
</div>
<div class="divfloat">
<div class="group">
<label>Tax split up</label><br>
<textarea></textarea>
</div>
</div>
<div class="divfloat">
<div class="group">
<label>Total Discount Before Tax</label><br>
<input type="text"/>
</div>
<div class="group">
<label>Grand Total</label><br>
<input type="text" [(ngModel)]="grandTotal" name="grandTotal">
</div>
<div class="group">
<label>Expense Total</label><br>
<input type="text"/>
</div>
</div>
<!-- </div> -->
<div class="buttons">
<div class="group">
<button class="button showallbtn" type="submit" (click)="holdPurchase()">Hold This Purchase</button>
</div>
<div class="group">
<button class="button allbtn" type="submit">Calculate</button>
</div>
<div class="group">
<button class="button allbtn" type="submit">Preview</button>
</div>
<div class="group">
<button class="button allbtn" type="submit"  (click)= "finalSave()">Save</button>
</div>
</div>
</form>
</div>
</mat-tab>
<mat-tab label="Additional Expense">
<div class="containerin">
<div class="item-box">
<div class="item-left">
<form>
<div class="input-row">
<div class="input-group">
<label>Expense Head</label><br/>
<select class="option" name="expensehead">
<option selected=""></option>
<option VALUE="EXPENSE">EXPENSE</option>
</select>
</div>
<div class="input-group">
<label>Account Head</label><br />
<select class="option" name="accounthead">
<option selected=""></option>
<option value="">INCLUDED IN BILL</option>
<option value="">NOT IN BILL</option>
</select>
</div>
<div class="input-group">
<label>Amount</label><br />
<input type="text"/>
</div>
</div> 
<div class="input-row">
<div class="buttons">
<div class="group"></div>
<div class="group">
<button class="button allbtn" type="submit">Add</button>
</div>
<div class="group">
<button class="button allbtn" type="submit">Delete</button>
</div> 
<div class="group"></div>
</div>
</div> 
</form>
</div>
<div class="item-right">
<div class="fixTableHead">
<table class="item-table" id="contentToConvert">
<thead>
<tr>
<th>Expense Head</th>
<th>Account Head</th>
<th>Amount</th>
</tr>
</thead>
<tbody>
<tr class="selectrow">
<td data-label="expense head"></td>
<td data-label="account-head"></td>
<td data-label="amount"></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</mat-tab>
<mat-tab label="Partially Saved Purchase">
<div class="item-box">
<form>
<div class="item-left">
<div class="input-row">
<div class="input-group">
<label>Date</label><br/>
<input type="date">
</div>
<div class="input-group">
<button type="button" class="button showallbtn">Fetch Invoice No.</button>
</div>
<div class="input-group">
<div class="fixTableHead">
<table class="item-table" id="contentToConvert">
<thead>
<tr>
<th>Voucher No.</th>
<th>Supplier Name</th>
</tr>
</thead>
<tbody>
<tr class="selectrow">
<td data-label="voucher no"></td>
<td data-label="supplier name"></td>
</tr>
</tbody>
</table>
</div>
</div>
</div> 
</div>
<div class="item-right">
<div class="fixTableHead">
<table class="item-table" id="contentToConvert">
<thead>
<tr>
<th>Supplier Name</th>
<th>Voucher No.</th>
<th>Supplier Invoice No.</th>
<th>Supplier Invoice Date</th>
<th>Voucher Date</th>
<th>Invoice Total</th>
</tr>
</thead>
<tbody>
<tr class="selectrow">
<td data-label="supplier name"></td>
<td data-label="voucher no"></td>
<td data-label="suppler invoice no"></td>
<td data-label="supplier invoice date"></td>
<td data-label="voucher date"></td>
<td data-label="invoice total"></td>
</tr>
</tbody>
</table>
</div>
</div>
<div>
<button class="allbtn" type="button">Select</button>
</div>
</form>
</div>
</mat-tab>
</mat-tab-group>
</div>
</body>
</html>