@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 60%;
  margin: -10px auto;
  margin-top: 50px;
}
.item-box {
  background: #fff;
  margin-top: 20px;
}
.item-left {
  flex-basis: 40%;
  padding: 14px 14px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  padding-left: 70px;
}

h1 {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 500;
  position: relative;
  color: black;
  padding-top: 20px;
}
.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.input-row .input-group {
  flex-basis: 45%;
}
input {
  width: 75%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
}
input:focus {
  border-color: #7ed321;
}
.option {
  height: 25px;
  width: 75%;
  display: flex;
  margin: 14px 0;
  margin-top: 0;
  justify-content: space-between;
  letter-spacing: 1px;
  border: none;
  border-bottom: 1px solid #ccc;
}
.submitbtn {
  background-image: linear-gradient(135deg, #0e0e3a 30%, #6564af 90%);

  width: 200px;
  border: none;
  outline: none;
  color: #fff;
  height: 45px;
  border-radius: 30px;
  box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}

.buttons {
  width: 80%;
  display: flex;
  margin-left: 30%;
  /* align-items: center; */
  justify-content: space-between;
}
@media (max-width: 800px) {
  .container {
    width: 100%;
  }
  .submitbtn {
    width: 50px;
    font-size: 10px;
  }
}

