<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
   </head>
<body>
  <div class="container">
    <h1>Company Registration</h1>
    <div class="item-box item-left">
      <form [formGroup]="companyRegistrationForm">
        <div class="input-row">
          <div class="input-group">
            <label>Company Name</label><br>
            <input type="text" placeholder="Enter company name" formControlName="companyName" required>
          </div>
          <div class="input-group">
            <label>Company GST</label><br>
            <input type="text" placeholder="Enter company GST" formControlName="companyGst" required>
          </div>
        </div>
        <div class="input-row">
          <div class="input-group">
            <label>Country</label><br>
            <select class="option" name="country" formControlName="country">
              <option disabled="disabled" selected="select">--Country--</option>
              <option>INDIA</option>   
            </select>
          </div>
          <div class="input-group">
            <label>Company Currency</label><br>
            <select class="option" name="CurrencyName" formControlName="currencyName">
              <option disabled="disabled" selected="select">--Currency Name--</option>
              <option value="DOLAR">DOLAR</option>
              <option value="INR">INR</option>
              <option value="MVR">MVR</option>
            </select>
          </div>
        </div>
        <div class="input-row">
          <div class="input-group">
            <label>Company State</label><br>
            <select class="option" name="state" formControlName="state">
              <option disabled="disabled" selected="select">--State--</option>
              <option>KERALA</option>
              <option>ANDHRA PRADESH</option>
              <option>ARUNACHAL PRADESH</option>
              <option>ASSAM</option>
              <option>BIHAR</option>
              <option>CHHATTISGARH</option>
              <option>GOA</option>
              <option>GUJARAT</option>
              <option>HARYANA</option>
              <option>HIMACHAL PRADESH</option>
              <option>JHARKHAND</option>
              <option>KARNATAKA</option>
              <option>MADHYA PRADESH</option>
              <option>MAHARASHTRA</option>
              <option>MANIPUR</option>
              <option>MEGHALAYA</option>
              <option>MIZORAM</option>
              <option>NAGALAND</option>
              <option>ODISHA</option>
              <option>PUNJAB</option>
              <option>RAJASTHAN</option>
            </select>
          </div>
          <div class="input-group">
          </div>
        </div>
        <div class="buttons">
            <button class="submitbtn" type="submit" (click)="submitForm()">
              Save Company
            </button>
        </div>
      </form>
    </div>
  </div> 
</body>
</html>
