<div class="container mt-2">
    <!-- <button class="btn btn-primary">Export To PDF</button>&nbsp;&nbsp;&nbsp; -->
    <button class="btn btn-primary" onclick="print()">Print</button
    >&nbsp;&nbsp;&nbsp;
    <button
      class="btn btn-primary"
      onclick="window.location.href='//localhost:61414/#/loginpage/Wholesale'"
    >
      Back
    </button>
  </div>
  <div class="container mt-5 mb-3" id="pdfTable" #pdfTable>
    <div class="row d-flex justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="d-flex flex-row p-2">
            <div class="d-flex flex-column">
              <span>
                <img src="/assets/maple-logo.png" style="width: 20%; height: 12%"
              /></span>
              <span class="font-weight-bold" style="padding-left: 60%"
                ><h3><strong>Purchase Invoice</strong></h3></span
              >
              <h4 style="text-align: center;">{{companyMst.companyName}}</h4>
              <h4 style="text-align: center;">{{companyMst.companyGst}}</h4>
              <h4 style="text-align: center;">{{companyMst.state}}</h4>
            </div>
          </div>
  
          <hr />
          <div class="table-responsive p-2">
            <table class="table newstyle">
              <tbody>
                <tr class="add">
                  <td>Supplier Details</td>
              
                </tr>
                <tr class="content">
                  <td class="font-weight-bold">
                   Supplier Name:-{{accountHeads.accountName}} <br />
                   Supplier GST:{{accountHeads.partyGst}}<br />
                   Supplier Address:-{{accountHeads.partyAddress1}}<br />
                 
                 
                  </td>
               
                </tr>
              </tbody>
            </table>
          </div>
          <hr />
          <div class="products p-2">
            <table class="table newstyle">
              <tbody>
                <h5>Date:-{{purchaseHdr.voucherDate}}</h5>
                <small>Invoice No:{{ purchaseHdr.voucherNumber }}</small>
                <tr class="add">
                  <td>Sl.No.</td>
                  <td>Item Name</td>
                  <td>Qty</td>
                 
                  <td>Tax Rate</td>
                  <td>MRP</td>
                  <td>Amount</td>
                  <!-- <td class="text-center">Total</td> -->
                </tr>
                <tr class="content" *ngFor="let names of purchaseDtlArray; index as i">
                  <td>{{ i + 1 }}</td>
                  <td>{{ names.itemName }}</td>
                  <td>{{ names.qty }}</td>
                 
                  <td>{{ names.taxRate }}</td>
                  <td>{{ names.mrp }}</td>
                  <td>{{ names.amount }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <hr />
          <div class="products p-2">
            <table class="table borderless">
              <tbody>
                <tr class="add borderless">
                  <td class="text-center borderless">
                    Total : {{ purchaseHdr.invoiceTotal | number: "1.0-2" }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <hr />
          <div class="address p-2">
            <table class="table table-borderless">
              <thead>
                <tr>
                  <b>Tax Split Up</b>
                </tr>
                <tr class="add">
                  <!-- <th>Rate</th> -->
                  <th>Tax Rate</th>
                  <th>Tax Amount</th>
                
                </tr>
              </thead>
              <tbody>
                <tr
                  class="content"
                  *ngFor="let tax of purchaseReport; index as i"
                >
                  <!-- <td>{{ tax.rate }}</td> -->
                  <td>{{ tax.taxRate  | number: "1.0-2" }}</td>
                  <td>{{ tax.taxAmount | number: "1.0-2" }}</td>
                 
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
