<div [ngClass]="'title'">
  <h1>MAPLE ERP SYSTEMS ADMINISTRATION </h1>
  </div>
  <br>
  <div [ngClass]="'mainmenu'">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>settings</mat-icon>Settings
        </button>
        <mat-menu #menu="matMenu">
          <button [routerLink]="'mapleErpDeployment'" mat-menu-item >
            <mat-icon>build</mat-icon>
            <span>Deployment</span>
          </button>
          <button [routerLink]="'DailySalesReportTable'" mat-menu-item >
           
            <span>Daily Sales table</span>
          </button>
          
          <button [routerLink]="'PosWindow'" mat-menu-item >
           
            <span>PosWindow</span>
          </button>
          <button [routerLink]="'salesdeletedreport'" mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu>
        <a [ngClass]="'logt'" mat-raised-button (click)="logout()" color="accent">Logout</a>
  </div>
   <!-- <div>
    <label>Product Name</label>
   <span> <input matInput placeholder="ProductName" [(ngModel)]='recivdata.unitPrice'
    (keyup)="onKeypressEvent($event)" (click)="onKeypressEvent($event)" name="branchname"></span>
    <br>
    <br>
  <label>Unit Price</label>
   <span> <input matInput  [(ngModel)]='recivdata.unitPrice'
     name="unitprice"></span>
     <br>
    <br>
  <label>QTY</label>
   <span> <input matInput  [(ngModel)]='qty'
     name="unitprice"></span>
   
  </div> -->
  <!-- <h1>{{recivdata | json}}</h1> -->
  <router-outlet></router-outlet>
  
  