h1{
    color: green;
    font-size:x-large;
   
    margin-left: 35%;
    font-weight: bold;
   
}
.title
{
    width: 100%;
    height: 5%;
    background-color: lemonchiffon;
    padding-top: .25%;
}
.mainmenu
{
    height: 6%;
    width: 100%;
    padding-left: 1%;
    background-color: lightgreen;
}
.spacer {
    flex:1 1 auto;
}
.logt
{
    margin-left: 90%;
   
}
