/* #main {
    height:auto;
 }
  */
 .boardWrapper {
    margin-left:auto;
    margin-right:auto;
    width:300px;
    height:500px;
 }
 
 .board {
    table-layout:fixed;
    border:none;
    border-collapse:collapse;
    border-spacing:0px;
    height:100%;
    width:100%;
 }
 
 /* table.board tr td {
    border:2px solid Chartreuse;
 } */
 
 table.board tr:nth-of-type(odd) td:nth-of-type(odd),
 table.board tr:nth-of-type(even) td:nth-of-type(even) {
    background-color:lightgreen;
 }
 
 /* table.board tr:nth-of-type(even) td:nth-of-type(odd),
 table.board tr:nth-of-type(odd) td:nth-of-type(even) {
    background-color:rgb(187, 236, 187);
 } */


 .but
 {
    background-color:lightgreen;
}   
.grid-container {
   display: grid;
   grid-template-columns: auto auto auto;
   background-color: #2196F3;
   padding: 10px;
   width:min-content;
   position:relative;
 }
 .grid-item {
   background-color: rgba(255, 255, 255, 0.8);
   border: 1px solid rgba(0, 0, 0, 0.8);
   padding: 20px;
   font-size:15px;
   text-align: center;
 }