 
<h1 style="background-color: lightgreen; text-align: center;">KOT TABLE LIST & DETAILS</h1>

<div class="grid-container" >



    <button (click)="selectTable(tableDtl)" class="grid-item"
     *ngFor="let tableDtl of tableListDtl  ;  let j = index"
     [style.background-color]="'{{tableDtl.Status}}'"
   >{{tableDtl.tableName}}
      <br> <h6 style="text-align:left;">Amount:105</h6>
     <h6 style="text-align:left;">{{tableDtl.Status}}</h6>
    </button>

 
  <!-- <div class="grid-item">{{tableDtl.tableName}}</div> -->
  
</div>




   