

<div class="input">
    <label>Select Item :</label> &nbsp;&nbsp;
    <input
      matInput
      placeholder=" Select Item Name"
  />
  
   
  </div>
  
  <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0" id="contentToConvert">
      <thead #txtInput>
        <tr>
          <th [ngClass]="'header'" scope="col">Sl No</th>
          <th [ngClass]="'header'" scope="col">Item Name</th>
         
          <th [ngClass]="'header'" scope="col">Qty</th>
          <th [ngClass]="'header'" scope="col">Barcode</th>
          <th [ngClass]="'header'" scope="col">Batch</th>
          <th [ngClass]="'header'" scope="col">Unit</th>
          <th [ngClass]="'header'" scope="col">MRP</th>
          <!-- <th [ngClass]="'header'" scope="col">Item Code</th> -->
          <th [ngClass]="'header'" scope="col">Expiry</th>
          <th [ngClass]="'header'" scope="col">Store</th>
        </tr>
      </thead>
      <tbody>
  
  
        
        <tr *ngFor="
        let temp of item;
        index as i
      " 
      (click)="highlightRow(temp)"
          (keyup)="highlightRow(temp)"
          (keydown)="highlightRow(temp)">
          <td>{{ i + 1 }}</td> 
          
          <td>{{temp.itemName}}</td>
        
          <td> {{temp.qty}}</td>
          <td> {{temp.barcode}}</td>
          <td> {{temp.batch}}</td>
          <td> {{temp.unitName}}</td>
          <td> {{temp.mrp}}</td>
         
          <td> {{temp.expDate}}</td>
          <td> {{temp.store}}</td> 
        </tr>
      </tbody>
    </table>
  </div>
  
  
