<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <!-- <div style="padding: 3%"></div> -->
      <h1>USER WISE SALES REPORT WINDOW</h1>
      <div class="item-box">
        <div class="item-left">
          <form>
            <div class="input-row">
              <div class="input-group">
                <label>From Date</label><br />
                <input type="date" [(ngModel)]="fromDate" name="fromDate" />
              </div>
              <div class="input-group">
                <label>To Date</label><br />
                <input type="date" [(ngModel)]="toDate" name="toDate" />
              </div>
            </div>
            <div class="input-row">
              <div class="input-group">
                <label>User</label><br />

                <select
                  class="option"
                  [(ngModel)]="userid"
                  name="userid"
                  required
                >
                  <option disabled="disabled" selected="user">
                    --user name--
                  </option>
                  <option
                    *ngFor="let name of userMst; let i = index"
                    [value]="name.id"
                  >
                    {{ name.userName }}
                  </option>
                </select>
              </div>

              <div class="input-group">
                <label>Branch</label><br />
                <select
                  class="option"
                  name="branch"
                  [(ngModel)]="branchname"
                  required
                >
                  <option disabled="disabled" selected="branch">
                    --branch name--
                  </option>
                  <option
                    *ngFor="let name of branch; let i = index"
                    [value]="name.branchCode"
                  >
                    {{ name.branchName }}
                  </option>
                </select>
              </div>
            </div>
            <div class="input-row">
              <div class="buttons">
                <button class="button clearbtn"  style="color: #fff;
                background: #0a2558;
                padding: 4px 12px;
                border-radius: 4px;
                text-decoration: none;
                transition: all 0.3s ease;" type="reset">Clear</button>&nbsp;&nbsp;&nbsp;
                <button
                  class="button clearbtn"
                  type="submit"
                  (click)="generateReport()"
                style="color: #fff;
                background: #0a2558;
                padding: 4px 12px;
                border-radius: 4px;
                text-decoration: none;
                transition: all 0.3s ease;">
                  Generate Report
                </button>&nbsp;&nbsp;&nbsp;
                <button
                  class="button submitbtn"
                  type="submit"
                  (click)="renderPdf()"
                  style="color: #fff;
                  background: #7ed321;
                  padding: 4px 12px;
                  
                  border-radius: 4px;
                  text-decoration: none;
                  transition: all 0.3s ease;" >
                  Print Report
                </button>&nbsp;&nbsp;&nbsp;
                <button
                  class="button showallbtn"
                  type="submit"
                  (click)="printSalesReceiptSummary()"
                  style="color: #fff;
                  background: #7ed321;
                  
                  
                  border-radius: 4px;
                  text-decoration: none;
                  transition: all 0.3s ease;">
                  Print Sales Receipt Summary
                </button>
              </div>
            </div>
          </form>
        </div>

        <div class="item-right">
          <div class="fixTableHead">
            <table class="item-table" id="contentToConvert">
              <thead>
                <tr>
                  <th>Voucher Number</th>
                  <th>Voucher Date</th>
                  <th>Customer</th>
                  <th>Receipt Mode</th>
                  <th>Invoice Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let name of userWiseSalesReport; index as i"
                  (click)="salesDtl(name)"
                >
                  <td>{{ name.voucherNumber }}</td>
                  <td>{{ name.voucherDate }}</td>
                  <td>{{ name.customerName }}</td>
                  <td>{{ name.receiptMode }}</td>
                  <td>{{ name.amount | number: "1.2-2"}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="item-right">
          <div class="fixTableHead">
            <table class="item-table" id="contentToConvert">
              <thead>
                <tr>
                  <th>Item Name</th>
                  <th>Barcode</th>
                  <th>Qty</th>
                  <th>Tax Rate</th>
                  <th>Rate</th>
                  <th>Mrp</th>
                  <th>Amount</th>
                  <th>Cess Rate</th>
                  <th>Unit</th>
                  <th>Expiry</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let name of salesDetail; index as i">
                  <td>{{ name.itemName }}</td>
                  <td>{{ name.barcode }}</td>
                  <td>{{ name.qty }}</td>
                  <td>{{ name.taxRate | number: "1.2-2"}}</td>
                  <td>{{ name.rate | number: "1.2-2"}}</td>
                  <td>{{ name.mrp | number: "1.2-2"}}</td>
                  <td>{{ name.amount | number: "1.2-2"}}</td>
                  <td>{{ name.addCessRate | number: "1.2-2"}}</td>
                  <td>{{ name.unitName }}</td>
                  <td>{{ name.expiryDate }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="item-right">
          <div class="fixTableHead">
            <table
              class="item-table"
              id="salesReceipts"
              style="visibility: hidden"
            >
              <thead>
                <tr>
                  <th>Receipt Mode</th>
                  <th>Receipt Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let name of receiptModeReport; index as i"
                  (click)="salesDtl(name)"
                >
                  <td>{{ name.receiptMode }}</td>
                  <td>{{ name.amount }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
