<!-- <html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1>User Details</h1>
      <div class="item-box item-left">
        <form [formGroup]="webUserRegistration">
          <div class="input-row">
            <div class="input-group">
              <label>User Name</label><br />
              <input
                type="text"
                placeholder="Enter your name"
                formControlName="userName"
                required
              />
            </div>
            <div class="input-group">
              <label>Email ID</label><br />
              <input
                type="text"
                placeholder="Enter your Email ID"
                formControlName="emailId"
                required
              />
            </div>
          </div>
          <div class="input-row">
            <div class="input-group">
              <label>Phone No.</label><br />
              <input
                id="phoneNo"
                type="number"
                placeholder="Enter your Phone No."
                formControlName="phoneNo"
                required
                maxlength="10"
                minlength="10"
              />
            </div>
          </div>

          <div class="buttons">
            <button
              id="submit"
              class="submitbtn"
              type="submit"
              (click)="submitForm()"
              [disabled]="valid === false"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html> -->
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  </head>
<body>
  <div class="wrapper">
    <h2> User Registration</h2>
    <form action="#">
      <div class="input-box">
        <input type="text" placeholder="Enter your name"  formControlName="userName" required>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Enter your email"  formControlName="emailId" required>
      </div>
      <div class="input-box">
        <input type="number" placeholder="Enter phone number" formControlName="phoneNo" required>
      </div>
      
      <div class="policy">
        <input type="checkbox">
        <h3>I accept all terms & condition</h3>
      </div>
      <div class="input-box button">
        <input type="Submit" style="color: aliceblue;" value="Register Now">
      </div>
      <div class="text">
        <h3>Already have an account? <a href="#">Login now</a></h3>
      </div>
    </form>
  </div>
</body>
</html>
