/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 60%;
  margin: -10px auto;
  margin-top: 50px;
}
.item-box {
  background: #fff;
  margin-top: 20px;
}
.item-left {
  flex-basis: 40%;
  padding: 14px 14px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  padding-left: 70px;
}

h1 {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 500;
  position: relative;
  color: black;
  padding-top: 20px;
}
.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.input-row .input-group {
  flex-basis: 45%;
}
input {
  width: 75%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
}
input:focus {
  border-color: #7ed321;
}
.option {
  height: 25px;
  width: 75%;
  display: flex;
  margin: 14px 0;
  margin-top: 0;
  justify-content: space-between;
  letter-spacing: 1px;
  border: none;
  border-bottom: 1px solid #ccc;
}
.submitbtn {
  background-image: linear-gradient(135deg, #0e0e3a 30%, #6564af 90%);

  width: 200px;
  border: none;
  outline: none;
  color: #fff;
  height: 45px;
  border-radius: 30px;
  box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}

.buttons {
  width: 80%;
  display: flex;
  margin-left: 30%;

  justify-content: space-between;
}
@media (max-width: 800px) {
  .container {
    width: 100%;
  }
  .submitbtn {
    width: 50px;
    font-size: 10px;
  }
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
}
.wrapper{
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.wrapper h2{
  height: 90px;
  /* background: #16a085; */
  border-radius: 5px 5px 0 0;
  color: #000;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper h2::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background: #fff;
}
.wrapper form{
  margin-top: 30px;
}
.wrapper form .input-box{
  height: 52px;
  margin: 18px 0;
}
form .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.input-box input:focus,
.input-box input:valid{
  border-color:  #12876f;
}
form .policy{
  display: flex;
  align-items: center;
}
form h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
  margin-bottom: -2px;
}
.input-box.button input{
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #12876f;
  cursor: pointer;
}
.input-box.button input:hover{
  background: #12876f;
}
form .text h3{
 color: #333;
 width: 100%;
 text-align: center;
}
form .text h3 a{
  color: #12876f;
  text-decoration: none;
}
form .text h3 a:hover{
  text-decoration: underline;
}
