<div class="page-content container" >
    <div class="page-header text-blue-d2">
        <h1 class="page-title text-secondary-d1">
            Invoice
            <small class="page-info">
                <i class="fa fa-angle-double-right text-80"></i>
               {{invoiceNumber}}
            </small>
        </h1>

        <div class="page-tools">
            <div class="action-buttons">
                <button  (click)="downloadAsPDFv2()" [ngClass]="'two'" mat-button 
                >Print</button> 
               
                   
                    <button  (click)="close()" [ngClass]="'two'" mat-button >Close</button> 
               
            </div>
        </div>
    </div>


 <div  id="pdfTable" #pdfTable>
        <div>
            <div>
                <div >
                    <div >
                        <div>
                            <i class="fa fa-book fa-2x text-success-m2 mr-1"></i>
                          <img src="\assets\maple.png" width="25%" height="20%" style="float: left;" >  <span class="text-default-d3">Maple Erp Software Solutions</span>
                        </div>
                  
              

              
                     <table width="100%" border="1">
                     
                         <tr>
                         <th style="background-color: gray;">Customer Address</th>
                         <th  style="background-color: gray;">Shipping Address</th>
                         <th  style="background-color: gray;">Invoice Details</th>
                         </tr>
                         <tr>
                            <td> Customer Name : {{customerDtls.customerName}}</td>
                            <td>Name :  {{ShippingAdress.shippingAddressName}} </td>
                            <td> Invoice No:{{invoiceNumber}}</td>
                         </tr>
                         <tr>
                            <td>  Customer Address :  {{customerDtls. customerAddress}}</td>
                            <td> Address : {{ShippingAdress.address}},  {{ShippingAdress.state}}</td>
                            <td>Issue Date:{{today |date}}</td>
                        </tr>
                        <tr>
                            <td> Customer Mob No :   {{customerDtls.customerContact}}<br></td>
                            <td> Mobile Number : {{ShippingAdress.phoneNumber}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td> State :{{customerDtls.customerState}}</td>
                            <!-- <td>  Land Mark : {{ShippingAdress.landMark}},</td> -->
                            <td></td>
                        </tr>
                        <tr>
                            <td> GST NO : {{customerDtls.customerGst}}</td>
                            <td>  Country :India</td>
                            <td></td>
                        </tr>
                       
                        
                        
                       
                
                     </table>
 
             
                
     <!-- <table border="1" id="BillDtlTable" width="100%" [border]="1">
       <th><h3 >Customer Address</h3></th>
      <th><h3 >Shipping Address</h3></th>
       <th><h3>Invoice Details</h3></th>
       <tr>
       <td>
     <address id="add">
      Customer Name : {{customerDtls.customerName}}<br>
      Customer Address :  {{customerDtls. customerAddress}}<br>
      Customer Mob No :   {{customerDtls.customerContact}}<br>
      State :{{customerDtls.customerState}}<br>
      GST NO : {{customerDtls.customerGst}}<br>

      </address>
      </td>
      <td>
    <address>
    
      Name :  {{ShippingAdress.firstName}} {{ShippingAdress.lastName}}<br>
      Address : {{ShippingAdress.address}}<br>
      City : {{ShippingAdress.city}},PIN:{{ShippingAdress.zipCode}}<br>
      State : {{ShippingAdress.state}},<br>
      Country :{{ShippingAdress.country}}<br>
  
      </address>
      </td>
      <td>
        <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span class="text-600 text-90">Invoice No:</span>{{invoiceNumber}}</div>

        <div class="my-2"><i class="fa fa-circle text-blue-m2 text-xs mr-1"></i> <span class="text-600 text-90">Issue Date:</span>{{today |date}}</div>
      </td>
      </tr>
      </table> -->
     <br>

                                 

                 


                

                 
                
            <div class="table-responsive" id="BillDtl">
                <table>
                    <thead  >
                      
                            <th style="width: 2% ;background-color: gray;">No</th>
                            <th style="width: 28%;background-color: gray;">ITEM NAME</th>
                            <th style="width: 8%;background-color: gray;">HSN Code</th>
                            <th style="width: 3%;background-color: gray;">QTY</th>
                            <th style="width: 12%;background-color: gray; ">Price Before Tax</th>
                            <th style="width: 10%;background-color: gray;">Tax Rate %</th>
                            <th style="width: 3%;background-color: gray;">MRP</th>
                            <th style="width: 3%;background-color: gray;">AMOUNT</th>
                      
                    </thead>

                    <tbody >
                        <tr></tr>
                        <!-- <tr *ngFor="let billDetailsTemp of billDetails; index as i" > -->
                            <tr *ngFor="let billDetailsTemp of posBillSummary; index as i" >
                            <td style="height: 1px;">{{i+1}}</td>
                            <td  style="height: 1px;">{{billDetailsTemp.itemName}}</td>
                            <td  style="height: 1px;">{{billDetailsTemp.unit}</td>
                            <td  style="height: 1px;">{{billDetailsTemp.qty}}</td>
                            <td  style="height: 1px;">
                                {{billDetailsTemp.standardPrice*100/(100+billDetailsTemp.taxRate) | number: '1.0-2'}}
                            </td>
                            <td  style="height: 1px;">{{billDetailsTemp.taxRate}}</td>
                            <td  style="height: 1px;" class="text-95">{{billDetailsTemp.standardPrice}}</td>
                            <td  style="height: 1px;" class="text-secondary-d2">{{billDetailsTemp.amount}}</td>
                        </tr> 
                    </tbody>
                </table>
            </div>
            <hr>

                    <div>
                        <div >
                           <h6 style="font-weight: bold;">Tax Split Up</h6>
                            <table width="50%" border="1">
                            
                                <tr>
                                <th style="background-color: gray;">Rate</th>
                                <th  style="background-color: gray;">Tax Rate%</th>
                                <th  style="background-color: gray;">SGST%</th>
                                <th  style="background-color: gray;">CGST%</th>
                                <th   style="background-color: gray;">SGST Amount</th>
                                <th  style="background-color: gray;">CGST Amount</th>
                                  </tr>
                                  <tr *ngFor="let temp of taxCalculations; index as i" >

                               <td  *ngIf="temp.rate" >{{temp.rate}}</td> 
                                    <td  *ngIf="temp.taxRate">{{temp.taxRate}}</td>
                                    <td  *ngIf="temp.sgstPercent">{{temp.sgstPercent}}</td>
                                    <td  *ngIf="temp.cgstPercent">{{temp.cgstPercent}}</td>
                                    <td  *ngIf="temp.sgstAmount">{{temp.sgstAmount | number: '1.0-2'}}</td>
                                    <td  *ngIf="temp.cgstAmount">{{temp.cgstAmount | number: '1.0-2'}}</td>
                                  </tr>
                                  <hr width="930%" >
                                  <tr id="taxsplit" >
                                      <td  style="font-weight: bold;">Total:-</td>
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      <td style="font-weight: bold;">{{sgstTotal | number: '1.0-2'}}</td>
                                      <td style="font-weight: bold;">{{cgstTotal | number: '1.0-2'}}</td>
                                  </tr>
                               
                              
                       
                            </table>
        
                        </div>

                        <div  id="taxDtl" style="width: 20%; height: 40%;background-color: lightgray;">
                            <div >
                             
                                <div>
                                    Taxable Amount:  <span> ₹ {{totalAmountWithoutTax | number: '1.0-2'}}</span>
                                </div>
                            </div>

                            <div>
                              
                                <div >
                                    Tax Amount:   <span> ₹ {{totalAmount-totalAmountWithoutTax | number: '1.0-2'}}</span>
                                </div>
                            </div>

                            <div >
                             
                                <div style="font-weight: bold;">
                                    Total Amount:  <span> ₹ {{totalAmount}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                    <hr />

                    <div>
                     
                        <span class="text-secondary-d1 text-105">Thank you for your business</span>
                      
                    </div>
                </div>   
                </div>
                </div>
                </div>
         
 {{posBillSummary|json}}
    


   