
<!doctype html>
<html class="no-js" lang="">


<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
  <link rel="shortcut icon" href="https://i.imgur.com/QRAUqs9.png">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
  <link rel="stylesheet" href="/../assets/css/cs-skin-elastic.css">

  <link rel="stylesheet" href="/../assets/css/style.css">

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>



</head>

<body>
  
  <!-- <input type="checkbox" id="menu"> -->
  <aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div id="main-menu" class="main-menu collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li >
                <a [routerLink]="'DashBoard'" (click)="dashBoardClick()" ><i class="menu-icon fa fa-laptop"></i>DashBoard</a>
            </li>

            <li class="menu-title">Extras</li>
           
            <li >
              <a [routerLink]="'PosWindow'"  (click)="posClick()" ><i class="menu-icon fa fa-shopping-bag"></i>POS </a>
          </li>
          <li>
            <a  [routerLink]="'PartyCreation'" (click)="partyCreateClick()"  ><i class="menu-icon fa fa-address-card"></i>Party Creation</a>
        </li>
        <li>
          <a  [routerLink]="'Purchase'" (click)="purchaseClick()" ><i class="menu-icon fa   fa-shopping-basket"></i>Purchase </a>
      </li>
      <li>
        <a  [routerLink]="'Purchase'" (click)="itemClick()" ><i class="menu-icon fa   fa-bandcamp"></i>Item Creation </a>
    </li>
           
        </ul>
        </div>
        
        
        
        <!-- /.navbar-collapse -->
    </nav>
</aside>
  <div id="right-panel" class="right-panel" >
   
    <div class="breadcrumbs">
      <div class="breadcrumbs-inner">
        <div class="row m-0">
          <div class="col-sm-4">
            <div class="page-header float-left">
              <div class="page-title">
                <h1>Dashboard</h1>
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="page-header float-right">
              <div class="page-title">
                <ol class="breadcrumb text-right">
                  <li><a href="#">Dashboard</a></li>
                  <li><a href="#">Master</a></li>
                  <li class="active">Party Creation</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content">
     
      <div class="animated fadeIn">

        <div class="row">
          <div class="col-xs-6 col-sm-6">
            <div class="card">
              <div class="card-header">
                <strong>Detail Entry</strong> 
              </div>
              <div class="card-body card-block">

                <div class="form-group">
                  <label class=" form-control-label">Party Type</label>
                  <div class="input-group">
                   
                 <select   id="select" [ngClass]="custOrSup =='' ? 'is-invalid form-control' : 'is-valid form-control-success form-control'"  
                 data-placeholder="Choose the party type..." class="form-control" name="custOrSup" [(ngModel)]="custOrSup" required 
                 style="background-image:linear-gradient(45deg, transparent 50%, gray 50%),linear-gradient(135deg, gray 50%, transparent 50%),linear-gradient(to right, #ccc, #ccc);background-position:calc(100% - 20px) calc(1em + 2px),calc(100% - 15px) calc(1em + 2px),calc(100% - 2.5em) 0.5em;background-size:5px 5px,5px 5px,1px 1.5em; background-repeat: no-repeat;">
                 <option>CUSTOMER</option>
                 <option>SUPPLIER</option>
                 <option>MNF</option>
                 <option>BOTH</option> 
                    </select>
                  </div>
                  <small class="form-text text-muted">ex. select type</small>
                </div>

                <div class="form-group">
                  <label class=" form-control-label">Party Name</label>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                    <input   class="form-control"  [ngClass]="partyName =='' ? 'is-invalid form-control' : 'is-valid form-control-success form-control'"  type="text" 
                    [(ngModel)]="partyName" name="partyName" required >
                  </div>
                  <small class="form-text text-muted">ex. PARTY</small>
                </div>

                <div class="form-group">
                  <label class=" form-control-label">Company Name</label>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                    <input   class="form-control"  [ngClass]="companyName =='' ? 'is-invalid form-control' : 'is-valid form-control-success form-control'"  type="text" 
                    [(ngModel)]="companyName" name="companyName" required >
                  </div>
                  <small class="form-text text-muted">ex. COMPANY</small>
                </div>

                <div class="form-group">
                  <label class=" form-control-label">Address</label>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                    <input   class="form-control"  [ngClass]="address =='' ? 'is-invalid form-control' : 'is-valid form-control-success form-control'"  
                    type="text" [(ngModel)]="address" name="address" required >
                  </div>
                  <small class="form-text text-muted">ex. ADDRESS</small>
                </div>

                <div class="form-group">
                  <label class=" form-control-label">Credit Period</label>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                    <input   class="form-control"  [ngClass]="creditPeriod =='' ? 'is-invalid form-control' : 'is-valid form-control-success form-control'"  
                    type="text" [(ngModel)]="creditPeriod" name="creditPeriod" required >
                  </div>
                  <small class="form-text text-muted">ex. 1</small>
                </div>

                <div class="form-group">
                  <label class=" form-control-label">Phone Number</label>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                    <input   class="form-control"  [ngClass]="phoneNumber =='' || phoneCheck ? 'is-invalid form-control' : 'is-valid form-control-success form-control'"  
                    type="number" [(ngModel)]="phoneNumber" name="phoneNumber" (blur)="phoneNumberChecking()" required >
                  </div>
                  <small class="form-text text-muted">ex. 9898989898</small>
                </div>

                <div class="form-group">
                  <label class=" form-control-label">Group</label>
                  <div class="input-group">                   
                 <select   id="select" [ngClass]="group =='' ? 'is-invalid form-control' : 'is-valid form-control-success form-control'"  
                 data-placeholder="Choose the group..." class="form-control" name="group" [(ngModel)]="group" required 
                 style="background-image:linear-gradient(45deg, transparent 50%, gray 50%),linear-gradient(135deg, gray 50%, transparent 50%),linear-gradient(to right, #ccc, #ccc);background-position:calc(100% - 20px) calc(1em + 2px),calc(100% - 15px) calc(1em + 2px),calc(100% - 2.5em) 0.5em;background-size:5px 5px,5px 5px,1px 1.5em; background-repeat: no-repeat;">             
                 <option disabled="disabled" selected="group"></option>
                 <option *ngFor=" let gp of assetAccounts;">{{gp.accountName}}</option> 
                </select>
                  </div>
                  <small class="form-text text-muted">ex. select group</small>
                </div>

                <div class="form-group">
                  <label class=" form-control-label">Discount Percent</label>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                    <input   class="form-control"  [ngClass]="discountPercent =='' ? 'is-invalid form-control' : 'is-valid form-control-success form-control'"  
                    type="text" [(ngModel)]="discountPercent" name="discountPercent" required >
                  </div>
                  <small class="form-text text-muted">ex. 1</small>
                </div>

                <div class="form-group">
                  <label class=" form-control-label">Discount Property</label>
                  <div class="input-group">
                   
                 <select   id="select" [ngClass]="discountProperty =='' ? 'is-invalid form-control' : 'is-valid form-control-success form-control'"  
                 data-placeholder="Choose the discount property..." class="form-control" name="discountProperty" [(ngModel)]="discountProperty" required 
                 style="background-image:linear-gradient(45deg, transparent 50%, gray 50%),linear-gradient(135deg, gray 50%, transparent 50%),linear-gradient(to right, #ccc, #ccc);background-position:calc(100% - 20px) calc(1em + 2px),calc(100% - 15px) calc(1em + 2px),calc(100% - 2.5em) 0.5em;background-size:5px 5px,5px 5px,1px 1.5em; background-repeat: no-repeat;">
                  <option disabled selected>Select Discount Property</option>
                  <option>ON BASIS OF BASE PRICE</option>
                  <option>ON BASIS OF MRP</option>
                  <option>ON BASIS OF DISCOUNT INCLUDING TAX</option> 
                    </select>
                  </div>
                  <small class="form-text text-muted">ex. select discount property</small>
                </div>

                <div class="form-group">
                  <label class=" form-control-label">Invoice Format</label>
                  <div class="input-group">                   
                 <select   id="select" [ngClass]="invoiceFormat =='' ? 'is-invalid form-control' : 'is-valid form-control-success form-control'"  
                 data-placeholder="Choose the invoice format..." class="form-control" name="invoiceFormat" [(ngModel)]="invoiceFormat" required 
                 style="background-image:linear-gradient(45deg, transparent 50%, gray 50%),linear-gradient(135deg, gray 50%, transparent 50%),linear-gradient(to right, #ccc, #ccc);background-position:calc(100% - 20px) calc(1em + 2px),calc(100% - 15px) calc(1em + 2px),calc(100% - 2.5em) 0.5em;background-size:5px 5px,5px 5px,1px 1.5em; background-repeat: no-repeat;">             
                 <option disabled="disabled" selected="invoiceFormat"></option>   
                <option *ngFor=" let gp of invoiceFormatMst;" [value]="gp.reportName">{{gp.reportName}}</option>
                </select>
                  </div>
                  <small class="form-text text-muted">ex. select invoice format</small>
                </div>

              </div>
            
             
              <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm" (click)="saveAccounts()">
                  <i class="fa fa-dot-circle-o"></i> Submit
                </button>
                <button type="reset" class="btn btn-danger btn-sm" (click)="clear()">
                  <i class="fa fa-ban"></i> Reset
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header">Detail Entry </div>
              <div class="card-body card-block">
                <form action="#" method="post" class="">

                  <div class="form-group">
                    <label class=" form-control-label">Email Id</label>
                    <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                      <input class="form-control" type="email" [ngClass]="emailId =='' || !searchfind ? 'is-invalid form-control' : 'is-valid form-control-success form-control'"
                       [(ngModel)]="emailId" name="emailId" (blur)="emailChecking()">
                    </div>
                    <small class="form-text text-muted">ex.sample@gmail.com</small>
                  </div>

                  <div class="form-group">
                    <label class=" form-control-label">GST Number</label>
                    <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                      <input   class="form-control"  [ngClass]="gstNumber =='' ? 'is-invalid form-control' : 'is-valid form-control-success form-control'"  
                      type="text" [(ngModel)]="gstNumber" name="gstNumber" required >
                    </div>
                    <small class="form-text text-muted">ex. 32ABCD5678GH89</small>
                  </div>

                  <div class="form-group">
                    <label class=" form-control-label">Country</label>
                    <div class="input-group">                   
                   <select   id="select" [ngClass]="country =='' ? 'is-invalid form-control' : 'is-valid form-control-success form-control'"  
                   data-placeholder="Choose the country..." class="form-control" name="country" [(ngModel)]="country" required 
                   (change)="getState(country)" 
                   style="background-image:linear-gradient(45deg, transparent 50%, gray 50%),linear-gradient(135deg, gray 50%, transparent 50%),linear-gradient(to right, #ccc, #ccc);background-position:calc(100% - 20px) calc(1em + 2px),calc(100% - 15px) calc(1em + 2px),calc(100% - 2.5em) 0.5em;background-size:5px 5px,5px 5px,1px 1.5em; background-repeat: no-repeat;">             
                   <option disabled selected> select Country</option>
                   <option *ngFor=" let cntry of countryList;">{{cntry}}</option>
                  </select>
                    </div>
                    <small class="form-text text-muted">ex. select country</small>
                  </div>

                  <div class="form-group">
                    <label class=" form-control-label">State</label>
                    <div class="input-group">                   
                   <select   id="select" [ngClass]="state =='' ? 'is-invalid form-control' : 'is-valid form-control-success form-control'"  
                   data-placeholder="Choose the state..." class="form-control" name="state" [(ngModel)]="state" required 
                   style="background-image:linear-gradient(45deg, transparent 50%, gray 50%),linear-gradient(135deg, gray 50%, transparent 50%),linear-gradient(to right, #ccc, #ccc);background-position:calc(100% - 20px) calc(1em + 2px),calc(100% - 15px) calc(1em + 2px),calc(100% - 2.5em) 0.5em;background-size:5px 5px,5px 5px,1px 1.5em; background-repeat: no-repeat;">             
                   <option disabled selected> Select State</option>
                    <option *ngFor="let st of stateList">{{st}}</option>
                  </select>
                    </div>
                    <small class="form-text text-muted">ex. select state</small>
                  </div> 
                  
                  <div class="form-group">
                    <label class=" form-control-label">Currency Name</label>
                    <div class="input-group">                   
                   <select   id="select" [ngClass]="currencyName =='' ? 'is-invalid form-control' : 'is-valid form-control-success form-control'"  
                   data-placeholder="Choose the state..." class="form-control" name="currencyName" [(ngModel)]="currencyName" required 
                   style="background-image:linear-gradient(45deg, transparent 50%, gray 50%),linear-gradient(135deg, gray 50%, transparent 50%),linear-gradient(to right, #ccc, #ccc);background-position:calc(100% - 20px) calc(1em + 2px),calc(100% - 15px) calc(1em + 2px),calc(100% - 2.5em) 0.5em;background-size:5px 5px,5px 5px,1px 1.5em; background-repeat: no-repeat;">             
                   <option disabled selected> select currency name</option>
                   <option>INR</option>
                   <option>DOLLAR</option>
                   <option>EURO</option>
                   <option>POUND</option>
                   <option>MVR</option>
                  </select>
                    </div>
                    <small class="form-text text-muted">ex. select currency</small>
                  </div> 

                  <div class="form-group">
                    <label class=" form-control-label">Price Type</label>
                    <div class="input-group">                   
                   <select   id="select" [ngClass]="priceType =='' ? 'is-invalid form-control' : 'is-valid form-control-success form-control'"  
                   data-placeholder="Choose the price type..." class="form-control" name="priceType" [(ngModel)]="priceType" required 
                   style="background-image:linear-gradient(45deg, transparent 50%, gray 50%),linear-gradient(135deg, gray 50%, transparent 50%),linear-gradient(to right, #ccc, #ccc);background-position:calc(100% - 20px) calc(1em + 2px),calc(100% - 15px) calc(1em + 2px),calc(100% - 2.5em) 0.5em;background-size:5px 5px,5px 5px,1px 1.5em; background-repeat: no-repeat;">             
                   <option disabled="disabled" selected="priceType"></option>
                    <!-- URL -->
                    <option *ngFor=" let price of priceTypeMst;" [value]="price.id">{{price.priceLevelName}}</option>
                  </select>
                    </div>
                    <small class="form-text text-muted">ex. select price type</small>
                  </div> 

                  <div class="form-group">
                    <label class=" form-control-label">Bank Name</label>
                    <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                      <input   class="form-control"  [ngClass]="bankName =='' ? 'form-control' : 'is-valid form-control-success form-control'"  
                      type="text" [(ngModel)]="bankName" name="bankName" required >
                    </div>
                    <small class="form-text text-muted">ex. SBI</small>
                  </div>

                  <div class="form-group">
                    <label class=" form-control-label">Bank Account Name</label>
                    <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                      <input   class="form-control"  [ngClass]="bankAccountName =='' ? 'form-control' : 'is-valid form-control-success form-control'"  
                      type="text" [(ngModel)]="bankAccountName" name="bankAccountName" required >
                    </div>
                    <small class="form-text text-muted">ex. bank account</small>
                  </div>

                  <div class="form-group">
                    <label class=" form-control-label">IFSC</label>
                    <div class="input-group">
                      <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                      <input class="form-control"  [ngClass]="bankIfsc =='' ? 'form-control' : 'is-valid form-control-success form-control'"  
                      type="text" [(ngModel)]="bankIfsc" name="bankIfsc" required >
                    </div>
                    <small class="form-text text-muted">ex. bank ifsc</small>
                  </div>

                  <div class="form-actions form-group"><button type="submit"
                      class="btn btn-success btn-sm" (click)="saveAccounts()">Submit</button>
                    </div>
                    
                      <div class="row"  *ngIf="showMsg">
                        <div class="alert alert-success">
                        <button type="button" aria-hidden="true" class="close" onclick="this.parentElement.style.display='none';">×</button>
                        <span><b> Success - </b> Details Saved Successfully!!!</span>
                       </div>
                  </div>
                  <div class="row" *ngIf="phoneCheck">
                    <div class="alert alert-info">
                    <button type="button" aria-hidden="true" class="close" onclick="this.parentElement.style.display='none';">×</button>
                    <span><b> Info - </b> Enter 10 digit number!!!</span>
                    </div>
                    </div>
          
                    <div class="row" *ngIf="!searchfind">
                      <div class="alert alert-info">
                      <button type="button" aria-hidden="true" class="close" onclick="this.parentElement.style.display='none';">×</button>
                      <span><b> Info - </b> Invalid Email!!!</span>
                      </div>
                      </div>

                </form>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <strong class="card-title">Data Table</strong>
              </div>
 
            <div class="row">
             <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="bootstrap-data-table_length" style="margin-top: 20px;">
                <label style="margin-left: 26px;">Search : <input type="search" class="form-control form-control-sm" id="myInput"
                 
                  [(ngModel)]="partyName"
                  placeholder="Search for items.." aria-controls="bootstrap-data-table" style="width: 289px;
                  display: inline-block;margin-top: 2px;"></label>
              </div>
            </div>

          </div>
              <div class="card-body">
                <table id="table.dataTable" class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th> Party Name <i class="fa fa-long-arrow-up" aria-hidden="true" (click)="sortasc()"
                          style="bottom: 0.9em;opacity: 0.3;cursor: pointer;"></i>
                        <i class="fa fa-long-arrow-down" aria-hidden="true" (click)="sortdesc()"
                          style="cursor: pointer; bottom: 0.9em; "></i>
                      </th>
                      <th>Party Type</th>
                      <th>Address</th>
                      <th>GST Number</th>
                      <th>Contact Number</th>
                      <th>Email Address</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="
                    let party of accountHeads| filter:partyName;
                    index as i ">
                    <td data-label="Name">{{party.accountName}}</td>
                    <td data-label="Party Type">{{party.customerOrSupplier}}</td>
                    <td data-label="Address">{{party.partyAddress1}}</td>
                    <td data-label="GST Number">{{party.partyGst}}</td>
                    <td data-label="Contact Number">{{party.customerContact}}</td>
                    <td data-label="Email Address">{{party.partyMail}}</td>                  
                  </tbody>
                </table>
              </div>
             
            </div>
          </div>


        </div>
      </div>
   
      <!-- .animated -->
    </div><!-- .content -->


    <div class="clearfix"></div>

    <footer class="site-footer">
      <div class="footer-inner bg-white">
        <div class="row">
          <div class="col-sm-6">
            Copyright &copy; 2019 MapleERP
          </div>

        </div>
      </div>
    </footer>

  </div>
  
  
  <!-- /#right-panel -->

  <!-- Right Panel -->

</body>

</html>

<!-- <html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">      
      <div class="item-box">
        <h1 >PARTY CREATION</h1>
        <div class="item-left">
       <form> 
            <div class="input-row">
              <div class="input-group">
                <label>Supplier or Customer</label><br />
                <select class="option" [(ngModel)]="custOrSup" name="custOrSup" required>
                    <option disabled selected>Select Party type</option>
                    <option>CUSTOMER</option>
                    <option>SUPPLIER</option>
                    <option>MNF</option>
                    <option>BOTH</option>                              
                </select>
              </div>
              <div class="input-group">
                <label>Party Name</label><br />
                <input type="text" placeholder="Enter Party Name" [(ngModel)]="partyName" name="partyName"  required>
              </div>
              <div class="input-group">
                <label>Company Name</label><br />

                <input type="text" placeholder="Enter Company Name"[(ngModel)]="companyName" name="companyName" required>
              </div>
              <div class="input-group">
                <label>Address</label><br />
                <input type="text" placeholder="Enter Address"[(ngModel)]="address" name="address" required>
              </div>
            </div>

            <div class="input-row">
              <div class="input-group">
                <label>Credit Period</label><br />
                <input type="text" placeholder="Enter Credit Period"[(ngModel)]="creditPeriod" name= "creditPeriod" required>
              </div>
              <div class="input-group">
                <label>Phone Number</label><br />
                <input type="number" placeholder="Enter Phone Number" [(ngModel)]="phoneNumber" name="phoneNumber" required>
              </div>
              <div class="input-group">
                <label>Group</label><br />
                <select class="option" [(ngModel)]="group" name="group" required>
                  <option disabled="disabled" selected="group"></option>

                    <option *ngFor=" let gp of assetAccounts;">{{gp.accountName}}</option>                             
                </select>
              </div>
              <div class="input-group">
                <label>Discount Percent</label><br />
                <input type="number" placeholder="Enter Discount Percent" [(ngModel)]="discountPercent" name="discountPercent" required>
              </div>
            </div>

            <div class="input-row">
              <div class="input-group">
                <label>Discount Property</label><br />
                <select class="option" [(ngModel)]="discountProperty" name="discountProperty" required> 
                    <option disabled selected>Select Discount Property</option>
                    <option>ON BASIS OF BASE PRICE</option>
                    <option>ON BASIS OF MRP</option>
                    <option>ON BASIS OF DISCOUNT INCLUDING TAX</option>
                     </select>
              </div>
              <div class="input-group">
                <label>Invoice Format</label><br />
                <select class="option" [(ngModel)]="invoiceFormat" name="invoiceFormat" required>
                  <option disabled="disabled" selected="invoiceFormat"></option>
                    <option *ngFor=" let gp of invoiceFormatMst;" [value]="gp.reportName">{{gp.reportName}}</option>
                    
                    </select>
              </div>
              <div class="input-group">
                <label>Email Id</label><br />
                <input type="text" placeholder="Enter Email Id"[(ngModel)]=" emailId" name=" emailId" required>
              </div>
              <div class="input-group">
                <label>GST Number
                </label>
                <input type="text" placeholder="Enter GST Number"[(ngModel)] ="gstNumber" name="gstNumber" required>
              </div>
            </div>

            <div class="input-row">
                <div class="input-group">
                    <label>Country
                    </label><br/>
                    <select class="option" [(ngModel)]="country" name="country" (change)="getState(country)" required>    
                        <option disabled selected> select Country</option>
                        <option *ngFor=" let cntry of countryList;">{{cntry}}</option> 
                        </select>
                </div>
              <div class="input-group">
                <label>State
                </label><br/>
                <select class="option" [(ngModel)]="state" name="state" required>    
                    <option disabled selected> Select State</option>
                    <option *ngFor="let st of stateList">{{st}}</option>
                    </select>
              </div>
              <div class="input-group">
                <label>Currency Name
                </label><br/>
                <select class="option" [(ngModel)]="currencyName" name="currencyName" required>
                    <option disabled selected> select currency name</option>
                    <option>INR</option>
                    <option>DOLLAR</option>
                    <option>EURO</option>
                    <option>POUND</option>
                    <option>MVR</option>
                    </select>
            </div>
            <div class="input-group">
              <label>Price Type
              </label><br/>
              <select class="option" [(ngModel)]="priceType" name="priceType" required>              
                <option disabled="disabled" selected="priceType"></option>

                  <option *ngFor=" let price of priceTypeMst;" [value]="price.id">{{price.priceLevelName}}</option>

                  
                  </select>
          </div>
        </div>
        <div class="input-row">
          <div class="input-group">
            <label>Bank Name
            </label>
            <input type="text" placeholder="Enter Bank Name" [(ngModel)] ="bankName" name="bankName" required>
            </div>
          <div class="input-group">
            <label>Bank Account Name
            </label>
            <input type="text" placeholder="Enter Bank Account Name" [(ngModel)] ="bankAccountName" name="bankAccountName" required>
          </div>
          <div class="input-group">
            <label>Bank IFSC
            </label>
            <input type="text" placeholder="Enter Bank IFSC" [(ngModel)] ="bankIfsc" name="bankIfsc" required>
          </div>
          <div class="input-group">
            
          </div>
        </div>
            <div class="input-row">
                <div class="buttons">
                <button
                  class="button clearbtn "
                  type="reset"
                 (click)="clearAccounts()"
                >
                  Clear
                </button>
                <button
                  class="button submitbtn "
                  type="submit"
                  (click)="saveAccounts()"
                >
                  Save
                </button>
                <button
                  class="button showallbtn "
                  type="submit"
                  (click)="showAllAccounts()"
                >
                  ShowAll
                </button>

              </div> 
            </div>
        </form>  
        </div>
        <div class="item-right">

          <div class="fixTableHead">
            <table class="item-table" id="contentToConvert">
              <thead>
                <tr>
                    <th>Party Type</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>GST Number</th>
                    <th>Contact Number</th>
                    <th>Email Address</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="
                let party of accountHeads| filter:partyName;
                index as i ">
                <td data-label="Party Type">{{party.customerOrSupplier}}</td>
                <td data-label="Name">{{party.accountName}}</td>
                <td data-label="Address">{{party.partyAddress1}}</td>
                <td data-label="GST Number">{{party.partyGst}}</td>
                <td data-label="Contact Number">{{party.customerContact}}</td>
                <td data-label="Email Address">{{party.partyMail}}</td>
              </tr>
              </tbody>
            </table>
          </div>

          
        </div>
      </div>
    </div>
  </body>
</html> -->
