<!DOCTYPE html>

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
/>

<body>
  <div class="container">
    <div class="wrapper">
      <div class="title"><span> Waiter Login </span></div>
      <form action="#">
        <div class="row">
          <i class="fas fa-user"></i>
          <input
            type="text"
            placeholder="User Name"
            required
            [(ngModel)]="uName"
            name="uName"
          />
        </div>
        <div class="row">
          <i class="fas fa-lock"></i>
          <input
            type="password"
            placeholder="Password"
            required
            [(ngModel)]="password"
            name="password"
          />
        </div>
        <div class="pass"><a href="#">Forgot password?</a></div>
        <div class="row button">
          <input type="submit" value="Login" (click)="login()" />
        </div>
        <div class="signup-link">Not a member? <a href="#">Signup now</a></div>
      </form>
    </div>
  </div>
</body>
