<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>
<body>
  <section class="home-section">
    <!-- <nav>
      <div class="sidebar-button">
        <i class="bx bx-menu sidebarBtn"></i>
        <span class="dashboard">Wholesale Window</span>
      </div>
    </nav> -->

    <div class="home-content">
      <h1 >WHOLESALE WINDOW</h1>
      <div class="overview-boxes">
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Sales Type</div>

            <div class="indicator">
              <div class="custom-select">
                <!-- <select
                  class="text"
                  name="salesType"
                  style="
                    width: 194px;
                    height: 32px;
                    background: #f5f6fa;
                    border: 1px solid transparent;
                  "
                  formControlName="salesType"
                  required
                >
                  <option disabled="disabled" selected="salesType">
                    select sales Type
                  </option>

                  <option
                    *ngFor="let name of salestypeMst; let i = index"
                    value="name.salesType"
                  >
                    {{ name.salesType }}
                  </option>
                </select> -->
                <select
                  class="text"
                  style="
                    width: 175px;
                    height: 32px;
                    background: #f5f6fa;
                    border: 1px solid transparent;
                  "
                  required
                  [(ngModel)]="salesType"
                  name="salesType"
                >
                  <option
                    *ngFor="let name of salestypeMst; let i = index"
                    [value]="name.salesType"
                  >
                    {{ name.salesType }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="box">
          <div class="right-side">
            <div class="box-topic">Sales Man</div>

            <div class="indicator">
              <input
                class="text"
                placeholder="Search Sales Man"
                [(ngModel)]="selectSalesMan"
              />
            </div>
          </div>
        </div>

        <div class="box">
          <div class="right-side">
            <div class="box-topic">Customer</div>

            <div class="indicator">
              <input
                class="text"
                placeholder="Search Customer"
                (click)="onKeypressEventForSelectCustmer()"
                [(ngModel)]="selectcustName"
                name="selectcustName"
              />
            </div>
          </div>
        </div>

        <div class="box">
          <div class="right-side">
            <div class="box-topic">Shipping</div>

            <div class="indicator">
              <input
                class="text"
                placeholder="Search Shipping"
                (click)="onKeypressEventForShippingDtl()"
              />
            </div>
          </div>
        </div>

        <div class="box">
          <div class="right-side">
            <div class="box-topic">Item Name</div>

            <div class="indicator">
              <input
                class="text"
                placeholder="Search Products"
                (keyup)="onKeypressEvent($event)"
                (click)="onKeypressEvent($event)"
                name="branchname"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="sales-boxes second-row">
        <div class="recent-sales box">
          <div class="title">Billing Details</div>
          <br />
          <div class="sales-details">
            <div class="fixTableHead">
              <table class="item-table">
                <thead
                  style="
                    background-color: rgb(226, 228, 234);
                    border: 2px solid #1f0456;
                    font-size: 10px;
                    border-radius: 6px;
                  "
                >
                  <tr>
                    <!-- <th>No</th> -->
                    <th>Item Name</th>
                    <th>Barcode</th>
                    <th>Qty</th>
                    <th>Tax Rate %</th>
                    <th>MRP</th>
                    <th>Amount</th>
                    <th>Batch</th>
                    <th>Unit</th>
                    <th>Expiry</th>

                    <th colspan="2">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let names of wholesalesDtlAddTables; index as i">
                    <td>{{ names.itemName }}</td>
                    <td>{{ names.barcode }}</td>
                    <td>
                      {{ names.qty }}
                    </td>
                    <td>{{ names.taxRate }}</td>
                    <td>{{ names.mrp }}</td>
                    <td>{{ names.amount }}</td>
                    <td>{{ names.batch }}</td>
                    <td>{{ names.unitName }}</td>
                    <td>{{ names.expiryDate }}</td>
                    <td>
                      <i
                        class="far fa-trash-alt"
                        style="
                          color: crimson;
                          margin-right: 30%;
                          margin-left: 10%;
                          font-size: 13px;
                          font-weight: bold;
                        "
                        (click)="itemDeletionForSales(names)"
                      ></i>
                      <i
                        class="far fa-edit"
                        style="
                          color: rgb(65, 123, 6);
                          font-size: 13px;
                          font-weight: bold;
                        "
                      ></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <br />
          <div class="button">
            <!-- <button class="finalSaveButton">Hold</button>&nbsp; &nbsp;&nbsp; -->
            <button
              class="finalSaveButton "
              (click)="holdedSalesDtls()"
            >
              Unhold
            </button>
          </div>
        </div>
      </div>
      <!-- ============================== -->
      <div class="sales-boxes" style="margin-top: 2%">
        <div class="recent-sales box">
          <div class="title">Holded Sales Details</div>
          <br />
          <div class="sales-details">
            <div class="fixTableHead">
              <table class="item-table">
                <thead
                  style="
                    background-color: rgb(226, 228, 234);
                    border: 2px solid #1f0456;
                    font-size: 10px;
                    border-radius: 6px;
                  "
                >
                  <tr>
                    <th>Sl.No.</th>
                    <th>User Name</th>
                    <th>Invoice Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let names of holdedPos; index as i"
                    (click)="unholdbillOfSales(names)"
                  >
                    <td>{{ i + 1 }}</td>
                    <td>{{ names.userId }}</td>
                    <td>{{ names.invoiceAmount }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="top-sales box">
          <div class="title">Sales Details</div>
          <ul class="top-sales-details">
            <li>
              <span class="product">Customer Name</span>

              <span class="price"> {{ receivecust.accountName }}</span>
            </li>
            <li>
              <span class="product">CustomerGst</span>

              <span class="price">{{ receivecust.partyGst }}</span>
            </li>
            <li>
              <span class="product">Customer State</span>

              <span class="price">{{ receivecust.customerState }}</span>
            </li>
            <li>
              <span class="product">Shipping Name </span>

              <span class="price">{{ ShippingAdress.shippingAddressName }}</span>
            </li>
            <li>
              <span class="product">Shipping Phone</span>

              <span class="price">{{ ShippingAdress.phoneNumber }}</span>
            </li>
            <li>
              <span class="product">Bill Amount</span>

              <span class="price" style="color: crimson; font-size: 22px"
                ><i class="fas fa-rupee-sign">{{
                  totalAmount | number: "1.0-2"
                }}</i></span
              >
            </li>
            <div class="button">
              <button
                class="finalSaveButton "
                (click)="ngOnDestroy()"
              >
                Clear</button
              >&nbsp; &nbsp;&nbsp;
              <button
                class="finalSaveButton "
                (click)="finalSaveWholesale()"
              >
                Final Save
              </button>
            </div>
            <li></li>
          </ul>
        </div>
      </div>
      <!-- ================== -->
    </div>
  </section>
</body>
