.one
{
    padding:10px;
margin-left: .25cm;
font-size: 14px;

}
.two
{
    background-color: gray;

    left: 2%;
    top: -5px;
   
}
.downloadexcel
{
    background-color: gray;  
    left: 5%;
    top: -5px;
}

.three
{
    position: -webkit-sticky;
    table-layout: fixed;

    top:auto;
}

.header{
    position:sticky;
    top:0;
    background-color: cornflowerblue;
   
    
}


th,td{
    font-size: 14px;
}

.my-custom-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }

  .stockmovement
  {
  
    height:800px;
    width:1000px;
    margin-left: 7cm;
  }  
  .todate
  {
      margin-left: 9cm;
  }
  .reportdate
    {
        height: 5px;
        width: 200px;
        font-weight: bold;
    }
    .rowdata
    {
        font-size: 10px;
    }
    .reportstatus
    {
        font-size: 14px;
       
        position: relative;
        left:920px;

        bottom:70px;
      
        opacity: .8;
        } 
