<h2>Stock Report<h2>
    <br>
    <div [ngClass]="'one'">
      <mat-form-field appearance="fill" [ngClass]="'reportdate'">
        <mat-label>Report Date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="reportdate" name="reportdate" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill" [ngClass]="'reportdate'" >
        <mat-label>Branch Name</mat-label>
        <select matNativeControl required [(ngModel)]="branchname" name="branchname">
         
        
<option *ngFor="let name of branchMst; let i = index" [value]="name.branchCode">
    {{name.branchName}}
  </option>
        </select>
      </mat-form-field>
      <mat-form-field appearance="fill" [ngClass]="'reportdate'" >
        <mat-label>Category Name</mat-label>
        <select matNativeControl required [(ngModel)]="category" name="category">
            <option *ngFor="let name of categoryMst; let i = index" [value]="name.categoryName">
                {{name.categoryName}}
              </option>
              
        </select>
      </mat-form-field>
      
     
      <button  (click)="getStockReports()" [ngClass]="'two'" mat-button >Generate Report</button>
      <button (click)="renderPdf()" [ngClass]="'downloadexcel'"  [disabled]="getexcelReportStatus ===false" mat-button>Download Excel</button>
      <div [ngClass]="'reportstatus'" *ngIf="getReportStatus"> <img  src="/assets/loading-gif.gif" width="80px" height="80px" alt="image"></div>
     
    </div>
    <div [ngClass]="'stockmovement'">
     
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-bordered table-striped mb-0" id="contentToConvert" >
            <thead >
            <tr>
                <th [ngClass]="'header'" scope="col" class="'three'">No</th>
              <th [ngClass]="'header'" scope="col">Item Name</th>
              <th [ngClass]="'header'" scope="col">Qty</th>
              <th [ngClass]="'header'" scope="col">Standard Price </th>
             
             
             
              </tr>
            </thead>
            <tbody>
            <tr *ngFor="let name of stockReport; index as i">
              <th scope="row">{{ i + 1 }}</th>
              <td>{{ name.itemName}}</td>
              <td >{{ name.qty | number: '1.0-2' }}</td>
              <td>{{ name.standardPrice}}</td> 
            </tr>
            </tbody>
          </table>
          </div>
    


