<div class="input">
  <label>Select Customer :</label> &nbsp;&nbsp;
  <input
    matInput
    placeholder=" Select Customer Name"
    [(ngModel)]="customersearchfiled"
    (keyup)="onKeypressEvent($event)"
    name="customersearchfiled"
  />

  <!-- <button class="submitBtn"  (click)="submitBtn(productQty) ">Add</button>
  <button class="close"  (click)="close() ">Close</button> -->
</div>

<div class="table-wrapper-scroll-y my-custom-scrollbar">
  <table class="table table-bordered table-striped mb-0" id="contentToConvert">
    <thead #txtInput>
      <tr>
        <th [ngClass]="'header'" scope="col">SL NO</th>
        <th [ngClass]="'header'" scope="col">Customer Name</th>
        <th [ngClass]="'header'" scope="col">State</th>
        <th [ngClass]="'header'" scope="col">GST Number</th>
        <th [ngClass]="'header'" scope="col">Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let tempcustomerDtls of customerDtls | filter: customersearchfiled;
          index as i
        "
        (click)="highlightRow(tempcustomerDtls)"
        (keyup)="highlightRow(tempcustomerDtls)"
        (keydown)="highlightRow(tempcustomerDtls)"
      >
        <td>{{ i + 1 }}</td>

        <td>{{ tempcustomerDtls.accountName }}</td>
        <td>{{ tempcustomerDtls.customerState }}</td>
        <td>{{ tempcustomerDtls.partyGst }}</td>
        <td>{{ tempcustomerDtls.customerContact }}</td>
        <!-- <td>{{ tempcustomerDtls.itemCode }}</td> -->
      </tr>
    </tbody>
  </table>
</div>
