<h2>Stock Transfer Out Report<h2>
  

    <br>
    <div [ngClass]="'one'">
     
      <mat-form-field appearance="fill" [ngClass]="'reportdate'">
        <mat-label>From Date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="fromdate" name="fromdate" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker> 
       
      </mat-form-field >
      <mat-form-field appearance="fill" [ngClass]="'reportdate'">
        <mat-label>To Date</mat-label>
        <input matInput [matDatepicker]="picker2" [(ngModel)]="todate" name="todate" >
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill" [ngClass]="'reportdate'" >
        <mat-label>Branch Name</mat-label>
        <select matNativeControl required [(ngModel)]="branchname" name="branchname">
         
          <option *ngFor="let name of branchMst; let i = index" [value]="name.branchCode">
            {{name.branchName}}
          </option>
        </select>
      </mat-form-field>
            <button  (click)="getStockTransferOutDetailreport()" [ngClass]="'two'" mat-button >Get Report</button> 
            <button (click)="renderPdf()" [ngClass]="'downloadexcel'"[disabled]="getexcelReportStatus ===false" mat-button>Download Excel</button>
            <div [ngClass]="'reportstatus'" *ngIf="getReportStatus"> <img  src="/assets/loading-gif.gif" width="80px" height="80px" alt="image"></div>
    </div>

   <div >
     
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0" id="contentToConvert" >
        <thead >
        <tr>
            <th [ngClass]="'header'" scope="col" class="'three'">No</th>
          <th [ngClass]="'header'" scope="col">Voucher Date</th>
          <th [ngClass]="'header'" scope="col">Voucher Number</th>
          <th [ngClass]="'header'" scope="col">To Branch</th>
          <th [ngClass]="'header'" scope="col">Intent Number</th>
         
         
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let name of stockTransferOutReport; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ name.voucherDate }}</td>
          <td >{{ name.voucherNumber}}</td>
          <td>{{ name.toBranch}}</td>
          <td>{{ name.intentNumber}}</td>
         
        
          
        </tr>
        </tbody>
      </table>
      </div>
   </div>

  
  
 
     

     





