<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
    <body>
        <div class="container">
        <h1>Supplier Creation</h1>
        <div class="item-box">          
            <div class="item-left">
            <form [formGroup]="supplierCreationForm">
              <div class="input-row">
                <div class="input-group">
                  <label>Supplier Name</label><br />
                  <input type="text" formControlName="supplierName" [(ngModel)]="search" required/>
                </div>
                <div class="input-group">
                  <label>Company Name</label><br />
                  <input type="text" formControlName="company" required/>
                </div>
                <div class="input-group">
                  <label>Company Address</label><br />
                  <input type="text" formControlName="address" required/>
                </div>
            </div>
            <div class="input-row">
                <div class="input-group">
                    <label>Credit Period</label><br>
                    <input type="number" formControlName="cerditPeriod">
                </div>
                <div class="input-group">
                     <label>Phone Number</label><br>
                     <input type="number" formControlName="phoneNo">
                </div>
                <div class="input-group">
                    <label>Email Id</label><br />
                    <input type="text" formControlName="emailid"/>
                  </div>
            </div>
            <div class="input-row">
                  <div class="input-group">
                    <label>Supplier GST</label><br />
                    <input type="text" formControlName="supGST"/>
                  </div>
                  <div class="input-group"> 
                    <label>Country</label><br />    
                 <select class="option" name="Country" (change)="getstate()" formControlName="country">
                    <option selected="selected" value="">
                     </option>
                     <option *ngFor="let name of country; let i = index">
                    {{ name }}
                    </option>
                  </select>
                </div>
                <div class="input-group">
                    <label>State</label><br />    
                    <select class="option" name="state" formControlName="state" required>
                        <option selected="selected" value="">
                        </option>
                        <option
                    *ngFor="let name of states; let i = index">
                    {{ name }}
                  </option>
                        <!-- <option>KERALA</option> -->
                    </select>
                </div>
                
            </div>
            <div class="input-row">
                <div class="input-group">
                  <label>Currency Name</label><br />    
                 <select class="option" name="curency" formControlName="currencyId">
                    <option selected="selected" value="">
                     </option>
                     <option
                        *ngFor="let name of currencyMst; let i = index"
                        [value]="name.id" >
                        {{ name.currencyName}}
                      </option>
                  </select>
                </div>
                <div class="input-group"></div>
                <div class="input-group"></div>
            </div>
            <div class="buttons">
              <div class="input-group">
                <button class="button submitbtn"type="submit" [disabled]="isSaveBtnDisabled" (click)="saveSupplier()">Save</button>
              </div>
              <div class="input-group">
                <button class="button submitbtn" type="button" [disabled]="isEditBtnDisabled" (click)="editSupplier()">Edit</button>
              </div>
              <div class="input-group">
                <button class="button submitbtn" type="button" (click)="showAllSupplier()">Show All </button>
              </div>
              <div class="input-group">
                <button class="button submitbtn" type="reset" (click)="clear()">Clear</button>
              </div>    
            </div>
            </form>
          </div>
          <div class="item-right">
            <div class="fixTableHead">
              <table class="item-table" id="contentToConvert">
                <thead>
                  <tr>
                    <th>Supplier Name</th>
                    <th>Company Name</th>
                    <th>Address</th>
                    <th>Phone No</th>
                    <th>Email Id</th>
                    <th>GST</th>
                    <th>State</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                  *ngFor="let tempSupplier of showSupplier | filter: search; index as i " (click)="highlightRow(tempSupplier)">
                  <!-- <tr *ngFor=" let tempSupplier of showSupplier | filter: search; index as i "> -->
                    <td data-label="Supplier Name">{{tempSupplier.supplierName}}</td>
                    <td data-label="Company Name">{{tempSupplier.company}}</td>
                    <td data-label="Address">{{tempSupplier.address}}</td>
                    <td data-label="Phone No">{{tempSupplier.phoneNo}}</td>
                    <td data-label="Email Id">{{tempSupplier.emailid}}</td>
                    <td data-label="GST">{{tempSupplier.supGST}}</td>
                    <td data-label="State">{{tempSupplier.state}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
         </div>
        </div>
        </div>
    </body>
</html>
  