
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 75%;
  padding-top: 20px;
  margin: -10px auto;
}
.item-box {
  background: #fff;
}
.item-left {
  flex-basis: 40%;
  padding: 14px 16px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.item-right {
  flex-basis: 50%;
  padding: 4px 6px;

  color: black;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
h1 {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 500;
  position: relative;
  color: black;
}
.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.input-row .input-group {
  flex-basis: 45%;
}
input {
  width: 75%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
}
input:focus {
  border-color: #7ed321;
}
.option {
  height: 25px;
  width: 75%;
  display: flex;
  margin: 14px 0;
  margin-top: 0;
  justify-content: space-between;
  letter-spacing: 1px;
  border: none;
  border-bottom: 1px solid #ccc;
}
.submitbtn {
  background-image: linear-gradient(135deg, #0e0e3a 30%, #6564af 90%);

  width: 100px;
  border: none;
  outline: none;
  color: #fff;
  height: 35px;
  border-radius: 30px;
  /* margin-top: 20px; */
  /* margin-left: 20px; */
  box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}
.showallbtn {
  background-image: linear-gradient(135deg, #0e0e3a 30%, #6564af 90%);

  width: 100px;
  border: none;
  outline: none;
  color: #fff;
  height: 35px;
  border-radius: 30px;
  /* margin-top: 20px; */
  /* margin-left: 20px; */
  box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}
.clearbtn {
  background-image: linear-gradient(135deg, #0e0e3a 30%, #6564af 90%);

  width: 100px;
  border: none;
  outline: none;
  color: #fff;
  height: 35px;
  border-radius: 30px;
  /* margin-top: 20px; */

  box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}

.deletebtn {
  background-image: linear-gradient(135deg, #0e0e3a 30%, #6564af 90%);

  width: 100px;
  border: none;
  outline: none;
  color: #fff;
  height: 35px;
  border-radius: 30px;
  /* margin-top: 20px; */
  /* margin-left: 30px; */
  box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}

.fixTableHead {
  overflow-y: auto;
  height: 200px;
}
.fixTableHead thead th {
  position: sticky;
  top: 0;
  color: white;
}
table {
  border-collapse: collapse;
  width: 100%;
  /* height: 100%; */
}
th,
td {
  padding: 1px 15px;
  border: 2px solid rgb(255, 255, 255);
}
th {
  background: rgb(16, 70, 105);
}
tbody {
  font-size: 12px;
}
.buttons {
  width: 80%;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding-left: 150px;
}
@media (max-width: 800px) {
  .container {
    width: 100%;
  }
  .deletebtn {
    width: 50px;
    font-size: 10px;
  }
  .clearbtn {
    width: 50px;
    font-size: 10px;
  }
  .showallbtn {
    width: 50px;
    font-size: 10px;
  }
  .submitbtn {
    width: 50px;
    font-size: 10px;
  }
  .fixTableHead {
    width: 100%;
  }
}

table tr:hover {
  background-color: lightgreen;
}
tbody tr {
  cursor: pointer;
}
