<router-outlet></router-outlet>

<!-- <app-waiterlogin></app-waiterlogin> -->
<!-- <app-eshopapp></app-eshopapp> -->
<!-- <app-item-wise-sales-report></app-item-wise-sales-report> -->
<!-- <app-item-list-pop-up></app-item-list-pop-up> -->
