@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
margin: 0;
padding: 0;
}
body {
font-size: 14px;
font-family: "Poppins", sans-serif;
background: #f5f5f5;
}
.container {
width: 75%;
margin: -10px auto;

background: #fff;
/* margin-top: 80px;; */
padding-top: 20px;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.box {
background: #fff;
}
.contents1 {
/* flex-basis: 40%; */
padding: 20px 16px;
padding-left: 100px;
/* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); */
}
.dashdetails {
/* flex-basis: 50%; */
padding: 4px 6px;
padding-left: 70px;
padding-right: 70px;
color: black;
/* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); */
}
h1 {
    height: 90px;
    /* background: #16a085; */
    border-radius: 5px 5px 0 0;
    color: #000;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-row {
display: flex;
justify-content: space-between;
margin-bottom: 10px;
}
.input-row .input-group {
flex-basis: 45%;
}
input {
width: 75%;
border: none;
border-bottom: 1px solid #ccc;
outline: none;
padding-bottom: 5px;
}

.option {
height: 25px;
width: 75%;
/* display: flex; */
margin: 14px 0;
margin-top: 0;
justify-content: space-between;
letter-spacing: 1px;
border: none;
border-bottom: 1px solid #ccc;
}
.submitbtn {
    color: #fff;
    background: #0a2558;
    padding: 4px 12px;
    font-size: 15px;
    font-weight: 400;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.fixTableHead {
overflow-y: auto;
height: 200px;
}
.fixTableHead thead th {
position: sticky;
top: 0;
color: white;
}
table {
border-collapse: collapse;
width: 100%;
}
th,
td {
padding: 1px 15px;
border: 2px solid rgb(255, 255, 255);
}
th {
background: rgb(16, 70, 105);
}
tbody {
font-size: 12px;
}
.buttons {
width: 60%;
display: flex;
align-items: center;
justify-content: space-between;
margin-left: 100px;
}

@media (max-width: 800px) {
.container {
width: 100%;
}
.container h1{
    font-size: 18px;
  }
.submitbtn {
width: 50px;
font-size: 10px;
}
.fixTableHead {
width: 100%;
}
}

table tr:hover {
background-color: lightgreen;
}
tbody tr {
cursor: pointer;
}