<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  </head>
  <body>
    <div class="container">
      <h1>CATEGORY CREATION WINDOW</h1>
      <div class="box">
        <div class="contents1">
            <form [formGroup]="categoryCreationForm">
              <div class="input-row">
                <div class="input-group">
                  <label>Category Name</label><br/>
                  <input type="text" placeholder="Enter category name" formControlName="categoryName" required>
                </div>
                <div class="input-group">
                  <label>Parent ID</label><br />
                  <select class="option" name="parentid" formControlName="parentId">
                    <option selected="parentid"></option>
                    <option
                        *ngFor="let name of categoryMst; let i = index"
                        [value]="name.id"
                      >
                        {{ name.categoryName }}
                      </option>
                </select>
                </div>
                </div> 
              <div class="input-row">
                <div class="buttons">
                  <button class="submitbtn" type="submit" (click)="saveCategory()">Submit</button>
                  <button class="submitbtn" type="submit" (click)="showAllCategory()">Show All</button>
                  <!-- <button class="submitbtn" type="reset" (click)="clear()">Clear</button>  -->
                </div>
              </div> 
            </form>
        </div>
        <div class="dashdetails">
          <div class="fixTableHead">
            <table class="item-table" id="contentToConvert">
              <thead>
                <tr><th>Category Name</th><th>Parent category</th></tr>
              </thead>
              <tbody>
                  <tr *ngFor="let tempgetCategoryMst of showCategoryMst ;index as i " >
                    <td data-label="Category Name">{{tempgetCategoryMst.categoryName}}</td>
                    <td data-label="Parent category">{{getParentNameById(tempgetCategoryMst.parentId)}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>



