body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;   
    color: black;  
    background-color: rgb(226, 228, 234);
    border: 2px solid #131314;
   border-radius: 6px;
  } 
  th
  {
    text-align: center;
    background-color: rgb(16, 116, 54);
    color: white;
  } 
  td {
    text-align: left;
    padding: 8px;
  }
  .sl{
    width:10%;
  }
  .buttons{
    padding: 14px 16px;
  }
  button{
    background-color: rgb(11, 7, 54);
    color: white;
    font-weight: 500;
    width: 80px;
    height: 35px;
    border-radius: 10px;
  }
  button:hover{
    background-color: rgb(147, 133, 241);
    color:black;
  }
  .b1
  {
    margin-left: 1%; 
  }
  .b2{
    margin-left: 1%;
  }
table tr:hover {
    background-color:rgb(119, 155, 187);
  
} 
tr:nth-child(even){background-color: #f2f2f2}
.input{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}
.input label{
    margin-left: -17px;
}
/* .trow
{
   transition: transform .0s;
}
.trow:hover {
   cursor:pointer; 
   color:#fff;
} */