<div class="input">
    <!-- <label>Select Supplier :</label> &nbsp;&nbsp; -->
    <input matInput placeholder=" Select Party" name="suppliersearch" [(ngModel)]="searchfield"
    (keyup)="onKeypressEvent($event)">
  </div>  
  <div class="buttons">
    <button type="submit" class="b1" (click)="addSup()">Select</button>
    <button type="submit" class="b2" (click)="cancel()">Cancel</button>
  </div>
      <div class="table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-bordered table-striped mb-0" id="contentToConvert">
          <thead>
          <tr>
            <th [ngClass]="'header'" scope="col" class="sl">Sl. No.</th>
            <th [ngClass]="'header'" scope="col">Party Name</th>
            <th [ngClass]="'header'" scope="col">Address</th>
            <th [ngClass]="'header'" scope="col">GST Number</th>
            <th [ngClass]="'header'" scope="col">Phone</th>
            </tr>
          </thead>
          <tbody >
        <tr *ngFor="let accountHeadsList of accountHeads | filter:searchfield ;index as i " (click)="highlightRow(accountHeadsList)"
        (keyup)="highlightRow(accountHeadsList)" (keydown)="highlightRow(accountHeadsList)">
            <td >{{i+1}}</td>
            <td >{{accountHeadsList.accountName}}</td>
            <td>{{accountHeadsList.partyAddress1}}</td>
            <td >{{accountHeadsList.partyGst}}</td>
            <td >{{accountHeadsList.customerContact}}</td>
            </tr>
          </tbody>
        </table>
      
        </div>
        
     
  
