<div class="main-content page-m">
    <div class="section-content section-content-p30">
 <div class="container-fluid">
     <form [formGroup]="checkOutFormGroup" (ngSubmit)="onSubmit()">
 
         <div formGroupName="customer" class="form-area">
         
             <h3>Customer</h3>
 
             <div class="row">
                 <div class="col-md-2">
                     <label>First Name</label></div>
                     <div class="col-md-9">
                         <div class="input-space">
                             <input formControlName="firstName" type="text">
                             <div *ngIf="firstName.invalid && (firstName.dirty ||firstName.touched)" class="alert alert-danger mt-1">
 
                                 <div *ngIf="firstName.errors.required || firstName.errors.noOnlyWhitspace">
                                     First Name is required
                                   </div>
                                   <div *ngIf="firstName.errors.minlength">
                                     First Name must be at least 2 characters long
                                   </div>
                             </div>
                         </div>
                     </div>
                 </div>
                 
         
             <div class="row">
                 <div class="col-md-2">
                     <label>Last Name</label></div>
                     <div class="col-md-9">
                         <div class="input-space">
                             <input formControlName="lastName" type="text">
                             <div *ngIf="lastName.invalid && (lastName.dirty ||lastName.touched)" class="alert alert-danger mt-1">
 
                                 <div *ngIf="lastName.errors.required">
                                     Last Name is required
                                   </div>
                                   <div *ngIf="lastName.errors.minlength">
                                     Last Name must be at least 2 characters long
                                   </div>
                             </div>
                         </div>
                     </div>
                 </div>
                 
          
             <div class="row">
                 <div class="col-md-2">
                     <label>Mobile Number</label></div>
                     <div class="col-md-9">
                         <div class="input-space">
                             <input formControlName="mobileNumber" type="text">
                         </div>
                     </div>
                 </div>
                 
            
             <div class="row">
                 <div class="col-md-2">
                     <label>Email</label></div>
                     <div class="col-md-9">
                         <div class="input-space">
                             <input formControlName="email" type="text">
                             <div *ngIf="email.invalid && (email.dirty ||email.touched)" class="alert alert-danger mt-1">
 
                                 <div *ngIf="lastName.errors.required">
                                     Email is required
                                   </div>
                                   <div *ngIf="lastName.errors.pattern">
                                   Invalid
                                   </div>
                             </div>
                         </div>
                     </div>
                 </div>
                 
             </div>
             <!-- Shippingaddress -->
 
             <div formGroupName="shippingAddress" class="form-area">
         
                 <h3>Shipping Address</h3>
     
                 <div class="row">
                     <div class="col-md-2">
                         <label>Street</label></div>
                         <div class="col-md-9">
                             <div class="input-space">
                                 <input formControlName="street" type="text">
                             </div>
                         </div>
                     </div>
                     
             
                 <div class="row">
                     <div class="col-md-2">
                         <label>City</label></div>
                         <div class="col-md-9">
                             <div class="input-space">
                                 <!-- <input formControlName="city" type="text"> -->
                                 <select formControlName="city">
                                     <option *ngFor="let coun of shippAddState" [ngValue]="coun"  >
                                         {{coun.name}}
                                     </option>
                                 </select>
                             </div>
                         </div>
                     </div>
                     
              
                 <div class="row">
                     <div class="col-md-2">
                         <label>Country</label></div>
                         <div class="col-md-9">
                             <div class="input-space">
                                  <select formControlName="country" (change)="getState('shippingAddress')">
                                      <option *ngFor="let coun of country" [ngValue]="coun"  >
                                          {{coun.name}}
                                      </option>
                                  </select>
 
                             </div>
                         </div>
                     </div>
                     
                
                 <div class="row">
                     <div class="col-md-2">
                         <label>Zip Code</label></div>
                         <div class="col-md-9">
                             <div class="input-space">
                                 <input formControlName="zipCode" type="text">
                             </div>
                         </div>
                     </div>
                     
                 </div>
                 <div class="input-space">
                      <div class="form-check">
                         <label class="form-check-label" for="check1">
                           <input type="checkbox" class="form-check-input" (change)="cpoyShippingaddressToBiilingAdd($event)">Billing Address Same as Shipping Address
                         </label>
                       </div>
                 </div>
                 <!-- Credit Card -->
                 <div formGroupName="billingAddress" class="form-area">
         
                     <h3>Billing Address</h3>
         
                     <div class="row">
                         <div class="col-md-2">
                             <label>Street</label></div>
                             <div class="col-md-9">
                                 <div class="input-space">
                                     <input formControlName="street" type="text">
                                 </div>
                             </div>
                         </div>
                         
                 
                     <div class="row">
                         <div class="col-md-2">
                             <label>City</label></div>
                             <div class="col-md-9">
                                 <div class="input-space">
                                     <!-- <input formControlName="city" type="text"> -->
 
                                     <select formControlName="city">
                                         <option *ngFor="let billingad of billingAddState" [ngValue]="billingad"  >
                                             {{billingad.name}}
                                         </option>
                                     </select>
                                 </div>
                             </div>
                         </div>
                         
                  
                     <div class="row">
                         <div class="col-md-2">
                             <label>Country</label></div>
                             <div class="col-md-9">
                                 <div class="input-space">
                                     <select formControlName="country" (change)="getState('billingAddress')">
                                         <option *ngFor="let coun of country" [ngValue]="coun"  >
                                             {{coun.name}}
                                         </option>
                                     </select>
                                 </div>
                             </div>
                         </div>
                         
                    
                     <div class="row">
                         <div class="col-md-2">
                             <label>Zip Code</label></div>
                             <div class="col-md-9">
                                 <div class="input-space">
                                     <input formControlName="zipCode" type="text">
                                 </div>
                             </div>
                         </div>
                         
                     </div>
                     <div class="form-area">
                         <h3>Review Your Order</h3>
                         <p>Total Quantity: {{totalQty}}</p>
                         <p>Shipping: FREE</p>
                         <p>Toal Price :{{totalPrice  |currency:'INR'}}</p>
                     </div>
             <div class="text-center"> 
                 <button type="submit" class="btn btn-info">Purchase</button>
             </div>
       
        
       </form>
 </div>
 
    </div>
 </div>
 
 
 
 
 