<h2>ADD DEPLOYMENT DETAILS</h2>
<button (click)="close()" [class]="'close'">Close</button>
<div [class]="'sampleform'">
    <form [formGroup]="addDeployment">
        <table>
            <tr>
     <td> <input type="text" [class]="'textf'" placeholder="CHECK SUM" formControlName="checksum" required></td>
     <td> <input type="text" [class]="'textf'" placeholder="COMPANY ID" formControlName="companyMstId" required> </td>
     <td> <input type="text" [class]="'textf'" placeholder="CURRENT VERSION" formControlName="current_version" required></td>
     <td> <input type="text" [class]="'textf'" placeholder="FILE NAME" formControlName="fileName"></td>
    </tr>
    <br>
    <tr>
        <td> <input type="text" [class]="'textf'" placeholder="VERSION" formControlName="version" required></td>
        <td> <input type="text" [class]="'textf'" placeholder="PASSWORD" formControlName="passWord" required></td>
        <td> <input type="date" [class]="'textf'" placeholder="SUBSCRIPTION ENDS" formControlName="supscriptionEnds" required></td>
        <td> <input type="text" [class]="'textf'" placeholder="USER ID" formControlName="userId"></td>
       </tr>
    </table>
    <br>
    <label id="cars">Select Upgrade Status:</label>
    <select  formControlName="upgradeStatus">
        <option value="YES">
         YES
        </option>
        <option  value="NO">
          NO
         </option>
      </select>

    </form>
    <br>
    <button (click)="submit()" [class]="'submit'">Submit</button>
</div>
