<div>
  <img  src="/assets/loginlogo.png" alt="image">
</div>
  <div>
    <mat-toolbar color="primary" >
      <span><mat-icon>assignment</mat-icon>
        
        Reports
      </span><div  [ngClass]="'spacer'"></div>
      <button mat-button [matMenuTriggerFor]="gstreports">GST Reports</button>
      <mat-menu #gstreports="matMenu">
       <button [routerLink]="'gstinputdetail'" mat-menu-item>GST Input Detail Reports</button>
        <button  [routerLink]="'gstinputsummary'" mat-menu-item>GST Input Summary Reports</button>
        <button [routerLink]="'gstoutputdetail'" mat-menu-item>GST Output Detail Report</button>
        <button [routerLink]="'gstoutputsummary'" mat-menu-item>GST Output Summary Report</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="purchasereport">Purchase Reports</button>
      <mat-menu #purchasereport="matMenu">
       <button [routerLink]="'gstinputdetail'" mat-menu-item>GST Input Detail Reports</button>
        <button  [routerLink]="'gstinputsummary'" mat-menu-item>GST Input Summary Reports</button>
        <button [routerLink]="'gstoutputdetail'" mat-menu-item>GST Output Detail Report</button>
        <button [routerLink]="'gstoutputsummary'" mat-menu-item>GST Output Summary Report</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="salesreport">Sales Reports</button>
        <mat-menu #salesreport="matMenu">
         <button [routerLink]="'SalesSummaryReport'" mat-menu-item>Sales Summary Reports</button>
         
          </mat-menu>
          <button mat-button [matMenuTriggerFor]="stockReports">Stock Reports</button>
        <mat-menu #stockReports="matMenu">
         <button [routerLink]="'StockMovementReport'" mat-menu-item>Branch Wise Stock Movement Report</button>
          
          </mat-menu>
          <button mat-button [matMenuTriggerFor]="dayEndDetails">Day End Details</button>
        <mat-menu #dayEndDetails="matMenu">
         <button [routerLink]="'DayEndReport'" mat-menu-item>Day End Report</button>
          
          </mat-menu>
          <a mat-raised-button (click)="logout()" color="accent">Logout</a>
    </mat-toolbar>
    </div>
    <router-outlet></router-outlet>
