<div class="main-content">

    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <div *ngFor="let temproduct of Produ" class="col-md-3">
                    <div class="product-box">
                        <a routerLink="/productsss/{{temproduct.id}}">
                           <img src="{{temproduct.imageUrl}}" class="img-responsive"></a>
                        <a routerLink="/productsss/{{temproduct.id}}">  <h1>{{temproduct.name}}</h1></a>
                        <div class="price">{{temproduct.unitPrice | currency:'USD'}}</div>
                        <!-- <a href="#" class="primary-btn">Add to Cart</a> -->
                        <button (click)="addToCart(temproduct)" class="btn btn-primary btn-sm">Add to Cart</button>
                    </div>
                </div>

                <div *ngIf="Produ?.length==0" class="alert alert-warning col-md-12" role="alert">
                    No Products found.

                </div>
            </div>

            <div class="footer-pagination">
                <div class="row">
                    <div class="col-md-6"></div>

                      <div class="col-md-6">
                          <div class="row">
                              <div class="col-md-9" style="padding-left: 30%">
                                <ngb-pagination [(page)]="thePageNumber"
                                [pageSize]="thePageSize" [collectionSize]="theTotalElements"
                                (pageChange)="listProductsPageChanges()">

                                </ngb-pagination>

                              </div>
                          </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>