/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}
body{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #E5EBE5;
}
.container{
   position: relative;
   max-width: 900px;
   width: 100%;
   border-radius: 6px;
   padding: 30px;
   margin: 0 15px;
   background-color: #fff;
   box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.container header{
   position: relative;
   font-size: 20px;
   font-weight: 600;
   color: #333;
}
.container header::before{
   content: "";
   position: absolute;
   left: 0;
   bottom: -2px;
   height: 3px;
   width: 113px;
   border-radius: 8px;
   background-color: #27ae60;
}
.container form{
   position: relative;
   margin-top: 16px;
   min-height: 400px;
   background-color: #fff;
   overflow: hidden;
}
.container form .form{
   position: absolute;
   background-color: #fff;
   transition: 0.3s ease;
}
.container form .form.second{
   opacity: 0;
   pointer-events: none;
   transform: translateX(100%);
}
form.secActive .form.second{
   opacity: 1;
   pointer-events: auto;
   transform: translateX(0);
}
form.secActive .form.first{
   opacity: 0;
   pointer-events: none;
   transform: translateX(-100%);
}
.container form .title{
   display: block;
   margin-bottom: 8px;
   font-size: 16px;
   font-weight: 500;
   margin: 6px 0;
   color: #333;
}
.container form .fields{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
}
form .fields .input-field{
   display: flex;
   width: calc(100% / 3 - 15px);
   flex-direction: column;
   margin: 4px 0;
}
.input-field label{
   font-size: 12px;
   font-weight: 500;
   color: #2e2e2e;
}
 
.tooltip{
   position: relative;
   background: #e4f8be;
   padding: 5px 12px;
   margin: 5px;
   font-size: 15px;
   border-radius: 50%;
   color: rgb(8, 8, 8);
}
table {
 
   width: 100%;
border-collapse: collapse; 
border: 1px solid  #27ae60;
}
.table thead{
   background-color: #E5EBE5;
}
.table thead tr th{
   font-size: 14px;
   font-weight: medium;
   letter-spacing: 0.35px;
   color: #000000;
   opacity: 1;
   padding: 12px;
   vertical-align: top;
   border: 1px solid #ddd;
}
 
.table tbody tr td{
   font-size: 14px;
   letter-spacing: 0.35px;
   font-weight: normal;
   padding: 8px;
   text-align: center;
   background-color: #f2f2f2;
   border: 1px solid #ddd;
}
 
 
.input-field input, select{
   outline: none;
   font-size: 14px;
   font-weight: 400;
   color: #333;
   border-radius: 5px;
   border: 1px solid #aaa;
   padding: 0 15px;
   height: 30px;
   width: 85%;
   margin: 8px 0;
}
.input-field input :focus,
.input-field select:focus{
   box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
   color: #707070;
}
.input-field input[type="date"]:valid{
   color: #333;
}
.container form button, .backBtn{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 45px;
   max-width: 200px;
   width: 100%;
   border: none;
   outline: none;
   color: #fff;
   border-radius: 5px;
   margin: 25px 0;
   background-color: #27ae60;
   transition: all 0.3s linear;
   cursor: pointer;
}
.container form .btnText{
   font-size: 14px;
   font-weight: 400;
}
form button:hover{
   background-color: #27ae60;
}
form button i,
form .backBtn i{
   margin: 0 6px;
}
form .backBtn i{
   transform: rotate(180deg);
}
form .buttons{
   display: flex;
   align-items: center;
}
form .buttons button , .backBtn{
   margin-right: 14px;
}
 
@media (max-width: 750px) {
   .container form{
       overflow-y: scroll;
   }
   .container form::-webkit-scrollbar{
      display: none;
   }
   form .fields .input-field{
       width: calc(100% / 2 - 15px);
   }
}
 
@media (max-width: 550px) {
   form .fields .input-field{
       width: 100%;
   }
 
  
}
@media(max-width: 750px) {
   .table thead{
       display: none;
   }
   .table, .table tbody,.table tr,.table td{
       display: block;
       width: 100%;
 
   }
   .table tr{
       margin-bottom: 15px;
 
   }
   .table  tbody tr td{
       text-align: right;
       padding-left: 50%;
       position: relative;
 
   }
   .table td::before{
       content: attr(data-label);
       position: absolute;
       left: 0;
       width: 50%;
       padding-left: 15px;
       font-weight: 600;
       font-size: 14px;
       text-align: left;
   }
}


/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
  }
  
  body{
    height: 100vh;
    background: #e1edf9;
  }
  
  .wrapper{
    max-width: 700px;
    width: 100%;
    margin: 30px auto 0;
    padding: 10px;
  }
  
  .wrapper .form_container{
    background: #fff;
    padding: 30px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
  }

  .heading{
    background: #015a80;
    margin: -30px;
    text-align: center;
    color: white;
    font-size: 19px;
    margin-bottom: 35px;
    padding: 10px;
  }

  .wrapper .form_container .form_item{
    margin-bottom: 15px;
  }
  
  .form_wrap.halfcolumn,
  .form_wrap.select_box{
    display: flex;
  }
  
  .form_wrap.halfcolumn .form_item,
  .form_wrap.select_box .form_item{
    width: 50%;
  }
  
  .form_wrap.halfcolumn .form_item:first-child,
  .form_wrap.select_box .form_item:first-child{
    margin-right: 4%;
  }
  
  .wrapper .form_container .form_item label{
    display: block;
    margin-bottom: 5px;
  }
  
  .form_item input[type="text"],
  .form_item select{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dadce0;
    border-radius: 3px;
  }
  
  .form_item input[type="text"]:focus{
    border-color: #6271f0;
  }

  .btn input[type="submit"]{
    background: #1598d4;
    border: 1px solid #1598d4;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
  }

  .button{
    background: #1598d4;
    border: 1px solid #1598d4;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
  } */
