<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <div class="container">
    <header>Company Registration</header>
    <form action="#">
      <div class="form first">
        <div class="details personal">
          <div class="fields">
            <div class="input-field">
              <label>Company Name
              
              </label>
              <input type="text" placeholder="Enter company name" [(ngModel)]="compName" name="compName" required>
            </div>

           

            <div class="input-field">
              <label>Country
               
              </label>
              <select [(ngModel)]="country" name="country" (change)="getState(country)">
                <option disabled value="">Select Country</option>
                <option *ngFor="let cntry of countryList">{{cntry}}</option>
               
                </select>
            </div>

            <div class="input-field">
              <label>State
               
              </label>
              <select class="select" [(ngModel)]="state" name="state" required>
                <option disabled selected>Select state</option>
                <option *ngFor="let st of stateList">{{st}}</option>
               <!-- <option>KERALA</option>
                 <option>ANDHRA PRADESH</option>
                <option>ARUNACHAL PRADESH</option>
                <option>ASSAM</option>
                <option>BIHAR</option>
                <option>CHHATTISGARH</option>
                <option>GOA</option>
                <option>GUJARAT</option>
                <option>HARYANA</option>
                <option>HIMACHAL PRADESH</option>
                <option>JAMMU AND KASHMIR</option>
                <option>JHARKHAND</option>
                <option>KARNATAKA</option>
                <option>MADHYA PRADESH</option>
                <option>MAHARASHTRA</option>
                <option>MANIPUR</option>
                <option>MEGHALAYA</option>
                <option>MIZORAM</option>
                <option>NAGALAND</option>
                <option>ODISHA</option>
                <option>PUNJAB</option>
                <option>RAJASTHAN</option>
                <option>TAMIL NADU</option>
                <option>TELANGANA</option>
                <option>TRIPURA</option>
                <option>UTTAR PRADESH</option>
                <option>UTTARAKHAND</option>
                <option>WEST BENGAL</option> -->
              </select>
            </div>

            <div class="input-field">
              <label>Address 1
                
              </label>
              <input type="text" placeholder="Enter Address Line 1" [(ngModel)]="addr1" name="addr1" required>
            </div>

            <div class="input-field">
              <label>Address 2
                
              </label>
              <input type="text" placeholder="Enter Address Line 2" [(ngModel)]="addr2" name="addr2" required>
            </div>

            <div class="input-field">
              <label>Currency
                
              </label>
              <select name="currency"  [(ngModel)]="currency" >
                <option value="INR" >INR</option>
                <option value="DOLLAR">DOLLAR</option>
                <option value="MVR">MVR</option> -->
                <!-- <option *ngFor="let curr of currencyList">{{curr}}</option> -->
                <!-- <option>INR</option>
                <option>DOLLAR</option> -->
                 </select>
            </div>

            <div class="input-field">
              <label>Company GST
             
              </label>
              <input type="text" placeholder="Enter GST number" [(ngModel)]="gst" name="gst">
            </div>

            <div class="input-field">
              <label>Mobile Number
              
              </label>
              <input type="number" placeholder="Enter mobile number" [(ngModel)]="mobile" name="mobile" required>
            </div>

            <div class="input-field">
              <label>Email
              
              </label>
              <input type="text" placeholder="Enter company's e-mail ID" [(ngModel)]="email" name="email" required>
            </div>

            <div class="input-field">
              <label>Password
               
              </label>
              <input type="password" placeholder="Enter password" [(ngModel)]="pswd" name="pswd" required>
            </div>

            <div class="input-field">
              <label>Re-enter Password
               
              </label>
              <input type="password" placeholder="Re-enter password" [(ngModel)]="cpswd" name="cpswd" required>
            </div>
            <div class="input-field">
              <!-- <label>Company Code</label>
              <input type="text"  [(ngModel)]="compCode" name="compCode" disabled> -->
            </div>
          </div>
        </div>

        <div class="details ID">
          <button class="nextBtn" (click)="saveCompany()">
            <span class="btnText">Save</span>
            <i class="uil uil-navigator"></i>
            </button>
          
        </div>
       
    


      </div>
    </form>
    </div>

</body>

</html>

<!-- <div class="wrapper">
  <div class="form_container">
    <form name="form">
      <div class="heading">
        <h2>SIGN UP</h2>
      </div>

      <div class="form_wrap halfcolumn">
        <div class="form_item">
          <label>Company Name</label>
          <input type="text" matInput placeholder="Company Name">
        </div>
    
        <div class="form_item">
          <label>Company Code</label>
          <input type="text" matInput placeholder="Company Code">
        </div>
      </div>

      <div class="form_wrap halfcolumn">
        <div class="form_item">
          <label>Country</label>
          <select>
            <option>INDIA</option>
            <option>SRILANKA</option>
            <option>MALDIVES</option>
          </select>
        </div>
        <div class="form_item">
          <label>State</label>
          <select>
            <option>KERALA</option>
            <option>TAMIL NADU</option>
            <option>ANDHRA PRADESH</option>
          </select>
        </div>
      </div>
      <div class="form_wrap halfcolumn">
        <div class="form_item">
          <label>Address1</label>
          <input type="text" matInput placeholder="address line 1">
        </div>
        <div class="form_item">
          <label>Address2</label>
          <input type="text" matInput placeholder="address line 2">
        </div>
      </div>
      <div class="form_wrap halfcolumn">
        <div class="form_item">
            <label>Currency</label>
            <select>
              <option>INR</option>
              <option>DOLLAR</option>
              <option></option>
            </select>
          </div>

        <div class="form_item">
          <label>Company GST</label>
          <input type="text" matInput placeholder="Company GST">
        </div>
      </div>
      <div class="form_wrap halfcolumn">
        <div class="form_item">
          <label>E-mail</label>
          <input type="text" matInput placeholder="E mail ID"><br>
        </div>

        <div class="form_item">
          <label>Phone No</label>
          <input type="text" matInput placeholder="Phone Number">
        </div>
      </div>

      <div class="form_wrap halfcolumn">
        <div class="form_item">
          <label>Password</label>
          <input type="text" matInput placeholder="Password">
        </div>

        <div class="form_item">
          <label>Re enter Password</label>
          <input type="text" matInput placeholder="Confirm Password">
        </div>
      </div>

      <div class="form_wrap ">
        <div class="form_item">
          <button mat-button class="button">Save</button>
        </div>
      </div>
      <div class="form_wrap">
        <div class="form_item">
          <button mat-button class="button">Cancel</button>
        </div>
      </div>

    </form>
  </div>
</div> -->



<!-- <div class="wrapper">
  <div class="form_container">
    <form name="form">
      <div class="heading">
        <h2>Registion Form</h2>
     </div>
     <div class="form_wrap fullname">

      <div class="form_item">
          <label>First Name</label>
          <input type="text"> 
      </div>
    
    
      <div class="form_item">
          <label>Last Name</label>
          <input type="text">
      </div>
    
    </div>
    <div class="form_wrap">
      <div class="form_item">
        <label>Email Address</label>
        <input type="text">
      </div>
    </div>
    <div class="form_wrap">
      <div class="form_item">
        <label>Phone</label>
        <input type="text">
     </div>
   </div>
   
   <div class="form_wrap select_box">

    <div class="form_item">
      <label>City</label>
         <select name="country">
      <option>London</option>
      <option>Paris</option>
      <option>Moscow</option>
      <option>Tokyo</option>
         </select>
    </div>
  
  
    <div class="form_item">
      <label>Country</label>
         <select name="country">
      <option>India</option>
      <option>Canada</option>
      <option>Germany</option>
      <option>Australia</option>
         </select>
   </div>
  
  </div>

  <div class="btn">
    <input type="submit" value="Get Started">
 </div>

   </form>
  </div>
 </div> -->
