<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      
    />
   
  

  </head>
  <body>
    <div class="container">
     
      <br /><br /><br /><br />
     
      <h1 >SALES & STOCK CONSOLIDATED REPORT WINDOW</h1>
      <div class="item-box">
        <div class="item-left">
          <form>
            <div class="input-row">
              <div class="input-group">
                <label>From Date</label><br />
                <input
                  type="date"
                  [(ngModel)]="fromdate"
                  name="fromdate"
                  required
                />
              </div>
              <div class="input-group">
                <label>To Date</label><br />
                <input
                  type="date"
                  [(ngModel)]="todate"
                  name="todate"
                  required
                />
              </div>
            </div>
            <div class="input-row">
              <div class="input-group">
                <label> From Branch</label><br />
                <select
                  class="option"
                  name="branch"
                  [(ngModel)]="frombranchname"
                  required
                >
                  <option disabled="disabled" selected="branch">
                    --branch name--
                  </option>
                  <option
                    *ngFor="let name of branch; let i = index"
                    [value]="name.branchCode"
                  >
                    {{ name.branchName }}
                  </option>
                </select>
                
              </div>
            </div>
            
<div class="input-row">
              <div class="input-group">
                <label>Item Name</label><br />
                <input
                  type="text"
                  placeholder="Enter"
                  (click)="onKeypressEventItem($event)"
                  [(ngModel)]="itmName"
                  name="itmName"
                  value="{{ item }}"
                  required
                />&nbsp;&nbsp;
                <button class="addbtn" (click)="addItem()"  >Add Item</button>
            </div>
            <!-- <div class="input-group" style="overflow-x: auto;">
                <table 
                class="categorytable" 
                
              >
                <tr *ngFor="let name of groupname; let i = index">
                  <td>
                    {{ name }}
                  </td>
                  <td> <button
                    class="far fa-trash-alt"
                    style="
                      color: crimson;
                      margin-right: 30%;
                      margin-left: 10%;
                      font-size: 13px;
                      font-weight: bold;
                    "
                    (click)="itemDeletion(name)"
                  > delete</button></td>
                </tr>
              </table>
              </div> -->

              <div style="overflow-y: auto;
              height: 200px;">
                <table class="item-table" style="border-collapse: collapse;
                width: 100%;"  >
                  <thead >
                    <tr>
                      <th style="position: sticky;padding: 1px 15px;
                      border: 2px solid rgb(14, 13, 13);
                      top: 0;background: rgb(16, 70, 105);
                      color: white;">Items</th>
                      <th style="position: sticky;padding: 1px 15px;
                      border: 2px solid rgb(14, 13, 13);
                      top: 0;background: rgb(16, 70, 105);
                      color: white;">Action</th> 
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let name of groupname; let i = index" >
                      <td style="padding: 1px 15px;
                      border: 2px solid rgb(14, 13, 13);">{{ name }}</td>
                      <td style="padding: 1px 15px;
                      border: 2px solid rgb(14, 13, 13);"><button
                        class="far fa-trash-alt"
                        style="
                          color: crimson;
                          margin-right: 30%;
                          margin-left: 10%;
                          font-size: 13px;
                          font-weight: bold;
                        "
                        (click)="itemDeletion(name)"
                      > delete</button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- <div class="input-group">
               
                <textarea
                  type="text"
                  [(ngModel)]="fromdate"
                  name="fromdate"
                  required
                ></textarea>
              </div> -->
            </div> 
            <div class="input-row">
              <div class="buttons">
                <button
                  class="button submitbtn"
                  type="submit"
                  (click)="submit()"
                >
                  Generate Report
                </button>
                <button
                  class="button showallbtn"
                  (click)="renderPdf()"
                  [ngClass]="'downloadexcel'"
                 style="color: #fff;
                 background: #7ed321;
                 
                 border-radius: 4px;
                 text-decoration: none;
                 transition: all 0.3s ease;">
                  Print Report
                </button>
                <button class="button clearbtn" type="reset">Clear</button>
              </div>
            </div>
          </form>
        </div>
        <div class="item-right">
          <div class="fixTableHead" >
            <!-- <table class="item-table" id="contentToConvert">
              <thead>
                <tr>
                    
                    <th style="text-align: center;" colspan="5" *ngFor="let name of branch; let i = index">{{name.branchCode}}
                        <tr>
                        
                        

                            <th style="width: 10%;">Item Name</th>
                            <th style="width: 10%;">Opening Bal</th>
                            <th style="width: 10%;">IN</th>
                            <th style="width: 10%;">SalesOut</th>
                            <th style="width: 10%;">StockOut</th> 
                            <th style="width: 10%;">Balance</th>
                         
                      </tr>
                    </th>
                </tr>
               
              </thead>
              <tbody>
               
               
                <tr>
                   
                      
                      <td   colspan="5" *ngFor="let name of salesAndStockConsolidatedReport; let i = index">
                      <table>

                        <td>{{name.itemName}}</td>
                        <td>{{ name.openingBalance }}</td>
                        <td>{{ name.stockIn }}</td>
                        <td>{{ name.stockOut }}</td>
                        <td>{{ name.sales }}</td>
                        <td>{{ name.balanceQty }}</td>

                      </table>
                     
                    </td>
                   
                  </tr>
                 
                 

              </tbody>
            </table> -->

            <table class="item-table" id="contentToConvert">
              <thead>
                <tr>         <th style="width: 10%;">Branch</th>
                            <th style="width: 10%;">Item Name</th>
                            <th style="width: 10%;">Opening Bal</th>
                            <th style="width: 10%;">IN</th>
                            <th style="width: 10%;">SalesOut</th>
                            <th style="width: 10%;">StockOut</th> 
                            <th style="width: 10%;">Balance</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let name of salesAndStockConsolidatedReport; let i = index">
                        <td>{{name.branchName}}</td>
                        <td>{{name.itemName}}</td>
                        <td>{{ name.openingBalance }}</td>
                        <td>{{ name.stockIn }}</td>
                        <td>{{ name.stockOut }}</td>
                        <td>{{ name.sales }}</td>
                        <td>{{ name.balanceQty }}</td>
                </tr>
              </tbody>
            </table>



          </div>
        </div>
      </div>
    </div>
  </body>
</html>
