
<div class="wrapper">

	
  <button class="button1" style="background-color: rgb(21, 140, 156);" (click)="click()"><i class='bx bx-printer'></i>Print</button>
    <button class="button1" style="background-color: brown; margin-left: 5px;" (click)="close()"><i class='bx bx-window-close'></i>Close</button>
    <div class="invoice_wrapper">
        <div class="header">
            <div class="logo_invoice_wrap">
                <div class="logo_sec">
                    <img src="/assets/unnamed.png" alt="code logo">
                    <div class="title_wrap">
                        <!-- <p class="title bold">{{companyMst.companyCode}}</p> -->
                        
                    </div>
                </div>
                <div class="invoice_sec">
                    <p class="invoice bold">PAYMENT</p>
                    <p class="invoice_no">
                        <span class="bold">Payment No</span>
                        <span>{{voucherNumber}}</span>
                    </p>
                    <p class="date">
                        <span class="bold">Date</span>
                        <span>{{voucherDate}}</span>
                    </p>
                </div>
            </div>
            <div class="bill_total_wrap">
                <!-- <div class="bill_sec">
                    
                      <p class="bold name">TRANSFER TO</p>
                    <span>
                       123 walls street, Townhall<br/>
                       +111 222345667
                    </span>
                </div> -->
                
            </div>
        </div>
        <div class="body">
            <div class="main_table">
                <table id="customers">
                  <tr>
                      <th>Sl.No</th>
                      <th>Account</th>
                      <th>Mode Of Payment</th>
                      <th>Instrument No.</th>
                      <th>Instrument Date</th>
                      <th>Remarks</th>
                      <th>Amount</th>
                    </tr>

                  <tr *ngFor="let name of paymentVoucher; index as i">
                    <td><span>{{i+1}}</span></td>
                    <td><span>{{name.accountName}}</span></td>
                    <td><span>{{name.modeOfPayment}}</span></td>
                    <td><span>{{name.instrumentNumber}}</span></td>
                    <td><span>{{name.instrumentDate}}</span></td>
                    <td><span>{{name.remark}}</span></td>
                    <td><span>{{name.amount}}</span></td>
                  </tr> 

                    
        </table>

                

            </div>
            <div class="paymethod_grandtotal_wrap">
                <div class="paymethod_sec">
                    <!-- <p class="bold">Amount in words :</p>
                    <p>One Hundred and Fifty Rs</p> -->
                </div>
                <div class="grandtotal_sec">
                    <p class="bold">
                        <!-- <span>SUB TOTAL</span>
                        <span>Rs.150.00</span> -->
                    </p>
                    
                       <p class="bold">
                        <!-- <span>Grand Total</span>
                        <span>Rs.150.00</span> -->
                    </p>
                </div>
            </div>
        </div>
        <div class="footer">
            <p>Thank you and Best Wishes</p>
            <div class="terms">
                <!-- <p class="tc bold">Declaration</p>
                <p>We declare that this Delivery Chellan shows the actual price of the goods described
                    and that all particulars are true and correct</p> -->
            </div>
        </div>
    </div>
</div>
