<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />

<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>
  </head>
  <body>
    <div class="container">
    
      <div class="item-box">
        <h1>USER-SUBSIDIARY ASSOCIATION</h1>
        <div class="item-left">
          <form>
            <div class="input-row">
              <div class="input-group">
                <label>User</label><br />
                <select
                class="option"
                [(ngModel)]="userId"
                name="userId"
                required>
                <option disabled="disabled" selected="userId">Select User</option>
                <option *ngFor="let name of users" value="{{ name.id }}">
                  {{ name.userName }}
                </option>  
              </select>
              </div>
              <div class="input-group">
                <label>Branch</label><br />
                <select
                class="option"
                [(ngModel)]="branchId"
                name="branchId"
                required>
                <option disabled="disabled" selected="branchId">Select Branch</option>
                <option *ngFor="let br of branches" value="{{ br.id }}">
                  {{ br.branchName }}
                </option>
              </select>
              </div>
            </div>
            <div class="buttons">
              <button type="submit" class="submitbtn" (click)="save()">Save</button>              
              <button type="button" class="submitbtn" (click)="showAll()">Show All</button>
              <!-- <button type="button" class="submitbtn" >Delete</button> -->
              <button type="reset" class="submitbtn" >Refresh</button>
            </div>
          </form>
        </div>
        <div class="item-right">
          <div class="fixTableHead">
            <table>
                <thead><tr><th>User Name</th><th>Branch Name</th>
                  <th colspan="2">Actions</th></tr></thead>
                <tbody>
                  <tr
                  *ngFor="let userBranch of usub | filter: search; index as i"
                >
                  <td>{{ getUserNameById(userBranch.userId) }}</td>
                  <td>{{ getBranchNameById(userBranch.branchId) }}</td>
                  <td> <i
                    class="far fa-trash-alt"
                    (click)="deleteUserById(userBranch.id)"
                    style="
                      color: crimson;
                      margin-right: 30%;
                      margin-left: 10%;
                      font-size: 12px;
                      font-weight: bold;
                    "
                  ></i></td>
                </tr>
                </tbody>
            </table>
        </div>
        </div>
      </div>
    </div>
  </body>  
</html>



<!-- <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>

<body>
  <div class="container">
    <header>User-Subsidiary Association</header>

    <form action="#">
      <div class="form first">
        <div class="details personal">
          <div class="fields">
            <div class="input-field">
              <label>User
                <span
                  class="tooltip"
                  title="select your branch or subsidiary state"
                  >?
                </span>
              </label>
              <select
                class="select"
                [(ngModel)]="userId"
                name="userId"
                required
              >
                <option disabled selected>Select state</option>
                <option *ngFor="let name of users">
                  {{ name }}
                </option>  
              </select>
            </div>

            <div class="input-field">
              <label
                >Branch
                <span
                  class="tooltip"
                  title="select your branch or subsidiary state"
                  >?
                </span>
              </label>
              <select
                class="select"
                [(ngModel)]="branchId"
                name="branchId"
                required
              >
                <option disabled selected>Select state</option>
                <option *ngFor="let br of branches" value="{{ br }}">
                  {{ br }}
                </option>
              </select>
            </div>
            <button class="nextBtn" (click)="save()">
              <span class="btnText">Save</span>
              <i class="uil uil-navigator"></i>
            </button>
          </div>
        </div>

        <div class="details ID">
          <div class="search-box">
            <i class="fa fa-search icon"></i> -->
            <!-- <input
              type="text"
              id="myInput"
              onkeyup="myFunction()"
              [(ngModel)]="search"
              placeholder="Search for items.."
            /> -->
          <!-- </div>
          <div class="fields">
            <table class="table">
              <thead>
                <tr>
                  <th>User Name</th>
                  <th>Branch Name</th>
                </tr>
              </thead>

              <tbody>
                <tr
                  *ngFor="let userBranch of usub | filter: search; index as i"
                >
                  <td>{{ userBranch.userId }}</td>
                  <td>{{ userBranch.branchId }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </form>
  </div>
</body> -->

