@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*{
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  background: #f5f5f5;
}
.container {
  width: 60%;
  margin: 0px auto;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
background: #fff;
border-radius: 6px;
}
.item-box {
  background: #fff;
}
.item-left {
  flex-basis: 40%;
  padding: 14px 16px;
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); */
}
.item-right {
  flex-basis: 50%;
  padding: 4px 6px;

  color: black;
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); */
}
h1 {
  height: 90px;
  /* background: #16a085; */
  border-radius: 5px 5px 0 0;
  color: #000;
  font-size: 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  
  }
.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.input-row .input-group {
  flex-basis: 45%;
}
input {
  width: 75%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
}
input:focus {
  border-color: #7ed321;
}
.option {
  height: 25px;
  width: 75%;
  display: flex;
  margin: 14px 0;
  margin-top: 0;
  justify-content: space-between;
  letter-spacing: 1px;
  border: none;
  border-bottom: 1px solid #ccc;
}
.submitbtn {
  color: #fff;
  background: #0a2558;
  padding: 4px 12px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.fixTableHead {
  overflow-y: auto;
  height: 200px;
}
.fixTableHead thead th {
  position: sticky;
  top: 0;
  color: white;
}
table {
  border-collapse: collapse;
  width: 100%;
  /* height: 100%; */
}
th,
td {
  padding: 1px 15px;
  border: 2px solid rgb(255, 255, 255);
}
th {
  background: rgb(16, 70, 105);
}
tbody {
  font-size: 12px;
}
.buttons {
  width: 60%;
  display: flex;
  margin-left:20%;
  align-items: center;
  justify-content: space-between;
  /* padding-left: 100px; */
}
@media (max-width: 800px) {
  .container {
    width: 100%;
    background: #f5f5f5;
  }
  .item-box h1{
    font-size: 18px;
  }
  form .buttons .submitbtn {
   
    color: #fff;
  background: #0a2558;
  padding: 4px 12px;
  margin-right: 20px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
  }
  .fixTableHead {
    width: 100%;
  }
}

table tr:hover {
  background-color: lightgreen;
}
tbody tr {
  cursor: pointer;
}


/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e5ebe5;
}
.container {
  position: relative;
  max-width: 900px;
  width: 100%;
  border-radius: 6px;
  padding: 30px;
  margin: 0 15px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.container header {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
.container header::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 3px;
  width: 35%;
  border-radius: 8px;
  background-color: #225622;
}
.container form {
  position: relative;
  margin-top: 16px;
  min-height: 490px;
  background-color: #fff;
  overflow: hidden;
}
.container form .form {

  background-color: #fff;
  transition: 0.3s ease;
}
.container form .form.second {
  opacity: 0;
  pointer-events: none;
  transform: translateX(100%);
}
form.secActive .form.second {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}
form.secActive .form.first {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-100%);
}
.container form .title {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  margin: 6px 0;
  color: #333;
}
.container form .fields {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
form .fields .input-field {
  display: flex;
  width: calc(100% / 3 - 15px);
  flex-direction: column;
  margin: 4px 25px;
}
.input-field label {
  font-size: 12px;
  font-weight: 500;
  color: #2e2e2e;
}

.tooltip {
  position: relative;
  background: #e4f8be;
  padding: 5px 12px;
  margin: 5px;
  font-size: 15px;
  border-radius: 50%;
  color: rgb(8, 8, 8);
}
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #225622;
}
.table thead {
  background-color: #e5ebe5;
}
.table thead tr th {
  font-size: 14px;
  font-weight: medium;
  letter-spacing: 0.35px;
  color: #000000;
  opacity: 1;
  padding: 12px;
  vertical-align: top;
  border: 1px solid #ddd;
}

.table tbody tr td {
  font-size: 14px;
  letter-spacing: 0.35px;
  font-weight: normal;
  padding: 8px;
  text-align: center;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
}

.input-field input,
select {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 0 15px;
  height: 42px;
  margin: 8px 0;
}
.input-field input :focus,
.input-field select:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}
.input-field select,
.input-field input[type="date"] {
  color: #707070;
}
.input-field input[type="date"]:valid {
  color: #333;
}
.container form button,
.backBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  max-width: 200px;
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  margin: 25px 0;
  margin-top: 45px;
  background-color: #225622;
  transition: all 0.3s linear;
  cursor: pointer;
}
.container form .btnText {
  font-size: 14px;
  font-weight: 400;
}
form button:hover {
  background-color: #225622;
}
form button i,
form .backBtn i {
  margin: 0 6px;
}
form .backBtn i {
  transform: rotate(180deg);
}
form .buttons {
  display: flex;
  align-items: center;
}
form .buttons button,
.backBtn {
  margin-right: 14px;
}

@media (max-width: 750px) {
  .container form {
    overflow-y: scroll;
  }
  .container form::-webkit-scrollbar {
    display: none;
  }
  form .fields .input-field {
    width: calc(100% / 2 - 15px);
  }
}

@media (max-width: 550px) {
  form .fields .input-field {
    width: 100%;
  }
}
@media (max-width: 750px) {
  .table thead {
    display: none;
  }
  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 15px;
  }
  .table tbody tr td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
  }
} */
