<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <div class="title"><span>Login Form</span></div>
        <form (ngSubmit)="onSubmit()">
          <!-- <div class="row">
            <i class="fas fa-lock"></i>
            <input
            type="text"
            placeholder="Company Name"
            class="input-field"
            [(ngModel)]="companyname"
            name="companyname"
          />
          </div> -->
          <div class="row">
            <i class="fas fa-user"></i>
            <input type="email"
          placeholder="User Name"
          class="input-field"
          [(ngModel)]="username"
          name="username"/>
          </div>
          <div class="row">
            <i class="fas fa-lock"></i>
            <input
          type="password"
          placeholder="Password"
          class="input-field"
          [(ngModel)]="passwords"
          name="passwords"
        />
          </div>

          

          







          <div class="pass"><a  [routerLink]="'SignUp'"  (click)="signUp()">Not a member ?  SignUp</a></div>
          <div class="row button">
            <input type="submit"  value="Login">
            <!-- <input type="submit" [routerLink]="'loginpage'" value="Login"> -->
          </div>
          <!-- <div class="signup-link">Not a member? <a [routerLink]="'webUserRegistration'">Signup now</a></div> -->
        </form>
      </div>
    </div>

  </body>
</html>
