<h2>Software Deployment</h2><div [ngClass]="'details'">
  
  <div [ngClass]="'online'" *ngIf="networkStatus$ | async; else offline">
    Online
  </div>
  <ng-template #offline>
      <div [ngClass]="'offline'">
        Offline
      </div>
    </ng-template>
  <form>
   
        <table>
           
            <tr>
                <td> <h4>Search By</h4></td>
         <td> <mat-form-field appearance="fill" class="example-full-width">
          <input matInput placeholder="Branch code" [(ngModel)]="branchname"
          (keyup)="onKeypressEvent($event)" name="branchname">
         </mat-form-field><mat-icon>search</mat-icon></td>
         <td> 
          <mat-form-field appearance="fill" [ngClass]="'allbranchesselection'" >
            <mat-label>Select All Branches As</mat-label>
            <select matNativeControl required (click)=" UpgradeStatus()" [(ngModel)]="allupgradeStatus" name="allupgradeStatus">
              <option value="YES">
               YES
              </option>
              <option  value="NO">
                NO
               </option>
            </select>
          </mat-form-field>
        
         </td>
         <td>
          <section>
            
            <div [ngClass]="'example-button-row'">
            <button (click)="update()" mat-raised-button  [ngClass]="'button'">UPDATE</button>
           </div>
            
          </section>
         </td>
         <td> <button (click)="refreshTable()" mat-raised-button  [ngClass]="'button1'">REFRESH TABLE</button></td>
         <div [ngClass]="'btndiv'">
          
         <td>
          <button (click)="addData()" mat-raised-button  [ngClass]="'buttonadd'">ADD</button>
          
         </td>
         <td>
          
          <button (click)="deleteData()" mat-raised-button  [ngClass]="'buttondelete'"
          [disabled]="checkboxStatusdlt ===false">DELETE</button>
          
         </td>
         <td> 
          <button (click)="updateSelected()" mat-raised-button  [ngClass]="'buttonselected'"
          [disabled]="checkboxStatusus ===false">UPDATE SELECTED</button></td>
        
        </div>
       
            </tr>
            </table>
        
          </form>
        
          
      
</div>


<div class="table-wrapper-scroll-y my-custom-scrollbar">
 
    <table class="table table-bordered table-striped mb-0" id="contentToConvert" >
        <thead >
        <tr>
            <th [ngClass]="'header'" scope="col" class="'three'">No</th>
          <!-- <th [ngClass]="'header'" scope="col">ID</th> -->
         <!-- <th [ngClass]="'header'" scope="col">CHECK_SUM</th> -->
          <th [ngClass]="'header'" scope="col">COMPANY MST ID</th>
          <th [ngClass]="'header'" scope="col">CURRENT_VERSION</th>
          <th [ngClass]="'header'" scope="col">FILE_NAME</th>
          <th [ngClass]="'header'" scope="col">VERSION</th>
          <th [ngClass]="'header'" scope="col">PASSWORD</th>
          <th [ngClass]="'header'" scope="col">SUPSCRIPTION_ENDS</th>
          <th [ngClass]="'header'" scope="col">USER_ID</th>
          <th [ngClass]="'header'" scope="col">CHECK SUM</th>
          <th [ngClass]="'header'" scope="col">SELECT</th>

         
          
         
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let name of jarVersionMst; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <!-- <td [ngClass]="'headers'">{{ name.id}}</td> -->
          <!-- <td [ngClass]="'headers'">{{ name.checksum}}</td> -->
          <td [ngClass]="'headers'">{{ name.companyMstId}}</td>
          <td [ngClass]="'headers'">{{ name.current_version}}</td>
          <td [ngClass]="'headers'">{{ name.fileName}}</td>
          <td [ngClass]="'headers'">{{ name.version}}</td>
          <td [ngClass]="'headers'">{{ name.passWord}}</td>
          <td [ngClass]="'headers'">{{ name.supscriptionEnds | date:'dd/MM/yyyy'}}</td>
          <td [ngClass]="'headers'">{{ name.userId}}</td>
          <td>
            <mat-form-field appearance="fill" [ngClass]="'reportdate'" >
        <mat-label></mat-label>
        <form>
        <select matNativeControl required [(ngModel)]="name.upgradeStatus" name="name.upgradeStatus">
          <option value="name.upgradeStatus" selected disabled>{{name.upgradeStatus}}</option>
          <option value="YES">YES</option>
          <option value="NO">NO</option>
        
        </select>
      </form>
      </mat-form-field>
      
          </td>
          <td>
            <form>
            <section class="example-section" [(ngModel)]="selectId" name="selectId" ngDefaultControl >
              <mat-checkbox (change)="getSelectedBranch($event,name)" class="example-margin"  [value]="name.id" ></mat-checkbox>
             
            </section>
          </form>
          </td>
         </tr>
        </tbody>
      </table>
   </div>


  
   <router-outlet></router-outlet>