h2
{
 margin-left: 40%;
 font-weight: bold;

}
.details
{
    padding-left: 1%;
}
.my-custom-scrollbar {
    position: relative;
    height: 500px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    width: 85%;
    position: relative;
    left: 5%;
    }
    .three
{
    position: -webkit-sticky;
    table-layout: fixed;

    top:auto;
}

.header{
    position:sticky;
    top:0;
    background-color:lightgreen;
    
 
    
}


th,td{
    font-size: 14px;
    height: 20px;
}


    .allbranchesselection
    {
        position: relative;
        left: 40%;

    }
    .example-button-row
    {

        height: 10%;
        width: 10%;
        position: relative;
        left: 150%;
        padding-bottom: 10%;
       
     }
     .button
     {
        background-color: lightgreen;

     }
     .headers
     {
         height:1px;
     }
     .reportdate
     {
        height:1px;
     }
     .buttonadd
     {
        background-color: lightgreen;
        position: relative;
      
       
  
     }
     .buttondelete
     {
        background-color: lightgreen;
       
     }
     .buttonselected
     {
        background-color: lightgreen;
       
  
     }
     .button1
     {
        background-color: lightgreen; 
        position: relative;
        left: 110%;
        top: -5%;
      
     }

     .btndiv
     {
        position: relative;
         background-color:gray;
        left: 110%;
        border-radius: 2%;
       
     }
     .online
     {
         position: relative;
         background-color: green;
         width: 3%;
         color: white;
         left: 45%;
       bottom: 170%;
     }
     .offline
     {
        position: relative;
        background-color:red;
        width: 3%;
        color: white;
        left: 45%;
       bottom: 170%;
     }