
body {
    height: 100vh;
    width: 100%;
    display: flex;
    background-image: linear-gradient(135deg, #9ae1a3 10%, #7ed321 100%);
    }
    ::selection {
    color: #f2f2f2;
    background: #f86d8d;
    }
    body::before,
    body::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    }
    body::before {
    clip-path: circle(30% at left 20%);
    opacity: 0.4;
    background-image: linear-gradient(135deg, #888585 10%, #fff 100%);
    }
    body::after {
    opacity: 0.4;
    clip-path: circle(25% at right 80%);
    background-image: linear-gradient(135deg, #888585 10%, #fff 100%);
    }
    .container{
      max-width: 440px;
      padding: 0 20px;
      margin: 80px auto;
    }
    .wrapper{
      width: 100%;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
    }
    .wrapper .title{
      height: 90px;
      background: #16a085;
      border-radius: 5px 5px 0 0;
      color: #fff;
      font-size: 30px;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .wrapper form{
      padding: 30px 25px 25px 25px;
    }
    .wrapper form .row{
      height: 45px;
      margin-bottom: 15px;
      position: relative;
    }
    .wrapper form .row input{
      height: 100%;
      width: 100%;
      outline: none;
      padding-left: 60px;
      border-radius: 5px;
      border: 1px solid lightgrey;
      font-size: 16px;
      transition: all 0.3s ease;
    }
    form .row input:focus{
      border-color: #16a085;
      box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
    }
    form .row input::placeholder{
      color: #999;
    }
    .wrapper form .row i{
      position: absolute;
      width: 47px;
      height: 100%;
      color: #fff;
      font-size: 18px;
      background: #16a085;
      border: 1px solid #16a085;
      border-radius: 5px 0 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .wrapper form .pass{
      margin: -8px 0 20px 0;
    }
    .wrapper form .pass a{
      color: #16a085;
      font-size: 17px;
      text-decoration: none;
    }
    .wrapper form .pass a:hover{
      text-decoration: underline;
    }
    .wrapper form .button input{
      color: #fff;
      font-size: 20px;
      font-weight: 500;
      padding-left: 0px;
      background: #16a085;
      border: 1px solid #16a085;
      cursor: pointer;
    }
    form .button input:hover{
      background: #12876f;
    }
    .wrapper form .signup-link{
      text-align: center;
      margin-top: 20px;
      font-size: 17px;
    }
    .wrapper form .signup-link a{
      color: #16a085;
      text-decoration: none;
    }
    form .signup-link a:hover{
      text-decoration: underline;
    }
    