<h2>Sales Details Deleted Report<h2>

    <br>
    <div [ngClass]="'one'">
     
     
      <mat-form-field appearance="fill" [ngClass]="'reportdate'">
        <mat-label>To Date</mat-label>
        <input matInput [matDatepicker]="picker2" [(ngModel)]="todate" name="todate" >
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill" [ngClass]="'reportdate'" >
        <mat-label>Branch Name</mat-label>
        <select matNativeControl required [(ngModel)]="branchname" name="branchname">
         
          <option *ngFor="let name of branchMst; let i = index" [value]="name.branchCode">
            {{name.branchName}}
          </option>
        </select>
      </mat-form-field>
            <button  (click)="getSalesDetailDeletedreport()" [ngClass]="'two'" mat-button >Get Report</button> 
            <button (click)="renderPdf()" [ngClass]="'downloadexcel'" mat-button>Download Excel</button>
    </div>
    <div [ngClass]="'reportstatus'" *ngIf="getReportStatus"> <img  src="/assets/spinner2.gif" width="50px" height="50px" alt="image"></div>

    <div *ngIf="getReportStatus">
     
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0" id="contentToConvert" >
        <thead >
        <tr>
            <th [ngClass]="'header'" scope="col" class="'three'">No</th>
          <th [ngClass]="'header'" scope="col">Branch Code</th>
          <th [ngClass]="'header'" scope="col">Item Name</th>
          <th [ngClass]="'header'" scope="col">Barcode</th>
          <th [ngClass]="'header'" scope="col">Qty</th>
          <th [ngClass]="'header'" scope="col">Tax Rate</th>
          <th [ngClass]="'header'" scope="col">Rate</th>
          <th [ngClass]="'header'" scope="col">Mrp</th>
          <th [ngClass]="'header'" scope="col">Amount</th>
          <th [ngClass]="'header'" scope="col">Cess Rate</th>
          <th [ngClass]="'header'" scope="col">Unit Name</th>
         
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let name of salesDeltedReport; index as i">
          <th scope="row">{{ i + 1 }}</th>
         
        </tr>
        </tbody>
      </table>
      </div>
      </div>
 

  
  
 
     

     






