

<div [ngClass]="'stylepage'">
  <h1>COMMAND PAGE</h1>

<form (ngSubmit)="onSubmit()">

  <mat-form-field appearance="fill" [ngClass]="'reportdate'" >
    <mat-label>Command</mat-label>
    <select matNativeControl required [(ngModel)]="command" name="command">
      <option value="Weekly Sales">Weekly Sales</option>
      <option value="Failed Items">Failed Items</option>
     
    </select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" [ngClass]="'reportdate'" >
    <mat-label>Branch Name</mat-label>
    <select matNativeControl required [(ngModel)]="branchname" name="branchname">
      <option value="ALL BRANCH">ALL BRANCH</option>
      <option *ngFor="let name of branchMst; let i = index" [value]="name.branchCode">
        {{name.branchName}}
      </option>

    </select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Details</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
<br>
<br>

  <div [ngClass]="'commonpage'">
 
   <table>
     <tr><td><a mat-raised-button (click)="onSubmit()" color="gray">Excecute</a></td>
      <td><a mat-raised-button (click)="getdetails()" color="gray">Get Details</a></td>
      <td><a mat-raised-button (click)="publishmenu()" color="gray">Publish Menu</a></td></tr>

</table>
</div>
</form>
</div>
