.stylepage
{
    margin-left: 10cm;
    margin-top: 1cm;
    background-color:powderblue;
    border-radius: 10px;
    width:40%;
    padding-left: 5cm;
    padding-top: 1cm;
    height: 12cm;
}
.commonpage
{
    margin-left: -12%;
}