/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
margin: 0;
padding: 0;
list-style: none;
text-decoration: none;
font-family: "Poppins", sans-serif;
}

.sidebar {
position: fixed;
left: -250px;
width: 190px;
height: 100%;
background: rgb(2, 64, 88);
transition: all 0.5s ease;
bottom: 1px;
z-index: 3;
}
.sidebar header {
font-size: 22px;
color: white;
font-weight: 500;
text-align: center;
line-height: 70px;
background: rgb(3, 46, 63);
user-select: none;
}

.sidebar ul a {
display: block;
height: 100%;
width: 100%;
line-height: 45px;
font-size: 13px;
color: white;
padding-left: 40px;
box-sizing: border-box;
border-top: 1px solid rgba(255, 255, 255, 1);
border-bottom: 1px solid rgb(255, 255, 255);
transition: 0.4s;
font-family: "Poppins", sans-serif;
}
ul li:hover a {
padding-left: 50px;
color: black;
background-color: white;
border: 1px solid rgb(2, 64, 88);
}
.sidebar ul a i {
margin-right: 16px;
}

.logo {
background-image: image("assets/maple-logo.png");
height: 50px;
width: 50px;
display: block;
}
.img {
height: 50%;
width: 50%;
}
.bars {
background: url("https://img.icons8.com/material-outlined/24/000000/menu--v3.png");
height: 10px;
width: 10px;
display: block;
}
.cancel {
background: url("https://img.icons8.com/material-outlined/24/000000/cancel--v1.png");
height: 10px;
width: 10px;
display: block;
}
#check {
display: none;
}
label #btn,
label #cancel {
position: fixed;
cursor: pointer;
}
label #btn {
left: 40px;
top: 25px;
font-size: 25px;
color: white;
padding: 6px 12px;
transition: all 0.5s ease;
z-index: 4;
}
label #cancel {
z-index: 4;
left: -160px;
top: 17px;
font-size: 25px;
color: white;
padding: 4px 2px;
transition: all 0.5s ease;
}
#check:checked ~ .sidebar {
left: 0;
}
#check:checked ~ label #btn {
left: 200px;
opacity: 0;
pointer-events: none;
}
#check:checked ~ label #cancel {
left: 160px;
}
#check:checked ~ section {
margin-left: 200px;
}
section {
background-color: white;
background-position: center;
background-size: cover;
transition: all 0.5s;
}

.dropdown {
position: relative;
}
.dropdown-content {
display: none;
white-space: nowrap;
position: absolute;
left: 100%;
top: 0%;
border: 1px solid rgb(2, 64, 88);
visibility: hidden;
transform: translateY(15px);
opacity: 0;
background: #fff;
}

.dropdown-content a {
padding: 0 50px;
}
.dropdown:hover .dropdown-content {
display: block;
transform: translateY(0);
opacity: 1;
transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
visibility: visible;
z-index: 3;
}

.dropdown-content a {
border: none;
}
span {
font-family: sans-serif;
font-size: 20px;
} */




@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: none;
font-family: 'Poppins', sans-serif;
}
.wrapper{
background: #99abb4;
position: fixed;
z-index: 3;
width: 100%;
}
.wrapper nav{
position: relative;
display: flex;
max-width: calc(100% - 200px);
margin: 0 auto;
height: 70px;
align-items: center;
justify-content: space-between;
}
nav .content{
display: flex;
align-items: center;
}
nav .content .links{
margin-left: 80px;
display: flex;
}
.content .logo a{
color: #fff;
font-size: 30px;
font-weight: 600;
}
.content .links li{
list-style: none;
line-height: 70px;
}
.content .links li a,
.content .links li label{
color: #fff;
font-size: 18px;
font-weight: 500;
padding: 9px 17px;
border-radius: 5px;
transition: all 0.3s ease;
}
.content .links li label{
display: none;
}
.content .links li a:hover,
.content .links li label:hover{
background:#868e96;
}
.wrapper .search-icon,
.wrapper .menu-icon{
color: #000;
font-size: 18px;
cursor: pointer;
line-height: 70px;
width: 70px;
text-align: center;
}
.wrapper .menu-icon{
display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before{
content: "\f00d";
}
.wrapper .search-box{
position: absolute;
height: 100%;
max-width: calc(100% - 50px);
width: 100%;
opacity: 0;
pointer-events: none;
transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box{
opacity: 1;
pointer-events: auto;
}
.btn {
    background-color: #99abb4;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-top: -5px;
    margin-left: 41px;
  }
  /* Darker background on mouse-over */
.btn:hover {
    background-color: rgb(218, 123, 123);
  }
.search-box input{
width: 100%;
height: 100%;
border: none;
outline: none;
font-size: 17px;
color: #fff;
background: #99abb4;
padding: 0 100px 0 15px;
}
.search-box input::placeholder{
color: #f2f2f2;
}
.search-box .go-icon{
position: absolute;
right: 10px;
top: 50%;
transform: translateY(-50%);
line-height: 60px;
width: 70px;
background: #27ae60;;
border: none;
outline: none;
color: #fff;
font-size: 20px;
cursor: pointer;
}
.wrapper input[type="checkbox"]{
display: none;
}
/* Dropdown Menu code start */
.content .links ul{
position: absolute;
background: #99abb4;
top: 80px;
z-index: -1;
opacity: 0;
visibility: hidden;
}
.content .links li:hover > ul{
top: 70px;
opacity: 1;
visibility: visible;
transition: all 0.3s ease;
}
.content .links ul li a{
display: block;
width: 100%;
line-height: 30px;
border-radius: 0px!important;
}
.content .links ul ul{
position: absolute;
top: 0;
right: calc(-100% + 8px);
}
.content .links ul li{
position: relative;
}
.content .links ul li:hover ul{
top: 0;
}


.social a{
  font-size: 20px;
  margin-right: 1rem;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 18px;
  margin-left: 41px;

}
.social a:hover{
  color:#27ae60;

}
/* Responsive code start */
@media screen and (max-width: 1250px){
.wrapper nav{
max-width: 100%;
padding: 0 20px;
}
nav .content .links{
margin-left: 30px;
}
.content .links li a{
padding: 8px 13px;
}
.wrapper .search-box{
max-width: calc(100% - 100px);
}
.wrapper .search-box input{
padding: 0 100px 0 15px;
}
}
@media screen and (max-width: 900px){
.wrapper .menu-icon{
display: block;
}
.wrapper #show-menu:checked ~ .menu-icon i::before{
content: "\f00d";
}
nav .content .links{
display: block;
position: fixed;
background: #99abb4;
height: 100%;
width: 100%;
top: 70px;
left: -100%;
margin-left: 0;
max-width: 350px;
overflow-y: auto;
padding-bottom: 100px;
transition: all 0.3s ease;
}
nav #show-menu:checked ~ .content .links{
left: 0%;
}
.content .links li{
margin: 15px 20px;
}
.content .links li a,
.content .links li label{
line-height: 40px;
font-size: 20px;
display: block;
padding: 8px 18px;
cursor: pointer;
}
.content .links li a.desktop-link{
display: none;
}
/* dropdown responsive code start */
.content .links ul,
.content .links ul ul{
position: static;
opacity: 1;
visibility: visible;
background: none;
max-height: 0px;
overflow: hidden;
}
.content .links #show-features:checked ~ ul,
.content .links #show-services:checked ~ ul,
.content .links #show-sale:checked ~ ul,

.content .links #show-items:checked ~ ul{
max-height: 100vh;
}
.content .links ul li{
margin: 7px 20px;
}
.content .links ul li a{
font-size: 18px;
line-height: 30px;
border-radius: 5px!important;
}
}
@media screen and (max-width: 400px){
.wrapper nav{
padding: 0 10px;
}
.content .logo a{
font-size: 27px;
}
.wrapper .search-box{
max-width: calc(100% - 70px);
}
.wrapper .search-box .go-icon{
width: 30px;
right: 0;
}
.wrapper .search-box input{
padding-right: 30px;
}
}
.dummy-text{
position: absolute;
top: 50%;
left: 50%;
width: 100%;
z-index: -1;
padding: 0 20px;
text-align: center;
transform: translate(-50%, -50%);
}
.dummy-text h2{
font-size: 45px;
margin: 5px 0;
}
