<!DOCTYPE html>
<html lang="en" style="height: 10%">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Add icon library -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">   
  </head>
  <body>
    <div class="wrapper">
      <nav>
        <input type="checkbox" id="show-search" />
        <input type="checkbox" id="show-menu" />
        <label for="show-menu" class="menu-icon"
          ><i class="fas fa-bars"></i
        ></label>
        <div class="content">
          <!-- company name section starts -->
          <div class="logo"><a>{{companyName}}</a></div>
          <!-- company name section ends -->

          <ul class="links">
            <!-- navigation section starts -->

            <!-- navigation section home starts -->
            <li><a [routerLink]="'DashBoard'">HOME</a></li>
            <!-- navigation section home ends -->

             <!-- navigation section masters starts -->
            <li>
              <a class="desktop-link">MASTER</a>
              <input type="checkbox" id="show-features" />
              <label for="show-features">MASTER</label>
              <ul>
                <li>
                  <a [routerLink]="'BranchCreation'" class="sub-link"
                    >Branch Creation</a
                  >
                </li>
                <li>
                  <a [routerLink]="'UserCreation'" class="sub-link"
                    >User Creation</a
                  >
                </li>
               
                <li>
                  <a class="sub-link" (click)="checkUserItemCreate()"
                    >Item Creation</a
                  >
                </li>
                 <li>
                  <a [routerLink]="'PartyCreation'" class="sub-link"
                    >Party Creation</a
                  >
                </li>
                <li>
                  <a [routerLink]="'UserBranchAssociation'" class="sub-link"
                    >User Branch Association</a
                  >
                </li>
                <!-- <li>
                  <a [routerLink]="'SwitchToBranch'" class="sub-link"
                    >Switch Branch</a
                  >
                </li> -->
                <li>
                  <a [routerLink]="'SalesManCreation'" class="sub-link"
                    >Salesman Creation</a
                  >
                </li>
               
              </ul>
            </li>
 <!-- navigation section masters ends -->

 <!-- navigation section purchase starts -->
            <!-- <li><a [routerLink]="'Purchase'" class="sub-link">PURCHASE</a></li> -->
            <li><a class="sub-link" (click)="checkUserPurchase()">PURCHASE</a></li>
<!-- navigation section purchase ends -->

<!-- navigation section sale starts -->
            <li>
              <a class="desktop-link">SALE</a>
              <input type="checkbox" id="show-sale" />
              <label for="show-sale">SALE</label>
              <ul>
                
                <li><a class="sub-link" (click)="selectUser()">POS</a></li>
                
                <li>
                  <a class="sub-link" (click)="selectUserWholesale()">WHOLESALE</a>
                </li>
              </ul>
            </li>
 <!-- navigation section sale ends -->

            <li>
              <a class="desktop-link">ADVANCED</a>
              <input type="checkbox" id="show-features" />
              <label for="show-features">ADVANCED</label>
              <ul>
                <li>
                  <a [routerLink]="'StockRequest'" class="sub-link"
                    >Stock Request </a
                  >
                </li>
                <li>
                  <a (click)= "checkUserBranch('AcceptStock')" class="sub-link"
                    >Accept Stock </a
                  >
                </li>
                <li>
                  <a [routerLink]="'StockTransfer'" class="sub-link"
                    >Stock Transfer </a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a class="desktop-link">ACCOUNTS</a>
              <input type="checkbox" id="show-sale" />
              <label for="show-sale">ACCOUNTS</label>
              <ul>
              <li><a [routerLink]="'ReceiptWindow'" class="sub-link">Receipts</a>
              </li>
                <li><a [routerLink]="'PaymentsWindow'" class="sub-link">Payments</a>
                </li>
              </ul>
              </li>
            <li>


             <!-- navigation section repots starts -->
            <li>
              <a class="desktop-link">REPORTS</a>
              <input type="checkbox" id="show-services" />
              <label for="show-services">REPORTS</label>
              <!-- navigation section repots sub child starts -->
              <ul>
                <li>
                  <a [routerLink]="'ItemWiseSalesReport'" class="sub-link"
                    >Sales Report</a
                  >
                </li>
                <li>
                  <a
                    [routerLink]="'GroupwiseSalesDetailReport'"
                    class="sub-link"
                    >GroupWise Sales Detail Report</a
                  >
                </li>
             
                <li>
                  <a [routerLink]="'StatementsOfaccount'" class="sub-link"
                    >Statements Of Account</a
                  >
                </li>
                <li>
                  <a
                    [routerLink]="'PurchaseConsolidatedReport'"
                    class="sub-link"
                    >Purchase Consolidated Report</a
                  >
                </li>

                <li>
                  <a [routerLink]="'StockMovementReport'" class="sub-link"
                    >StockMovementReport</a
                  >
                </li>
                <li>
                  <a [routerLink]="'hsnCodeWiseSalesReport'" class="sub-link"
                    >HSNCode Wise Sales Report</a
                  >
                </li>

                <li>
                  <a [routerLink]="'StockTransferOutReport'" class="sub-link"
                    >Stock Transfer Out Report </a
                  >
                </li>
                
              </ul>
              
            </li>

            
          </ul>
          <!-- navigation section ends -->
        </div>
      <label  class="search-icon" (click)="signout()"><i class="fas fa-power-off"></i></label> 


      </nav>
    </div>
  </body>
</html>
