<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  </head>
  <body>
    <div class="container">
      <div class="item-box">
        <h1>PAYMENTS WINDOW</h1>
        <div class="item-left">
          <form>



            <div class="input-row">
              <div class="input-group">
<!-- For Pop Up -->
                <label>Account</label><br />
                <input
                  type="text" placeholder="Enter" (click)="onKeypressEventSupplier()"
                  [(ngModel)]="supName" value="{{ receiveSupp.supplierName }}" name="supName" required/>
              </div>
              <div class="input-group">
                <label>Trans Date</label><br />
                <input type="date"   [(ngModel)]="dateConvSec" name="dateConvSec" />
              </div>
              <div class="input-group">
                <label>Voucher Number</label><br />
                <input type="text" [(ngModel)]="paymentvouNumber" name="paymentvouNumber" placeholder="" required />
              </div>
            </div>



            <div class="input-row">
              <div class="input-group">
                <label>Mode of payment</label><br />
<!-- For Mode of receipt Drop down menu -->
<!-- For Mode of receipt BKRY-CASH disable Bank,Number,date Drop Down Menu -->
                <select class="option" [(ngModel)]="paymentMode" name="paymentMode"  (change)="hide(paymentMode)"   style="width: 75%">
                  <option
                    *ngFor="let name of receiptModeMst; let i = index"
                    [value]="name.receiptMode">
                    {{ name.receiptMode }}
                  </option>
                </select>
              </div>
              <div class="input-group">
                <label>Amount</label><br />
                <input type="number" [(ngModel)]="amount" name="amount" required />
              </div>
<!-- For Mode of receipt BKRY-CASH disable Bank,Number,date Drop Down Menu -->
              <div class="input-group" *ngIf="isDisabled">
                <label>Bank Account</label><br />
                <select class="option" [(ngModel)]="accountName" name="accountName"   style="width: 75%">
                  <option
                    *ngFor="let name of accountHeads; let i = index"
                    [value]="name.accountName">
                    {{ name.accountName }}
                  </option>
                </select>
              </div>
            </div>




            <div class="input-row">
              <div class="input-group">
                <label>Remark</label><br />
                <input type="text" placeholder="" [(ngModel)]="remark" name="remark"/>
              </div>
<!-- For Mode of receipt BKRY-CASH disable Bank,Number,date Drop Down Menu -->
              <div class="input-group" *ngIf="isDisabled">
                <label>Instrument Number</label><br />
                <input type="text" placeholder="" [(ngModel)]="instrumentNumber" name="instrumentNumber" />
              </div>
<!-- For Mode of receipt BKRY-CASH disable Bank,Number,date Drop Down Menu -->
              <div class="input-group" *ngIf="isDisabled">
                <label>Instrument Date</label><br />
                <input type="date" placeholder=""   [(ngModel)]="instrumentDate" name="instrumentDate"  />
              </div>
            </div>

            <div class="input-row">
              <!-- <div class="input-group">
                <label>Total</label><br />
                <input type="number" [(ngModel)]="totalAmount" name="totalAmount"    style="width: 92%"/>
              </div> -->





<!-- Final Save -->
              <div class="buttons">
                <button class="button submitbtn" type="submit" (click)= "finalSave()">Final Save</button>
                <button class="button clearbtn" type="clear" (click)= "clearAll()">Clear</button>                
                <!-- <button
                  class="button showallbtn"
                  (click)="renderBackendPdf()"
                  [ngClass]="'renderBackendPdf'"
                  style="color: #fff;
                  background: #0a2558;          
                  border-radius: 4px;
                  text-decoration: none;
                  transition: all 0.3s ease;">
                Print Report
                </button>               -->
            </div> 
            
            

          </div>
        </form>
      </div>
    </div>
    </div>
  </body>
</html>   

        

