
<div>
  <input matInput #input1 autofocus placeholder="ProductName" [(ngModel)]="searchfiled"
  name="itemsearch" 
  (keypress)="applyFilter($event)">
  <form [formGroup]="addQtyGroup">
  <input matInput #input2 type="number" placeholder="QTY" [(ngModel)]="productQty" formControlName="productQty" OnlyNumber="true"
  name="productQty">
  <button type="button" #btn1 (click)="addItemFRomPopUPToBillTable(productQty) ">Add</button>
  <button type="button" class="close" (click)="close() ">Close</button> 
  </form>

 <table mat-table [dataSource]="dataSource">

 <!--- Note that these columns can be defined in any order.
       The actual rendered columns are set as a property on the row definition" -->


 <!-- Item Name Column -->
 <ng-container matColumnDef="itemname">
   <th mat-header-cell *matHeaderCellDef> Item Name </th>
   <td mat-cell *matCellDef="let element"> {{element.itemName}} </td>
 </ng-container>

 <!-- MRP Column -->
 <ng-container matColumnDef="mrp">
  <th mat-header-cell *matHeaderCellDef> MRP </th>
  <td mat-cell *matCellDef="let element" > {{element.standardPrice}} </td>
</ng-container>

 <!-- Quantity Column -->
 <ng-container matColumnDef="qty">
  <th mat-header-cell *matHeaderCellDef> QTY </th>
  <td mat-cell *matCellDef="let element" > {{element.qty}} </td>
</ng-container>

 <!-- Barcode Column -->
 <ng-container matColumnDef="barcode">
   <th mat-header-cell *matHeaderCellDef> Barcode </th>
   <td mat-cell *matCellDef="let element" > {{element.barcode}} </td>
 </ng-container>

 <!-- Batch Column -->
 <ng-container matColumnDef="batch">
   <th mat-header-cell *matHeaderCellDef> Batch </th>
   <td mat-cell *matCellDef="let element" > {{element.batch}} </td>
 </ng-container>

  <!-- Unit Column -->
  <ng-container matColumnDef="unit">
    <th mat-header-cell *matHeaderCellDef> Unit </th>
    <td mat-cell *matCellDef="let element" > {{element.unitName}} </td>
  </ng-container>

  <!-- Item Code Column -->
  <ng-container matColumnDef="itemcode">
    <th mat-header-cell *matHeaderCellDef> Item Code </th>
    <td mat-cell *matCellDef="let element" > {{element.itemCode}} </td>
  </ng-container>

  <!-- Expiry Column -->
  <ng-container matColumnDef="expiry">
    <th mat-header-cell *matHeaderCellDef> Expiry </th>
    <td mat-cell *matCellDef="let element" > {{element.expDate}} </td>
  </ng-container>

   <!-- Store Column -->
   <ng-container matColumnDef="store">
    <th mat-header-cell *matHeaderCellDef> Store </th>
    <td mat-cell *matCellDef="let element" > {{element.store}} </td>
  </ng-container>

 <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
 <tr mat-row *matRowDef="let row; columns: displayedColumns; ;index as i; let even=even"


 [ngClass]="searchfiled ==row.itemName ? 'highlight' : 'nothighlight'"

 (click)="highlightRowforItemSearchFromItemBatchDtl(row)"
 
>
<!-- (keyup)="highlightRowforItemSearchFromItemBatchDtl(row)" 
 (keydown)="highlightRowforItemSearchFromItemBatchDtl(row)"
 (keyup.arrowdown)="tableSelectionDown(i,row)" -->

<!-- (click)="selection.toggle(row)"
[ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}"
(mouseover)="row.hovered = true" (mouseout)="row.hovered = false" -->

<!-- (click)="selection.toggle(row)" -->
</tr>
</table>
</div>


<!-- <div>
  <input matInput placeholder="ProductName" [(ngModel)]="searchfiled"
  name="itemsearch" >
  <form [formGroup]="addQtyGroup">
  <input matInput type="number" placeholder="QTY" [(ngModel)]="productQty" formControlName="productQty" OnlyNumber="true"
  name="productQty">
  <button class="submitBtn" (click)="addItemFRomPopUPToBillTable(productQty) ">Add</button>
  <button class="close" (click)="close() ">Close</button>
  
  </form>
 
  
  <div class="table-wrapper-scroll-y my-custom-scrollbar">
  <table class="table table-bordered table-striped mb-0" id="contentToConvert" 
  >
  <thead #txtInput>
  <tr>
  <th [ngClass]="'header'" scope="col">SL NO</th>
  <th [ngClass]="'header'" scope="col">Item Name</th>
  <th [ngClass]="'header'" scope="col">MRP</th>
  <th [ngClass]="'header'" scope="col">QTY</th>
  <th [ngClass]="'header'" scope="col">BarCode</th>
  <th [ngClass]="'header'" scope="col">Batch</th>
  <th [ngClass]="'header'" scope="col">Unit</th>
  <th [ngClass]="'header'" scope="col">Item Code</th>
  <th [ngClass]="'header'" scope="col">Expiry</th>
  <th [ngClass]="'header'" scope="col">Store</th>
  </tr>
  </thead>
  <tbody >
  <tr *ngFor="let tempitemStockDtl of itemStockDtl | filter:searchfiled ;index as i; let even=even " (click)="highlightRowforItemSearchFromItemBatchDtl(tempitemStockDtl)"
  (keyup)="highlightRowforItemSearchFromItemBatchDtl(tempitemStockDtl)" (keydown)="highlightRowforItemSearchFromItemBatchDtl(tempitemStockDtl)" 
  (keyup.arrowdown)="tableSelectionDown(i,tempitemStockDtl)" 
  [style.background-color]="rowSelected == i ? 'powderblue' : (even ? 'white' : 'white')">
  <td>{{i+1}}</td>
  <td >{{ tempitemStockDtl.itemName }}</td>
  <td >{{ tempitemStockDtl.standardPrice}}</td>
  <td>{{tempitemStockDtl.qty}}</td>
  <td >{{ tempitemStockDtl.barcode}}</td>
  <td >{{ tempitemStockDtl.batch}}</td>
  <td>{{tempitemStockDtl.unitName}}</td> 
  <td>{{tempitemStockDtl.itemCode}}</td>
  <td>{{tempitemStockDtl.expDate}}</td>
  <td>{{tempitemStockDtl.store}}</td>
  </tr>
  </tbody>
  </table>
  </div> -->
  
      


