table{
    border-collapse: collapse;
    width:100%;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 tbody tr:hover {
    background-color:lightgreen;
}
thead{
    color:white;
    background: #246c03;
}


/* .mat-table {
    overflow: auto;
    max-height: 500px;
  } */
  
button{
    background: rgb(16, 70, 105);
    color: white;
    font-weight: bold;
    margin-left: 5px;
    border-radius: 7px;
    height: 30px;
    width: 70px;
}
input{
    border-radius: 5px;
    margin-top: 5px;
    height: 30px;
}
.mat-row.hovered {
    background: #eee;
}

.mat-row.highlighted {
  background: #999;
}

.highlight{
    background: rgb(175, 175, 171);
    color: black;
  }
 .nothighlight {
background-color: #fff;
 }

  tr:focus{
        outline: none;
    }
