<!doctype html>
<html class="no-js" lang="">


<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
	<link rel="shortcut icon" href="https://i.imgur.com/QRAUqs9.png">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
	<link rel="stylesheet" href="/../assets/css/cs-skin-elastic.css">

	<link rel="stylesheet" href="/../assets/css/style.css">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

	<style>
		/* .main-container {
			background: #444e80;
			color: #abafc6;
			border-radius: 5px;
			padding: 20px;
			width: 447px;
			height: 350px;
			margin-top: -53px;
			margin-left: -30px;
			margin-right: 5px;
		}

		.year-stats {
			white-space: nowrap;
			max-height: 170px;
			overflow: hidden;
		}

		.year-stats:hover {
			overflow-x: auto;
		} */

		/* SCROLL BAR STYLE (ONLY WORKS IN CHROME) */
		
		/* ::-webkit-scrollbar {
			height: 5px;
			width: 100%;
		}

		
		::-webkit-scrollbar-track {
			background: #444e80;
		}

		
		::-webkit-scrollbar-thumb {
			background: #abafc6;
			border-radius: 10px;
		}

		::-webkit-scrollbar-thumb {
			background: #5397d6;
		}

		.month-group {
			cursor: pointer;
			max-width: 400px;
			height: 110px;
			margin: 10px;
			display: inline-block;
		}

		.bar {
			background-color: #abafc6;
			width: 20px;
			border-radius: 5px;
			margin-bottom: 10px;
		}

		.month-group:hover .bar,
		.selected .bar {
			background: #5397d6;
		}

		.month-group:hover p,
		.selected p {
			color: #fff;
		}

		.h-25 {
			height: 25%;
		}

		.h-50 {
			height: 50%;
		}

		.h-75 {
			height: 75%;
		}

		.h-100 {
			height: 100%;
		}

		.stats-info {
			margin-top: 15px;
			display: flex;
			align-items: center;
			justify-content: space-around;
			position: relative;
		}

		.graph-container {
			position: relative;
		}

		.percent {
			display: block;
			width: 120px;
			height: 120px;
		}

		.circle {
			stroke: #915db1;
			fill: none;
			stroke-width: 3;
		}

		.circle:nth-child(2) {
			stroke: #e59f3c;
		}

		.circle:nth-child(3) {
			stroke: #5397d6;
		}

		.circle:nth-child(4) {
			stroke: #4cc790;
		}

		.graph-container p {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 12px;
			color: #fff;
			text-align: center;
		}

		.info p {
			margin-bottom: 10px;
		}

		.info span {
			color: #fff;
		} */





svg {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding-top: 40px;
  background: -moz-linear-gradient(-45deg, #de437d 0%, #5b44b9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #de437d 0%,#5b44b9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #de437d 0%,#5b44b9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de437d', endColorstr='#5b44b9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
width: 447px;
			height: 350px;
			margin-top: -53px;
			margin-left: -30px;
			margin-right: 5px;
}

polyline {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s ease-in forwards;
  animation-iteration-count: 10;
  animation-direction: alternate;
}

@keyframes dash{
  to {
    stroke-dashoffset: 0;
  }
}


p {
  font-size: 2rem;
  text-align:center;
  color: #efefef;
}
.name {
  font-size: .8rem;
  font-weight: light;
}

.pie {
  margin: 5vmin auto;
  border-radius: 50%;
  width: 37vmin;
  height: 29vmin;
  overflow: hidden;
  color: whitesmoke;
  background: linear-gradient(-21deg,#581845  50%, transparent 50%), linear-gradient(to right, #581845  50%, #266ECA 50%);
}
.html {
	margin: 15px;
    font-size: 9px;
    margin-left: 112px;
	color: #fff;
	margin-bottom: 10px;
}

.css {
	margin: 50px;
  /* margin: 12vmin; */
}
	</style>

</head>

<body>
	<aside id="left-panel" class="left-panel">
		<nav class="navbar navbar-expand-sm navbar-default">

			<div id="main-menu" class="main-menu collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li>
						<a [routerLink]="'DashBoard'" (click)="dashBoardClick()"><i
								class="menu-icon fa fa-laptop"></i>DashBoard</a>
					</li>

					<li class="menu-title">Extras</li>

					<li>
						<a [routerLink]="'DashBoard'" (click)="branchClick()"><i
								class="menu-icon fa fa-sitemap"></i>Branch Creation</a>
					</li>
					<li>
						<a [routerLink]="'DashBoard'" (click)="partyCreateClick()"><i
								class="menu-icon fa fa-address-card"></i>Party Creation</a>
					</li>
					<li>
						<a [routerLink]="'DashBoard'" (click)="userClick()"><i
								class="menu-icon fa   fa-user-plus"></i>User creation</a>
					</li>
					<li>
						<a [routerLink]="'DashBoard'" (click)="itemClick()"><i
								class="menu-icon fa   fa-bandcamp"></i>Item Creation </a>
					</li>

				</ul>
			</div>



			<!-- /.navbar-collapse -->
		</nav>
	</aside>
	<!-- Right Panel -->
	<div id="right-panel" class="right-panel">

	
		<!-- Content -->
		<div class="content">
			<div class="animated fadeIn">
	

		<!-- /.first row-->
				<div class="row">
					<div class="col-lg-6">
						<div class="card">
							<div class="card-body">
								<div class="card-header"
									style="margin-top: 0px;background-color: #FBD0A5; color: #000;">
									<strong style="margin-right: 2px;">USER BRANCH ASSOCIATION</strong>
								</div>
								<div class="flot-container">
									<div class="form-group">
										<label class=" form-control-label">User Name</label>
										<div class="input-group">
										 
									   <select   id="select"   class="form-control" name="userId" [(ngModel)]="userId" name="userId" required style="background-image:linear-gradient(45deg, transparent 50%, gray 50%),linear-gradient(135deg, gray 50%, transparent 50%),linear-gradient(to right, #ccc, #ccc);background-position:calc(100% - 20px) calc(1em + 2px),calc(100% - 15px) calc(1em + 2px),calc(100% - 2.5em) 0.5em;background-size:5px 5px,5px 5px,1px 1.5em; background-repeat: no-repeat;">
										<option *ngFor="let name of users" value="{{ name.id }}">
											{{ name.userName }}
										</option>
										  </select>
										</div>
										<small class="form-text text-muted">ex. select user Name</small>
									</div>
									<div class="form-group">
										<label class=" form-control-label">Branch </label>
										<div class="input-group">
										 
									   <select   id="select"   class="form-control" name="userId" [(ngModel)]="branchId" name="branchId" required style="background-image:linear-gradient(45deg, transparent 50%, gray 50%),linear-gradient(135deg, gray 50%, transparent 50%),linear-gradient(to right, #ccc, #ccc);background-position:calc(100% - 20px) calc(1em + 2px),calc(100% - 15px) calc(1em + 2px),calc(100% - 2.5em) 0.5em;background-size:5px 5px,5px 5px,1px 1.5em; background-repeat: no-repeat;">
										<option *ngFor="let br of branches" value="{{ br.id }}">
											{{ br.branchName }}
										  </option>
										  </select>
										</div>
										<small class="form-text text-muted">ex. select Branch</small>
									</div>

									<button type="button" class="btn btn-outline-success btn-lg btn-block"  (click)="branchassociationsave()">Save</button>
									<div class="row"  *ngIf="notSaveMsg || notSMsg">
										<div class="alert alert-warning">
										<button type="button" aria-hidden="true" class="close" onclick="this.parentElement.style.display='none';">×</button>
										<span><b> Warning - </b> Details cannot be saved!!!</span>
									   </div>
								  </div>
								</div>
							</div>
						</div>
					</div><!-- /#branch association end -->

					<div class="col-lg-6">
						<div class="card">
							<div class="card-body">
								<div class="card-header"
									style="margin-top: 0px;background-color: #E6FBA5; color: #000;">
									<strong style="margin-right: 2px;">SWITCH BRANCH</strong>
								</div>
								<div class="flot-container">
									<div class="form-group">
										<label class=" form-control-label"> Switch Branch </label>
										<div class="input-group">
										 
									   <select   id="select"   class="form-control" name="userId" [(ngModel)]="switchbranchId" name="switchbranchId" required style="background-image:linear-gradient(45deg, transparent 50%, gray 50%),linear-gradient(135deg, gray 50%, transparent 50%),linear-gradient(to right, #ccc, #ccc);background-position:calc(100% - 20px) calc(1em + 2px),calc(100% - 15px) calc(1em + 2px),calc(100% - 2.5em) 0.5em;background-size:5px 5px,5px 5px,1px 1.5em; background-repeat: no-repeat;">
										<option *ngFor="let br of branchByUser">
											{{ getBranchNameById(br.branchId) }} 
										   </option>
										  </select>
										</div>
										<small class="form-text text-muted">ex. select Branch</small>
									</div>
									<button type="button" class="btn btn-outline-secondary btn-lg btn-block" (click)="setBranch()"><i class="fa fa-lightbulb-o"></i>&nbsp; Change</button>
									
								
								
								</div>
							</div>
						</div>
					</div><!-- /# switch branch end -->
				</div><!-- /# first row end -->
				

				<div class="orders">
					<div class="row">
						


						<div class="col-xl-8">
							<div class="card">
								<div class="card-body">
									<h4 class="box-title">REPORTS </h4>
								</div>
								<div class="card-body--">
									<div class="table-stats order-table ov-h">
										<table class="table ">
											<thead>
												<tr>
													<th class="serial">#</th>
													<th>Name</th>
													<th>Status</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="serial">1.</td>


													<td> <span class="name">Sales Report</span> </td>
													<td>
														<button type="button" class="btn btn-info"
															(click)="ItemWiseSalesReport()">View Page</button>
													</td>
												</tr>
												<tr>
													<td class="serial">2.</td>

													<td> <span class="name">GroupWise Sales Detail Report</span> </td>

													<td>
														<button type="button" class="btn btn-info"
															(click)="GroupwiseSalesDetailReport()">View Page</button>
													</td>
												</tr>
												<tr>
													<td class="serial">3.</td>


													<td> <span class="name">Statements Of Account</span> </td>

													<td>
														<button type="button" class="btn btn-info"
															(click)="StatementsOfaccount()">View Page</button>
													</td>
												</tr>
												<tr>
													<td class="serial">4.</td>


													<td> <span class="name">Purchase Consolidated Report</span> </td>

													<td>
														<button type="button" class="btn btn-info"
															(click)="PurchaseConsolidatedReport()">View Page</button>
													</td>
												</tr>
												<tr class=" pb-0">
													<td class="serial">5.</td>


													<td> <span class="name">StockMovementReport</span> </td>

													<td>
														<button type="button" class="btn btn-info"
															(click)="StockMovementReport()">View Page</button>
													</td>
												</tr>
												<tr class=" pb-0">
													<td class="serial">6.</td>


													<td> <span class="name">HSNCode Wise Sales Report</span> </td>

													<td>
														<button type="button" class="btn btn-info"
															(click)="hsnCodeWiseSalesReport()">View Page</button>
													</td>
												</tr>
												<tr class=" pb-0">
													<td class="serial">7.</td>


													<td> <span class="name">Stock Transfer Out Report</span> </td>

													<td>
														<button type="button" class="btn btn-info"
															(click)="StockTransferOutReport()">View Page</button>
													</td>
												</tr>


											</tbody>
										</table>
									</div> <!-- /.table-stats -->
								</div>
							</div> <!-- /.card -->
						</div> <!-- /.col-lg-8 -->
						<div class="col-xl-4">
                            <div class="row">
                                <div class="col-lg-6 col-xl-12">
                                    <div class="card br-0">
						                 <div class="card-body">
											<h4 class="box-title">ACCOUNTS WINDOW </h4>
                                          
                                               
												<ul class="list-group list-group-flush">
													<li class="list-group-item">
														<a [routerLink]="'DashBoard'" (click)="receiptClick()"> <i
																class="fa fa-columns"></i> Receipt <span
																class="badge badge-primary pull-right" style="width: 80px;">view
																page</span></a>
													</li>
				
													<li class="list-group-item">
														<a [routerLink]="'DashBoard'" (click)="paymentClick()"> <i
																class="fa fa-money"></i> Payment <span
																class="badge badge-success pull-right" style="width: 80px;">view
																page</span></a>
													</li>
													<li class="list-group-item">
														<a [routerLink]="'DashBoard'" (click)="journalClick()"> <i
																class="fa fa-calculator"></i> Journal <span
																class="badge badge-warning pull-right r-activity"
																style="width: 80px;">view page</span></a>
													</li>
												</ul>
                                           
                                        </div>
                                    </div><!-- /.card -->
                                </div>

                                <div class="col-lg-6 col-xl-12" >
                                    <div class="card bg-flat-color-3">
                                        <!-- <div class="card-body">
                                            <h4 class="card-title m-0  white-color ">August 2018</h4>
                                        </div> -->
                                         <div class="card-body" style="background: #E6FBA5;">
											<div class="pie">
												<div class="html">PURCHASE</div>
												<div class="css">SALE</div>
											  </div>
                                         </div>
                                    </div>
                                </div> 
                            </div>
                        </div> <!-- /.col-md-4 -->

					</div>
				</div>
				<div class="row">


					<div class="col-lg-6">
						<div class="card">
							<div class="card-body">
								<h4 class="mb-3"></h4>
								<div class="flot-container">
									<!-- graph -->

									<!-- <div class="main-container">
										<div class="year-stats">
											<div class="month-group">
												<div class="bar h-100"></div>
												<p class="month">Jan</p>
											</div>
											<div class="month-group">
												<div class="bar h-50"></div>
												<p class="month">Feb</p>
											</div>
											<div class="month-group">
												<div class="bar h-75"></div>
												<p class="month">Mar</p>
											</div>
											<div class="month-group">
												<div class="bar h-25"></div>
												<p class="month">Apr</p>
											</div>
											<div class="month-group ">
												<div class="bar h-100"></div>
												<p class="month">May</p>
											</div>
											<div class="month-group">
												<div class="bar h-50"></div>
												<p class="month">Jun</p>
											</div>
											<div class="month-group selected">
												<div class="bar h-75"></div>
												<p class="month">Jul</p>
											</div>
											<div class="month-group">
												<div class="bar h-25"></div>
												<p class="month">Aug</p>
											</div>
											<div class="month-group">
												<div class="bar h-50"></div>
												<p class="month">Sep</p>
											</div>
											<div class="month-group">
												<div class="bar h-75"></div>
												<p class="month">Oct</p>
											</div>
											<div class="month-group">
												<div class="bar h-25"></div>
												<p class="month">Nov</p>
											</div>
											<div class="month-group">
												<div class="bar h-100"></div>
												<p class="month">Dec</p>
											</div>
										</div>

										<div class="stats-info">
											<div class="graph-container">
												<div class="percent">
													<svg viewBox="0 0 36 36" class="circular-chart">
														<path class="circle" stroke-dasharray="100, 100" d="M18 2.0845
									  a 15.9155 15.9155 0 0 1 0 31.831
									  a 15.9155 15.9155 0 0 1 0 -31.831" />
														<path class="circle" stroke-dasharray="85, 100" d="M18 2.0845
									  a 15.9155 15.9155 0 0 1 0 31.831
									  a 15.9155 15.9155 0 0 1 0 -31.831" />
														<path class="circle" stroke-dasharray="60, 100" d="M18 2.0845
									  a 15.9155 15.9155 0 0 1 0 31.831
									  a 15.9155 15.9155 0 0 1 0 -31.831" />
														<path class="circle" stroke-dasharray="30, 100" d="M18 2.0845
									  a 15.9155 15.9155 0 0 1 0 31.831
									  a 15.9155 15.9155 0 0 1 0 -31.831" />
													</svg>
												</div>
												<p>Total: $2075</p>
											</div>

											<div class="info">
												<p>Most expensive category <br /><span>Restaurants & Dining</span></p>
												<p>Updated categories <span>2</span></p>
												<p>Bonus payments <span>$92</span></p>
											</div>
										</div>
									</div> -->

									<svg class='container' width="529px" height="286px" viewBox="30 27 529 286" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
										<!-- Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch -->
										<desc>Created with Sketch.</desc>
										<defs></defs>
										<g id="graph-copy" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(30.000000, 27.000000)">
											<g id="y_axis" font-size="11.0833333" font-family=".HelveticaNeueDeskInterface-Regular, .Helvetica Neue DeskInterface" fill="#FFFFFF" opacity="0.4" font-weight="normal">
												<text id="0">
													<tspan x="25.3008249" y="264.333333">0</tspan>
												</text>
												<text id="200">
													<tspan x="12.7757572" y="232.666667">200</tspan>
												</text>
												<text id="400">
													<tspan x="12.7757572" y="201">400</tspan>
												</text>
												<text id="600">
													<tspan x="12.7757572" y="169.333333">600</tspan>
												</text>
												<text id="800">
													<tspan x="12.7757572" y="137.666667">800</tspan>
												</text>
												<text id="1000">
													<tspan x="6.51322328" y="106">1000</tspan>
												</text>
												<text id="1200">
													<tspan x="6.51322328" y="74.3333333">1200</tspan>
												</text>
												<text id="1400">
													<tspan x="6.51322328" y="42.6666667">1400</tspan>
												</text>
												<text id="1600">
													<tspan x="6.51322328" y="11">1600</tspan>
												</text>
											</g>
											<g id="GRAPHS" transform="translate(64.000000, 16.000000)" stroke-linecap="round" stroke-width="8" stroke-linejoin="round">
												<polyline id="Banks" stroke="#5BCAC1" points="0 1 88.0438662 1 128.985782 137 180.170616 137 224.189573 182 256.947867 91 301.990521 137 346.009479 91 392.087202 91 429.952607 179"></polyline>
												<polyline id="Bridge" stroke="#81DEFF" points="2.04739336 183 54.2559242 227 96.2274882 47 133.080569 1 302.018438 1 346.680361 44.6280822 386.957346 0 427.905213 43"></polyline>
												<polyline id="PayPal" stroke="#F6F5A6" points="2.04739336 180 53.273159 180 99.2985782 91 137.175355 47 219.077488 47 256.947867 90 301.990521 47 349.080569 137 398.228672 137 432 91"></polyline>
											</g>
											<g id="x_axis" transform="translate(71.974046, 271.541667)" font-size="11.0833333" font-family=".HelveticaNeueDeskInterface-Regular, .Helvetica Neue DeskInterface" fill="#FFFFFF" opacity="0.4" font-weight="normal">
												<text id="1">
													<tspan x="0.396183206" y="11">1</tspan>
												</text>
												<text id="2">
													<tspan x="39.2603361" y="11">2</tspan>
												</text>
												<text id="3">
													<tspan x="78.8786567" y="11">3</tspan>
												</text>
												<text id="4">
													<tspan x="118.496977" y="11">4</tspan>
												</text>
												<text id="5">
													<tspan x="158.115298" y="11">5</tspan>
												</text>
												<text id="6">
													<tspan x="197.733619" y="11">6</tspan>
												</text>
												<text id="7">
													<tspan x="237.351939" y="11">7</tspan>
												</text>
												<text id="8">
													<tspan x="276.97026" y="11">8</tspan>
												</text>
												<text id="9">
													<tspan x="316.58858" y="11">9</tspan>
												</text>
												<text id="10">
													<tspan x="359.229833" y="11">10</tspan>
												</text>
												<text id="11">
													<tspan x="400.036703" y="11">11</tspan>
												</text>
												<text id="12">
													<tspan x="438.466474" y="11">12</tspan>
												</text>
											</g>
											<g id="grid" transform="translate(46.618321, 4.750000)" stroke="#FFFFFF" stroke-linecap="square" opacity="0.0800000057">
												<path d="M0.396183206,1.1875 L478.991396,1.1875" id="Line"></path>
												<path d="M0.396183206,32.8541667 L478.991396,32.8541667" id="Line"></path>
												<path d="M0.396183206,64.5208333 L478.991396,64.5208333" id="Line"></path>
												<path d="M0.396183206,96.1875 L478.991396,96.1875" id="Line"></path>
												<path d="M0.396183206,127.854167 L478.991396,127.854167" id="Line"></path>
												<path d="M0.396183206,159.520833 L478.991396,159.520833" id="Line"></path>
												<path d="M0.396183206,191.1875 L478.991396,191.1875" id="Line"></path>
												<path d="M0.396183206,222.854167 L478.991396,222.854167" id="Line"></path>
												<path d="M0.396183206,254.520833 L478.991396,254.520833" id="Line"></path>
											</g>
										</g>
									</svg>


									<!-- graph -->

								</div>
							</div>
						</div>
					</div><!-- /#  -->

				
				</div><!-- /# row -->
			</div><!-- .animated -->
		</div>
		<!-- /.content -->
		<div class="clearfix"></div>
		<!-- Footer -->
		<footer class="site-footer">
			<div class="footer-inner bg-white">
				<div class="row">
					<div class="col-sm-6">
						Copyright &copy; 2019 MapleERP
					</div>
					
				</div>
			</div>
		</footer>
		<!-- /.site-footer -->
	</div>
	<!-- /#right-panel -->


</body>

</html>