.one
{
    padding:10px;
margin-left: .25cm;
font-size: 14px;
}
.two
{
    background-color: gray;

    left: 2%;
   
}

.dayendsummary
{
    height:800px;
    width:725px;
    font-size: 12px;
    margin-left: 10px;
}
.dayend
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}

.salessummary
{
    height:800px;
    width:700px;
    font-size: 12px;
    position:relative; 
    left:800px;
    bottom:845px;
}

.sales
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: bold;
    
    position:relative; 
    left:800px;
    bottom:845px; 
}
.header{
    position:sticky;
    top:0;
    background-color: cornflowerblue;
   
  
}
.reportstatus
{
    font-size: 14px;
   
    position:relative;
    left:475px;
    bottom:50px;
    opacity: .5;
    }
    .grandtotal
    {
        font-weight: bold;
        background-color: cornflowerblue;
    }
    .reportdate
    {
        height: 5px;
        width: 200px;
        font-weight: bold;
    }
    .downloadexcel
    {
        background-color: gray;  
        left: 5%;
        top: 0px;
    }
    .reportstatus
    {
        font-size: 14px;
       
        position: relative;
        left:560px;

        bottom:70px;
      
        opacity: .8;
        } 
