<h2>Day End Reports<h2>
    <br>
    <div [ngClass]="'one'">
      <mat-form-field appearance="fill" [ngClass]="'reportdate'">
        <mat-label>Report Date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="reportdate" name="reportdate" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button  (click)="getDayEndReports()" [ngClass]="'two'" mat-button >Generate Report</button>
      <button (click)="renderPdf()" [ngClass]="'downloadexcel'"  [disabled]="getexcelReportStatus ===false" mat-button>Download Excel</button>
      <div [ngClass]="'reportstatus'" *ngIf="getReportStatus"> <img  src="/assets/loading-gif.gif" width="80px" height="80px" alt="image"></div>
     
    </div>

   
   
    <h3 [ngClass]="'dayend'">Sales Summary</h3>
    <div  [ngClass]="'dayendsummary'">
         <div class="table-wrapper-scroll-y my-custom-scrollbar">
             <table class="table table-bordered table-striped mb-0" id="contentToConvert" >
                 <thead >
                 <tr>
                     <th [ngClass]="'header'" scope="col" class="'three'">No</th>
                     <th [ngClass]="'header'" scope="col">Branch Code</th>
                   <th [ngClass]="'header'" scope="col">Cash Sales</th>
                   <th [ngClass]="'header'" scope="col">Credit Sales</th>
                   <th [ngClass]="'header'" scope="col">Card Sales</th>
                   <th [ngClass]="'header'" scope="col">Total Sales</th>
                  <th [ngClass]="'header'" scope="col">Physical Cash</th>
                  
                 </tr>
                 </thead>
                 <tbody>
                 <tr *ngFor="let name of dayEndWebReport; index as i">
                   <th scope="row">{{ i + 1 }}</th>
                   <td>{{ name.branchCode }}</td>
                   <td>{{name.cashSales  | number: '1.0-2'}}</td>
                   <td>{{ name.creditSales  | number: '1.0-2' }}</td>
                   <td>{{ name.cardSales  | number: '1.0-2'}}</td>
                   <td>{{ name.totalSales  | number: '1.0-2'}}</td>
                   <td>{{ name.physicalCash  | number: '1.0-2'}}</td>
                 </tr>
                 <tr [ngClass]="'grandtotal'">
                    <th colspan="2">Grand Totals</th>
                  <td >{{totalCashSales | number: '1.0-2'}}</td>
                  <td>{{totalCreditSales | number: '1.0-2'}}</td>
                  <td>{{totalCardSales | number: '1.0-2'}}</td>
                  <td>{{totalSales | number: '1.0-2'}}</td>
                  <td>{{totalPhysicalCash | number: '1.0-2'}}</td>
               </tr>
                 </tbody>
               </table>
               </div>
