<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  </head>
  <body>
    <div class="container">
      <h1>Dashboard Config</h1>
      <div class="box">
        <div class="contents1">
            <form [formGroup]="dashboardConfigForm">
              <div class="input-row">
                <div class="input-group">
                  <label>User Name</label><br/>
                  <select class="option" name="userName" formControlName="userId">
                    <option disabled="disabled" selected="userName">--User Name--</option>
                    <option *ngFor="let name of userMst; let i = index" [value]="name.id">
                      {{ name.userName}}
                    </option>
                  </select>
                </div>
                <div class="input-group">
                  <label>Dashboard</label><br />
                  <select class="option" name="dashboard" (change)="getReportName()" formControlName="dashBoardName">
                    <option disabled="disabled" selected="dashboard">--Dashboard--</option>
                    <option value="DASHBOARD 1">DASHBOARD 1</option>
                    <option value="DASHBOARD 2">DASHBOARD 2</option>
                    <option value="DASHBOARD 3">DASHBOARD 3</option>
                    <option value="DASHBOARD 4">DASHBOARD 4</option>
                    <option value="DASHBOARD 5">DASHBOARD 5</option>
                    <option value="DASHBOARD 6">DASHBOARD 6</option>
                  </select>
                </div>
                <div class="input-group">
                  <label>Report Type</label><br />
                    <select class="option" name="reportType" formControlName="reportName" >
                    <option selected="reporttype" value="">--Report Type--</option>
                    <option *ngFor="let name of dashboardreport; index as i" [value]="name.reportName">
                    {{ name.reportName}}
                    </option>
                  </select>
                </div>
                </div> 
              <div class="input-row">
                <div class="buttons">
                  <button class="button submitbtn" type="submit" (click)="submitForm()">Submit</button>
                  <button class="button submitbtn" type="submit" (click)="showAll()">Show All</button>
                  <button class="button submitbtn" type="reset" (click)="clear()">Clear</button> 
                </div>
              </div> 
            </form>
        </div>
        <div class="dashdetails">
          <div class="fixTableHead">
            <table class="item-table" id="contentToConvert">
              <thead>
                <tr>
                <th>User Name</th>
                <th>Dashboard</th>
                <th>Report Type</th>
                <th>#</th>
                </tr>
              </thead>
              <tbody>
                <tr class="selectrow" *ngFor="let temp of showDashBoardConfigMst ;index as i ">
                <td data-label="User Name">{{getUsernameById(temp.userId)}}</td>
                <td data-label="Dashboard">{{temp.dashBoardName}}</td>
                <td data-label="Report Type">{{temp.reportName}}</td>
                <button mat-icon-button matTooltip="Click to Delete" class="btn" (click)="highlightandDeleteRowById(temp)" color="warn">
                <mat-icon>delete</mat-icon></button>
                <!-- <td data-label="delete"><input type="button" (click)="highlightandDeleteRowById(temp)" value="Delete" ></td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>