table{
    border-collapse: collapse;
    width:100%;
    font-size: 12px;


    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
   
    color: black;
   
    background-color: rgb(226, 228, 234);
    border: 2px solid #1f0456;
     /* font-size: 10px; */
   border-radius: 6px;
  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 tbody tr:hover {
    background-color:lightgreen;
}
thead{
    background-color: rgb(226, 228, 234);
    border: 2px solid #1f0456;
    /* background: rgb(16, 70, 105); */
}



button{
    background: rgb(16, 70, 105);
    color: white;
    font-weight: bold;
    margin-left: 5px;
    border-radius: 7px;
    height: 30px;
    width: 70px;
}
input{
    border-radius: 5px;
    margin-top: 5px;
    height: 30px;
}

.submitBtn
{
    width: max-content;
}
@media (max-width: 1000px) {
    .table-boxes .box{
      width: calc(100% / 2 - 15px);
      margin-bottom: 15px;
    }
  }