

  <div>
    <input matInput placeholder="Search" [(ngModel)]="searchfiled"
    (keyup)="onKeypressEvent($event)"  name="searchShippingAdr" >
   
 
  
    
  <button class="submitBtn"  (click)="addNewShippingAddrs() ">New Shipping Address</button>
  <button class="close"  (click)="close() ">Close</button>


</div>





     
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0" id="contentToConvert" 
    >
        <thead #txtInput>
        <tr>
          <th [ngClass]="'header'" scope="col">SL NO</th>
          <th [ngClass]="'header'" scope="col">Customer Name</th>
          <th [ngClass]="'header'" scope="col">Address Line 1</th>
          <th [ngClass]="'header'" scope="col">Address Line 2</th>
          <th [ngClass]="'header'" scope="col">Mobile Number</th>
          <th [ngClass]="'header'" scope="col">Site Name</th>
        
          </tr>
        </thead>
        <tbody >
      <tr *ngFor="let names of shippingDtls   | filter:searchfiled ;index as i " (click)="highlightRow(names)"
      (keyup)="highlightRow(names)" (keydown)="highlightRow(names)"  >
     <td>{{i+1}}</td>
        <td (keyup.enter)="keytab(names)">{{ names.customerName }}</td>
       
          <td >{{ names.addressLine1}}</td>
          <td>{{names.addressLine2}}</td>
          <td>{{names.mobileNumber}}</td>
          <td>{{names.siteName}}</td>
      
         
        
          
        </tr>
        </tbody>
      </table>
    
      </div>
      
   

