<div class="form-header" >
    <input #myInput type="text"
    placeholder="Search for product ..."
     class="au-input au-input-xl" 
     (keyup.enter)="doSearch(myInput.value)"
       />
    <button (click)="doSearch(myInput.value)" class="au-btn-submit" >
      Search
    </button>

    <button routerLink="logineshop" class="au-btn-submit" >
      Login
    </button>

    <button routerLink="orderHistory" class="au-btn-submit" >
      Order History
    </button>
</div> 
