
<!-- 
<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
   
  
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <nav>
    <div class="navbar">
      <i class='bx bx-menu'></i>
      <div class="logo"><a href="#">Reports</a></div>
      <div class="nav-links">
      <div class="sidebar-logo">
          <span class="logo-name"></span>
          <i class='bx bx-x' ></i>
        </div> -->
        <!-- <ul class="links">
          <li><a [routerLink]="'MainMenuPage'">Home</a></li>
          <li>
            <a >Accounting</a>
            <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
            <ul class="htmlCss-sub-menu sub-menu">
              <li><a [routerLink]="'TrailBalanceReport'">Trail Balance</a></li>
              <li><a [routerLink]="'StatementsOfaccount'">Statements Of Account</a></li>
            </ul>
          </li>
          <li>
            <a >Purchase Report</a>
            <i class='bx bxs-chevron-down js-arrow arrow '></i>
            <ul class="js-sub-menu sub-menu">
              <li><a [routerLink]="'PurchaseDetailsReport'">Purchase Details Report</a></li>
              <li><a [routerLink]="'PurchaseSummaryReport'">Purchase Summary Report</a></li>
              <li><a [routerLink]="'HsnCodePurchaseReport'">HSN Code Purchase Report</a></li>
              
            </ul>
          </li>
          <li><a h>Sale</a>
          
            <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
            <ul class="htmlCss-sub-menu sub-menu">
              <li><a [routerLink]="'SalesSummaryReport'">Sales Summary Report</a></li>
              <li><a [routerLink]="'SalesDetailsReport'">Sales Detail Report</a></li>
              <li><a [routerLink]="'DailySalesReport'">Daily Sales Report</a></li>
              <li><a [routerLink]="'salesdeletedreport'">Sales Detail Deleted Report</a></li>
              <li><a [routerLink]="'salesBillDetails'">Sales Bill Details</a></li>
              <li><a [routerLink]="'hsnCodeWiseSalesReport'" >HSN Code Wise Sales Report</a></li>

            </ul>
             
          
          
          </li>
          <li><a >Stock</a>
          <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
            <ul class="htmlCss-sub-menu sub-menu">
              <li><a [routerLink]="'StockMovementReport'">Branch Wise Stock Movement Report</a></li>
              <li><a [routerLink]="'StockTransferOutReport'">Stock Transfer Out Report</a></li>
              <li><a [routerLink]="'StockTransferOutDetailsReport'">Stock Transfer Out Detail Report</a></li>
              <li><a [routerLink]="'StockReport'">Stock Report</a></li>
                  
            </ul>
          </li>
          <li><a >Day End</a>
            <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
            <ul class="htmlCss-sub-menu sub-menu">
              <li><a [routerLink]="'DayEndReport'">Day End Summary</a></li>
              <li><a [routerLink]="'DayEndSalesSummary'">Sales Summary</a></li>
              
            </ul>
          
          
          </li>
          <li> <a  class="logout" mat-raised-button (click)="logout()" color="accent">Logout</a></li>
        </ul>
      </div> -->
      <!-- <div class="search-box">
         <i class='bx bx-user'></i>
        <div class="input-box">
          <a (click)="logout()" >Logout</a>
          
       </div>
      </div> -->
    <!-- </div>
  </nav> -->
  <!-- <script src="script.js"></script> -->
<!-- </body>
</html>

<router-outlet></router-outlet> -->






























 
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-sm-6 col-3 col-md-4">
  <!-- <img  src="/assets/hotcakeslogo.jfif" width="100px" height="50px" alt="image"> -->
<div [ngClass]="'online'" *ngIf="networkStatus$ | async; else offline">
      Online
    </div>
    <ng-template #offline>
      <div [ngClass]="'offline'">
        Offline
      </div>
    </ng-template>
      <mat-toolbar color="primary" >
        <!-- <img  src="/assets/hotcakeslogo.jfif" width="100px" height="50px" alt="image"> -->
      <!-- <span><mat-icon>assignment</mat-icon>Reports -->
      <!-- </span>--><div  [ngClass]="'spacer'">
        <button [ngClass]="'MainMenuPage'" [routerLink]="'MainMenuPage'" mat-menu-item>Home</button>
      </div>
     
      <button [ngClass]="'mastes'" mat-button [matMenuTriggerFor]="mastes">Masters</button>
      <mat-menu #mastes="matMenu">
       
       <button [ngClass]="'home'" [routerLink]="'CommandPage'" mat-menu-item>Command Page</button>
       <button [ngClass]="'home'" [routerLink]="'BranchCreation'" mat-menu-item>Branch Creation</button>
       
      
        </mat-menu>
      <button [ngClass]="'home'" mat-button [matMenuTriggerFor]="accreports">Accounting Reports</button>
      <mat-menu #accreports="matMenu">
       <button [ngClass]="'home'" [routerLink]="'TrailBalanceReport'" mat-menu-item>Trail Balance</button>
        <button [ngClass]="'home'"  [routerLink]="'StatementsOfaccount'" mat-menu-item>Statements Of Account</button>
      
        </mat-menu>
        <button  [ngClass]="'home'"mat-button [matMenuTriggerFor]="purchasereport">Purchase Reports</button>
      <mat-menu #purchasereport="matMenu">
       <button [ngClass]="'home'" [routerLink]="'PurchaseDetailsReport'" mat-menu-item>Purchase Details Report</button>
       <button [ngClass]="'home'" [routerLink]="'PurchaseSummaryReport'" mat-menu-item>Purchase Summary Report</button>
       <button [ngClass]="'home'" [routerLink]="'HsnCodePurchaseReport'" mat-menu-item>HSN Code Purchase Report</button>
       
        </mat-menu>
        <button [ngClass]="'home'" mat-button [matMenuTriggerFor]="salesreport">Sales Reports</button>
        <mat-menu #salesreport="matMenu">
            <button [ngClass]="'home'" [routerLink]="'SalesSummaryReport'" mat-menu-item>Sales Summary Report</button>
            <button [ngClass]="'home'" [routerLink]="'SalesDetailsReport'" mat-menu-item>Sales Detail Report</button>
            
            <button [ngClass]="'home'" [routerLink]="'DailySalesReport'" mat-menu-item>Daily Sales Report</button>
            <button [ngClass]="'home'" [routerLink]="'salesdeletedreport'" mat-menu-item>Sales Detail Deleted Report</button>
            <button [ngClass]="'home'"[routerLink]="'salesBillDetails'" mat-menu-item>Sales Bill Details</button>
            <button [ngClass]="'home'"[routerLink]="'hsnCodeWiseSalesReport'" mat-menu-item>HSN Code Wise Sales Report</button>
          </mat-menu>
          <button [ngClass]="'home'"mat-button [matMenuTriggerFor]="stockReports">Stock Reports</button>
        <mat-menu #stockReports="matMenu">
         <button [ngClass]="'home'"[routerLink]="'StockMovementReport'" mat-menu-item>Branch Wise Stock Movement Report</button>
         <button [ngClass]="'home'"[routerLink]="'StockTransferOutReport'" mat-menu-item>Stock Transfer Out Report</button>
         <button [ngClass]="'home'"[routerLink]="'StockTransferOutDetailsReport'" mat-menu-item>Stock Transfer Out Detail Report</button>
         <button [ngClass]="'home'"[routerLink]="'StockReport'" mat-menu-item>Stock Report</button>
          </mat-menu>
          <button [ngClass]="'home'"mat-button [matMenuTriggerFor]="dayEndDetails">Day End Details</button>
        <mat-menu #dayEndDetails="matMenu">
         <button [ngClass]="'home'"[routerLink]="'DayEndReport'" mat-menu-item>Day End Summary</button>
         <button [ngClass]="'home'"[routerLink]="'DayEndSalesSummary'" mat-menu-item>Sales Summary</button>
          
          </mat-menu>
          <a mat-raised-button (click)="logout()" color="accent">Logout</a>
    </mat-toolbar>
    </div>
  </div>
</div>


   
   
   

    

    <router-outlet></router-outlet> 
