body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.fixed-header,
.fixed-footer {
  width: 100%;
  position: fixed;
  background: rgb(2, 64, 88);
  padding: 2px 0;
  color: #fff;
  z-index: 3;
}
.fixed-header {
  top: 0;
}
.fixed-footer {
  bottom: 0;
}

nav a {
  /* color: rgb(252, 252, 252); */
  text-decoration: none;
  padding: 1px 2px;
  display: inline-block;
  position: relative;
  float: right;
}

.user-logo {
  font-size: 20px;
  color: #fff;
  border: 5px solid white;
  border-width: thin;
  border-radius: 40px;
  padding: 5px 5px;
  cursor: pointer;
}
.logout {
  margin-top: 10px;
}
.dropdown {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 7px 20px;
  display: inline-block;
  position: relative;
  float: right;
}
.dropdown-item {
  color: black;
  cursor: pointer;
  /* padding-top: 5px; */
  border-bottom: 1px solid rgb(173, 173, 173);
  text-align: center;
}
.dropdown-item:last-child {
  border-bottom: none;
}
