<!-- <div class="fixed-header">
  <div class="container">
    <nav>
      <div class="dropdown">
        <ul class="nav navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a
              href="#"
              class="nav-link dropdown-toggle"
              data-bs-toggle="dropdown"
              ><i class="fa fa-user user-logo">{{userName}}</i>
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <a class="dropdown-item"  [routerLink]="'reports'"
                ><i class="fa fa-file"   ></i>&nbsp;&nbsp;&nbsp;&nbsp;Reports</a
              >
              <a class="dropdown-item"
                ><i class="fa fa-cog"></i>&nbsp;&nbsp;&nbsp;&nbsp;Settings</a
              >
              <div class="dropdown-divider"></div>
              <a (click)="logout()" class="dropdown-item"
                ><i class="fa fa-sign-out"></i>&nbsp;&nbsp;&nbsp;&nbsp;Logout</a
              >
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div> -->
