
<!doctype html>
<html class="no-js" lang="">


<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
  <link rel="shortcut icon" href="https://i.imgur.com/QRAUqs9.png">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
  <link rel="stylesheet" href="/../assets/css/cs-skin-elastic.css">

  <link rel="stylesheet" href="/../assets/css/style.css">

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>



</head>

<body>
  
  <!-- <input type="checkbox" id="menu"> -->
  <aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div id="main-menu" class="main-menu collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li >
                <a [routerLink]="'DashBoard'" (click)="dashBoardClick()" ><i class="menu-icon fa fa-laptop"></i>DashBoard</a>
            </li>

            <li class="menu-title">Extras</li>
           
            <li >
              <a [routerLink]="'PosWindow'"  (click)="posClick()" ><i class="menu-icon fa fa-shopping-bag"></i>POS </a>
          </li>
          <li>
            <a  [routerLink]="'PartyCreation'" (click)="partyCreateClick()"  ><i class="menu-icon fa fa-address-card"></i>Party Creation</a>
        </li>
        <li>
          <a  [routerLink]="'Purchase'" (click)="purchaseClick()" ><i class="menu-icon fa   fa-shopping-basket"></i>Purchase </a>
      </li>
      <li>
        <a  [routerLink]="'Purchase'" (click)="itemClick()" ><i class="menu-icon fa   fa-bandcamp"></i>Item Creation </a>
    </li>
           
        </ul>
        </div>
        
        
        
        <!-- /.navbar-collapse -->
    </nav>
</aside>
  <div id="right-panel" class="right-panel" >
   
    <div class="breadcrumbs">
      <div class="breadcrumbs-inner">
        <div class="row m-0">
          <div class="col-sm-4">
            <div class="page-header float-left">
              <div class="page-title">
                <h1>Dashboard</h1>
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="page-header float-right">
              <div class="page-title">
                <ol class="breadcrumb text-right">
                  <li><a href="#">Dashboard</a></li>
                  <li><a href="#">Master</a></li>
                  <li class="active">Salesman Creation</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content">
     
      <div class="animated fadeIn">

        <div class="row">
          <div class="col-xs-6 col-sm-6">
            <div class="card">
              <div class="card-header">
                <strong>Detail Entry</strong> 
              </div>
              <div class="card-body card-block">

                <div class="form-group">
                  <label class=" form-control-label">Salesman Name</label>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                    <input   class="form-control"  [ngClass]="salesManName =='' ? 'is-invalid form-control' : 'is-valid form-control-success form-control'"  type="text" [(ngModel)]="salesManName" name="saleManName" [(ngModel)]="search" required >
                  </div>
                  <small class="form-text text-muted">ex. Vipin</small>
                </div>
                
                <div class="form-group">
                  <label class=" form-control-label">Contact Number</label>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-pencil"></i></div>
                    <input class="form-control" [ngClass]="contactNumber =='' ||phoneCheck ? 'is-invalid form-control' : 'is-valid form-control-success form-control'"  
                    [(ngModel)]="contactNumber" name="contactNumber" (blur)="phoneNumberChecking()">
                  </div>
                  <small class="form-text text-muted">ex. 8541470311</small>
                </div>


                                                                
              
              </div>
            
             
              <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm" (click)="savesalesman()">
                  <i class="fa fa-dot-circle-o"></i> Submit
                </button>
                <button type="reset" class="btn btn-danger btn-sm" (click)="clearSalesman()">
                  <i class="fa fa-ban"></i> Reset
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header">Detail Entry </div>
              <div class="card-body card-block">
                <form action="#" method="post" class="">


                  <div class="form-group">
                    <label class=" form-control-label">Branch</label>
                    <div class="input-group">
                      
                      <select class="form-control" [ngClass]="branchCode =='' ? 'is-invalid form-control' : 'is-valid form-control-success form-control'" name="branchCode" [(ngModel)]="branchCode" required style="background-image:linear-gradient(45deg, transparent 50%, gray 50%),linear-gradient(135deg, gray 50%, transparent 50%),linear-gradient(to right, #ccc, #ccc);background-position:calc(100% - 20px) calc(1em + 2px),calc(100% - 15px) calc(1em + 2px),calc(100% - 2.5em) 0.5em;background-size:5px 5px,5px 5px,1px 1.5em; background-repeat: no-repeat;">
                        <option disabled="disabled" selected="Branch">
                          --Unit Format--
                        </option>
                        <option *ngFor="let br of branchList"[value]="br.branchCode">{{br.branchCode}}</option>
                      </select>
                    </div>
                    <small class="form-text text-muted">ex. Select branch</small>
                  </div>



                  <div class="form-actions form-group"><button type="submit"
                      class="btn btn-success btn-sm" (click)="savesalesman()">Submit</button>
                    </div>


                    
                      <div class="row"  *ngIf="showMsg">
                        <div class="alert alert-success">
                        <button type="button" aria-hidden="true" class="close" onclick="this.parentElement.style.display='none';">×</button>
                        <span><b> Success - </b> Details Saved Successfully!!!</span>
                       </div>
                  </div>

                  <div class="row" *ngIf="phoneCheck">
                    <div class="alert alert-info">
                    <button type="button" aria-hidden="true" class="close" onclick="this.parentElement.style.display='none';">×</button>
                    <span><b> Info - </b> Enter a 10 digit Number!!!</span>
                    </div>
                    </div>
                </form>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <strong class="card-title">Data Table</strong>
              </div>
 
            <div class="row">
             <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="bootstrap-data-table_length" style="margin-top: 20px;">
                <label style="margin-left: 26px;">Search : <input type="search" class="form-control form-control-sm" id="myInput"
                  onkeyup="myFunction()"
                  [(ngModel)]="search"
                  placeholder="Search for items.." aria-controls="bootstrap-data-table" style="width: 289px;
                  display: inline-block;margin-top: 2px;"></label>
              </div>
            </div>

          </div>
              <div class="card-body">
                <table id="table.dataTable" class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th> Salesman Name <i class="fa fa-long-arrow-up" aria-hidden="true" (click)="sortasc()"
                          style="bottom: 0.9em;opacity: 0.3;cursor: pointer;"></i>
                        <i class="fa fa-long-arrow-down" aria-hidden="true" (click)="sortdesc()"
                          style="cursor: pointer; bottom: 0.9em; "></i>

                      </th>
                      <th>Mobile Number</th>
                      <th>Branch</th>
                      <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="
                    let sales of salesManMst| filter:search;
                    index as i ">
                    <td data-label="Salesman Name">{{sales.salesManName}}</td>
                    <td data-label="Mobile Number">{{sales.contactNumber}}</td>
                    <td data-label="Branch">{{sales. branchCode}}</td>
                    <td>
                 
                    <i
                    class="far fa-trash-alt"
                    (click)="deleteSalesman(sales.id)"
                    style="
                    color: crimson;
                    margin-right: 30%;
                    margin-left: 10%;
                    font-size: 12px;
                    font-weight: bold;
                    "
                    ></i>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
             
            </div>
          </div>





        </div>
      </div>
   
      <!-- .animated -->
    </div><!-- .content -->


    <div class="clearfix"></div>

    <footer class="site-footer">
      <div class="footer-inner bg-white">
        <div class="row">
          <div class="col-sm-6">
            Copyright &copy; 2019 MapleERP
          </div>

        </div>
      </div>
    </footer>

  </div>
  
  
  <!-- /#right-panel -->

  <!-- Right Panel -->

</body>

</html>