<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      
      
      <div class="item-box">
        <h1 >STOCK TRANSFER OUT REPORT</h1>
        <div class="item-left">
          <form >
            <div class="input-row">
              <div class="input-group">
                <label>From Date</label><br />
                <input  type="date" [(ngModel)]="fromdate" name="fromdate" required/>
              </div>
              <div class="input-group">
                <label>To Date</label><br />
                <input type="date" [(ngModel)]="todate" name="todate" required/>
              </div>
            </div>
            <div class="input-row">
              <div class="buttons">
                <button class="button clearbtn "type="reset"  (click)="actionShow()" >Show</button>
                <button class="button submitbtn " type="submit" (click)="print()">Print</button> 
                <button class="button showallbtn " type="submit" (click)="resendStock()">Resend</button>
                <button class="button deletebtn " type="submit" (click)="printSummary()">Print Summary</button>
              </div>
            </div>
          </form>
        </div>
        <div class="item-right">
         <div class="fixTableHead">
            <table class="item-table" id="contentToConvert">
              <thead>
                <tr  >
                  <th>Voucher Date</th>
                  <th>Voucher Number</th>
                  <th>To Branch</th>
                  <th>Intent Number</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let name of stockTransferOutHdrList; let i = index" (click)="getStockTransferHdr(name)">
                  <td>{{name.voucherDate}}</td>
                  <td>{{name.voucherNumber}}</td>
                  <td>{{name.toBranch}}</td>
                  <td>{{name.intentNumber}}</td>
                  <td>{{name.status}}</td>
                 </tr>
              </tbody>
            </table>
          </div>
        </div>


        <div class="item-right">
            <div class="fixTableHead">
              <table class="item-table" id="contentToConvert">
                <thead>
                  <tr>
                    <th>Item Name</th>
                    <th>Batch</th>
                    <th>Qty</th>
                    <th>Unit</th>
                    <th>Rate</th>
                    <th>Amount</th>
                 </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let name of stockTransferOutDtlList; let i = index">
                    <td>{{name.itemId.itemName}}</td>
                    <td>{{name.batch}}</td>
                    <td>{{name.qty}}</td>
                    <!-- <td>{{name.unitId}}</td> -->
                    <td>{{getUnitName(name.unitId)}}</td>
                    <td>{{name.rate}}</td>
                    <td>{{name.amount}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
         </div>
      </div>
    </div>
  </body>
</html>
