<!-- <h2>BranchWise Stock Movement Report<h2>

    <br>
    <div [ngClass]="'one'">
     
      <mat-form-field appearance="fill" [ngClass]="'reportdate'">
        <mat-label>From Date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="fromdate" name="fromdate" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker> 
       
      </mat-form-field >
      <mat-form-field appearance="fill" [ngClass]="'reportdate'">
        <mat-label>To Date</mat-label>
        <input matInput [matDatepicker]="picker2" [(ngModel)]="todate" name="todate" >
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill" [ngClass]="'reportdate'" >
        <mat-label>Branch Name</mat-label>
        <select matNativeControl required [(ngModel)]="branchname" name="branchname">
         
          <option *ngFor="let name of branchMst; let i = index" [value]="name.branchCode">
            {{name.branchName}}
          </option>
        </select>
      </mat-form-field>
            <button  (click)="getBranchWiseStockreport()" [ngClass]="'two'" mat-button >Get Report</button> 
            <button (click)="renderPdf()" [ngClass]="'downloadexcel'"[disabled]="getexcelReportStatus ===false" mat-button>Download Excel</button>
            <div [ngClass]="'reportstatus'" *ngIf="getReportStatus"> <img  src="/assets/loading-gif.gif" width="80px" height="80px" alt="image"></div>
    </div>
    
    <div [ngClass]="'stockmovement'" >
     
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0" id="contentToConvert" >
        <thead >
        <tr>
            <th [ngClass]="'header'" scope="col" class="'three'">No</th>
          <th [ngClass]="'header'" scope="col">Branch Code</th>
          <th [ngClass]="'header'" scope="col">Item Name</th>
          <th [ngClass]="'header'" scope="col">QTY IN</th>
          <th [ngClass]="'header'" scope="col">QTY OUT</th>
         
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let name of stockMovementView; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ name.branchCode }}</td>
          <td>{{ name.itemName }}</td>
          <td>{{ name.qtyIn}}</td>
          <td>{{ name.qtyOut}}</td>
        </tr>
        </tbody>
      </table>
      </div>
   </div>
  -->
     

   <html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <!-- <div style="padding: 3%"></div> -->
      <br /><br /><br /><br />
     
      <h1 >STOCK MOVEMENT REPORT WINDOW</h1>
      <div class="item-box">
        <div class="item-left">
          <form>
            <div class="input-row">
              <div class="input-group">
                <label>From Date</label><br />
                <input
                  type="date"
                  [(ngModel)]="fromdate"
                  name="fromdate"
                  required
                />
              </div>
              <div class="input-group">
                <label>To Date</label><br />
                <input
                  type="date"
                  [(ngModel)]="todate"
                  name="todate"
                  required
                />
              </div>
            </div>
            <div class="input-row">
              <div class="input-group">
                <label>Branch</label><br />
                <select
                  class="option"
                  name="branch"
                  [(ngModel)]="branchname"
                  required
                >
                  <option disabled="disabled" selected="branch">
                    --branch name--
                  </option>
                  <option
                    *ngFor="let name of branchMst; let i = index"
                    [value]="name.branchCode"
                  >
                    {{ name.branchName }}
                  </option>
                </select>
              </div>
            </div>
          

            <div class="input-row">
              <div class="buttons">
                <button
                  class="button submitbtn"
                  type="submit"
                  (click)="getBranchWiseStockreport()"
                >
                  Generate Report
                </button>
                <button
                  class="button showallbtn"
                  (click)="renderPdf()"
                  [ngClass]="'downloadexcel'"
                 style="color: #fff;
                 background: #7ed321;
                 
                 border-radius: 4px;
                 text-decoration: none;
                 transition: all 0.3s ease;">
                  Print Report
                </button>
                <button class="button clearbtn" type="reset">Clear</button>
              </div>
            </div>
          </form>
        </div>
        <div class="item-right">
          <div class="fixTableHead">
            <table class="item-table" id="contentToConvert">
              <thead>
                <tr>
                  
                  <th >No</th>
                  <th>Branch Code</th>
                  <th >Item Name</th>
                  <th >QTY IN</th>
                  <th >QTY OUT</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let name of stockMovementView; index as i">
                  <td>{{ i + 1 }}</td>
                  <td>{{ name.branchCode }}</td>
                  <td>{{ name.itemName }}</td>
                  <td>{{ name.qtyIn}}</td>
                  <td>{{ name.qtyOut}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
  



