<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
  <link rel="shortcut icon" href="https://i.imgur.com/QRAUqs9.png">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
  <link rel="stylesheet" href="/../assets/css/cs-skin-elastic.css">

  <link rel="stylesheet" href="/../assets/css/style.css">

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>


</head>

<body style="font-size: 11px; line-height: 1.0;">

  <!-- <aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

      <div id="main-menu" class="main-menu collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a [routerLink]="'DashBoard'" (click)="dashBoardClick()"><i class="menu-icon fa fa-laptop"></i>DashBoard</a>
          </li>

          <li class="menu-title">Extras</li>
          <li>
            <a [routerLink]="'PosWindow'" (click)="posClick()"><i class="menu-icon fa fa-shopping-bag"></i>POS </a>
          </li>
          <li>
            <a [routerLink]="'PartyCreation'" (click)="partyCreateClick()"><i
                class="menu-icon fa fa-address-card"></i>Party Creation</a>
          </li>
          <li>
            <a [routerLink]="'Purchase'" (click)="purchaseClick()"><i
                class="menu-icon fa fa-shopping-basket"></i>Purchase </a>
          </li>
          <li>
            <a [routerLink]="'Purchase'" (click)="itemClick()"><i class="menu-icon fa fa-bandcamp"></i>Item Creation
            </a>
          </li>
        </ul>
      </div>
      
    </nav>
  </aside> -->
  <div id="right-panel" class="right-panel" style="margin-left: 2%;margin-right: 2%;">
    <!-- <div class="breadcrumbs">
      <div class="breadcrumbs-inner">
        <div class="row m-0">
          <div class="col-sm-4">
            <div class="page-header float-left">
              <div class="page-title">
                <h1>Dashboard</h1>
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="page-header float-right">
              <div class="page-title">
                <ol class="breadcrumb text-right">
                  <li><a href="#">Dashboard</a></li>
                  <li><a href="#">Sale</a></li>
                  <li class="active">POS</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="content">
      <div class="animated fadeIn">

        <div class="row"> 
          <!-- <div class="col-lg-3 col-md-6">
            <div class="card" style="width: 915px;height: 160px;">
                <div class="card-body">
                    <div class="stat-widget-five">
                      <div class="row form-group">
                        <div class="col col-sm-5">
                          <span class="name">Item Name</span>
                          <input type="text" style="width: 192px;" class="form-control" placeholder="Search Products" id="selectProduct" [(ngModel)]="itemName" name="itemName"
                          placeholder="Search Products" (keyup)="onKeypressEventForProductSearch($event)"
                          (click)="onKeypressEventForProductSearch($event)" name="branchname"></div>
                        <div class="col col-sm-5" style="margin-left: -141px;">
                          <span class="name">Barcode</span>
                          <input type="text" #idbarcd style="width: 192px;" class="form-control" [(ngModel)]="searchfiled" name="searchfiled" (keydown)="onKeydown($event)"></div>
                       
                          <div class="col col-sm-5" style="margin-left: -141px;">
                            <span class="name">Batch</span>
                            <input type="text" style="width: 192px;" class="form-control" [(ngModel)]="batch" name="batch"></div>
                         
                      </div>
                     <div class="row form-group">
                      <div class="col col-sm-5">
                        <span class="name">Quantity</span>
                        <input type="number" style="width: 192px;" class="form-control" #input2  [(ngModel)]="barcodeqty" name="barcodeqty"  required></div>
                      <div class="col col-sm-5" style="margin-left: -141px;">
                        <span class="name">Rate</span>
                        <input type="text" style="width: 192px;"  class="form-control" [(ngModel)]="rate" name="rate"></div>
                        <div class="col col-sm-5" style="margin-left: -141px;">
                          <span class="name">Loyality Customer</span>
                          <input type="text" style="width: 192px;"  class="form-control" placeholder="Loyality Customer"
                          [(ngModel)]="mobileNumber"
                          id="loyalityCust"
                          (blur)="onBlurMethod()"
                          ></div>
                     
                      </div>
   
                  
                    </div>
                </div>
                
            </div>
        </div> -->









        
          <div class="col-md-12" >
            <div class="card">
              <div class="card-body card-block">
                <div class="form-group" style="float: left; margin-left: 1%; width: 20%;">
                  <label class=" form-control-label">Item Name</label>
                  <div class="input-group">
                    
                    <input class="form-control"  placeholder="Search Products" id="selectProduct" [(ngModel)]="itemName" name="itemName" style="height: 25px;z-index: 0;line-height: 0.5;font-size: 12px;"
                      placeholder="Search Products" (keyup)="onKeypressEventForProductSearch($event)"
                      (click)="onKeypressEventForProductSearch($event)" name="branchname" required>
                  </div>
                </div>
                <div class="form-group" style="float: left; margin-left: 1%;width: 20%;">
                  <label class=" form-control-label">Barcode</label>
                  <div class="input-group">
                    
                    <input class="form-control" #idbarcd [(ngModel)]="barcodesearchfiled"    name="barcodesearchfiled"  (keydown)="onKeydown($event)" style="height: 25px;z-index: 0;line-height: 0.5;font-size: 12px;">
                    
                  </div>
                </div>

                <div class="form-group" *ngIf="qtyVisible" style="float: left;margin-left: 1%;width: 10%;">
                  <label class=" form-control-label">Quantity</label>
                  <div class="input-group">
                    
                    <input type="number" class="form-control" #input2  [(ngModel)]="barcodeqty" name="barcodeqty" style="height: 25px;z-index: 0;line-height: 0.5;font-size: 12px;" required>
                   
                  </div>
                </div>

                <div class="form-group" style="float: left;margin-left: 1%;width: 10%;">
                  <label class=" form-control-label">Batch</label>
                  <div class="input-group">
                   
                    <input class="form-control"   [(ngModel)]="batch" name="batch" style="height: 25px;z-index: 0;line-height: 0.5;font-size: 12px;" required>
                  </div>
                </div>

                <div class="form-group" style="float: left;margin-left: 1%;width: 10%;">
                  <label class=" form-control-label">Rate</label>
                  <div class="input-group">
                  
                    <input class="form-control"  [(ngModel)]="rate" name="rate" style="height: 25px;z-index: 0;line-height: 0.5;font-size: 12px;">
               
                  </div>
                </div>

                <div class="form-group" style="float: left;margin-left: 1%;width: 15%;">
                  <label class=" form-control-label">Loyality Customer </label>
                  <div class="input-group">
                  
                    <input class="form-control" [(ngModel)]="mobileNumber" name="mobileNumber" (blur)="onBlurMethod()" style="height: 25px;z-index: 0;line-height: 0.5;font-size: 12px;">
                   
                  </div>
                </div>
              </div>
            </div>
          </div>
         

          <div class="col-md-12">
            <div class="card">
              <!-- <div class="card-header">
                <strong class="card-title">Data Table</strong>
              </div> -->
              <!-- <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="dataTables_length" id="bootstrap-data-table_length" style="margin-top: 20px;">
                   
                  </div>
                </div>

              </div> -->
              <div class="card-body" style="overflow: scroll;max-height: 200px;">
                <table id="table.dataTable" class="table table-striped table-bordered" >
                  <thead>
                    <tr>
                      <th>ITEM NAME</th>
                      <th>BARCODE</th>
                      <th>QTY</th>
                      <th>MRP</th>
                      <th>AMOUNT</th>
                      <th>BATCH</th>
                      <th>UNIT</th>
                      <th>#</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let names of salesDtlAddTables; index as i">
                     
                    <td>{{ names.itemName }}</td>
                    <td>{{ names.barcode }}</td>
                    <td>
                      <i class="fa fa-minus" (click)="counterFunction('sub',names)"></i>
                        &nbsp;&nbsp; {{ names.qty }}  &nbsp;&nbsp;                    
                        <i class="fa fa-plus" (click)="counterFunction('add',names)"></i>
                    </td>
                     <td>{{ names.mrp }}</td>
                    <td>{{ names.amount }}</td>
                    <td>{{ names.batch }}</td>
                    <td>{{ names.unitName }}</td>
                    <td>
                      <i  class="fa fa-trash-o"  (click)="itemDeletion(names)" style=" color: #ed5564;cursor: pointer;" ></i>
                    </td>
                  </tbody>
                </table>
              </div>
            </div>
          </div> 




          <div style="width: 20%;">
            <div class="card">
                <!-- <div class="card-header">
                    <strong class="card-title">Credit Card</strong>
                </div> -->
                <div class="card-body">
                    <!-- Credit Card -->
                    <div id="pay-invoice">
                        <div class="card-body">
                           
                            <form action="#" method="post" novalidate="novalidate">
                               
                                
                                <div class="form-group">
                                  <label for="cc-payment" class="control-label mb-1">Card Type</label>
                                  <select class="form-control" [(ngModel)]="receiptMode"
                                  name="receiptMode"  required 
                                  style="background-image:linear-gradient(45deg, transparent 50%, gray 50%),linear-gradient(135deg, gray 50%, transparent 50%),linear-gradient(to right, #ccc, #ccc);background-position:calc(100% - 20px) calc(1em + 2px),calc(100% - 15px) calc(1em + 2px),calc(100% - 2.5em) 0.5em;background-size:5px 5px,5px 5px,1px 1.5em; background-repeat: no-repeat;height: 25px;line-height: 0.5;z-index: 0;font-size: 11px;">
                                    <option disabled="disabled" selected="unit">
                                      --Unit Format--
                                    </option>
                                    <option *ngFor="let name of receiptMOdeMst; let i = index"
                                    [value]="name.receiptMode">{{ name.receiptMode }}</option>
                                  </select>
                              </div>
                              <div class="form-group">
                                <label for="cc-payment" class="control-label mb-1">Payment amount</label>
                                <input id="cc-payment" [(ngModel)]="cardamount" style="height: 25px;z-index: 0;line-height: 0.5;font-size: 12px;"
                                name="cardamount" type="number" class="form-control" aria-required="true" aria-invalid="false" value="100.00">
                            </div>
                                
                                <div>
                                    <button id="payment-button" type="submit" class="btn btn-lg btn-info btn-block" (click)="addCardAmountEvent()" style="height: 25px;font-size: 12px;">
                                        <i class="fa fa-lock fa-lg" style="font-size: 12px;"></i>&nbsp;
                                        <span id="payment-button-amount" style="font-size: 12px;">Pay </span>
                                        <span id="payment-button-sending" style="display:none;">Sending…</span>
                                    </button>
                                </div>
                                <table class="table table-striped">
                                  <thead>
                                      <tr>
                                          
                                          <th scope="col">Card</th>
                                          <th scope="col">Amount</th>
                                          <th scope="col">#</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                    <tr
                                    *ngFor="
                                      let names of cardSalesList;
                                      index as i;
                                      let even = even
                                    "
                                    (click)="cardAmountDel(i)"
                                    [style.background-color]="
                                      rowClicked == i
                                        ? 'powderblue'
                                        : even
                                        ? 'white'
                                        : 'white'
                                    "
                                    (click)="changeTableRowColor(i)"
                                  >
                                    <td>{{ names.card }}</td>
                                    <td>{{ names.cardamount }}</td>

                                    
                                    <td>
                                      <i  class="fa fa-trash-o" (click)="deleteCardAmountEvent()" style=" color: #ed5564;cursor: pointer;" ></i>
                                    </td>
                                  </tr>
                                     
                                    
                                  </tbody>
                              </table>
                            </form>
                        </div>
                    </div>

                </div>
            </div> <!-- .card -->

        </div><!--/.col-->




          <div style="width: 20%;">
            <div class="card">
                    <div class="card-body card-block">
                    <div class="has-success form-group"><label  class=" form-control-label">Cash To Pay In RS</label> <span class="form-control" style="height: 25px;z-index: 0;line-height: 0.5;font-size: 12px;">{{ totalAmount }}/-</span></div>
                    <!-- <div class="has-warning form-group"><label  class=" form-control-label">Paid Amount</label><span class="form-control-warning form-control">{{ cardTotalAmount | number: "1.0-2" }}/-</span></div> -->
                    <div class="has-warning form-group"><label  class=" form-control-label">Paid Amount</label><input #paidamt type="number" class="form-control-warning form-control" [(ngModel)]="paidBillAmount"(keyup)="calculateBalance()" style="height: 25px;z-index: 0;line-height: 0.5;font-size: 12px;"></div>
                    <div class="has-danger has-feedback form-group"><label  class=" form-control-label">Change Amount</label> <span class="form-control-warning form-control" style="color: crimson" name="paidAmount" style="height: 25px;z-index: 0;line-height: 0.5;font-size: 12px;">{{ changeAmont }}/-</span></div>
                    <button type="button" #btnfinalsubmit class="btn btn-outline-success btn-lg btn-block" (click)="finalSubmit(addingToTable)" style="height: 25px;z-index: 0;line-height: 0.5;font-size: 12px;">Save</button>
               
               
               
                  </div>
               
            </div>
        </div>
        </div>
      </div>
      <!-- .animated -->
    </div><!-- .content -->

    <div class="clearfix"></div>

    <!-- <footer class="site-footer">
      <div class="footer-inner bg-white">
        <div class="row">
          <div class="col-sm-6">
            Copyright &copy; 2019 MapleERP
          </div>

        </div>
      </div>
    </footer> -->

  </div>
  <!-- /#right-panel -->

  <!-- Right Panel -->

</body>

</html>